{% extends "layouts/main.html" %}

{% extends "./layouts/_BASEFULL.html" %}

{% block service %}

<span class="govuk-caption-xl">Prototypes</span>
<h1 class="govuk-heading-xl">
  Guidance written by farming activity
</h1>
<p>
  The following were built using GOV.UK Prototype Kit v13
</p>

<h2 class="govuk-heading-m">
  Prototypes
</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Prototype</th>
      <th class="govuk-table__header" scope="col">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="collection.html">
          Manure collection page
        </a></td>
      <td class="govuk-table__cell">March 24 - Example collection page for manure and slurry </td>
    </tr>



  </tbody>
</table>



{% endblock %}
