{% extends "./layouts/GUIDANCEfrfw.html" %}

{% block guidance %}

<html>

<div class="govspeak-preview-output">

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

  <p class="govuk-body">You must take steps to prevent soil, sediment, organic manure, manufactured fertiliser, or any substances found within them from getting into inland or coastal waters.</p>
  <p class="govuk-body">Farmers must follow these rules when:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>spreading and storing organic manure or manufactured fertiliser</li>
    <li>planting and harvesting</li>
    <li>managing soil, for example, ploughing or planting cover crops</li>
    <li>keeping livestock on land</li>
  </ul>

  <h2 id="rule-1" class="govuk-heading-m">Regulatory approach by the Environment Agency</h2>

  <p class="govuk-body">The Environment Agency (EA) will give you guidance so that you can meet the rules. If you do not follow their advice they may escalate and impose civil or criminal santions.</p>

  <p class="govuk-body">They may <a href="https://www.gov.uk/guidance/environmental-protection-inspection">inspect your farm</a>. They will help you identify changes you need to make and agree a timescale for you to make them.</p>

  <p class="govuk-body">The Secretary of State does not normally expect the EA to take enforcement action if land managers have met the criteria in <a href="https://www.gov.uk/government/publications/applying-the-farming-rules-for-water">Applying the farming rules for water</a>. </p>


<h2 id="rule-1" class="govuk-heading-m">Rule 1: plan before you apply organic manure and manufactured fertiliser</h2>

<p class="govuk-body">You must plan your application of organic manures and manufactured fertilisers to cultivated land to meet soil and crop nutrient needs. Your planning must take into account the results of soil tests and avoid causing significant risk of pollution.</p>

<p class="govuk-body">You must test cultivated agricultural soil   for phosphorous, potassium, magnesium, pH and nitrogen levels at least every 5 years.</p>

<p>Cultivated agricultural land is both or one of the following:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>land you’ve ploughed, sowed or harvested at least once in the last year</li>
  <li>land where you’ve applied organic manure or fertiliser at least once in the last 3 years</li>
</ul>

<p class="govuk-body">Organic manures are made from one or more animal, plant or human sources.</p>

<p class="govuk-body">Applying organic manure and manufactured fertiliser includes:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>spreading on the surface of the land</li>
  <li>injecting into the soil</li>
  <li>mixing manure or fertiliser with the surface layers of soil</li>
</ul>

<p class="govuk-body">This does not include livestock manure deposited directly onto land.</p>

<h3 id="actions" class="govuk-heading-m">Actions</h3>

<h4 id="test-the-soil" class="govuk-heading-s">Test the soil</h4>

<p class="govuk-body">You should:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>arrange to have soil tests done for cultivated land</li>
  <ll>keep your soil analysis results</li>
</ul>

<p class="govuk-body">The results of soil tests must show the pH and levels of:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>nitrogen – </li>
  <li>phosphorus</li>
  <li>potassium</li>
  <li>magnesium</li>
</ul>

<p class="govuk-body">You can use the <a href="https://www.nutrientmanagement.org/what-we-do/calculators-and-estimators/">soil nitrogen supply calculator</a> to work out nitrogen levels instead of a soil test. </p>

<p class="govuk-body">You must use the results of soil tests to identify how much manure or fertiliser to apply to cultivated land.</p>

<p>When you apply organic manure or manufactured fertiliser, check your soil test results are no more than 5 years old.</p>

<h4 class="govuk-heading-s">Make a plan</h4>

<p>You must be able to show that you have planned how much fertiliser or manure to apply so you do not use more than your crop or soil needs.</p>

<p>Your plan should record evidence that you’ve worked out crop and soil nutrient needs in advance and used one of these:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>the <a rel="external" href="https://ahdb.org.uk/nutrient-management-guide-rb209">Nutrient Management Guide RB209 on the Agriculture and Horticulture Development Board website</a>
</li>
  <li>farm software such as <a rel="external" href="https://www.planet4farmers.co.uk/Content.aspx?name=PLANET">PLANET</a> or <a rel="external" href="http://www.planet4farmers.co.uk/Manner.aspx">MANNER-NPK</a>
</li>
  <li>nutrient management tools, such as those provided by <a rel="external" href="http://www.nutrientmanagement.org/what-we-do/tools/">Tried and Tested</a>
</li>
  <li>a suitably qualified professional, such as an agronomist or FACTS adviser</li>
</ul>

<p>Record evidence that you have applied manure or fertiliser when it provides the most benefit to the soil and crop.</p>

<p>For soil tests for each cultivated field record the:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>results of the soil tests</li>
  <li>date they were done</li>
  <li>location where you took samples</li>
</ul>

<h4 id="use-the-plan" class="govuk-heading-s">Use the plan you made to inform your decisions</h4>

<p>To decide how much organic manure and manufactured fertiliser to apply to a field use:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>soil test results</li>
  <li>the soil and crop nutrient requirements you have worked out</li>
  <li>the nutrient content of the manure or fertiliser you intend to apply</li>
</ul>

<p>You can identify the nutrient content of organic manure using available and suitable nutrient management tools or manure testing, such as laboratory analysis or near infra-red sensors for liquid manures.</p>

<h4 id="what-to-record" class="govuk-heading-s">What to record on the day you apply manure or fertiliser</h4>

<p>You should record:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>the weather conditions and forecasts</li>
  <li>soil condition</li>
</ul>

<p>Use these factors to decide if it’s appropriate to continue with your activity.</p>

<h4 class="govuk-heading-s">Take reasonable precautions to prevent agricultural diffuse pollution as a result of applying organic manure or manufactured fertiliser</h4>

<p>Reasonable precautions include:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>checking spreading equipment for leaks and correct calibration</li>
  <li>incorporating applied organic manure and manufactured fertiliser into the soil within 12 hours, or as soon as possible</li>
  <li>checking the organic manure content in and moisture levels of the soil</li>
</ul>


<h3 id="what-inspectors-may-check" class="govuk-heading-m">What inspectors may check</h3>
<p>They may:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>check for soil test results</li>
  <li>check the dates of soil tests</li>
  <li>ask to see a nutrient management plan or a written document which shows the crops you grow, how you’ve worked out how much to apply and where you’ve applied nutrients</li>
  <li>expect to see evidence that you’ve used industry recognised guidance to work out how much to apply</li>
  <li>ask you to explain why you did not use a recognised nutrient management system (such as RBS209)</li>
  <li>compare farm fertiliser records with crop nutrient requirements</li>
  <li>check for pollution</li>
  <li>identify areas where there is a risk of pollution</li>
  <li>check machine maintenance records</li>
</ul>

<h2 id="rule-2" class="govuk-heading-m">Rule 2: storing organic manure</h2>

<p>You must not store organic manure:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>within 10m of inland freshwaters or coastal waters</li>
  <li>where risk factors like soil condition, nearby waterways or drains mean there’s a significant risk of pollution</li>
  <li>within 50m of a spring, well or borehole</li>
</ul>

<h3 id="actions2" class="govuk-heading-m">Actions</h3>

<p>Before you choose where to store organic manure, check if there is a significant risk of pollution.</p>

<p>Record on your farm map:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>where you store organic manure</li>
  <li>the locations of waterways, field drains, springs, wells and boreholes
</li>
</ul>


<h3 id="rule-2-what-inspectors-may-check" class="govuk-heading-m">What inspectors may check</h3>
<p>They may:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>measure distances from stores to surface waters, springs, wells or boreholes</li>
  <li>check the area around stored organic manures for potential pathways where runoff could flow into inland freshwaters and coastal waters</li>
</ul>

<h2 id="rule-3" class="govuk-heading-m">Rule 3: when you must not apply organic manure or manufactured fertiliser</h2>

<p>You must not apply organic manures or manufactured fertilisers if:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>soil is waterlogged, flooded, or snow covered</li>
  <li>soil has been frozen for more than 12 hours in the previous 24 hours</li>
  <li>there is significant risk of causing pollution</li>
</ul>

<h3 id="rule-3-actions" class="govuk-heading-m">Actions</h3>

<p>Before you apply manure or fertiliser you should record:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>when you apply it</li>
  <li>any specific risks of pollution on a farm map</li>
  <li>weather conditions at the time</li>
</ul>

<h3 id="rule-3-what-inspectors-may-check" class="govuk-heading-m">What inspectors may check</h3>
<p>They may:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>check for signs of soil erosion and/or run off
</li>
  <li>check if there’s a risk of pollution</li>
  <li>want to see evidence that you’re taking reasonable precautions</li>
</ul>

<h2 id="rule-4" class="govuk-heading-m">Rule 4: land where you must not apply organic manures</h2>

<p>You must not apply organic manures within:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>10m of any inland freshwaters or coastal waters</li>
  <li>50m of a spring, well or borehole</li>
</ul>

<h3 id="exceptions-if-using-precision-equipment-or-theres-environmental-benefit">Exceptions if using precision equipment or there’s environmental benefit</h3>

<p class="govuk-body">You can apply up to 6m from inland fresh or coastal waters if you use precision equipment.</p>

<p>This includes:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>a trailing hose or shoe band spreader</li>
  <li>a shallow injector (no deeper than 10cm)</li>
  <li>a dribble bar applicator
</li>
</ul>

<p class="govuk-body">You can apply within 10m of water if there’s environmental benefit.</p>

<p>If you manage land for breeding wader birds or species-rich semi-natural grassland, you can apply livestock manure (not slurry or poultry) within 10m of inland freshwaters and coastal waters.</p>

<p>You can only do this if:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>the land is in an Environmental or Countryside Stewardship scheme or it’s a <a href="https://www.gov.uk/guidance/protected-areas-sites-of-special-scientific-interest">site of special scientific interest (SSSI)</a></li>
  <li>you do not apply manure onto the surface of water</li>
  <li>you only apply the manure from 1 June to 31 October</li>
  <li>you apply no more than 12.5 tonnes per hectare per year</li>
</ul>

<h3 id="rule-4-actions" class="govuk-heading-m">Actions</h3>

<p class="govuk-body">You should:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>record areas where you do not spread manure</li>
  <li>record what has been spread and where</li>
  <li>if you have exceptions, note down any precision equipment you use and record where on your land you’ve applied manures for environmental benefit</li>
</ul>
<h3 id="rule-4-what-inspectors-may-check" class="govuk-heading-m">What inspectors may check</h3>
<p class="govuk-body">They may:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>want to know what has been spread and where</li>
  <li>check calibration records</li>
  <li>measure any buffer strips</li>
  <li>check distance from any spread material to water and look for signs of associated water pollution</li>
  <li>check for any signs of manures deposited onto the surface within restricted distances</li>
</ul>

<h2 id="rule-5" class="govuk-heading-m">Rule 5: applying fertiliser</h2>

<p class="govuk-body">You must not apply fertiliser within 2 metres of inland freshwaters, coastal waters, a spring, well or borehole.</p>

<h3 id="rule-5-actions" class="govuk-heading-m">Actions</h3>

<p class="govuk-body">You should record:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>which fields you plan to put fertiliser on</li>
  <li>locations of inland freshwater, coastal water, springs, wells or boreholes</li>
</ul>

<h3 id="rule-5-what-inspectors-may-check" class="govuk-heading-m">What inspectors may check</h3>
<p>They may:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>check for obvious visual signs of fertiliser prills (pellets) or granules within 2m of fresh or coastal waters</li>
  <li>check for excessive growth of marginal vegetation - this may indicate fertiliser that has been spread too far</li>
  <li>test soil for nutrients in the 2m zone and the rest of the field if appropriate</li>
  <li>check fertiliser records and any notes you keep on calibrating equipment</li>
</ul>

<h2 id="rule-6" class="govuk-heading-m">Rule 6: take reasonable precautions to prevent soil loss</h2>

<p>Soil loss can lead to erosion and allow pollutants to get into watercourses.</p>

<p>You must take reasonable precautions to prevent soil erosion by degradation and runoff from land management and cultivation practices like:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>creating farm tracks or gateways</li>
  <li>establishing seedbeds, polytunnels or tramlines</li>
  <li>cleaning out ditches</li>
  <li>installing drainage or irrigation</li>
  <li>irrigating crops or spraying them with pesticides, herbicides or fungicides</li>
</ul>

<p>Potential reasonable precautions may prevent soil erosion and runoff or reduce pollution risk.</p>

<p>Measures to prevent soil erosion include:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>only undertaking activities when conditions are suitable and in such a way that does not risk causing significant pollution</li>
  <li>planting crops in early autumn and in dry conditions</li>
  <li>undersowing or sowing a cover crop to stabilise soil after harvest (a cover crop is any crop with leaf cover that stops rain falling directly onto the soil)</li>
  <li>establishing seedbeds, polytunnels or tramlines across the slope or with headland rows or beds across the base of sloping land</li>
  <li>breaking up compacted soil</li>
  <li>locating farm tracks or gateways where they pose as little risk of soil erosion into water as possible</li>
</ul>

<p>Measures to reduce pollution risk if soil erosion does occur include establishing:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>grass buffer strips in valleys, along contours, slopes, field edges and gateways</li>
  <li>drainage ditches and sediment traps</li>
</ul>

<p>If you have livestock, move it regularly to prevent soil loss and pollution from poaching.</p>

<h3 id="rule-6-actions" class="govuk-heading-m">Actions</h3>

<p>Before any land management or cultivation activity, make a note of any risks of pollution.</p>

<p>You should record:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>things you’ve done to help reduce the risk of soil loss or water pollution from your activities</li>
  <li>
    what crops and cover crops you grow on your farm, when and where you planted them
  </li>
  <li>the weather and ground conditions at the time</li>
  <li>the location of tracks and gateways</li>
  <li>the location of buffer strips</li>
</ul>

<h3 id="rule-6-what-inspectors-may-check" class="govuk-heading-m">What inspectors may check</h3>
<p>They may:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>check to see that you have taken reasonable precautions to prevent erosion and runoff over a single area of 1 or more hectares caused by land management and cultivation</li>
  <li>make sure that you have planted the correct crop for the conditions in the field</li>

</ul>

<p>If the inspector finds evidence of pollution, soil erosion or runoff from an area over 1 hectare, they will identify the source, pathway and receptor.</p>

<h2 id="rule-7" class="govuk-heading-m">Rule 7: manage livestock to prevent soil erosion</h2>

<p>You must prevent livestock from eroding soil by trampling it (poaching) within 5m of inland freshwater or coastal water.</p>
<p>You must take reasonable precautions to prevent diffuse pollution as a result of livestock activities. This may include:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>moving livestock regularly</li>
  <li>erecting fencing around inland freshwaters or coastal waters</li>
  <li>wintering livestock on well-drained, level fields</li>
</ul>

<h3 id="rule-7-actions" class="govuk-heading-m">Actions</h3>

<p class="govuk-body">You should record:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the fields where you keep livestock</li>
  <li>when livestock have been kept in each field</li>
  <li>the location of any waterways or water sources on your farm</li>
  <li>any reasonable precautions you’ve taken to reduce the risk of compacting soil</li>
</ul>


<h3 id="rule-7-what-inspectors-may-check" class="govuk-heading-m">What inspectors may check</h3>

<p class="govuk-body">They may:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>measure the distance of any livestock poaching identified along a continuous stretch of a watercourse to see if it exceeds 20 metres long and 2 metres wide</li>
  <li>check for any poaching and measure the distance from inland freshwater or coastal waters</li>
  <li>check to see that you’ve taken reasonable precautions to prevent erosion and runoff over a single area of 1 or more hectares as a result of livestock</li>
</ul>

<h2 id="rule-8" class="govuk-heading-m">Rule 8: position of livestock feeders</h2>

<p class="govuk-body">You must not place livestock feeders:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>within 10m of inland freshwaters or coastal waters</li>
  <li>within 50m of a spring, well or borehole</li>
  <li>where risk factors like slope, soil conditions or nearby water sources or land drains mean there’s a significant risk of pollution</li>
</ul>

<h3 id="rule-8-actions" class="govuk-heading-m">Actions</h3>

<p class="govuk-body">You should:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>avoid placing livestock feeders near water</li>
  <li>assess the risks of pollution before choosing the location for your feeders</li>
  <li>record where you place livestock feeders</li>
</ul>

<h3 id="rule-2-what-inspectors-may-check" class="govuk-heading-m">What inspectors may check</h3

<p class="govuk-body">They may:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>measure the distance of livestock feeders from inland freshwater or coastal water</li>
  <li>check to see if livestock feeders pose a risk to water quality by being located in high risk areas that will act as a pathway</li>
</ul>

<h2 id="other-legislation" class="govuk-heading-m">Other legislation you need to consider when you’re applying and storing manures</h2>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://www.legislation.gov.uk/uksi/2010/639/contents/made">The Water Resources (Control of Pollution) (Silage, Slurry and Agricultural Fuel Oil) (England) Regulations 2010 known as the SSAFO regulations</a></li>
  <li><a href="https://www.legislation.gov.uk/uksi/2015/668/contents">The Nitrate Pollution Prevention Regulations</a></li>
</ul>

<h2 id="get-advice" class="govuk-heading-m">Get advice</h2>

<p class="govuk-body">Contact the <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> or Farming Advice Service.</p>


</div>

</div>


</html>



{% endblock %}
