{% extends "./layouts/GUIDANCElivestock.html" %}

{% block guidance %}

<html>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">

<h2 id="legal-requirements-5">Legal requirements</h2>

<p>You must not place livestock feeders:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>within 10m of inland freshwaters or coastal waters</li>
  <li>within 50m of a spring, well or borehole</li>
  <li>where risk factors like slope, soil conditions or nearby water sources or land drains mean there’s a significant risk of pollution</li>
</ul>

<p>You must prevent livestock from eroding soil by trampling it (poaching) within 5m of inland freshwater or coastal water.</p>

<p>You must take reasonable precautions to prevent diffuse pollution as a result of livestock activities.</p>

<h2>Best practice when you choose locations for livestock feeders
</h2>



    <p>Record where you place livestock feeders on a farm map or plan.</p>

<h2 id="best-practice-to-prevent-livestock-causing-soil-loss">Best practice to prevent livestock causing soil loss</h2>

<p>Take reasonable precautions to prevent erosion and runoff over a single area of one or more hectares as a result of livestock. You should:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>monitor the impact of livestock on your fields</li>
  <li>move livestock regularly or if there’s evidence of soil loss or pollution from poaching next to inland or coastal waters</li>
  <li>avoid poaching over a single stretch of agricultural land of at least 2 metres wide and 20 metres long</li>
  <li>erect fencing around inland freshwaters or coastal waters</li>
  <li>winter livestock on well-drained, level fields</li>
</ul>

<p>Record any precautions you’ve taken to reduce the risk of compacting soil.</p>


</div>


</html>



{% endblock %}
