{% extends "./layouts/GUIDANCEapplyfertiliser.html" %}

{% block guidance %}

<html>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">


<h2 id="legal-requirements-3">Legal requirements</h2>

<p class="govuk-body">When you apply manufactured fertiliser, you must:</p>


<ul class="govuk-list govuk-list--bullet">

  <li>have a <a href="frfw-plan">plan for your application</a></li>
  <li>take into account the weather conditions and forecasts at the time</li>
  <li>take reasonable precautions to avoid significant risk of pollution</li>
</ul>

<p class="govuk-body">You must not apply manufactured fertiliser:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>if soil is waterlogged, flooded, or snow covered</li>
  <li>if soil has been frozen for more than 12 hours in the previous 24 hours</li>
  <li>if there is significant risk of causing pollution</li>
  <li>within 2 metres of inland freshwaters, coastal waters, a spring, well or borehole</li>
</ul>

<h2 id="best-practice-when-you-apply-fertiliser">Best practice when you apply fertiliser</h2>

<p>Before you apply fertiliser, you should take reasonable precautions to avoid pollution like check:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>spreading equipment for leaks and correct calibration</li>
  <li>the organic manure content in and moisture levels of the soil</li>
</ul>

<p>Try to incorporate fertiliser into the soil within 12 hours or as soon as possible. This does not apply to grassland.</p>

<p>Record:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>what you’re putting on - you can keep a product label or invoice</li>
  <li>
    where you apply the fertiliser
  </li>
  <li>date you put it on</li>
  <li>weather conditions at the time</li>
</ul>

<h3 id="other-related-regulations-2">Other related regulations</h3>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://www.gov.uk/government/collections/nitrate-vulnerable-zones">Nitrate vulnerable zones</a></li>
</ul>

</div>


</html>



{% endblock %}
