{% extends "./layouts/GUIDANCEstore.html" %}

{% block guidance %}

<html>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">

<h2 id="legal-requirements-1" class="govuk-heading-m">Legal requirements</h2>

<p class="govuk-body">You must not store organic manure:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>within 10m of inland freshwaters or coastal waters</li>
  <li>where risk factors like soil condition, nearby waterways or drains mean there’s a significant risk of pollution</li>
  <li>within 50m of a spring, well or borehole</li>
</ul>

<h2 id="best-practice-when-you-chose-a-site-for-manure-storage" class="govuk-body">Best practice when you chose a site for manure storage</h2>

<p class="govuk-body">Before you make a manure store, check if there is a significant risk of pollution from the location.</p>

<p>There are significant risks of runoff and soil erosion from factors like the:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>angle of slopes, in particular if the angle is greater than 12 degrees</li>
  <li>amount of ground cover</li>
  <li>soil type and condition</li>
  <li>presence and condition of land drains</li>
</ul>

<p class="govuk-body">Check the area around stored organic manures and identify and block any potential pathways where runoff could flow into water.</p>

<p>On a farm map or plan, record the locations of:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>waterways, field drains, springs, wells and boreholes</li>
  <li>manure stores</li>
</ul>

<h3 id="other-related-regulations">Other related regulations</h3>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://www.gov.uk/guidance/storing-silage-slurry-and-agricultural-fuel-oil">Storing silage, slurry and agricultural fuel oil</a></li>
  <li><a href="https://www.gov.uk/guidance/storing-organic-manures-in-nitrate-vulnerable-zones">Storing organic manures in nitrate vulnerable zones</a></li>
</ul>


</div>


</html>



{% endblock %}
