{% extends "./../layouts/GUIDANCEmanageland.html" %}

{% block guidance %}

<html>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">


<h2 id="legal-requirements-4" class="govuk-heading-m">Legal requirements</h2>

<p class="govuk-body">You must take reasonable precautions to prevent agricultural diffuse pollution from activities such as:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>creating farm tracks or gateways</li>
  <li>establishing seedbeds, polytunnels or tramlines</li>
  <li>cleaning out ditches</li>
  <li>installing drainage or irrigation</li>
  <li>irrigating crops</li>
  <li>spraying crops with pesticides, herbicides or fungicides</li>
</ul>

<p class="govuk-body">Agricultural diffuse pollution is the transport of agricultural pollutants into inland or coastal waters. It can be transported by soil erosion or leaching and the pollutants may be harmful to human health or ecosystems.</p>

<p class="govuk-body">Soil erosion is soil loss caused by soil runoff or degradation over a single area of agricultural land.</p>

<h2 id="best-practice-to-avoid-diffuse-pollution-from-farms" class="govuk-heading-m">Best practice to avoid diffuse pollution from farms</h2>

<p class="govuk-body">Reasonable precautions include:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>only do activities when conditions are suitable and in such a way that does not risk causing significant pollution</li>
  <li>plant crops in early autumn and in dry conditions</li>
  <li>undersow or sow a cover crop to stabilise soil after harvest (a cover crop is any crop with leaf cover that stops rain falling directly onto the soil)</li>
  <li>establish seedbeds, polytunnels or tramlines across the slope or with headland rows or beds across the base of sloping land</li>
  <li>break up compacted soil</li>
  <li>locate farm tracks or gateways where they pose as little risk of soil erosion into water as possible</li>
</ul>

<p class="govuk-body">Measures to reduce pollution risk if soil erosion does occur include establishing:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>grass buffer strips in valleys, along contours, slopes, field edges and gateways</li>
  <li>drainage ditches and sediment traps</li>
</ul>

<h2 id="keep-records" class="govuk-heading-m">Keep records about how you minimise the risk of pollution</h2>

<p class="govuk-body">Use a farm map to record:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>what you’ve done to help reduce the risk of soil loss or water pollution from your activities</li>
  <li>where these measures are</li>
</ul>
<h2 id="keep-records" class="govuk-heading-m">Recommended actions</h2>
<p class="govuk-body">?</p>



<h2 id="other-related-regulations-2" class="govuk-heading-m">Regulations containing rules for all farming activities</h2>

<p class="govuk-body">These rules are from:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Farming rules for water</li>
</ul>

<h3 id="other-related-regulations-2" class="govuk-heading-m">Other related regulations</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://www.gov.uk/government/collections/nitrate-vulnerable-zones">Nitrate vulnerable zones</a></li>
  </ul>


</div>


</html>



{% endblock %}
