{% extends "./../layouts/GUIDANCEapplyfertiliser.html" %}

{% block guidance %}

<html>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">


<h2 class="govuk-heading-m" id="legal-requirements-3">Rules for applying fertiliser</h2>

<p class="govuk-body">When you apply fertiliser, you must:</p>


<ul class="govuk-list govuk-list--bullet">

  <li><a href="frfw-plan">plan how much to apply</a> to make sure you meet soil and crop needs and don’t lose nutrients into waterways </li>
  <li>take into account the weather conditions and forecasts at the time</li>
  <li>assess the risk of pollution</li>
</ul>

<p class="govuk-body">You must not apply fertiliser:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>on waterlogged, flooded or snow covered soil</li>
  <li>when soil has been frozen for more than 12 hours in the past 24 hours</li>
  <li>if there is significant risk of causing pollution</li>
  <li>within 2 metres (m) of inland freshwaters, coastal waters, a spring, well or borehole</li>
  <li>within 2m of hedgerows</li>
</ul>

<!--<h2 id="why-fertiliser-rules-exist" class="govuk-heading-m">Why these rules exist</h2>-->


<h2 id="best-practice-when-you-apply-fertiliser" class="govuk-heading-m">Best practice when you apply fertiliser</h2>

<p class="govuk-body">Before you apply fertiliser, you should take reasonable precautions to avoid pollution like check:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>spreading equipment for leaks and correct calibration</li>
  <li>the organic manure content in and moisture levels of the soil - you can use the <a href="https://ahdb.org.uk/nutrient-management-guide-rb209">Nutrient Management Guide RB209 on the Agriculture and Horticulture Development Board website</a> or other resources to help you</li>
</ul>

<p class="govuk-body">Try to incorporate fertiliser into the soil within 12 hours or as soon as possible. This does not apply to grassland.</p>

<h2 id="keep-records" class="govuk-heading-m">Keep records</h2>
<p class="govuk-body">You must record:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>what you’re putting on - you can keep a product label or invoice</li>
  <li>
    where you apply the fertiliser
  </li>
  <li>risk factors in that area</li>
  <li>what you’ve done to reduce the risk</li>

</ul>

<h2 class="govuk-heading-m" id="Recommended actions">Recommended actions</h2>
<p class="govuk-body">Record:</p>
<ul class="govuk-list govuk-list--bullet">
<li>when you applied fertiliser</li>
<li>weather conditions at the time</li>
</ul>



<h2 id="other-related-regulations-2" class="govuk-heading-m">Regulations containing fertiliser rules</h2>

<p class="govuk-body">These rules are from:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Farming rules for water</li>
  <li>Hedgerows</li>
</ul>

<h3 id="other-related-regulations-2" class="govuk-heading-m">Other related regulations</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://www.gov.uk/government/collections/nitrate-vulnerable-zones">Nitrate vulnerable zones</a></li>
  </ul>


</div>


</html>



{% endblock %}
