{% extends "./../layouts/GUIDANCEcollection.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">




  <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak" data-govspeak-module-started="true">



      <h3 class="govuk-heading-m" id="managing-livestock">Plan before you use manure and fertiliser</h3>

      <div class="govspeak">
        <p>Rules to follow before you apply manure and fertiliser onto farm land.</p>
        <p>Consider how you will apply the nutrients that your soil and crop needs in advance.</p>

      </div>

      <p class="govuk-body"></p>


      <ul class="gem-c-document-list">
      <li class="gem-c-document-list__item  ">

        <a class="gem-c-document-list__item-title   govuk-link" href="frfw-plan">Plan before you use manure and fertiliser
            </a>



          <ul class="gem-c-document-list__item-metadata">

                <li class="gem-c-document-list__attribute">
                    <time datetime="2022-02-08T10:13:28+00:00">
                       2 April 2018
                    </time>
    </li>
                <li class="gem-c-document-list__attribute">
                    Guidance
    </li>          </ul>


      </li>
    </ul>





      <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular"><a class="govuk-link" href="frfw-store-manure">Storing organic manure</a></h3>
      <p class="govuk-body metadata">
          <span class="type"></span>
      </p>




      <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular"><a class="govuk-link" href="frfw-apply-manure">Applying organic manure</a></h3>
      <p class="govuk-body metadata">
          <span class="type"></span>
      </p>



      <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular"><a class="govuk-link" href="frfw-apply-fertiliser
        ">Applying manufactured fertiliser</a></h3>
      <p class="govuk-body metadata">
          <span class="type"></span>
      </p>


      <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular"><a class="govuk-link" href="frfw-diffuse-pollution
        ">Take reasonable precautions to prevent diffuse pollution</a></h3>
      <p class="govuk-body metadata">
          <span class="type"></span>
      </p>

      <h3 class="govuk-heading-m" id="managing-livestock">Managing livestock and feeders to prevent diffuse pollution</h3>

      <p class="govuk-body">Rules to follow when keeping livestock and choosing where to put their feeders.</p>


      <ul class="gem-c-document-list">
      <li class="gem-c-document-list__item  ">

        <a class="gem-c-document-list__item-title   govuk-link" href="frfw-livestock">Managing livestock and feeders to prevent diffuse pollution
            </a>



          <ul class="gem-c-document-list__item-metadata">

                <li class="gem-c-document-list__attribute">
                    <time datetime="2022-02-08T10:13:28+00:00">
                       8 February 2022
                    </time>
</li>
                <li class="gem-c-document-list__attribute">
                    Guidance
</li>          </ul>


      </li>
    </ul>



  <h3 id="details" class="govuk-heading-medium">Details</h3>
  <p class="govuk-body">Farmers must follow the rules to prevent soil, sediment, organic manure, manufactured fertiliser, or any substances found within them from getting into inland or coastal waters.</p>

  <p>You must follow these rules when:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>planning applications of organic manure and manufactured fertiliser</li>
    <li>storing organic manure</li>
    <li>applying organic manure</li>
    <li>applying manufactured fertiliser</li>
    <li>doing any land management and cultivation activities</li>
    <li>managing livestock and locating their feeders</li>
  </ul>

  <p>The Environment Agency (EA) will give you guidance so that you can meet the rules. They may <a href="https://www.gov.uk/guidance/environmental-protection-inspection">inspect your farm</a> to help you identify changes you need to make and agree a timescale for you to make them.</p>

  <p>Find out more about <a href="https://www.gov.uk/government/publications/applying-the-farming-rules-for-water">how the Environment Agency applies the farming rules for water</a>.</p>

  <p>For advice contact the <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> or <a href="https://www.gov.uk/government/groups/farming-advice-service">Farming Advice Service</a>.</p>

  <h3 id="view-the-legislation">View the legislation</h3>

  <p><a rel="external" href="https://www.legislation.gov.uk/uksi/2018/151/made">The Reduction and Prevention of Agricultural Diffuse Pollution (England) Regulations 2018</a>.</p>

</div>


{% endblock %}
