{% extends "./../layouts/GUIDANCEcollection.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">


  <div id="toc" class="toc govuk-!-margin-bottom-9"></div>



  <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak" data-govspeak-module-started="true">

  <section class="attachment embedded" id="attachment_6706965">
    <div class="attachment-thumb">
        <a aria-hidden="true" class="thumbnail" tabindex="-1" href="frfw-plan"><svg version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
  	<path d="M30,95h57v9H30V95z M30,77v9h39v-9H30z M30,122h48v-9H30V122z M12,68h9v-9h-9V68z M12,104h9v-9h-9V104z M12,86h9v-9h-9V86z   M12,122h9v-9h-9V122z M87,12v27H12V12H87z M33,17h-4v8h-6v-8h-4v18h4v-7l6,0v7l4,0V17z M49,17H35l0,3h5v15h4V20l5,0V17z M68,17h-4  l-5,6l-5-6h-4v18h4l0-12l5,6l5-6l0,12h4V17z M81,32h-6V17h-4v18h10V32z M30,68h57v-9H30V68z" stroke-width="0"></path>
  </svg>
  </a>
    </div>
    <div class="attachment-details">
      <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular"><a class="govuk-link" href="frfw-plan">Plan before you use organic manure and manufactured fertiliser</a></h3>
      <p class="govuk-body metadata">
          <span class="type">HTML</span>
      </p>


    </div>
  </section>

  <section class="attachment embedded" id="attachment_6706965">
    <div class="attachment-thumb">
        <a aria-hidden="true" class="thumbnail" tabindex="-1" href="frfw-store-manure"><svg version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
  	<path d="M30,95h57v9H30V95z M30,77v9h39v-9H30z M30,122h48v-9H30V122z M12,68h9v-9h-9V68z M12,104h9v-9h-9V104z M12,86h9v-9h-9V86z   M12,122h9v-9h-9V122z M87,12v27H12V12H87z M33,17h-4v8h-6v-8h-4v18h4v-7l6,0v7l4,0V17z M49,17H35l0,3h5v15h4V20l5,0V17z M68,17h-4  l-5,6l-5-6h-4v18h4l0-12l5,6l5-6l0,12h4V17z M81,32h-6V17h-4v18h10V32z M30,68h57v-9H30V68z" stroke-width="0"></path>
  </svg>
  </a>
    </div>
    <div class="attachment-details">
      <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular"><a class="govuk-link" href="frfw-store-manure">Storing organic manure</a></h3>
      <p class="govuk-body metadata">
          <span class="type">HTML</span>
      </p>


    </div>
  </section>
  <section class="attachment embedded" id="attachment_6706965">
    <div class="attachment-thumb">
        <a aria-hidden="true" class="thumbnail" tabindex="-1" href="frfw-apply-manure"><svg version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
  	<path d="M30,95h57v9H30V95z M30,77v9h39v-9H30z M30,122h48v-9H30V122z M12,68h9v-9h-9V68z M12,104h9v-9h-9V104z M12,86h9v-9h-9V86z   M12,122h9v-9h-9V122z M87,12v27H12V12H87z M33,17h-4v8h-6v-8h-4v18h4v-7l6,0v7l4,0V17z M49,17H35l0,3h5v15h4V20l5,0V17z M68,17h-4  l-5,6l-5-6h-4v18h4l0-12l5,6l5-6l0,12h4V17z M81,32h-6V17h-4v18h10V32z M30,68h57v-9H30V68z" stroke-width="0"></path>
  </svg>
  </a>
    </div>
    <div class="attachment-details">
      <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular"><a class="govuk-link" href="frfw-apply-manure">Applying organic manure</a></h3>
      <p class="govuk-body metadata">
          <span class="type">HTML</span>
      </p>


    </div>
  </section>

  <section class="attachment embedded" id="attachment_6706965">
    <div class="attachment-thumb">
        <a aria-hidden="true" class="thumbnail" tabindex="-1" href="frfw-apply-fertiliser"><svg version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
    <path d="M30,95h57v9H30V95z M30,77v9h39v-9H30z M30,122h48v-9H30V122z M12,68h9v-9h-9V68z M12,104h9v-9h-9V104z M12,86h9v-9h-9V86z   M12,122h9v-9h-9V122z M87,12v27H12V12H87z M33,17h-4v8h-6v-8h-4v18h4v-7l6,0v7l4,0V17z M49,17H35l0,3h5v15h4V20l5,0V17z M68,17h-4  l-5,6l-5-6h-4v18h4l0-12l5,6l5-6l0,12h4V17z M81,32h-6V17h-4v18h10V32z M30,68h57v-9H30V68z" stroke-width="0"></path>
  </svg>
  </a>
    </div>
    <div class="attachment-details">
      <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular"><a class="govuk-link" href="frfw-apply-fertiliser
        ">Applying manufactured fertiliser</a></h3>
      <p class="govuk-body metadata">
          <span class="type">HTML</span>
      </p>


    </div>
  </section>
  <section class="attachment embedded" id="attachment_6706965">
    <div class="attachment-thumb">
        <a aria-hidden="true" class="thumbnail" tabindex="-1" href="frfw-diffuse-pollution"><svg version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
    <path d="M30,95h57v9H30V95z M30,77v9h39v-9H30z M30,122h48v-9H30V122z M12,68h9v-9h-9V68z M12,104h9v-9h-9V104z M12,86h9v-9h-9V86z   M12,122h9v-9h-9V122z M87,12v27H12V12H87z M33,17h-4v8h-6v-8h-4v18h4v-7l6,0v7l4,0V17z M49,17H35l0,3h5v15h4V20l5,0V17z M68,17h-4  l-5,6l-5-6h-4v18h4l0-12l5,6l5-6l0,12h4V17z M81,32h-6V17h-4v18h10V32z M30,68h57v-9H30V68z" stroke-width="0"></path>
  </svg>
  </a>
    </div>
    <div class="attachment-details">
      <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular"><a class="govuk-link" href="frfw-diffuse-pollution
        ">Take reasonable precautions to prevent diffuse pollution</a></h3>
      <p class="govuk-body metadata">
          <span class="type">HTML</span>
      </p>


    </div>
  </section>

  <section class="attachment embedded" id="attachment_6706965">
    <div class="attachment-thumb">
        <a aria-hidden="true" class="thumbnail" tabindex="-1" href="frfw-livestock"><svg version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
    <path d="M30,95h57v9H30V95z M30,77v9h39v-9H30z M30,122h48v-9H30V122z M12,68h9v-9h-9V68z M12,104h9v-9h-9V104z M12,86h9v-9h-9V86z   M12,122h9v-9h-9V122z M87,12v27H12V12H87z M33,17h-4v8h-6v-8h-4v18h4v-7l6,0v7l4,0V17z M49,17H35l0,3h5v15h4V20l5,0V17z M68,17h-4  l-5,6l-5-6h-4v18h4l0-12l5,6l5-6l0,12h4V17z M81,32h-6V17h-4v18h10V32z M30,68h57v-9H30V68z" stroke-width="0"></path>
  </svg>
  </a>
    </div>
    <div class="attachment-details">
      <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular"><a class="govuk-link" href="frfw-livestock">
        Managing livestock and feeders to prevent diffuse pollution</a></h3>
      <p class="govuk-body metadata">
          <span class="type">HTML</span>
      </p>


    </div>



  

  </div>


  <h3 id="details" class="govuk-heading-medium">Details</h3>
  <p class="govuk-body">Farmers must follow the rules to prevent soil, sediment, organic manure, manufactured fertiliser, or any substances found within them from getting into inland or coastal waters.</p>

  <p>You must follow these rules when:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>planning applications of organic manure and manufactured fertiliser</li>
    <li>storing organic manure</li>
    <li>applying organic manure</li>
    <li>applying manufactured fertiliser</li>
    <li>doing any land management and cultivation activities</li>
    <li>managing livestock and locating their feeders</li>
  </ul>

  <p>The Environment Agency (EA) will give you guidance so that you can meet the rules. They may <a href="https://www.gov.uk/guidance/environmental-protection-inspection">inspect your farm</a> to help you identify changes you need to make and agree a timescale for you to make them.</p>

  <p>Find out more about <a href="https://www.gov.uk/government/publications/applying-the-farming-rules-for-water">how the Environment Agency applies the farming rules for water</a>.</p>

  <p>For advice contact the <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> or <a href="https://www.gov.uk/government/groups/farming-advice-service">Farming Advice Service</a>.</p>

  <h3 id="view-the-legislation">View the legislation</h3>

  <p><a rel="external" href="https://www.legislation.gov.uk/uksi/2018/151/made">The Reduction and Prevention of Agricultural Diffuse Pollution (England) Regulations 2018</a>.</p>

</div>


{% endblock %}
