{% extends "./layouts/GUIDANCEnvz.html" %}

{% block guidance %}

  <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <br>

  <p>Nitrate Vulnerable Zones (NVZs) are areas designated as being at risk from agricultural nitrate pollution. They cover about 55% of the land in England.</p>

  <h2 id="find-out-if-your-land-is-in-an-nvz">Find out if your land is in an NVZ</h2>

  <p>The Department for Environment, Food and Rural Affairs (Defra) reviews NVZs every 4 years to account for changes in nitrate concentrations. Check for changes to the boundaries in early 2022.</p>

  <p><a href="https://environment.data.gov.uk/farmers">Find out if your land is an NVZ</a></p>

  <p>Contact the <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> if you have difficulty checking online or need a printed map.</p>

  <h2 id="what-you-can-do-if-your-land-is-moved-into-an-nvz">What you can do if your land is moved into an NVZ</h2>

  <p>If NVZ boundaries are redrawn to include your land, you can <a href="#">appeal an NVZ decision</a>.</p>

  <h2 id="why-put-land-into-nvzs">Why put land into NVZs</h2>

  <p>Reduce water pollution from agricultural nitrates.</p>

  <h2 id="how-much-nitrogen-you-can-use-farm-and-field-limits">How much nitrogen you can use (farm and field limits)</h2>

  <p><a href="nvz-how-much-nitrogen">Find out the nitrogen limit for the crops you grow</a> and when you may apply more than these limits.</p>

  <h2 id="rules-for-farming-activities-in-nvzs">Rules for farming activities in NVZs</h2>

  <p><a href="nvz-spread-fertiliser">Spread manufactured fertilisers</a></p>

  <p><a href="nvz-spread-manure">Spread organic manures</a></p>

  <!-- <p><a href="#">Spread certified green or certified green/food compost</a></p> -->

  <p><a href="nvz-spread-high-nitrogen">Spread chicken, pig or cattle slurry with high readily available nitrogen</a></p>

  <!-- <p><a href="#">Store organic manures</a></p> -->

  <p><a href="nvz-keep-records">Keep records of fertiliser use for at least 5 years</a> - find out the rules that apply to all farmers</p>

  <h2 id="farming-activities-that-do-not-need-to-follow-all-nvz-rules">Farming activities that do not need to follow all NVZ rules</h2>

  <h3 id="apply-fertiliser-in-greenhouses-glass-houses-and-polytunnels">Apply fertiliser in greenhouses, glass houses and polytunnels</h3>

  <p>You don’t need to keep:</p>

  <ul>
    <li>to limits on fertiliser use if the land is enclosed for the entire year</li>
    <li>records about your use of nitrogen fertilisers or your yields from arable crops</li>
  </ul>

  <h3 id="apply-nitrogen-fertiliser-on-a-low-intensity-farm">Apply nitrogen fertiliser on a low-intensity farm</h3>

  <p>You are a low-intensity farmer if all these apply:</p>

  <ul>
    <li>at least 80% of your land is grassland</li>
    <li>you apply no more than 100kg of nitrogen a hectare a year as organic manure (including any nitrogen in manure deposited on the field by livestock)</li>
    <li>you spread no more than 90kg of nitrogen per hectare per year as manufactured fertiliser</li>
    <li>you don’t bring any organic manure onto your holding</li>
  </ul>

  <p>You don’t have to keep a record of your actual applications of manufactured fertiliser and organic manure in each field.</p>

  <p>You must:</p>

  <ul>
    <li>have recorded information to show that you meet the criteria for low-intensity farms</li>
    <li>plan your nitrogen use and keep a fertilisation plan</li>
  </ul>

  <p>When calculating your fertiliser applications, you must not include any area of your holding where you don’t spread any fertiliser or work the soil (for example, on rough grazing areas).</p>

  <h2 id="follow-best-practice-for-nitrates">Follow best practice for nitrates</h2>

  <p>You must follow the <a href="https://www.gov.uk/government/publications/protecting-our-water-soil-and-air">Code of Good Agricultural Practice for nitrates</a> if you claim direct payments other than those under the basic payment scheme (for example, agri-environment payments).</p>

  <h2 id="inspections">Inspections</h2>

  <p>The Environment Agency enforces the NVZ rules. Its officers select which farms to inspect. If you have land in an NVZ and do not comply with the NVZ rules, you may be prosecuted and fined.</p>

  <h2 id="where-to-get-help">Where to get help</h2>

  <p>Contact the <a href="https://www.gov.uk/government/groups/farming-advice-service">Farming Advice Service</a>.</p>

  </div>

{% endblock %}
