{% extends "./layouts/GUIDANCEnvznitrogen.html" %}

{% block guidance %}

<html>
  <html><head>
  

    <div class="govspeak-preview-output">
    
      <article>
        
    <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
         
    
    <p>There’s a limit on the average amount of manufactured fertiliser and crop-available nitrogen from organic manure that you can apply to most crops each year - this is known as the N-max limit.</p>
    
    <p>These are shown in the following table:</p>
    
    <table>
      <tbody>
        <tr>
          <td>Crop</td>
          <td>N-max limit (kilograms of nitrogen per hectare)</td>
          <td>Standard crop yield (tonnes per hectare)</td>
        </tr>
        <tr>
          <td>Autumn or early winter-sown wheat</td>
          <td>220</td>
          <td>8</td>
        </tr>
        <tr>
          <td>Spring-sown wheat</td>
          <td>180</td>
          <td>7</td>
        </tr>
        <tr>
          <td>Winter barley</td>
          <td>180</td>
          <td>6.5</td>
        </tr>
        <tr>
          <td>Spring barley</td>
          <td>150</td>
          <td>5.5</td>
        </tr>
        <tr>
          <td>Winter oilseed rape</td>
          <td>250</td>
          <td>3.5</td>
        </tr>
        <tr>
          <td>Sugar beet</td>
          <td>120</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Potatoes</td>
          <td>270</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Forage maize</td>
          <td>150</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Field beans</td>
          <td>0</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Peas</td>
          <td>0</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Grass</td>
          <td>300</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Asparagus, carrots, radishes, swedes, individually or in any combination</td>
          <td>180</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Celery, courgettes, dwarf beans, lettuce, onions, parsnips, runner beans, sweetcorn, turnips individually or in any combination</td>
          <td>280</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Beetroot, brussels sprouts, cabbage, calabrese, cauliflower, leeks individually or in any combination</td>
          <td>370</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
    
    <h3 id="crops-that-you-can-apply-more-nitrogen-to">Crops that you can apply more nitrogen to</h3>
    
    <p>You can apply more nitrogen to some crops if your expected yield is higher than the ‘standard crop yield’ shown in the table.</p>
    
    <p>You can use an additional 80kg of nitrogen per hectare if you’ve used straw or paper sludge on the previous or current crop.</p>
    
    <h4 id="wheat-and-barley">Wheat and barley</h4>
    
    <p>For wheat and barley, you can use an additional 20kg of nitrogen per hectare for every tonne that the expected yield exceeds the standard yield.</p>
    
    <h4 id="milling-wheat">Milling wheat</h4>
    
    <p>On milling wheat varieties, you can use an additional 40kg of nitrogen per hectare.</p>
    
    <h4 id="wheat-and-barley-on-shallow-soils">Wheat and barley on shallow soils</h4>
    
    <p>On autumn and winter-sown wheat and winter barley you can use an additional 20kg of nitrogen per hectare on fields with a shallow soil type (except on shallow soils over sandstone).</p>
    
    <h4 id="winter-oilseed-rape">Winter oilseed rape</h4>
    
    <p>On winter oilseed rape you can use up to 250kg of nitrogen per hectare. This includes a maximum autumn (closed period) application of 30kg of nitrogen per hectare of manufactured nitrogen fertiliser.</p>
    
    <p>If you use 30kg of nitrogen per hectare in the autumn, you can only use up to 220kg of nitrogen per hectare in the spring. However, you can increase this by an additional 30kg of nitrogen per hectare for every half tonne that the expected yield exceeds the standard yield.</p>
    
    <h4 id="grass">Grass</h4>
    
    <p>On grass that’s cut at least 3 times in a year, you can use an additional 40kg of nitrogen per hectare.</p>
    
    <h4 id="grass-grown-for-dehydration-or-chlorophyll-production">Grass grown for dehydration or chlorophyll production</h4>
    
    <p>You can use nitrogen up to the level recommended in writing by a <a rel="external" href="http://basis-reg.co.uk/Schemes/FACTS/About-FACTS">FACTS-qualified adviser</a> if you’re growing grass to achieve a protein content of at least 16% in the dried product.</p>
    
    <p>If the land is irrigated, you must not use more than 700kg of nitrogen per hectare. If the land isn’t irrigated, you must not use more than 500kg of nitrogen per hectare.</p>
    
    <p>In subsequent years, you must sample these fields between 1 September and 31 October for soil mineral nitrogen levels and give your FACTS-qualified adviser the results.</p>
    
    
    </div>
    
    
    </body></html>
</body></html>          
    
{% endblock %}
