{% extends "layouts/main.html" %}

{% extends "./layouts/_BASEFULL.html" %}

{% block service %}

<span class="govuk-caption-xl">Prototypes</span>
<h1 class="govuk-heading-xl">
  Nitrate vulnerable zone (NVZ) rules
</h1>
<p>
  The following were built using GOV.UK Prototype Kit v9.8.0.
</p>

<h2 class="govuk-heading-m">
  Prototypes
</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Prototype</th>
      <th class="govuk-table__header" scope="col">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="nitrate-vulnerable-zones-after-ur">
          Nitrate vulnerable zones
        </a></td>
      <td class="govuk-table__cell">31 March 2021 - NVZ hub and spoke pages updated with UR findings</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="nitrate-vulnerable-zones">
          Nitrate vulnerable zones
        </a></td>
      <td class="govuk-table__cell">15 March 2021 - usability testing NVZ hub and spoke pages</td>
    </tr>


  </tbody>
</table>



{% endblock %}
