{% extends "./layouts/GUIDANCEnvz2.html" %}

{% block guidance %}

  <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <br>

  <p class="govuk-body">NVZs are areas at risk from agricultural nitrate pollution. They cover about 55% of the land in England. If you farm in these areas you can help to reduce pollution.</p>

  <h2 id="find-out-if-your-land-is-in-an-nvz">Check if your land is in an NVZ</h2>

  <p class="govuk-body"><a href="https://environment.data.gov.uk/farmers/">Use the interactive map</a> to check if your land is in an NVZ.</p>

  <p class="govuk-body">Your farm may be completely or partly in an NVZ. NVZ boundaries are drawn around whole fields, so there are no fields that are only partly in an NVZ.</p>

  <p class="govuk-body">Restrictions apply to each field that’s in an NVZ.</p>

  <p class="govuk-body">Call the Environment Agency on 03000203791 if you have difficulty checking online or need a printed map.</p>

  <p class="govuk-body">If NVZ boundaries change to include your land, you can <a href="https://www.gov.uk/guidance/environmental-fines-or-notices-appeal-against-a-regulator">appeal an NVZ decision</a>.</p>

  <h2 id="fertilisers-that-contain-nitrogen">Fertilisers that contain nitrogen</h2>
  <p class="govuk-body">Nitrogen fertilisers can be manufactured (inorganic, bagged) fertilisers that you buy, other materials containing nitrogen (like waste soil) or organic manures that you produce or bring on to your holding.</p>

  <p class="govuk-body">Organic manures come from animals, plants or humans. They include:</p>

  <ul>
    <li>slurry</li>
    <li>poultry manures</li>
    <li>solid manures (such as farmyard manure, sludge cake or compost)</li>
    <li>sewage sludge (also called biosolids)</li>
    <li>other liquid manures (such as abattoir waste or anaerobic digestate)</li>
  </ul>

  <p class="">If you apply any of these you must follow the rules.</p>

  <h2 id="rules-for-all-farmers-in-nvzs">What you must do when farming in an NVZ</h2>
  <p class="govuk-body">To help prevent nitrate pollution, you must:</p>
  <ul>
    <li><a href="nvz-how-much-nitrogen">apply the amount of nitrogen allowed for the crops you are growing</a></li>
    <li><p class="govuk-body"><a href="nvz-fertilisation-plan">make a fertilisation plan</a> and record your use of nitrogen</p></li>

    <li><a href="nvz-assess-risk-of-runoff">assess the risk of runoff</a></li>

    <li><a href="nvz-keep-records">keep records about fertiliser use for at least 5 years</a></li>
  </ul>
    <p class="govuk-body">You may have to follow different rules if you <a href="#">apply fertiliser in greenhouses, glass houses, polytunnels</a> or you <a href="#">apply nitrogen fertiliser on a low-intensity farm</a>.</p>

  <p class="govuk-body">You must follow specific NVZ rules when you:</p>
  <ul>
    <li><p class="govuk-body"><a href="nvz-spread-fertiliser">spread manufactured fertilisers</a></p></li>
    <li><p class="govuk-body"><a href="nvz-spread-high-nitrogen">spread slurry from cattle, pigs or poultry</a></p></li>
    <li><p class="govuk-body"><a href="nvz-spread-manure">spread solid organic manure</a></p></li>
        <li><p class="govuk-body"><a href="#">spread certified green or certified green/food compost</a></p> </li>
  <li><a href="#">store organic manures</a> </li>
  <li><a href="#">store silage, slurry and agricultural fuel oil</a></li>
  </ul>

  <h2 id="follow-best-practice-for-nitrates">Follow best practice for nitrates</h2>

  <p class="govuk-body">You must follow the <a href="https://www.gov.uk/government/publications/protecting-our-water-soil-and-air">Code of Good Agricultural Practice for nitrates</a> if you claim direct payments other than those under the basic payment scheme (for example, agri-environment payments).</p>

  <h2 id="inspections">Inspections</h2>

  <p class="govuk-body">The Environment Agency enforces the NVZ rules. They select which farms to inspect. If you have land in an NVZ and do not comply with the NVZ rules, you may be prosecuted and fined.</p>

  <h2 id="where-to-get-help">Where to get help</h2>

  <p class="govuk-body">Contact the <a href="https://www.gov.uk/government/groups/farming-advice-service">Farming Advice Service</a>.</p>

  </div>

{% endblock %}
