{% extends "./layouts/GUIDANCEnvzfertiliser.html" %}

{% block guidance %}
<!-- <div id="toc" class="toc govuk-!-margin-bottom-9"></div> -->
<html>
  <div class="govspeak-preview-output">

    <article>

  <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">





<h2 id="legal-requirements" class="govuk-heading-m">Legal requirements</h2>

<p>Farmers and land managers who spread manufactured (inorganic, bagged) nitrogen fertilisers on land in an NVZ must:</p>

<ul>
  <li>plan how much nitrogen fertiliser to use</li>
  <li>assess risk of pollution from runoff</li>
  <li>not spread them on frozen ground or near water</li>
  <li>not apply them to grassland from 15 September to 15 January  </li>
  <li>not apply them to arable land from 1 September to 15 January</li>
  <li>keep records of fertiliser use for at least 5 years</li>
</ul>

<h2 id="plan-your-nitrogen-use">Plan your nitrogen use</h2>

<p>You must plan all your applications of nitrogen on each crop in each field (including grass). This is your fertilisation plan. You must keep it as part of your farm records.</p>

<p>To help with your plan, you can use farm software like <a rel="external" href="http://www.planet4farmers.co.uk/Content.aspx?name=PLANET">PLANET</a> or tools like the <a rel="external" href="http://www.nutrientmanagement.org/what-we-do/tools/">‘Tried and Tested’</a> nutrient management tools.</p>

<p>Before you apply nitrogen fertiliser for the first time in a field where you’re going to plant a crop or have planted a crop, you must:</p>

<ol>
  <li>Calculate how much nitrogen the crop can get from the soil during the growing season.</li>
  <li>Calculate the optimum amount of nitrogen that should be applied to the crop, taking into account the nitrogen already available in the soil.</li>
  <li>Calculate how much nitrogen the crop can get from any organic manure you plan to apply during the growing season.</li>
  <li>Calculate the amount of manufactured nitrogen fertiliser you need.</li>
</ol>

<p>Your plan needs to show that you have calculated the nitrogen available in the soil for crop use and how much should be applied to the crop.</p>

<p>You must carry out steps 3 and 4 every time you apply nitrogen fertiliser or manure.</p>

<p>In subsequent growing seasons, before you apply nitrogen to any crop or land where you’re going to plant a crop (including grass) you must:</p>

<ul>
  <li>work out how much nitrogen is available for crop use and how much you should apply to meet crop needs</li>
  <li>prepare a plan for your fertiliser use for that growing season</li>
</ul>

<p>For permanent grassland, make your calculations based on the farming year starting on 1 January. Prepare a plan for any manure or fertiliser use for the year after that date.</p>

<h2 id="assess-the-risk-of-runoff-before-spreading">Assess the risk of pollution from runoff</h2>

<p>It’s an offence to allow fertiliser to enter surface water (such as rivers or ponds).</p>

<p>You must inspect the field to assess the risk of nitrogen getting into surface water (for example, through runoff) before you spread any fertilisers.</p>

<p>When assessing the risk of runoff, you need to take account of:</p>

<ul>
  <li>land that’s sloping, especially if the slope is over 12 degrees</li>
  <li>ground cover provided by vegetation</li>
  <li>the distance to surface water</li>
  <li>weather conditions</li>
  <li>the soil type and condition</li>
  <li>the presence of land drains</li>
</ul>

<h2 id="where-you-can-not-spread-manufactured-fertilisers">Where you can not spread manufactured fertilisers</h2>

<p>You must not spread any manufactured fertilisers if a field is:</p>

<ul>
  <li>waterlogged, flooded or covered in snow</li>
  <li>frozen for more than 12 hours in the previous 24 hours</li>
</ul>

<p>You must not spread manufactured fertilisers:</p>

<ul>
  <li>within 2 metres of surface water</li>
  <li>within a 2 metre zone from the centre of an established hedge</li>
</ul>

<p>You must only spread manufactured fertilisers on land that you’re using to grow crops (including grass).</p>

<p>You must spread manufactured nitrogen fertilisers as accurately as possible.</p>

<h2 id="when-you-must-not-spread-manufactured-fertilisers">When you must not spread manufactured fertilisers</h2>

<p>For grassland you must not spread fertiliser from 15 September to 15 January.</p>

<p>For tillage land you must not spread fertiliser from 1 September to 15 January.</p>

<h3 id="for-certain-crops-you-can-spread-manufactured-fertilisers-during-the-closed-period">Exceptions in timings for certain crops</h3>

<p>You can spread manufactured nitrogen fertiliser during the closed period if you grow the crops listed and you keep to the limits and times shown.</p>

<table>
  <tbody>
    <th>
      <td>&nbsp;</td>
      <td>Crop</td>
      <td>Maximum amount of nitrogen you can spread within the closed period on each hectare</td>
    </th>
    <tr>
      <td>&nbsp;</td>
      <td>Winter oilseed rape</td>
      <td>30kg (you must not spread nitrogen after 31 October)</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>Asparagus</td>
      <td>50kg</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>Brassica</td>
      <td>100kg (no more than 50kg can be applied every 4 weeks, up to the date on which you harvest the crop)</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>Grass</td>
      <td>80kg (you can apply a maximum of 40kg at any one time, and you must not spread nitrogen after 31 October)</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>Over-wintered salad onions</td>
      <td>40kg</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>Parsley</td>
      <td>40kg</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>Bulb onions</td>
      <td>40kg</td>
    </tr>
  </tbody>
</table>

<p>If you grow crops that aren’t listed in the table, you must have written advice from a FACTS-qualified adviser before you spread manufactured nitrogen fertilisers.</p>

<h2 id="keep-records-of-fertiliser-use-for-at-least-5-years">Keep records of fertiliser use for at least 5 years</h2>

<p>You must keep records of manufactured fertiliser use for at least 5 years and record the:</p>
<ul>

<li>date you spread it</li>
<li>amount of nitrogen you spread </li>
<li>yield of any arable crop, within one week of finding it out </li>
<li>weather conditions at the time</li>
</ul>





  </article>
</div>

</html>

{% endblock %}
