{% extends "./layouts/GUIDANCEnvzmanure.html" %}

{% block guidance %}

<html>
<div class="govspeak-preview-output">

  <article>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">


<h2 id="legal-requirements">Legal requirements</h2>

<p>If you spread organic manure in an NVZ, you must</p>

<ul class="govuk-list">
  <li>only apply up to 170kg a hectare of nitrogen from livestock manure in a year</li>
  <li>not put more than 250kg of organic manure on a hectare on your farm</li>
  <li>plan your nitrogen use</li>
  <li>assess the risk of runoff</li>
  <li>not spread organic manures on waterlogged or frozen land</li>
  <li>not spread organic manures within 50 metres of a spring or 10 metres of surface water</li>
  <li>work organic manures into the soil within 24 hours after spreading</li>
  <li>keep records about spreading organic manure for at least 5 years</li>
</ul>

<h2 id="how-much-organic-manure-you-can-use-farm-and-field-limits">How much organic manure you can use (farm and field limits)</h2>

<p>You can apply up to 170kg per hectare of nitrogen in livestock manure (including manure deposited directly by livestock and spreading) on your holding in each calendar year. This limit is the loading limit and applies as an average across your holding. It’s separate from the field limit <sup><a href="" id="cmnt_ref1">[a]</a></sup>of 250kg per hectare from organic manures.<sup><a href="" id="cmnt_ref2">[b]</a></sup></p>

<p>You must not use more than 250kg of total nitrogen from all organic manures spread in any 12 month period on any single hectare of your land. This limit (the field limit) doesn’t include livestock manures deposited by grazing animals.</p>

<p>You must use standard values to work out how much nitrogen is produced by the livestock on your farm or bought on to your farm. You must plan so that you don’t exceed the limit.</p>

<p>You can find the standard values in the <a rel="external" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/403382/nvz-guidance-blank-completion-data-tables-201312.xlsm">blank field records and standard values tables</a> (XLSM<sup><a href="" id="cmnt_ref3">[c]</a></sup>, 128KB).</p>

<p>You can apply for a <a href="https://www.gov.uk/guidance/grassland-derogations-for-livestock-manure-in-nitrate-vulnerable-zones">‘grassland derogation’</a> to increase this limit if more than 80% of your holding is grassland.</p>

<h2 id="plan-your-nitrogen-use">Plan your nitrogen use</h2>

<p>You must plan all your applications of nitrogen on each crop in each field (including grass). This is your fertilisation plan. You must keep it as part of your farm records.</p>

<p>To help with your plan, you can use farm software like <a rel="external" href="http://www.planet4farmers.co.uk/Content.aspx?name=PLANET">PLANET</a> or tools like the <a rel="external" href="http://www.nutrientmanagement.org/what-we-do/tools/">‘Tried and Tested’</a> nutrient management tools.</p>

<p>You can also use the <a rel="external" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/403382/nvz-guidance-blank-completion-data-tables-201312.xlsm">blank field records and standard values tables</a> (XLSM, 128KB) to calculate how much nitrogen is available in different types of livestock manure.</p>

<p>Your plan must show you’ve taken the following steps before you apply nitrogen for the first time in a field where you’re going to plant a crop or have planted a crop:</p>

<ol>
  <li>Calculate the amount of nitrogen in the soil that’s likely to be available for the crop to use during the growing season.</li>
  <li>Calculate the optimum amount of nitrogen that should be applied to the crop, taking into account the amount of nitrogen already available in the soil.</li>
  <li>Calculate the amount of nitrogen from any planned applications of organic manure that’s likely to be available to the crop in the growing season in which you spread it.</li>
  <li>Calculate the amount of manufactured nitrogen fertiliser you need.</li>
</ol>

<p>You must also carry out steps 1 and 2 before you apply any manure for the first time.</p>

<p>You must carry out steps 3 and 4 every time you apply manure.</p>

<p>In subsequent growing seasons, before you apply nitrogen to any crop or land where you’re going to plant a crop (including grass) you must:</p>

<ul>
  <li>repeat steps 1 and 2</li>
  <li>prepare a plan for your fertiliser use for that growing season</li>
</ul>

<p>For permanent grassland, make your calculations based on the farming year starting on 1 January. Prepare a plan for any manure or fertiliser use for the year after that date.</p>

<h3 id="work-out-the-total-and-crop-available-nitrogen-in-organic-manures">Work out the total and crop-available nitrogen in organic manures</h3>

<p>Before you apply livestock manure, you must calculate the:</p>

<ul>
  <li>total amount of nitrogen in the manure, using standard values or results from sampling and analysis</li>
  <li>amount of crop-available nitrogen in the manure</li>
</ul>

<p>You can find the values you need for these calculations in the blank field records and standard values tables.</p>

<p>Before you apply other organic manures, work out the total amount of nitrogen and crop-available nitrogen using the technical analyses supplied by the fertiliser supplier (for example, on the delivery note).</p>

<p>Where these technical analyses are unavailable, typical values may be obtained from other sources such as the <a rel="external" href="https://ahdb.org.uk/projects/RB209.aspx">Fertiliser Manual</a> (RB209) or <a rel="external" href="http://www.planet4farmers.co.uk/Manner.aspx">MANNER-NPK</a> software. The Fertiliser Manual refers to the total amount of nitrogen as ‘total nitrogen’. It refers to crop-available nitrogen as ‘nitrogen available to the next crop’.</p>

<p>You can also use values from your own sampling and analysis.</p>

<p>You must not spread any organic manure unless you have used one of these methods to work out the crop-available nitrogen in the manure before applying it to crops that have an N-max limit.</p>

<h2 id="assess-the-risk-of-runoff-before-spreading">Assess the risk of runoff before spreading</h2>

<p>It’s an offence to allow organic manure to enter surface water (such as rivers or ponds).</p>

<p>You must inspect the field to assess the risk of nitrogen getting into surface water (for example, through runoff) before you spread any organic manures.</p>

<p>In particular, when assessing the risk of runoff, you need to take account of:</p>

<ul>
  <li>land that’s sloping, especially if the slope is over 12 degrees</li>
  <li>ground cover provided by vegetation</li>
  <li>the distance to surface water</li>
  <li>weather conditions</li>
  <li>the soil type and condition</li>
  <li>the presence of land drains</li>
</ul>

<h2 id="where-you-cant-spread-organic-manures">Where you can’t spread organic manures</h2>

<p>You must not spread any organic manures if a field is either:</p>

<ul>
  <li>waterlogged, flooded or covered in snow</li>
  <li>frozen for more than 12 hours in the previous 24 hours</li>
</ul>

<p>You must not spread organic manure within 50 metres of a spring, well or borehole or 10 metres of surface water.</p>

<p>You must only spread manures on agricultural land that you’re using to grow crops (including grass).</p>

<p>You must spread organic manures as accurately as possible.</p>

<h3 id="rules-different-if-using-precision-spreading-equipment-for-organic-manures">Rules different if using precision spreading equipment for organic manures</h3>

<p>You can spread slurry, sewage sludge and anaerobic digestate no less than 6 metres from surface water if you use precision manure spreading equipment like:</p>

<ul>
  <li>band spreaders (trailing hose or trailing shoe)</li>
  <li>shallow injectors (that inject no more than 10cm below the surface)</li>
  <li>dribble-bar applicators</li>
</ul>

<h3 id="different-rules-if-using-straw-based-solid-manure">Different rules if using straw-based solid manure</h3>

<p>You can spread straw-based solid manure (such as farmyard manure) within 10 metres of surface water on land that’s notified as a site of special scientific interest or managed under an agri-environment scheme if you meet one of the following conditions:</p>

<ul>
  <li>you’re managing the land for breeding wader birds</li>
  <li>the land is designated as a ‘species-rich semi-natural grassland’</li>
</ul>

<p>You must only spread between 1 June and 31 October and not:</p>

<ul>
  <li>directly into surface water</li>
  <li>more than 12.5 tonnes per hectare each year</li>
</ul>

<h2 id="work-organic-manures-into-the-soil-after-spreading">Work organic manures into the soil after spreading</h2>

<p>When you spread manure on bare soil or stubble (except if it’s been sown with seed), you must:</p>

<ul>
  <li>work poultry manure, slurry and liquid-digested sludge into the soil (for example, by ploughing) as soon as it’s practically possible to do so and within 24 hours at the latest</li>
  <li>work any organic manure into the soil (unless it’s been spread as mulch on sandy soil) as soon as possible and within 24 hours at the latest if the land is sloping and within 50 metres of surface water that could receive runoff from it</li>
</ul>

<p>You don’t have to work in slurry and liquid-digested sludge if you have applied it using a trailing hose, shoe band spreader, dribble bar applicator or an injector.</p>

<h2 id="keep-records-of-fertiliser-use-for-at-least-5-years">Keep records of fertiliser use for at least 5 years</h2>

<p>You must <a href="nvz-keep-records">keep records of fertiliser use for at least 5 years</a>.</p>

<p>When spreading organic manure, you must also record the:</p>

<ul>
  <li>area you spread</li>
  <li>quantity of manure you spread</li>
  <li>date of spreading</li>
  <li>method of spreading</li>
  <li>type of manure</li>
  <li>the total nitrogen content of the manure</li>
  <li>the amount of nitrogen that was available to the crop (crop-available nitrogen)</li>
</ul>




<h3 id="keep-laboratory-reports">Keep laboratory reports</h3>

<p>You must keep original laboratory reports of any sampling and analysis you have done to find out the nitrogen content in organic manure that you</p>

<h3 id="record-livestock-manure">Keep records of livestock manure</h3>

<p>For the previous calendar year, you must complete a record by 30 April showing:</p>

<ul>
  <li>the area of your holding in hectares</li>
  <li>the numbers of livestock kept on your holding</li>
  <li>the type of animal (‘category’ in the standard tables) and number of days each animal spent on your holding</li>
  <li>your calculation of the amount of nitrogen produced by livestock</li>
</ul>

<p>Within 1 week of bringing livestock manure (including poultry manure and slurry) onto your holding or sending it off, you must record:</p>

<ul>
  <li>the type and amount of manure and the date it was brought onto or sent off your holding</li>
  <li>the total nitrogen content of any manure you send off or bring onto your holding</li>
  <li>the name and address of the supplier or recipient of the manure</li>
  <li>a contingency plan you’ll follow if the manure isn’t accepted by a recipient (for example, how you plan to store the manure)</li>
</ul>

</div>


</article>
</div>

</body></html>

{% endblock %}
