{% extends "./layouts/GUIDANCEnvzkeeprecords.html" %}

{% block guidance %}

<html>


<div class="govspeak-preview-output">

  <article>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

<h2 id="legal-requirements">Legal requirements</h2>

<p>You must:</p>

<ul>
  <li>keep all records of your fertiliser use for at least 5 years</li>

  <li>have a fertilisation plan for each field where you spread nitrogen fertiliser</li>

<li>update your field records within one week of sowing, spreading fertiliser or harvesting</li>

<li>record when you spread organic manures or manufacture fertilisers</li>

<li>make a risk map</li>
</ul>

<h2 id="fertilisation-plan">Fertilisation plan</h2>

<p>This needs to:</p>

<h3 id="step-1">Step 1: record details about the field and crop</h3>

<p>Record the:</p>

<ul>
  <li>name and area of the field to be planted</li>
  <li>type of crop to be grown</li>
  <li>month in which you plan to plant the crop</li>
  <li>soil type</li>
  <li>previous crop (If the previous crop was grass, record whether it was cut or grazed)</li>
  <li>amount of nitrogen from the soil that is likely to become available for uptake by the crop during the growing season (the soil nitrogen supply)</li>
  <li>method you used to work out the soil nitrogen supply</li>
</ul>

<h3 id="step-2">Step 2: record the expected crop yield</h3>

<p>Record the:</p>

<ul>
  <li>anticipated yield, if it’s an arable crop</li>
  <li>how you’ll manage the crop, if it’s grass (cut or grazed)</li>
  <li>month when you’ll plant the crop (unless the previous crop is grass and it has not been ploughed out)</li>
  <li>crop nitrogen requirement, taking account of the soil nitrogen supply</li>
</ul>

<p>You must also keep a copy of any advice from a FACTS-qualified adviser with your plan.</p>

<p>You can estimate your expected yield using your farm records for previous crops.</p>

<h3 id="step-3">Step 3: record details about your use of organic manure</h3>

<p>Record the:</p>

<ul>
  <li>area (including location) to which you’ll apply organic manure</li>
  <li>quantity and type of organic manure you’ll apply</li>
  <li>month when you plan to apply the manure</li>
  <li>total nitrogen content of the organic manure</li>
  <li>amount of nitrogen that is likely to become available for crop uptake in the growing season in which you’ll apply the organic manure</li>
</ul>

<h3 id="step-4">Step 4: record details about your use of manufactured fertiliser</h3>

<p>Record the:</p>

<ul>
  <li>amount of nitrogen needed from manufactured fertiliser, taking account of the crop available nitrogen from applications of organic manure</li>
  <li>month when you plan to apply the manufactured fertiliser</li>
</ul>

<h2 id="field-records">Field records</h2>

<p>You must update your field records within 1 week of sowing, spreading fertiliser or harvesting a crop.</p>

<p>When you sow a crop on which you’re going to spread nitrogen fertiliser, record the type of crop and the date you sowed it on.</p>

<h2 id="when-you-spread-manufactured-fertiliser">When you spread manufactured fertiliser</h2>

<p>Record the date of spreading and the amount of nitrogen you spread.</p>

<h2 id="when-you-spread-organic-manure">When you spread organic manure</h2>

<p>Record the:</p>

<ul>
  <li>area you spread</li>
  <li>quantity of manure you spread</li>
  <li>date of spreading</li>
  <li>method of spreading</li>
  <li>type of manure</li>
  <li>the total nitrogen content of the manure</li>
  <li>the amount of nitrogen that was available to the crop (crop-available nitrogen)</li>
</ul>

<h2 id="recording-nitrogen-calculations">Recording nitrogen calculations</h2>

<p>You must keep evidence of:</p>

<ul>
  <li>the soil nitrogen supply and how you calculated it</li>
  <li>the crop nitrogen requirement and how you calculated it</li>
  <li>any written advice from a FACTS-qualified adviser</li>
</ul>

<h2 id="keeping-laboratory-reports">Keeping laboratory reports</h2>

<p>You must keep original laboratory reports of any sampling and analysis you have done to find out the nitrogen content in organic manure that you use.</p>

<h2 id="recording-yields">Recording yields</h2>

<p>You must record the yield of any arable crop on which nitrogen fertiliser has been used, within one week of finding it out.</p>

<h2 id="recording-the-size-of-your-holding">Recording the size of your holding</h2>

<p>You must keep an up-to-date record of the total size of your holding and update it within 1 month if it changes. This applies to you if the change in area isn’t land covered by a greenhouse.</p>

<p>The total size of your holding must include any area not covered by greenhouses and excludes surface waters, any hardstanding (areas for parking vehicles), buildings, roads or any woodland (unless that woodland is used for grazing).</p>

<h2 id="making-a-risk-map">Making a risk map</h2>

<p>You must make a risk map and keep it with your farm records if you spread organic manure on your land. You must mark on the map:</p>

<ul>
  <li>the location of each field and its area in hectares</li>
  <li>areas with sandy or shallow soils</li>
  <li>land with a slope greater than 12 degrees</li>
  <li>land drains (except if they are sealed and impermeable)</li>
  <li>sites where you plan to use temporary field heaps to store manure</li>
  <li>all surface waters (for example, streams or ponds) and land within 10 metres of them</li>
  <li>all springs, wells and boreholes on your land or within 50 metres of the boundary of your land</li>
  <li>all land within 50 metres of a spring, well or borehole</li>
  <li>low run-off risk land (if you intend to spread to this land to reduce the amount of storage you need to provide)</li>
</ul>

<p>Your risk map can be printed or drawn by hand and it doesn’t need to be to scale.</p>

<p>You must update the map with any changes within 3 months of the date of the change.</p>

<h2 id="keeping-records-of-livestock-manure">Keeping records of livestock manure</h2>

<p>For the previous calendar year, you must complete a record by 30 April showing:</p>

<ul>
  <li>the area of your holding in hectares</li>
  <li>the numbers of livestock kept on your holding</li>
  <li>the type of animal (‘category’ in the standard tables) and number of days each animal spent on your holding</li>
  <li>your calculation of the amount of nitrogen produced by livestock</li>
</ul>

<p>Within 1 week of bringing livestock manure (including poultry manure and slurry) onto your holding or sending it off, you must record:</p>

<ul>
  <li>the type and amount of manure and the date it was brought onto or sent off your holding</li>
  <li>the total nitrogen content of any manure you send off or bring onto your holding</li>
  <li>the name and address of the supplier or recipient of the manure</li>
  <li>a contingency plan you’ll follow if the manure isn’t accepted by a recipient (for example, how you plan to store the manure)</li>
</ul>

<p>If you don’t know the nitrogen content of imported manure, you must find this out (by analysis or calculation) as soon as possible, and then record it within a week.</p>


</div>


</body></html>
{% endblock %}
