{% extends "./layouts/GUIDANCEnvzplan.html" %}

{% block guidance %}

<html>
<div class="govspeak-preview-output">

  <article>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">


<h2 id="legal-requirements">Legal requirements for fertilisation plans</h2>

<p>Before you apply fertiliser, either organic manure or manufactured fertiliser, you must:</p>

<ul class="govuk-list">
  <li>plan your nitrogen use in advance</li>
  <li>assess the risks from runoff </li>
  <li></li>
  <li></li>
  <li></li>
  <li>keep the fertilisation plan for at least 5 years</li>
</ul>

<h2 id="plan-your-nitrogen-use">Plan your nitrogen use</h2>

<p class="govuk-body">You must plan all your applications of nitrogen on each crop in each field (including grass). This is your fertilisation plan. You must keep it as part of your farm records.</p>

<p>Actions</p>

<ul>
<li>Develop a fertilisation plan WHEN?</li>
<li>Document what crops you intend to grow </li>
<li>Work out how much nitrogen is available in the soil for the crop to use during the growing season</li>
<li>Work out the optimum amount of nitrogen you should apply</li>
</ul>

<h2 id="what-to-include-fertilisation-plans">Make a fertilisation plan</h2>

<p>Before you apply nitrogen in a field where you’re going to plant a crop, you should work out how much nitrogen:</p>

<ul>
  <li>is available in the soil for the crop to use during the growing season</li>
  <li>the crop needs</li>
  <li>it will need from extra organic manure</li>
  <li>it will need from manufactured nitrogen fertiliser</li>
</ul>

<p>To help with your plan, you can use farm software like <a rel="external" href="http://www.planet4farmers.co.uk/Content.aspx?name=PLANET">PLANET</a> or nutrient management tools like the <a rel="external" href="http://www.nutrientmanagement.org/what-we-do/tools/">Tried and Tested</a>.</p>

<p>In subsequent growing seasons, before you apply nitrogen to any crop or land where you’re going to plant a crop (including grass) you must:</p>

<ul>
  <li>check how much nitrogen is availalbe in the soil for use by the crop</li>
  <li>work out how much the crop will need</li>
  <li>prepare a plan for your fertiliser use for that growing season</li>
</ul>

<p>For permanent grassland, make your calculations based on the farming year starting on 1 January. Prepare a plan for any manure or fertiliser use for the year after that date.</p>

<h3 id="work-out-the-total-and-crop-available-nitrogen-in-organic-manures">Work out the total and crop-available nitrogen in organic manures</h3>

<p>Before you apply livestock manure, you must calculate the:</p>

<ul>
  <li>total amount of nitrogen in the manure, using standard values or results from sampling and analysis</li>
  <li>amount of crop-available nitrogen in the manure</li>
</ul>

<p>You can find the values you need to calculate how much nitrogen is available in different types of livestock manure in the <a rel="external" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/403382/nvz-guidance-blank-completion-data-tables-201312.xlsm">blank field records and standard values tables</a>.</p>

<p>Before you apply other organic manures, work out the total amount of nitrogen and crop-available nitrogen using the technical analyses supplied by the fertiliser supplier (for example, on the delivery note).</p>

<p>Where these technical analyses are unavailable, typical values may be obtained from other sources such as the <a rel="external" href="https://ahdb.org.uk/projects/RB209.aspx">Fertiliser Manual</a> (RB209) or <a rel="external" href="http://www.planet4farmers.co.uk/Manner.aspx">MANNER-NPK</a> software. The Fertiliser Manual refers to the total amount of nitrogen as ‘total nitrogen’. It refers to crop-available nitrogen as ‘nitrogen available to the next crop’.</p>

<p>You can also use values from your own sampling and analysis.</p>

<p>You must not spread any organic manure unless you have used one of these methods to work out the crop-available nitrogen in the manure before applying it to crops that have an N-max limit.</p>

<h2 id="assess-the-risk-of-runoff-before-spreading">Assess the risk of runoff before spreading</h2>

<p>It’s an offence to allow organic manure to enter surface water (such as rivers or ponds).</p>

<p>You must inspect the field to assess the risk of nitrogen getting into surface water (for example, through runoff) before you spread any organic manures.</p>

<p>When assessing the risk of runoff, you need to take account of:</p>

<ul>
  <li>land that’s sloping, especially if the slope is over 12 degrees</li>
  <li>ground cover provided by vegetation</li>
  <li>the distance to surface water</li>
  <li>weather conditions</li>
  <li>the soil type and condition</li>
  <li>the presence of land drains</li>
</ul>
<p>Your plan should show that you have assessed the risk of runoff before you spread manure or fertiliser.</p>

<p>Keep your plan as part of your farm records for at least 5 years.</p>

<!--RUTH check if you can move this-->

<!--ruth-->

<h2 id="fertilisation-plan">What to include in your records</h2>

<h3 id="record-field-and-crop-details">Include field and crop details</h3>

<p>Record the:</p>

<ul>
  <li>name and area of the field to be planted</li>
  <li>type of crop to be grown</li>
  <li>month in which you plan to plant the crop</li>
  <li>soil type</li>
  <li>previous crop (If the previous crop was grass, record whether it was cut or grazed)</li>
  <li>amount of nitrogen from the soil that is likely to become available for uptake by the crop during the growing season (the soil nitrogen supply)</li>
  <li>method you used to work out the soil nitrogen supply</li>
</ul>

<p>Record the:</p>

<ul>
  <li>anticipated yield, if it’s an arable crop</li>
  <li>how you’ll manage the crop, if it’s grass (cut or grazed)</li>
  <li>the month when you’ll plant the crop (unless the previous crop is grass and it has not been ploughed out)</li>
  <li>the crop nitrogen requirement, taking account of the soil nitrogen supply</li>
</ul>

<p>You can estimate your expected yield using your farm records for previous crops.</p>

<h3 id="include-details-about-applying-organic-manure">Include details about applying organic manure</h3>

<p>Record the:</p>

<ul>
  <li>area (including location) to which you’ll apply organic manure</li>
  <li>quantity and type of organic manure you’ll apply</li>
  <li>month when you plan to apply the manure</li>
  <li>total nitrogen content of the organic manure</li>
  <li>amount of nitrogen that is likely to become available for crop uptake in the growing season in which you’ll apply the organic manure</li>
</ul>

<h3 id="include-details-about-manufactured-fertiliser-applied">Include details about any manufactured fertiliser applied</h3>

<p>Record the:</p>

<ul>
  <li>amount of nitrogen needed from manufactured fertiliser, taking account of the crop available nitrogen from applications of organic manure</li>
  <li>month when you plan to apply the manufactured fertiliser</li>
</ul>


<!-- ruth -->

<h3 id="record-nitrogen-calculations">Record nitrogen calculations</h3>

<p>You must keep evidence of:</p>

<ul>
  <li>the soil nitrogen supply and how you calculated it</li>
  <li>the crop nitrogen requirement and how you calculated it</li>
  <li>any written advice from a FACTS-qualified adviser</li>
</ul>


<h3 id="keep-laboratory-reports">Keep laboratory reports</h3>

<p>You must keep original laboratory reports of any sampling and analysis you have done to find out the nitrogen content in organic manure that you</p>

<h3 id="record-livestock-manure">Keep records of livestock manure</h3>

<p>For the previous calendar year, you must complete a record by 30 April showing:</p>

<ul>
  <li>the area of your holding in hectares</li>
  <li>the numbers of livestock kept on your holding</li>
  <li>the type of animal (‘category’ in the standard tables) and number of days each animal spent on your holding</li>
  <li>your calculation of the amount of nitrogen produced by livestock</li>
</ul>

<p>Within 1 week of bringing livestock manure (including poultry manure and slurry) onto your holding or sending it off, you must record:</p>

<ul>
  <li>the type and amount of manure and the date it was brought onto or sent off your holding</li>
  <li>the total nitrogen content of any manure you send off or bring onto your holding</li>
  <li>the name and address of the supplier or recipient of the manure</li>
  <li>a contingency plan you’ll follow if the manure isn’t accepted by a recipient (for example, how you plan to store the manure)</li>
</ul>

</div>


</article>
</div>

</body></html>

{% endblock %}
