{% extends "./layouts/GUIDANCEnvzhighnitrogen.html" %}

{% block guidance %}

<html>
<div class="govspeak-preview-output">

  <article>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">


<h2 id="legal-requirements">Legal requirements when spreading poultry or liquid manures</h2>

<p>If you spread organic manure that has high readily available nitrogen in an NVZ, you must follow the rules for <a href="nvz-spread-manure">spreading manure</a> and:</p>

<ul>
  <li>only spread slurry between the dates allowed</li>
  <li>plan your nitrogen use</li>
  <li>assess the risk of runoff</li>
  <li>use precision equipment if you need to spread slurry up to 6m from inland or coastal waters</li>
  <li>work slurry into the soil within 24 hours after spreading</li>
  <li>keep records about spreading manure with high readily available nitrogen for at least 5 years</li>
</ul>

<h2 id="high-readily-available-nitrogen-manures">High readily available nitrogen manures
</h2>

<p>Some organic fertilisers have more than 30% of their total nitrogen content immediately available to crops. These are called ‘high readily available nitrogen manures’.</p>

<p>They include:</p>

<ul>
  <li>poultry manure (layer manure and litter)</li>
  <li>liquid organic manures (such as sludge, cattle and pig slurries and anaerobic digestate)</li>
</ul>

<p>If you use sewage sludge or slurry on your holding, you need to follow the rules in this guidance and separate rules on <a href="https://www.gov.uk/government/publications/sewage-sludge-on-farmland-code-of-practice">managing sewage sludge, slurry and silage</a>.</p>

<h2 id="when-you-cant-spread-manures-with-high-readily-available-nitrogen-closed-periods">When you can’t spread manures with high readily available nitrogen (closed periods)</h3>

<p>You must not spread high readily available nitrogen manures on or between the dates shown.</p>

<table>
  <tbody>
    <th>
      <td>&nbsp;</td>
      <td>On grassland</td>
      <td>On tillage land</td>
    </th>
    <tr>
      <td>Sandy or shallow soils</td>
      <td>1 Sep to 31 Dec</td>
      <td>1 Aug to 31 Dec</td>
    </tr>
    <tr>
      <td>All other soils</td>
      <td>15 Oct to 31 Jan</td>
      <td>1 Oct to 31 Jan</td>
    </tr>
  </tbody>
</table>

<p>Your soil is sandy if it lies over sandstone or it has all the characteristics shown in this table:</p>

<table>
  <tbody>
    <tr>
      <td>Layer of soil</td>
      <td>Up to 40cm</td>
      <td>From 40cm to 80cm</td>
    </tr>
    <tr>
      <td>Content of the soil</td>
      <td>more than 50% by weight of particles from 0.06mm to 2mm in diameter</td>
      <td>more than 70% by weight of particles from 0.06mm to 2mm in diameter</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>less than 18% by weight of particles less than 0.02mm in diameter</td>
      <td>less than 15% by weight of particles less than 0.02mm in diameter</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>less than 5% by weight of organic carbon</td>
      <td>less than 5% by weight of organic carbon</td>
    </tr>
  </tbody>
</table>

<p>Your soil is shallow if it’s less than 40cm deep</p>

<h3 id="exceptions-for-crops-on-sandy-or-shallow-soils">Exceptions for crops on sandy or shallow soils</h3>

<p>If you sow a crop on sandy or shallow tillage land on or before 15 September, you can apply manures with high readily available nitrogen between 1 August and 15 September inclusive.</p>

<h3 id="exceptions-for-organic-farms">Exceptions for organic farms</h3>

<p>If you’re an organic farmer, or you’re formally converting to organic status, you can spread manures with high readily available nitrogen in the periods shown in the table.</p>

<p>You must not spread more than 150kg of total nitrogen per hectare.</p>

<table>
  <tbody>
    <tr>
      <td>Crop</td>
      <td>When you can spread nitrogen</td>
      <td>Additional limits on spreading</td>
    </tr>
    <tr>
      <td>Asparagus, overwintered salad onions, parsley, bulb onions</td>
      <td>from the start of the closed period to the end of February</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Brassica</td>
      <td>from the start of the closed period until harvest</td>
      <td>no more than 50kg of nitrogen per hectare every 4 weeks</td>
    </tr>
    <tr>
      <td>Winter oilseed rape</td>
      <td>from the start of the closed period to the end of October</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Grass</td>
      <td>from the start of the closed period to the end of October</td>
      <td>no more than 40kg at any one time</td>
    </tr>
  </tbody>
</table>

<h3 id="restrictions-on-applications-outside-the-closed-period">Restrictions on applications outside the closed period</h3>

<p>You must not spread more than 30m<sup>3</sup>/ha of slurry or 8 tonnes/ha of poultry manure in a single application from the end of the closed period until the end of February. You must allow at least 3 weeks between each individual application.</p>

<p>The poultry manure limit remains the same but the slurry limit has been reduced from 50m<sup>3</sup> to 30m<sup>3</sup>.</p>

<h3 id="equipment-for-spreading-slurry">Equipment for spreading slurry</h3>

<p>You must only spread slurry using precision spreading equipment or equipment that either:</p>

<ul>
  <li>has a low spreading trajectory (below 4 metres from the ground)</li>
  <li>spreads slurry at a maximum rate of no more than 1 millimetre per hour when operating continuously</li>
  </ul>


  <h3 id="rules-different-if-using-precision-spreading-equipment-for-organic-manures">Exceptions if using precision spreading equipment</h3>

  <p>You can spread slurry, sewage sludge and anaerobic digestate no less than 6 metres from surface water if you use precision manure spreading equipment like:</p>

  <ul>
    <li>band spreaders (trailing hose or trailing shoe)</li>
    <li>shallow injectors (that inject no more than 10cm below the surface)</li>
    <li>dribble-bar applicators</li>
  </ul>


<h2 id="work-organic-manures-into-the-soil-after-spreading">Work organic manures into the soil after spreading</h2>

<p>When you spread manure on bare soil or stubble (except if it’s been sown with seed), you must work poultry manure, slurry and liquid-digested sludge into the soil (for example, by ploughing) as soon as it’s practically possible to do so and within 24 hours at the latest.

<p>You don’t have to work in slurry and liquid-digested sludge if you have applied it using a trailing hose, shoe band spreader, dribble bar applicator or an injector.</p>

<h2 id="keep-records-of-fertiliser-use-for-at-least-5-years">Keep records of slurry use for at least 5 years</h2>

<p>You must keep records about applying slurry for at least 5 years.</p>

<p>When spreading manures with high readily available nitrogen, you must:</p>

<p>Record the:</p>

<ul>
  <li>area you spread</li>
  <li>quantity of manure you spread</li>
  <li>date of spreading</li>
  <li>method of spreading</li>
  <li>type of manure</li>
  <li>the total nitrogen content of the manure</li>
  <li>the amount of nitrogen that was available to the crop (crop-available nitrogen)</li>
</ul>

<h3 id="record-nitrogen-calculations">Record nitrogen calculations</h3>

<p>You must keep evidence of:</p>

<ul>
  <li>the soil nitrogen supply and how you calculated it</li>
  <li>the crop nitrogen requirement and how you calculated it</li>
  <li>any written advice from a FACTS-qualified adviser</li>
</ul>


<h3 id="keep-laboratory-reports">Keep laboratory reports</h3>

<p>You must keep original laboratory reports of any sampling and analysis you have done to find out the nitrogen content in organic manure that you</p>

<h2 id="keep-records-livestock-manure">Keeping records of livestock manure</p>

<p>For the previous calendar year, you must complete a record by 30 April showing:</p>

<ul>
  <li>the area of your holding in hectares</li>
  <li>the numbers of livestock kept on your holding</li>
  <li>the type of animal (‘category’ in the standard tables) and number of days each animal spent on your holding</li>
  <li>your calculation of the amount of nitrogen produced by livestock</li>
</ul>

<p>Within 1 week of bringing livestock manure (including poultry manure and slurry) onto your holding or sending it off, you must record:</p>

<ul>
  <li>the type and amount of manure and the date it was brought onto or sent off your holding</li>
  <li>the total nitrogen content of any manure you send off or bring onto your holding</li>
  <li>the name and address of the supplier or recipient of the manure</li>
  <li>a contingency plan you’ll follow if the manure isn’t accepted by a recipient (for example, how you plan to store the manure)</li>
</ul>

<p>If you don’t know the nitrogen content of imported manure, you must find this out (by analysis or calculation) as soon as possible, and then record it within a week.</p>




  </article>



  </div>

</html>

{% endblock %}
