{% extends "../layouts/GUIDANCEnvz2.html" %}

{% block guidance %}

  <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <br>

  <p class="govuk-body">Nitrate Vulnerable Zones (NVZs) are areas designated as being at risk from pollution from agricultural nitrate. They cover about 55% of the land in England. You can help us reduce pollution in these areas.</p>

  <h2 id="find-out-if-your-land-is-in-an-nvz">Find out if your land is in an NVZ</h2>

  <p class="govuk-body">The Department for Environment, Food and Rural Affairs (Defra) reviews NVZs every 4 years to account for changes in nitrate concentrations. You can check for changes to the boundaries.</p>

  <p class="govuk-body"><a href="https://environment.data.gov.uk/farmers">Find out if your land is an NVZ</a></p>

  <p class="govuk-body">Contact the <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> if you have difficulty checking online or need a printed map.</p>

  <h2 id="what-you-can-do-if-your-land-is-moved-into-an-nvz">What you can do if your land is designated as an NVZ</h2>

  <p class="govuk-body">If NVZ boundaries are redrawn to include your land, you can <a href="#">appeal an NVZ decision</a>.</p>

  <h2 id="rules-for-all-farmers-in-nvzs">Rules for all farmers who have land in an NVZ</h2>

  <p class="govuk-body"><a href="nvz-how-much-nitrogen">Find out the nitrogen limit for the crops you grow</a> and when you can apply more than these limits.</p>

    <p class="govuk-body"><a href="#">Make a fertilisation plan</a> to record your use of nitrogen on crops and grassland.</p>

    <p class="govuk-body"><a href="#">Assess the risk of runoff</a> </p>

    <p class="govuk-body"><a href="nvz-keep-records">Keep records about your fertiliser use for at least 5 years</a></p>

    <p class="govuk-body">You may have to follow different rules if you <a href="#">apply fertiliser in greenhouses, glass houses, polytunnels</a> or you <a href="#">apply nitrogen fertiliser on a low-intensity farm</a>.</p>


  <h2 id="rules-for-farming-activities-in-nvzs">Rules for farming activities in NVZs</h2>

  <p class="govuk-body"><a href="nvz-spread-fertiliser">Spread manufactured fertilisers</a></p>

  <p class="govuk-body"><a href="nvz-spread-manure">Spread organic manures</a></p>

  <p class="govuk-body"><a href="nvz-spread-high-nitrogen">Spread cattle, chicken or pig slurry with high readily available nitrogen</a></p>

   <p class="govuk-body"><a href="#">Spread certified green or certified green/food compost</a></p>



  <p class="govuk-body"><a href="#">Store organic manures</a></p>



  <h2 id="follow-best-practice-for-nitrates">Follow best practice for nitrates</h2>

  <p class="govuk-body">You must follow the <a href="https://www.gov.uk/government/publications/protecting-our-water-soil-and-air">Code of Good Agricultural Practice for nitrates</a> if you claim direct payments other than those under the basic payment scheme (for example, agri-environment payments).</p>

  <h2 id="inspections">Inspections</h2>

  <p class="govuk-body">The Environment Agency enforces the NVZ rules. Its officers select which farms to inspect. If you have land in an NVZ and do not comply with the NVZ rules, you may be prosecuted and fined.</p>

  <h2 id="where-to-get-help">Where to get help</h2>

  <p class="govuk-body">Contact the <a href="https://www.gov.uk/government/groups/farming-advice-service">Farming Advice Service</a>.</p>

  </div>

{% endblock %}
