{% extends "../layouts/GUIDANCEpoultryrulescollection.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>


<li class="gem-c-document-list__item  ">


<div class="govuk-inset-text">

<div class="call-to-action">

<p>This is a new page – give your <a class="govuk-link" href="#">feedback</a> to help us improve it.</p>

</div>
</div>


  <p class="govuk-!-margin-bottom-3"></p>

  <h2 id="register-to-keep-poultry" class="govuk-heading-m">Register to keep poultry</h2>
  <p class="govuk-body">You must register if you keep more than 50 birds. You can register if you have less to get told about disease outbreaks in your area. </p>


  <ul class="govuk-list">
      <li class="govuk-!-margin-bottom-3">
        <a class="govuk-link" href="https://www.gov.uk/government/publications/poultry-including-game-birds-registration-rules-and-forms">Register to keep poultry</a>
      </li>

  </ul>


  <h2 id="keep-healthy-poultry" class="govuk-heading-m">Dealing with bird flu</h2>
  <p class="govuk-body">What you must know about bird flu.</p>
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break">

<ul class="govuk-list">

  <li class="govuk-!-margin-bottom-3">
  <a href="https://www.gov.uk/guidance/avian-influenza-bird-flu">Bird flu (avian influenza): how to spot and report it in poultry or other captive birds</a>
  </li>
  <li class="govuk-!-margin-bottom-3">
  <a href="https://www.gov.uk/guidance/bird-flu-rules-if-you-keep-game-birds">Bird flu: rules if you keep game birds</a>
  </li>


<li class="govuk-!-margin-bottom-3">
<a href="https://www.gov.uk/guidance/avian-influenza-bird-flu-cases-and-disease-control-zones-in-england">Bird flu: rules in disease control zones in England</a>
</li>

<li class="govuk-!-margin-bottom-3">
<a href="https://www.gov.uk/guidance/apply-for-an-exemption-from-avian-influenza-disease-control-restrictions">Apply for an exemption from avian influenza disease control restrictions</a>
</li>

<li class="govuk-!-margin-bottom-3">
    <a class="govuk-link" href="https://www.gov.uk/government/publications/bird-flu-licence-for-spreading-or-moving-used-poultry-litter-manure-and-slurry-from-a-protection-or-surveillance-zone-exd353hpaigb#:~:text=Statutory%20guidance-,Bird%20flu%3A%20licence%20for%20spreading%20or%20moving%20used%20poultry%20litter,zone%20or%20a%20surveillance%20zone.">Bird flu: licence for spreading or moving used poultry litter, manure and slurry from a protection or surveillance zone (EXD353(HPAI)(GB))</a>
  </li>

</ul>

<h2 id="how-to-control-salmonella-in-poultry" class="govuk-heading-m">Test for salmonella in poultry</h2>

<p class="govuk-body">You must test poultry (chicken and turkey) flocks to prevent and control the spread of infection. What you have to do depends on the number of birds you keep and what you produce.</p>

  <h3 id="test-chickens" class="govuk-heading-s">Test your chickens</h3>

<ul class="govuk-list">
  <li class="govuk-!-margin-bottom-3">
<a href="https://www.gov.uk/guidance/salmonella-get-your-breeding-chickens-tested">Chicken breeders: poultry testing for salmonella</a>.</li>
<li class="govuk-!-margin-bottom-3">
  <a href="https://www.gov.uk/guidance/salmonella-get-your-egg-laying-hens-tested">Laying hens and flocks: poultry testing for salmonella</a></li>
  <li class="govuk-!-margin-bottom-3">
<a href="https://www.gov.uk/guidance/salmonella-get-your-broiler-flock-chickens-tested">Salmonella: get your broiler flock chickens tested</a>
</li>
</ul>

<h3 id="test-chickens" class="govuk-heading-s">Test your turkeys</h3>

<ul class="govuk-list">
  <li class="govuk-!-margin-bottom-3"><a href="https://www.gov.uk/guidance/salmonella-get-your-fattening-turkeys-tested">Salmonella: get your fattening turkeys tested</a></li>
  <li class="govuk-!-margin-bottom-3"><a href="https://www.gov.uk/guidance/salmonella-get-your-breeding-turkeys-tested">Turkey breeders: poultry testing for salmonella</a></li>
</ul>


      <h2 id="keep-healthy-poultry" class="govuk-heading-m">Keep healthy poultry</h2>
      <p class="govuk-body">What you must do to make sure birds are healthy.</p>
      <hr class="govuk-section-break govuk-section-break--s govuk-section-break">

<ul class="govuk-list">

          <li class="govuk-!-margin-bottom-3">
            <a href="https://www.gov.uk/government/publications/poultry-on-farm-welfare">Poultry: on-farm welfare</a>
          </lI>

          <li class="govuk-!-margin-bottom-3">
            <a href="https://www.gov.uk/guidance/poultry-welfare-off-the-farm">Poultry welfare off the farm</a>
          </li>

          <li class="govuk-!-margin-bottom-3">
            <a href="https://food.gov.uk/business-guidance/poultry-farming-guidance">Poultry farming guidance</a>
          </li>

          <li class="govuk-!-margin-bottom-3">
                <a href="https://www.gov.uk/guidance/disease-prevention-for-livestock-farmers">Disease prevention for livestock and poultry keepers</a></li>

          <li class="govuk-!-margin-bottom-3">
            <a href="https://www.gov.uk/guidance/supplying-and-using-animal-by-products-as-farm-animal-feed">Supplying and using animal by-products as farm animal feed</a>
          </li>

          </ul>

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
              <h2 id="storing-poultry-manure" class="govuk-heading-m">Storing and spreading poultry manure</h2>

                    <p class="govuk-body">What you must do to avoid causing pollution from poultry manure.</p>

                    <ul class="govuk-list">

                        <li class="govuk-!-margin-bottom-3">

                                <a class="govuk-link" href="https://www.gov.uk/guidance/pigs-and-poultry-intensive-farming-environmental-permits">Pigs and poultry intensive farming: environmental permits</a>

                            </li>

                      <li class="govuk-!-margin-bottom-3">

                              <a class="govuk-link" href="https://www.gov.uk/guidance/storing-silage-slurry-and-agricultural-fuel-oil">Store slurry, silage and agricultural fuel oil safely</a>

                          </li>
                                <li class="govuk-!-margin-bottom-3">
                                <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/355571/Manure_Factsheet.pdf">Storage and spreading of poultry manure</a>
                              </li>

                              <li class="govuk-!-margin-bottom-3"

                                <li class="govuk-!-margin-bottom-3">
                                <a class="govuk-link" href="https://www.gov.uk/guidance/how-to-use-store-or-move-manure-guano-and-digestive-tract-content">How to use, store or move manure, guano and digestive tract content</a>
                              </li>

                              <li class="govuk-!-margin-bottom-3">
                              <a class="govuk-link" href="https://www.gov.uk/guidance/using-nitrogen-fertilisers-in-nitrate-vulnerable-zones">Using nitrogen fertilisers in nitrate vulnerable zones</a>
                            </li>

                              <li class="govuk-!-margin-bottom-3">

                    <a class="govuk-link" href="https://www.gov.uk/guidance/storing-organic-manures-in-nitrate-vulnerable-zones">Store organic manures in nitrate vulnerable zones</a>

                      </li>
                        </ul>

                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
                        <h2 id="burning-poultry-manure" class="govuk-heading-m">Burning poultry manure</h2>

                              <p class="govuk-body">You must get approval to burn poultry manure.</p>

                              <ul class="govuk-list">

                                <li class="govuk-!-margin-bottom-3">

                                        <a class="govuk-link" href="https://www.gov.uk/guidance/get-approval-to-burn-poultry-manure-in-a-combustion-unit">Burn poultry manure in a combustion unit</a>
                                        </li>

                                  <li class="govuk-!-margin-bottom-3">

                                          <a class="govuk-link" href="https://www.gov.uk/government/publications/burning-poultry-manure-at-your-farm-apply-for-approval">Burning poultry manure at your farm: application for approval</a>

                                      </li>
                                      <li class="govuk-!-margin-bottom-3">

                                              <a class="govuk-link" href="https://www.gov.uk/government/publications/burning-waste-in-the-open-after-an-animal-disease-outbreak-rps-251">Burning waste in the open after an animal disease outbreak: RPS 251</a>

                                          </li>

                                </ul>

                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
                                <h2 id="hold-a-bird-gathering" class="govuk-heading-m">Bird gatherings</h2>

                                      <p class="govuk-body">What you must do if you take birds to fairs, markets, shows, sales, exhibitions and some premises used for dealing or internet sales.</p>

                                      <ul class="govuk-list">

                                          <li class="govuk-!-margin-bottom-3">

                                                  <a class="govuk-link" href="https://www.gov.uk/guidance/bird-gatherings-licences">Hold a bird gathering</a>

                                              </li>
                                              <li class="govuk-!-margin-bottom-3">

                                                      <a class="govuk-link" href="https://www.gov.uk/government/publications/bird-gatherings-general-licence">Bird gatherings: general licence</a>

                                                  </li>

                                        </ul>








                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
                            <h2 id="selling-eggs" class="govuk-heading-m">Selling eggs</h2>

                            <p class="govuk-body">What you must do when you sell eggs to the public.</p>

                            <ul class="govuk-list">

                                <li class="govuk-!-margin-bottom-3">
                <a class="govuk-link" href="https://www.gov.uk/guidance/eggs-trade-regulations">Eggs: marketing and trade</a>
              </li>
              <li class="govuk-!-margin-bottom-3">
                <a class="govuk-link" href="https://www.gov.uk/guidance/egg-marketing-standards">Egg marketing standards</a>
              </li>
              <li class="govuk-!-margin-bottom-3">
                <a class="govuk-link" href="https://www.gov.uk/guidance/poultry-meat-marketing-standards">Poultry meat marketing standards</a>
              </li>
        </ul>


                  <h2 id="importing-poultry" class="govuk-heading-m">Import eggs and chicks</h2>
                  <p class="govuk-body">What you must know when importing eggs and chicks into Great Britain.</p>
                  <hr class="govuk-section-break govuk-section-break--s govuk-section-break">

                  <ul class="govuk-list">

                  <li class="govuk-!-margin-bottom-3">
                  <a href="https://www.gov.uk/guidance/import-eggs-to-great-britain">Import eggs to Great Britain</a>
                  </li>
                  <li class="govuk-!-margin-bottom-3">
                  <a href="https://www.gov.uk/guidance/hatching-eggs-and-chicks-marketing-standards">Hatching eggs and chicks marketing standards</a>
                  </li>

                  </ul>

                  <h2 id="importing-poultry" class="govuk-heading-m">Export eggs and chicks</h2>
                  <p class="govuk-body">What you must do when exporting eggs and chicks from Great Britain.</p>
                  <hr class="govuk-section-break govuk-section-break--s govuk-section-break">

                  <ul class="govuk-list">

                    <li class="govuk-!-margin-bottom-3">
                      <a href="https://www.gov.uk/guidance/poultry-health-scheme-how-to-register">Poultry Health Scheme: how to register</a>
                    </li>

                  <li class="govuk-!-margin-bottom-3">
                  <a href="https://www.gov.uk/guidance/export-eggs-from-great-britain">Export eggs from Great Britain</a>
                  </li>
                  <li class="govuk-!-margin-bottom-3">
                  <a href="https://www.gov.uk/guidance/hatching-eggs-and-chicks-marketing-standards#exporting-hatching-eggs-and-chicks-from-gb-to-the-eu">Hatching eggs and chicks marketing standards</a>
                  </li>

                  </ul>




                          <!--                            <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
                                                      <h2 id="farming-organic-poultry " class="govuk-heading-m">Labelling organic food</h2>

                                                      <p class="govuk-body">What you must know about labelling organic food.</p>

                                                      <ul class="govuk-list">
                                                        <li class="govuk-!-margin-bottom-3">
                                                        <a href="https://www.gov.uk/guidance/organic-farming-how-to-get-certification-and-apply-for-funding">Organic farming: how to get certification and funding in Great Britain</a>

                              <li class="app-c-topic-list__item">
                                      <a class="govuk-link" href="https://www.gov.uk/guidance/organic-food-labelling-rules">Organic food labelling rules</a>
                                    </li>

                                    </ul> -->

{% endblock %}
