{% set tocPage = true %}

{% extends "../layout.html" %}

{% block head %}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/core-layout.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/publisher.css" media="screen" rel="stylesheet" type="text/css">

{% endblock %}

{% block pageTitle %}
If you are served a notice about pollution
{% endblock %}

{% block header %}
{% include "../includes/header-publisher.html" %}
{% endblock %}

{% block beforeContent %}

<div id="global-header-bar"></div>

<div class="gem-c-contextual-breadcrumbs">

  <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label=""
          data-track-options="{}" class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/environment"
          data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Environment&quot;}"
          class="govuk-breadcrumbs__link" href="https://gov.uk/land-management">Land management</a>
      </li>
    </ol>
  </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="gem-c-title govuk-x!-margin-top-8 govuk-!-margin-bottom-8">
      <p class="gem-c-title__context">
        Guidance
      </p>
      <h1 class="gem-c-title__text gem-c-title__text--long">
        If you’re served a notice about pollution
      </h1>
    </div>



    <p class="gem-c-lead-paragraph">What to do if you’re served a notice to improve storage or reduce the risk of pollution and how to appeal.</p>
</div>
</div>

<div class="govuk-grid-row">
  <div class="metadata-logo-wrapper">
    <div class="govuk-grid-column-two-thirds metadata-column">
      <div class="app-c-publisher-metadata__other">
        <dl data-module="track-click">
          <dt class="app-c-publisher-metadata__term">
            From:
          </dt>
          <dd class="app-c-publisher-metadata__definition" data-module="gem-toggle">
            <span class="app-c-publisher-metadata__definition-sentence">
             <a
                class="govuk-link" href="#">Department for Environment, Food & Rural Affairs</a> and <a href="#">Environment Agency</a>
            </span>
          </dd>
        </dl>
      </div>
      <div class="app-c-publisher-metadata" lang="en">
        <div class="app-c-published-dates " lang="en">
          Published 26 March 2015
        </div>
        <div class="app-c-published-dates " lang="en">
          Last updated 25 August 2022
        </div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- start of guidance specific block -->
    {% block guidance %}Guidance content goes here, override this by overriding the block{% endblock %}
    <!-- end guidance specific block-->

    <div class="responsive-bottom-margin">
  <!--    <div class="app-c-published-dates app-c-published-dates--history" id="history" data-module="toggle" lang="en">
        Published 2022
      </div> -->
    </div>


    <div data-sticky-element="" class="app-c-contents-list-with-body__link-wrapper govuk-sticky-element--enabled">
      <div class="app-c-contents-list-with-body__link-container">
        <a class="govuk-link app-c-back-to-top dont-print" href="#toc">
          <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
            viewBox="0 0 13 17">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>
          Contents
        </a>
      </div>
    </div>

  </div>

  <div class="govuk-grid-column-one-third">

    <div class="gem-c-contextual-sidebar">

      <div class="gem-c-related-navigation">

        <p id="related-nav-related_items-9c54cbba" class="gem-c-related-navigation__main-heading"
          data-track-count="sidebarRelatedItemSection">
          Related content
        </p>




        <nav role="navigation" class="gem-c-related-navigation__nav-section"
          aria-labelledby="related-nav-related_items-9c54cbba" data-module="gem-toggle">


          <ul class="gem-c-related-navigation__link-list" data-module="track-click">


            <li class="gem-c-related-navigation__link"><a
                class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other"
                data-track-category="relatedLinkClicked" data-track-action="1.1 Related content"
                data-track-label="#"
                data-track-options=""
                href="#"> </a></li>



                <li><a href="../slurry-silage-oil/slurry-2">Storing slurry</a></li>
                <li><a href="../slurry-silage-oil/silage-2">Storing and using silage</a></li>
                <li><a href="../slurry-silage-oil/oil-2">Storing agricultural fuel oil</a></li>



          </ul>


        </nav>


      </div>

    </div>

  </div>

</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="gem-c-contextual-footer">

      <div class="gem-c-related-navigation">



        <nav role="navigation" class="gem-c-related-navigation__nav-section"
          aria-labelledby="related-nav-topics-1f7c81a6" data-module="gem-toggle">

        <!--<h3 id="related-nav-topics-1f7c81a6"
            class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer"
            data-track-count="footerRelatedItemSection">Explore the topic</h3>

          <ul class="gem-c-related-navigation__link-list" data-module="track-click">


            <li class="gem-c-related-navigation__link"><a
                class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer"
                data-track-category="relatedLinkClicked" data-track-action="1.1 Explore the topic"
                data-track-label="/environment/keeping-farmed-animals-poultry-registration"
                data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Poultry registration&quot;}"
                href="#">?</a>
            </li>
            <li class="gem-c-related-navigation__link"><a
                class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer"
                data-track-category="relatedLinkClicked" data-track-action="1.2 Explore the topic"
                data-track-label="/environment/animal-and-plant-health"
                data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Animal and plant health&quot;}"
                href="#"></a></li>

          </ul>-->
        </nav>

      </div>

    </div>

  </div>
</div>


{% endblock %}
