{% extends "../layouts/GUIDANCEfarmingandlandmanagement.html" %}

{% block guidance %}

      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">


        <div class="browse__section ">
          <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-7">
        Get grants, rural payments and business support
      </h2>



      <ul class="govuk-list browse__list">
          <li class="browse__list-item">
            <a class="govuk-link" href="/guidance/funding-for-farmers">Funding for farmers, growers and land managers</a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link" href="/claim-rural-payments">Make or update a rural payments claim</a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link" href="/register-land-rural-land-register">Register land with the Rural Land Register</a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link" href="/guidance/catchment-sensitive-farming-reduce-agricultural-water-pollution">Catchment Sensitive Farming: advice for farmers and land managers</a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link" href="/government/publications/get-free-business-advice-for-your-farm">Farming Resilience Fund: free business advice for your farm</a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link" href="/government/groups/farming-advice-service">Farming Advice Service</a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link" href="/business-support-helpline">Get help and support for your business</a>
          </li>
      </ul>

        </div>


        <div class="browse__section browse__section--top-border">
          <h2 class="gem-c-heading govuk-heading-m  govuk-!-margin-top-8 govuk-!-margin-bottom-7">
        Get planning permission
      </h2>



      <ul class="govuk-list browse__list" data-module="gem-track-click" data-gem-track-click-module-started="true">
          <li class="browse__list-item">
            <a class="govuk-link" href="/planning-permissions-for-farms">Planning permission for farms</a>
          </li>
      </ul>

        </div>


        <div class="browse__section browse__section--top-border">
          <h2 class="gem-c-heading govuk-heading-m  govuk-!-margin-top-8 govuk-!-margin-bottom-7">
        Land management
      </h2>



      <ul class="govuk-list browse__list">
          <li class="browse__list-item" govuk-!-margin-bottom-5>
            <a class="govuk-link" href="/register-land-rural-land-register">Register land with the Rural Land Register</a>
          </li>
          <li class="browse__list-item" govuk-!-margin-bottom-5>
            <a class="govuk-link" href="manage-land"><strong>Rules for farmers and land managers</strong></a>
          </li>
          <li class="browse__list-item" govuk-!-margin-bottom-5>
            <a class="govuk-link" href="/government/publications/the-countryside-code">The Countryside Code</a>
          </li>
      </ul>

        </div>


        <div class="browse__section browse__section--top-border">
          <h2 class="gem-c-heading govuk-heading-m  govuk-!-margin-top-8 govuk-!-margin-bottom-7">
        Keep livestock
      </h2>



      <ul class="govuk-list browse__list">
          <li class="browse__list-item">
            <a class="govuk-link" href="/cattle-tracing-online">Use Cattle Tracing System (CTS) Online</a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link" href="livestock-2"><strong>Rules for farmers and land managers</strong></a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link" href="/report-veterinary-medicine-problem">Report a suspected problem with an animal medicine or microchip</a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link" href="/guidance/avian-influenza-bird-flu">Bird flu (avian influenza): how to spot and report it in poultry or other captive birds</a>
          </li>
      </ul>

        </div>


        <div class="browse__section browse__section--top-border">
          <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-top-8  govuk-!-margin-bottom-7">
        Import, export and move animals or food
      </h2>



      <ul class="govuk-list browse__list" data-module="gem-track-click" data-gem-track-click-module-started="true">
          <li class="browse__list-item">
            <a class="govuk-link" href="/government/collections/guidance-on-importing-live-animals-or-animal-products">Guidance on importing live animals or animal products</a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link" href="/government/collections/guidance-on-exporting-live-animals-or-animal-products">Guidance on exporting live animals or animal products</a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link"  href="/guidance/import-eggs-to-great-britain">Import eggs to Great Britain</a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link" href="/guidance/export-eggs-from-great-britain">Export eggs from Great Britain</a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link" href="/guidance/hatching-eggs-and-chicks-marketing-standards">Hatching eggs and chicks marketing standards</a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link" href="/guidance/export-food-and-agricultural-products-special-rules">Export or move food, drink and agricultural products</a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link" href="/guidance/export-food-for-animals-special-rules">Export or move animal feed or pet food</a>
          </li>
      </ul>

        </div>


        <div class="browse__section browse__section--top-border">
          <h2 class="gem-c-heading govuk-heading-m  govuk-!-margin-top-8 govuk-!-margin-bottom-7">
        Check workers’ rights or find training
      </h2>



      <ul class="govuk-list browse__list" data-module="gem-track-click" data-gem-track-click-module-started="true">
          <li class="browse__list-item">
            <a class="govuk-link" href="/agricultural-workers-rights">Agricultural workers' rights</a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link"  href="/agricultural-sick-pay">Agricultural Sick Pay</a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link"  href="/calculate-agricultural-holiday-entitlement">Calculate your agricultural worker holiday entitlement</a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link"  href="/agricultural-skills-and-training">Agricultural skills and training</a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link"  href="/guidance/seasonal-work-on-farms-guidance-for-workers">Seasonal work on farms: guidance for workers</a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link"  href="/seasonal-worker-visa">Seasonal Worker visa (Temporary Work)</a>
          </li>
      </ul>

        </div>


        <div class="browse__section browse__section--top-border">
          <h2 class="gem-c-heading govuk-heading-m  govuk-!-margin-top-8 govuk-!-margin-bottom-7">
        Find farming rules and regulations
      </h2>



      <ul class="govuk-list browse__list" data-module="gem-track-click" data-gem-track-click-module-started="true">
          <li class="browse__list-item">
            <a class="govuk-link" href="manage-land"><strong>Rules when you grow crops and manage land, woods and water</strong></a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link" href="livestock-2"><strong>Rules for farmers and land managers keeping livestock</strong></a>
          </li>
      </ul>

        </div>


        <div class="browse__section browse__section--top-border">
          <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-top-8  govuk-!-margin-bottom-7">
        Register a farm vehicle
      </h2>



      <ul class="govuk-list browse__list" data-module="gem-track-click" data-gem-track-click-module-started="true">
          <li class="browse__list-item">
            <a class="govuk-link" data-track-category="browseClicked" data-track-count="contentLink" data-track-action="contentLink" data-track-label="/register-farm-vehicle" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Register a farm vehicle&quot;,&quot;dimension114&quot;:&quot;8.1&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;browse list&quot;,&quot;index&quot;:{&quot;index_link&quot;:1,&quot;index_section&quot;:8,&quot;index_section_count&quot;:&quot;10&quot;},&quot;index_total&quot;:&quot;1&quot;,&quot;section&quot;:&quot;Register a farm vehicle&quot;}" href="/register-farm-vehicle">Register a farm vehicle</a>
          </li>
      </ul>

        </div>


        <div class="browse__section browse__section--top-border">
          <h2 class="gem-c-heading govuk-heading-m  govuk-!-margin-top-8 govuk-!-margin-bottom-7">
        Health and safety
      </h2>



      <ul class="govuk-list browse__list" data-module="gem-track-click" data-gem-track-click-module-started="true" govuk-!-margin-bottom-5>
          <li class="browse__list-item">
            <a class="govuk-link" data-track-category="browseClicked" data-track-count="contentLink" data-track-action="contentLink" data-track-label="/guidance/farm-health-and-safety" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Farm health and safety&quot;,&quot;dimension114&quot;:&quot;9.1&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;browse list&quot;,&quot;index&quot;:{&quot;index_link&quot;:1,&quot;index_section&quot;:9,&quot;index_section_count&quot;:&quot;10&quot;},&quot;index_total&quot;:&quot;3&quot;,&quot;section&quot;:&quot;Health and safety&quot;}" href="/guidance/farm-health-and-safety">Farm health and safety</a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link" data-track-category="browseClicked" data-track-count="contentLink" data-track-action="contentLink" data-track-label="/health-and-safety-for-farm-vehicles" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Health and safety using farm vehicles and machinery&quot;,&quot;dimension114&quot;:&quot;9.2&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;browse list&quot;,&quot;index&quot;:{&quot;index_link&quot;:2,&quot;index_section&quot;:9,&quot;index_section_count&quot;:&quot;10&quot;},&quot;index_total&quot;:&quot;3&quot;,&quot;section&quot;:&quot;Health and safety&quot;}" href="/health-and-safety-for-farm-vehicles">Health and safety using farm vehicles and machinery</a>
          </li>
          <li class="browse__list-item">
            <a class="govuk-link" data-track-category="browseClicked" data-track-count="contentLink" data-track-action="contentLink" data-track-label="/guidance/white-asbestos-how-farmers-should-handle-and-dispose-of-it" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;White asbestos on farms: how to spot, manage and dispose of it&quot;,&quot;dimension114&quot;:&quot;9.3&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;browse list&quot;,&quot;index&quot;:{&quot;index_link&quot;:3,&quot;index_section&quot;:9,&quot;index_section_count&quot;:&quot;10&quot;},&quot;index_total&quot;:&quot;3&quot;,&quot;section&quot;:&quot;Health and safety&quot;}" href="/guidance/white-asbestos-how-farmers-should-handle-and-dispose-of-it">White asbestos on farms: how to spot, manage and dispose of it</a>
          </li>
      </ul>

        </div>


        <div class="browse__section browse__section--top-border">
          <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-top-8  govuk-!-margin-bottom-7">
        Register to supply biomass fuel
      </h2>



      <ul class="govuk-list browse__list" data-module="gem-track-click" data-gem-track-click-module-started="true">
          <li class="browse__list-item">
            <a class="govuk-link" data-track-category="browseClicked" data-track-count="contentLink" data-track-action="contentLink" data-track-label="/register-biomass-supplier" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Register as a biomass supplier&quot;,&quot;dimension114&quot;:&quot;10.1&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;browse list&quot;,&quot;index&quot;:{&quot;index_link&quot;:1,&quot;index_section&quot;:10,&quot;index_section_count&quot;:&quot;10&quot;},&quot;index_total&quot;:&quot;1&quot;,&quot;section&quot;:&quot;Register to supply biomass fuel&quot;}" href="/register-biomass-supplier">Register as a biomass supplier</a>
          </li>
      </ul>

        </div>



          </div>
        </div>
      </div>

      </main>

{% endblock %}
