{% extends "./layouts/GUIDANCEbpscollection.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

  <h2 id="guidance">Guidance</h2>


  <ul>
    <li>
      <h3 class="govuk-heading-s"><a rel="external" href="rural-payments-agency-key-dates-2022">Rural Payments Agency key dates 2022</a></h3>
    </li> 
    <li class="app-c-published-dates ">24 June 2021</li>
    <li class="app-c-published-dates ">
      <p>Guidance</p>
    </li>
  </ul>
  <ul>
    <li>
      <h3 class="govuk-heading-s"><a rel="external" href="apply-for-the-basic-payment-scheme-in-2022">Apply for the Basic Payment Scheme in 2022</a></h3>
    </li>
    <li class="app-c-published-dates ">4 November 2021</li>
    <li class="app-c-published-dates ">
      <p>Guidance</p>
    </li>
    </ul>
    <ul>
    <li>
      <h3 class="govuk-heading-s"><a rel="external" href="rpa-fraud-information">RPA fraud information</a></h3>
    </li>
    <li class="app-c-published-dates ">14 September 2021</li>
    <li class="app-c-published-dates ">
      <p>Guidance</p>
    </li>
    </ul>
    <ul>
    <li>
      <h3 class="govuk-heading-s"><a rel="external" href="rural-payments-land-use-codes-2021">Rural payments: land use codes 2021</a></h3>
    </li>
    <li class="app-c-published-dates ">9 March 2021</li>
    <li class="app-c-published-dates ">
      <p>Guidance</p>
    </li>
    </ul>
    <ul>
    <li>
      <h3 class="govuk-heading-s"><a rel="external" href="rural-payments-if-the-structure-of-your-business-is-changing">Rural payments: if the structure of your business is changing</a></h3>
    </li>
    <li class="app-c-published-dates ">10 February 2020</li>
    <li class="app-c-published-dates ">
      <p>Guidance</p>
    </li>
    </ul>
    <ul>
    <li>
      <h3 class="govuk-heading-s"><a rel="external" href="agroforestry-and-the-basic-payment-scheme">Agroforestry and the Basic Payment Scheme</a></h3>
    </li>
    <li class="app-c-published-dates ">18 March 2021</li>
    <li class="app-c-published-dates ">Guidance</li>
  </ul>
  
  <h2 id="forms">Forms</h2>
  
  <ul>
    <li>
      <h3 class="govuk-heading-s"><a rel="external" href="young-and-new-farmer-application-form">Young and new farmer application form</a></p>
    </li>
    <li class="app-c-published-dates ">18 March 2021</li>
    <li class="app-c-published-dates ">
      <p>Guidance</p>
    </li>
    </ul>
    <ul>
    <li>
      <h3 class="govuk-heading-s"><a rel="external" href="continuation-booklets-for-paper-applications">Continuation booklets (for paper applications)</a></h3>
    </li>
    <li class="app-c-published-dates ">18 March 2021</li>
    <li class="app-c-published-dates ">
      <p>Guidance</p>
    </li>
    </ul>
    <ul>
    <li>
      <h3 class="govuk-heading-s"><a rel="external" href="change-land-tenure-form">Change land tenure form</a></p>
    </li>
    <li class="app-c-published-dates ">4 February 2021</li>
    <li class="app-c-published-dates ">Form</li>
  </ul>
  
  <h2 id="news-stories">News stories</h2>
  
  <ul>
    <li>
      <h3 class="govuk-heading-s"><a rel="external" href="basic-payment-scheme-2021-entitlement-rates">Basic Payment Scheme 2021 entitlement rates</a></h3>
    </li>
    <li class="app-c-published-dates ">28 October 2021</li>
    <li class="app-c-published-dates ">News story</li>
  </ul>
  
  <p>Published 27 August 2020</p>
  
  <p>Last updated 28 October 2021 <a rel="external" href="https://draft-origin.integration.publishing.service.gov.uk/government/collections/bps-2021#full-history">+ show all updates</a></p>
  
  <p><a rel="external" href="https://draft-origin.integration.publishing.service.gov.uk/government/collections/bps-2021#contents">Contents</a></p>
  
  
  
  
</div>


{% endblock %}