{% extends "./layouts/GUIDANCEbpsapply.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

  <h2>Documents</h2>
  <p class="govuk-body">You can apply for BPS online, or by post using a paper form.</p>


  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
     
  <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="apply-online">Apply for BPS online 2022</a><br>
  <span class="govuk-body "></span></p>

 
  <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="apply-form">Apply for BPS using a paper form 2022</a><br>
    <span class="govuk-body "></span></p>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


</div>


{% endblock %}