{% extends "./layouts/GUIDANCEbpsentitlements.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
  <h2 id="what-are-entitlements">What are entitlements?</h2>

  <p>##</p>
  
  <p>Entitlements are what you use to get paid for BPS. To use entitlements to get paid, you must have and declare at least 5 entitlements and at least 5 hectares of eligible land to use with them on your BPS application unless you qualify for the cross border exemption. See ‘Cross border farms’ for more details.</p>
  
  <p>For each land parcel you want to apply for BPS on, the minimum number of entitlements you can use for the land parcel is 0.10.</p>
  
  <p>If you are a ‘Young’ or ‘new’ farmer, you can apply for an allocation of new entitlements by filling in a ‘Basic Payment Scheme (2021) Young and new farmer form’ and sending to us (see ‘Young and new farmers’, ‘Applying for entitlements’ for more information). You can choose to give up your entitlements by filling in a RLE1 form.</p>
  
  <h3 id="payment-regions">Payment ‘regions’</h3>
  
  <p>Entitlements and land in England are divided into 3 payment regions:</p>
  
  <ul>
    <li>Non-Severely Disadvantaged Area (non-SDA)</li>
    <li>Severely Disadvantaged Area (SDA)</li>
    <li>SDA Moorland</li>
  </ul>
  
  <p>An entitlement can only be used with land that is in the same payment region. ‘English’ entitlements can’t be used with land outside of England.</p>
  
  <h3 id="entitlement-values">Entitlement values</h3>
  
  <p>Entitlements have different values depending on which payment region they are in. SDA Moorland entitlements are worth less than SDA and non-SDA entitlements (which will have similar values).</p>
  
  <p>The value of entitlements will be published later this year (this usually happens in November). Entitlement values do not include the Young Farmer Payment, which is worked out separately. You can find out your entitlements information by looking online, as we no longer issue entitlements statements.</p>
  
  <h3 id="entitlement-usage">Entitlement usage</h3>
  
  <p>You no longer need to use all your entitlements to claim payment at least once every two years, to prevent them being taken away. This means that you don’t have to sell or lease entitlements to protect their usage. You can see updated information in the Rural Payments service.</p>
  
  <p>The relaxation of the rules applies from the 2021 scheme year. The rules in previous years are unaffected.</p>
  
  <h2 id="transferring-entitlements">Transferring entitlements</h2>
  
  <p>There are different ways entitlements can be transferred:</p>
  
  <ul>
    <li>by sale or gift</li>
    <li>by lease or sublease</li>
    <li>through inheritance</li>
    <li>as part of a merger or scission</li>
  </ul>
  
  <p>Entitlements can be transferred online using the Rural Payments service or by using a RLE1 form. Transfers through inheritance or sublease can only be done using a RLE1 form.</p>
  
  <p>We will let you know once the transfer is complete. Both paper and electronic transfers will be confirmed by an online notification in the Rural Payments service.</p>
  
  <p>Leased entitlements automatically return to the lessor at the end of the lease. We no longer contact both parties after the lease end date has passed, to tell you that the entitlements have transferred back. If you are the lessor and want to end the lease early or extend the term, you must tell us by letter or email before the change takes effect. Only the lessor can extend the lease, although both lessor and lessee may give notice by letter or email to end the lease early.</p>
  
  <h3 id="when-to-transfer-entitlements">When to transfer entitlements</h3>
  
  <p>Only the person who holds the entitlements at midnight on 17 May 2021 can use them to get paid in that scheme year. This means all entitlement transfers for the BPS 2021 scheme year also need to be made by midnight on 17 May 2021.</p>
  
  <p>You should make sure we receive your transfer request by midnight on 17 May 2021 at the latest – otherwise the transfer will not be effective until the 2022 scheme year. You no longer need to send your RLE 1 form 6 weeks in advance of the effective transfer date.</p>
  
  <h3 id="invalid-transfers">Invalid transfers</h3>
  
  <p>If you receive entitlements that you should not have had, the transfer is invalid and you will lose those entitlements. In these cases, the transferred entitlements (whether they were leased or sold) will not be returned to the transferor.</p>
  
  <p>If you have already transferred them again (to a third business), that business may lose some or all of the entitlements which came from the invalid transfer.</p>
  
  <h2 id="hemp">Hemp</h2>
  
  <p>It is against the law to grow hemp without a licence from the Home Office. You can apply for one on GOV.UK.</p>
  
  <p>There is a list of eligible varieties of hemp in the Common Catalogue of Varieties of Agricultural Plant Species.</p>
  
  <p>If you are a hemp grower and apply for BPS, you must declare the land parcels you are growing hemp on. You must write your Single Business Identifier (SBI) on the official seed labels and send them to us, so we can confirm the varieties of hemp grown. We must receive them by midnight on 17 May 2021 (or by 30 June 2021 if you have not sown hemp by 17 May 2021). We will return these labels.</p>
  
  <p>Please contact us for advice if the hemp will be sown after 30 June 2021. We will test a sample of all the hemp grown. This is done to make sure that the tetrahydrocannabinol content is below the level set by legislation. Inspectors from the Food and Environment Research Agency (FERA) carry out these tests on our behalf.</p>
  
  <p>Hemp growers will receive a letter by 9 July 2021 confirming whether we have selected your hemp for testing. If you are selected, you must not harvest your hemp until we have completed the inspection.</p>
  
  
    
</div>


{% endblock %}