{% extends "./layouts/GUIDANCEbpsdates.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

  <h2 id="basic-payment-scheme">Basic Payment Scheme</h2>

  <ul>
    <li>1 January 2022 – BPS 2022 scheme year begins</li>
    <li>18 March 2022 – BPS application window opens</li>
    <li>17 May 2022 (midnight) – deadline for BPS 2022 applications without penalty (including Young and New Farmer applications). Deadline to transfer entitlements and to have land at customer’s disposal</li>
    <li>11 June 2022 (midnight) – deadline for late BPS 2022 applications (with penalty) and for making certain changes without penalty to a BPS application already submitted by midnight on 17 May</li>
    <li>31 December 2022 – BPS 2022 scheme year ends</li>
    <li>1 December 2022 to 30 June 2023 – RPA makes BPS 2022 payments</li>
  </ul>
  
  <h2 id="countryside-stewardship-and-environmental-stewardship-claims">Countryside Stewardship and Environmental Stewardship claims</h2>
  
  <ul>
    <li>18 March 2022 – opening of CS and ES revenue claims</li>
    <li>17 May 2022 (midnight) – deadline for CS and ES revenue claims without reduction. Deadline to transfer entitlements and to have land at customer’s disposal</li>
    <li>31 May 2022 (midnight) – deadline for making certain changes to a CS revenue claim that was submitted before midnight on 17 May without receiving a reduction</li>
    <li>11 June 2022 (midnight) – deadline for late CS and ES revenue claims (with reduction)</li>
    <li>1 December 2022 to 30 June 2023 – RPA makes CS and ES 2022 payments</li>
    <li>ES Higher Level Stewardship (HLS) and CS capital claims can be submitted all year</li>
  </ul>
  
  <h2 id="countryside-stewardship-applications">Countryside Stewardship applications</h2>
  
  <p>9 February 2022 – applications open for Higher Tier, Mid Tier and Wildlife Offers for agreements starting on 1 January 2023, and for Capital Grants agreements starting in 2022.</p>
  
  <p>The new Woodland Creation and Maintenance Grant also replaces the Woodland Creation Grant from that date.</p>
  
  <h3 id="deadline-for-requesting-application-packs">Deadline for requesting application packs</h3>
  
  <ul>
    <li>
      <h3 id="march-2022--higher-tier-paper-and-online">31 March 2022 – Higher Tier (paper and online)</h3>
    </li>
    <li>
      <h3 id="may-2022--mid-tier-and-wildlife-offers-paper">28 May 2022 – Mid Tier and Wildlife Offers (paper)</h3>
    </li>
    <li>
      <h3 id="july-2022--mid-tier-online">16 July 2022 – Mid Tier (online)</h3>
    </li>
  </ul>
  
  <p>Online applicants for Wildlife Offers do not need to request an application pack.</p>
  
  <h3 id="deadline-for-submitting-your-application-for-a-2023-agreement">Deadline for submitting your application for a 2023 agreement</h3>
  
  <ul>
    <li>
      <h3 id="april-2022--higher-tier-and-capital-grants">30 April 2022 – Higher Tier and Capital Grants</h3>
    </li>
    <li>
      <h3 id="july-2022--mid-tier-and-wildlife-offers">30 July 2022 – Mid Tier and Wildlife Offers</h3>
    </li>
  </ul>
  
  <h3 id="agreement-offers-sent-out">Agreement offers sent out</h3>
  
  <ul>
    <li>From July 2022 – Capital Grants</li>
    <li>From September 2022 – Higher Tier, Mid Tier and Wildlife Offers</li>
  </ul>
  
  <h3 id="open-all-year-for-applications">Open all year for applications</h3>
  
  <ul>
    <li>Woodland Tree Health applications</li>
    <li>Woodland Management Plan applications</li>
    <li>Woodland Creation applications – up to 8 February 2022 only</li>
    <li>Woodland Creation and Maintenance Grant applications – from 9 February 2022</li>
  </ul>
    
</div>


{% endblock %}