{% extends "layouts/main.html" %}

{% block pageTitle %}
  Applying fertiliser
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Environment",
        href: "#"
      },
      {
        text: "Food and farming"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-caption-xl c-title__context">
        Guidance
      </p>
      <h1 class="govuk-heading-xl">
        Applying fertiliser to land
      </h1>
      <p class="gem-c-lead-paragraph">What you must do to plan for and apply fertiliser. This helps to protect water and the environment from run off and leaching.</p>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#plan-fertiliser-use">
                Plan your fertiliser use
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#soil-test">
                Soil tests for cultivated agricultural land
              </a>
            </li>
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#assess-risk-of-pollution">Assess risks of causing pollution
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#applying-fertiliser">
                Applying fertiliser
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#keep-records">
                Keep records
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#how-enforcement-will-work">
                How enforcement will work
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#source-legislation">
                Source legislation
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#get-advice">
                Get advice
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      <p>You must take steps to prevent fertiliser getting into watercourses – one of the sources of diffuse water pollution (pollution).</p>
      <p>Manufactured fertilisers are inorganic and bagged fertilisers containing nitrogen.</p>

      <p>These rules apply to farming or horticultural practices that involve the use of manufactured fertiliser (fertiliser).</p>

      <h2 id="plan-fertiliser-use" class="govuk-heading-m">Plan your fertiliser use</h2>

      <p>You must plan each application of fertiliser on your land so that they don’t give rise to a significant risk of agricultural diffuse pollution.</p>

      <p>Applying includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>spreading on the surface of the land</li>

        <li>injecting into the soil</li>

        <li>mixing manure or fertiliser with the surface layers of soil</li>

      </ul>
      <p>For all farming and horticultural land you must plan:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>how much fertiliser to use, so you do not use more than your crop or soil needs</li>

          <li>by taking into account slurry and organic manure applications

            <li>by assessing the pollution risks</li>
          </ul>
        <p>You can use the Nutrient Management Guide RB209 on the Agriculture and Horticulture Development Board website to work out the nutrients your soil or crop needs.</p>

        <h2 id="soil-tests" class="govuk-heading-m">Soil tests for cultivated agricultural land</h2>

          <p>If you’re applying fertiliser to cultivated agricultural land, you must also plan by using the results of soil tests.</p>

          <p>Cultivated agricultural land is both or one of the following:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>land you’ve ploughed, sowed or harvested at least once in the last year</li>
            <li>land where you’ve applied organic manure or fertiliser at least once in the last 3 years</li>
          </ul>
          <p>The results of soil tests must show the pH and levels of:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>nitrogen – you can use a soil nitrogen supply calculator instead of a soil test</li>

                <li>phosphorus</li>

                <li>potassium</li>

                <li>magnesium</li>
            </ul>

            <p>Soil test results must be no more than 5 years old at the time of application.</p>

            <p>When deciding what nutrients your crops need, you should use one of these:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>a nutrient management guide, such as <a href="https://ahdb.org.uk/nutrient-management-guide-rb209">RB209 from the Agriculture and Horticulture Development Board</a></li>
                <li>farm software such as <a href="https://www.planet4farmers.co.uk/Content.aspx?name=PLANET">PLANET</a> or  <a href="http://www.planet4farmers.co.uk/Manner.aspx">MANNER-NPK</a></li>
                <li>nutrient management tools, such as those provided by <a href="http://www.nutrientmanagement.org/what-we-do/tools/">Tried and Tested</a> including a < a href="https://www.nutrientmanagement.org/what-we-do/calculators-and-estimators/">soil nitrogen supply calculator</a>x</li>
                <li>a suitably qualified professional, such as an agronomist or Fertiliser Advisers Certification and Training Scheme (FACTS) adviser</li>
              </ul>
            <p>Planning can:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>help you optimise the timing and number of applications</li>

                <li>save you money as you use less manufactured fertiliser</li>

                <li>reduce the risk of diffuse pollution and improve water quality in your area</li>



              <h2 id="assess-risks-of-pollution" class="govuk-heading-m">Assess risks of causing pollution</h2>

              <p>You must take reasonable precautions to reduce the risk of pollution when you apply fertiliser.</p>

              <p>Examples include:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>taking into account the weather conditions and forecasts at the time you want to apply fertiliser on your land</li>

                  <li>checking your spreading equipment is calibrated and does not leak</li>

                  <li>checking the presence and condition of land drains</li>

                  <li>working fertiliser into the soil within 12 hours or as soon as possible after applying it - this does not apply to grassland</li>

                  <li>checking the organic matter content and moisture level in your soil – you can use the Nutrient Management Guide RB209 on the Agriculture and Horticulture Development Board website or other resources to help you do this</li>
              </ul>

              <h2 id="applying-fertiliser" class="govuk-heading-m">Applying fertiliser</h2>

              <p>You must not use fertiliser:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>on waterlogged, flooded or snow covered soil</li>

                  <li>when the soil has been frozen for more than 12 hours in the past 24 hours</li>

                  <li>amount of ground cover</li>

                  <li>within 2 metres(m) of inland freshwaters, coastal waters, a spring, well or borehole</li>

                  <li>if there is no crop or soil need – in most cases there is no crop or soil need in autumn and winter</li>

                  <li>where risk factors mean there’s a significant risk of pollution</li>
                </ul>
              <h2 id="keep-records" class="govuk-heading-m">Keep records</h2>

              <p>Record:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>where you’ve applied fertiliser</li>

                  <li>risk factors in that area</li>

                  <li>what you’ve done to reduce the risk</li>

                  <li>when you applied the fertiliser</li>

                  <li>the weather conditions at the time</li>

                  <li>any exceptions where you’ve used precision equipment or where on your land you’ve applied manures for environmental benefit</li>
                </ul>
        <h2 id="how-enforcement-will-work" class="govuk-heading-m">How enforcement will work</h2>

          <p>If the Environment Agency finds you’re breaching the rules, it will help you by:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>identifying the changes you need to make</li>

              <li>agreeing a timescale with you to make changes</li>
            </ul>
          <p>To check you’ve made changes, the Environment Agency may:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>give you a follow-up visit</li>

              <li>ask for evidence, such as photographic evidence of a change</li>
            </ul>
          <p>If there’s already pollution or a high risk of pollution, the Environment Agency may take enforcement action. This may include prosecution.</p>



          <h2 id="source-legislation" class="govuk-heading-m">Source legislation</h2>

          <p>These rules are from

          The Reduction and Prevention of Agricultural Diffuse Pollution (England) Regulations 2018.</p>



          <h3 id="other-regulations" class="govuk-heading-s">Other related regulations</h3>

          <p>You can find more rules about fertiliser in:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Complying with landspreading permits details the types of materials that you can spread on your land<.
              </li>

            <li>Storing manure</li>

            <li>Nitrate vulnerable zones</li>

              <h2 id="get-advice" class="govuk-heading-m">Get advice</h2>

              <p>Contact the Environment Agency.</p>

      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

  <!--    {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }}

      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>-->

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="rules-collection">
                Rules for farmers and land managers
              </a>
            </li>

          </ul>
        </nav>
      </aside>

    </div>


</div>





    </div>
  </div>

{% endblock %}
