{% extends "layouts/main.html" %}

{% block pageTitle %}
Building storage and storing slurry
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Environment",
        href: "#"
      },
      {
        text: "Food and farming"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-caption-xl c-title__context">
        Guidance
      </p>
      <h1 class="govuk-heading-xl">
        Building storage and storing slurry
      </h1>
      <p class="govuk-body-l">Rules for farmers and land managers who build storage and store slurry. Also covers what you need to tell the Environment Agency.</p>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#building-new-or-making-substantial-changes-to-existing-slurry-storage">
                Building new or making substantial changes to existing slurry storage
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#storage-which-is-exempt-from-building-rules">
                Storage which is exempt from building rules
              </a>
            </li>
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#tell-the-environment-agency-about-your-planned-new-or-changed-slurry-storage">Tell the Environment Agency about your planned new or changed slurry storage
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#if-you-need-help">
                If you need help
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#if-you-are-served-notice">
                If you're served a notice under the Silage, Slurry and Agricultural Fuel Oil (SSAFO) regulations
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#view-the-legislation">
                View the legislation
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      <p>You must follow these rules if you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>build a new slurry store (lagoon or silo) or make substantial changes </li>

        <li>store slurry </li>

      </ul>
      
      <p>Slurry is defined by the <a href="https://www.gov.uk/guidance/storing-silage-slurry-and-agricultural-fuel-oil">Water Resources (Control of Pollution) (Silage, Slurry and Agricultural Fuel Oil) (England) Regulations 2010</a> (SSAFO) as: “liquid or semi-liquid matter composed of excreta produced by livestock while in a yard or building (including that held in wood chip corrals); or a mixture wholly or mainly consisting of livestock excreta, livestock bedding, rainwater and washings from a building or yard used by livestock, of a consistency that allows it to be pumped or discharged by gravity at any stage in the handling process”.</p>

      <p>In the past, other terms were used to describe slurry of varying strengths or dilutions, such as dirty water and lightly fouled water. These are both forms of slurry.</p>

      <p>If your farm is in a nitrate vulnerable zone (NVZ) there are <a href="https://www.gov.uk/guidance/storing-organic-manures-in-nitrate-vulnerable-zones"> extra rules for storing organic manures</a> including slurry. You can <a href="https://www.gov.uk/guidance/nutrient-management-nitrate-vulnerable-zones"> check if your farm is in an NVZ</a>.</p>
      
      <h2 id="building-new-or-making-substantial-changes-to-existing-slurry-storage" class="govuk-heading-m">Building new or making substantial changes to existing slurry storage 
      </h2>
<p>Substantial changes usually means structural alterations, rather than minor repairs. <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Check with the Environment Agency</a> if you're not sure. 
</p>

<p>A new or substantially changed store must:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>have an expected lifespan of at least 20 years with maintenance</li>

  <li>be at least 10 metres (m) from inland or coastal waters, including yard drains, dry ditches and land drains</li>

  <li>be at least 50m from a spring, well or borehole</li>

</ul>

<p>You may need a safety zone larger than 10m if you farm where the water supply is taken from groundwater or within a groundwater source protection zone.</p>

<p><a href="https://www.gov.uk/guidance/groundwater-source-protection-zones-spzs">Groundwater source protection zones</a> treat silage and silage effluent as organic manure. <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Contact the Environment Agency</a> to discuss how you can reduce risk in these areas. </p>

<h3 class="govuk-heading-s">Before you start work</h3>

<p>It's up to you to decide what planning and work is needed, you must: 
</p>
<ul class="govuk-list govuk-list--bullet">
  
  <li>check if you need planning permission</li>
  
  <li>meet the legal requirements for storage capacity</li>

  <li>make sure it meets <a href="https://www.ciria.org/ItemDetail?iProductCode=C759F&Category=FREEPUBS">building standards</a></li>

  <li>make sure you do not pollute the surrounding environment - for example, rivers or other watercourses</li>

  <li>tell the Environment Agency at least 14 days before you start construction of a store</li>

  </ul>

<h3 class="govuk-heading-s">When building any slurry store</h3>

<p>Slurry tanks, reception pits, pipes and channels must be impermeable and meet the anti-corrosion standards set in <a href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030219423">British Standard 5502-50:1993+A2:2010</a>. They should last for at least 20 years with maintenance.</p> 

<p>The base and walls of your slurry tank and any reception pit must withstand the wall loadings set in the <a href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030219423">standard</a>.</p> 

<p>You're responsible for making sure your storage and maintenance complies with the rules - get advice from the Environment Agency, a suitably experienced consultant or engineer if you need it.</p> 

<p>You should get written confirmation from your supplier that the system meets these standards.</p> 

<h3 class="govuk-heading-s">Minimum capacity for slurry stores</h3> 

<p>Freeboard is the vertical distance between the crest of your tank or lagoon and the slurry surface.</p> 

<p>When you calculate the required capacity of your steel or concrete store you'll need to include a minimum of 300 millimetres (mm) of freeboard. For earth-banked stores you'll need a minimum of 750mm and you must maintain this freeboard during use.</p> 

<p>You must have capacity for at least 4 months' slurry storage - this depends on how much slurry you use, the size of your tanks and likely quantities of rainfall. If your farm is in a <a href="https://www.gov.uk/guidance/storing-organic-manures-in-nitrate-vulnerable-zones">nitrate vulnerable zone</a> you must have 5 or 6 months' storage. It is strongly recommended that you size any new slurry store for at least 6 months storage capacity.</p>

<p>Use a recognised tool such as the <a href="https://ahdb.org.uk/knowledge-library/slurry-wizard">AHDB Slurry Wizard</a> to work out how much slurry storage you need so that based on your slurry production and estimated rainfall.</p> 

<p>Any temporary storage facilities you have - such as a reception pit — must be large enough to store a minimum of 2 days' combined slurry production and likely rainfall.</p> 

<h3 class="govuk-heading-s">Drainage pipes</h3> 

<p>Slurry tanks, effluent tanks or reception pits fitted with a drainage pipe must have 2 valves separated by at least 1m. Each valve must be able to shut off the flow of slurry and be locked when it's not in use.</p>

<h3 class="govuk-heading-s">Earth-banked slurry stores</h3> 

<p>Earth-banked stores must have impermeable soil with at least 1m thickness. You may need laboratory analysis and confirmation from a civil engineer to be sure your soil is suitable. Alternatively, you can import impermeable soil or use a synthetic liner.</p>

<p>The permeability of your compacted soil must be less than 1 x 10-9 metres per second (0.000001 mm per second). Testing should be to <a href="http://shop.bsigroup.com/ProductDetail?pid=000000000000227786">BS 1377-6:1990</a> or to <a href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030229304">BS EN 1997-2:2007</a>.</p>

<h3 class="govuk-heading-s">Weeping-wall stores</h3> 

<p>The base of a weeping-wall store must extend beyond its walls and include perimeter drains to catch escaped slurry and drain into an effluent tank.</p>

<h3 class="govuk-heading-s">Roofing slurry stores</h3> 

<p>Consider roofing any slurry or FYM stores to minimise the amount of rainwater you collect, store and spread. This will also minimise ammonia emissions.</p>
 
<h3 class="govuk-heading-s">Once you've built your storage</h3> 

<p>You must routinely check and maintain your slurry store to:</p> 

<ul class="govuk-list govuk-list--bullet">

  <li>prevent leaks and failures</li>  

  <li>make sure there's no risk of pollution</li> 

</ul>

<p>Have a contingency plan for how you would manage if you were unable to spread, for example due to bad weather.</p>

<h2 id="storage-which-is-exempt-from-building-rules" class="govuk-heading-m">Storage which is exempt from building rules</h2>

<p>Your installation is exempt from the rules for new stores if you:</p> 

<ul class="govuk-list govuk-list--bullet">

  <li>built it before March 1991</li> 

  <li>entered into a contract for construction before March 1991 and completed before September 1991</li> 

</ul>

<p>However, it is no longer exempt if you make substantial changes — for example structural changes, increasing capacity or relocating your store.</p>

<h3 class="govuk-heading-s">Temporary storage</h3> 

<p>The rules do not apply to slurry you store temporarily in a tanker for transportation on roads or on a farm.</p> 

<h2 id="tell-the-environment-agency-about-your-planned-new-or-changed-slurry-storage" class="govuk-heading-m">Tell the Environment Agency about your planned new or changed slurry storage</h2> 

<p>You must <a href="https://wwww.gov.uk/government/organisations/environment-agency#org-contacts">contact the Environment Agency</a> at least 14 days before you build new storage for slurry or make substantial changes to an existing store. You should tell them about your planned new or changed storage as early in the planning process as possible. You can also contact them for <a href="https://wwww.gov.uk/government/organisations/environment-agency#org-contacts">advice on planning and building a store</a>.</p>

<p>You'll need to supply the following when you contact the Environment Agency so they can assess your proposal:</p> 

<ul class="govuk-list govuk-list--bullet">

  <li>your name, address, telephone number and email address</li> 

  <li>the type of store you're proposing to build or change</li>

  <li>the OS grid reference of your slurry store (in the format 2 letters and 10 numbers)</li> 

</ul>

<p>You may also need to supply:</p> 

<ul class="govuk-list govuk-list--bullet">

  <li>a site plan drawing of the structure</li> 

  <li>a design drawing confirming the materials that will be used and their design, specification and layout - you may also be asked to confirm that your design meets the requirements of <a href="http://adlib.everysite.co.uk/adlib/defra/content.aspx?id=000HK277ZW.0A77C9S1P6U6XET">BS 5502</a></li>

  <li>if you plan to use prefabricated products, a copy of the manufacturer's specifications and guarantee</li> 

  <li>if the structure is constructed from earth, analysis about the soil type, depth and permeability and a description of how it will be engineered</li> 

</ul>

<p>The Environment Agency may contact you to offer you guidance on changes you need to make to your installation before they can agree to it.</p> 

<h2 id="if-you-need-help" class="govuk-heading-m">If you need help</h2> 

<p><a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Get in touch with the Environment Agency</a> if you need advice.</p> 

<p>The Environment Agency can also help make sure you avoid committing an offence.</p> 

<p>If your farm is in a nitrate vulnerable zone (NVZ) there are <a href="https://www.gov.uk/guidance/storing-organic-manures-in-nitrate-vulnerable-zones">extra rules for storing organic manures</a>. You can <a href="https://www.gov.uk/guidance/nutrient-management-nitrate-vulnerable-zones">check if your farm is in an NVZ</a>.</p> 

<h2 id="if-you-are-served-notice" class="govuk-heading-m">If you're served a notice under the Silage, Slurry and Agricultural Fuel Oil (SSAFO) regulations</h2>

<p>Find out what to do if you're served a notice to improve storage or reduce the risk of pollution and how to appeal.</p> 

<h2 id="view-the-legislation" class="govuk-heading-m">View the legislation</h2> 

<p><a href="https://www.legislation.gov.uk/uksi/2010/639/contents/made">The Water Resources (Control of Pollution) (Silage, Slurry and Agricultural Fuel Oil) (England) Regulations 2010</a> - also known as SSAFO regulations</p>

<p>Other legislation around slurry:</p> 

<ul class="govuk-list govuk-list--bullet">

<li><a href="https://www.gov.uk/guidance/rules-for-farmers-and-land-managers-to-prevent-water-pollution">Farming rules for water</a></li> 

<li><a href="https://www.gov.uk/guidance/groundwater-source-protection-zones-spzs">Groundwater source protection zones</a></li> 

<li><a href="https://www.gov.uk/government/collections/groundwater-protection">Groundwater protection</a></li> 

<li><a href="https://www.gov.uk/government/collections/nitrate-vulnerable-zones">Nitrate vulnerable zones</a></li> 

</ul>





      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

  <!--    {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }}

      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>-->

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="rules-collection">
                Rules for farmers and land managers
              </a>
            </li>

          </ul>
        </nav>
      </aside>

    </div>


</div>





    </div>
  </div>

{% endblock %}
