{% extends "../layouts/GUIDANCEnvznitrogen.html" %}

{% block guidance %}

<html>
  <html><head>


    <div class="govspeak-preview-output">

      <article>

    <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

<h2 id="fertilisers-that-contain-nitrogen" class="govuk-heading-m">Fertilisers that contain nitrogen</h2>

<p class="govuk-body">Nitrogen fertilisers can be manufactured (inorganic, bagged) fertilisers that you buy, other materials containing nitrogen (like waste soil) or organic manures that you produce or bring on to your holding.

<p class="govuk-body">Organic manures come from animals, plants or humans. They include:</p>
  <ul class="govuk-list govuk-list--bullet">

<li>slurry</li>
<li>poultry manures</li>
<li>solid manures (such as farmyard manure, sludge cake or compost)</li>
<li>sewage sludge (also called biosolids)</li>
<li>other liquid manures (such as abattoir waste or anaerobic digestate)</li>

</ul>

    <p class="govuk-body">There’s a limit on the average amount of manufactured fertiliser and crop-available nitrogen from organic manure that you can apply to most crops each year - this is known as the N-max limit.</p>

    <table>
      <tbody>
        <tr>
          <td>Crop</td>
          <td>N-max limit (kilograms of nitrogen per hectare)</td>
          <td>Standard crop yield (tonnes per hectare)</td>
        </tr>
        <tr>
          <td>Autumn or early winter-sown wheat</td>
          <td>220</td>
          <td>8</td>
        </tr>
        <tr>
          <td>Spring-sown wheat</td>
          <td>180</td>
          <td>7</td>
        </tr>
        <tr>
          <td>Winter barley</td>
          <td>180</td>
          <td>6.5</td>
        </tr>
        <tr>
          <td>Spring barley</td>
          <td>150</td>
          <td>5.5</td>
        </tr>
        <tr>
          <td>Winter oilseed rape</td>
          <td>250</td>
          <td>3.5</td>
        </tr>
        <tr>
          <td>Sugar beet</td>
          <td>120</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Potatoes</td>
          <td>270</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Forage maize</td>
          <td>150</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Field beans</td>
          <td>0</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Peas</td>
          <td>0</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Grass</td>
          <td>300</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Asparagus, carrots, radishes, swedes, individually or in any combination</td>
          <td>180</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Celery, courgettes, dwarf beans, lettuce, onions, parsnips, runner beans, sweetcorn, turnips individually or in any combination</td>
          <td>280</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Beetroot, brussels sprouts, cabbage, calabrese, cauliflower, leeks individually or in any combination</td>
          <td>370</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>

    <h2 id="crops-that-you-can-apply-more-nitrogen-to" class="govuk-heading-m">When you can apply more nitrogen</h2>

    <p class="govuk-body">You can apply more nitrogen to some crops if your expected yield is higher than the ‘standard crop yield’ shown in the table.</p>

    <p class="govuk-body">You can use an additional 80kg of nitrogen a hectare if you’ve used straw or paper sludge on the previous or current crop.</p>

    <h3 id="wheat-and-barley" class="govuk-heading-s">Apply more nitrogen to wheat and barley</h3>

    <p class="govuk-body">For wheat and barley, you can use an additional 20kg of nitrogen a hectare for every tonne that the expected yield exceeds the standard yield.</p>

    <p class="govuk-body">On milling wheat varieties, you can use an additional 40kg of nitrogen a hectare.</p>

    <p class="govuk-body">On autumn and winter-sown wheat and winter barley you can use an additional 20kg of nitrogen a hectare on fields with a shallow soil type (except on shallow soils over sandstone).</p>

    <h3 id="winter-oilseed-rape" class="govuk-heading-s">Apply more nitrogen to winter oilseed rape</h3>

    <p class="govuk-body">On winter oilseed rape you can use up to 250kg of nitrogen a hectare. This includes a maximum autumn application of 30kg of manufactured nitrogen fertiliser a hectare.</p>

    <p class="govuk-body">If you use 30kg of nitrogen a hectare in the autumn, you can only use up to 220kg of nitrogen a hectare in the spring. You can increase this by an additional 30kg of nitrogen a hectare for every half tonne that the expected yield exceeds the standard yield.</p>

    <h3 id="grass" class="govuk-heading-s">Apply more nitrogen to grass</h3>

    <p class="govuk-body">On grass that’s cut at least 3 times in a year, you can use an additional 40kg of nitrogen a hectare.</p>

    <p class="govuk-body">You can use nitrogen up to the level recommended in writing by a <a rel="external" href="http://basis-reg.co.uk/Schemes/FACTS/About-FACTS">FACTS-qualified adviser</a> if you’re growing grass to achieve a protein content of at least 16% in the dried product.</p>

    <p class="govuk-body">If the land is irrigated, you must not use more than 700kg of nitrogen a hectare. If the land isn’t irrigated, you must not use more than 500kg of nitrogen a hectare.</p>

    <p class="govuk-body">In subsequent years, you must sample these fields between 1 September and 31 October for soil mineral nitrogen levels and give your FACTS-qualified adviser the results.</p>

    </div>

</html>

{% endblock %}
