{% extends "layouts/main.html" %}

{% block pageTitle %}
  Storing manure, slurry or silage
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Environment",
        href: "#"
      },
      {
        text: "Food and farming",
        href: "farming-and-land-management"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-caption-xl c-title__context">
        Collection
      </p>
      <h1 class="govuk-heading-xl">
        Storing manure, slurry or silage
      </h1>

      <p class="gem-c-lead-paragraph">Rules farmers and land managers must follow to store or build storage for manure, slurry and silage.</p>


      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#storing-manure">
                Storing manure
              </a>
            </li>
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                <a href="#building-new-or-improving-existing-slurry-stores">
                  Building new or updating slurry storage
                </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#keeping-livestock-outside">
                Keeping livestock outside
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#building-silage-clamp">
                Building new or improving your existing silage clamps or pits
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#ea-inspections">
                Environment Agency farmyard inspections
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">



      <p>You must avoid causing pollution from your farming activities.</p>

      <p>These are legal requirements to protect the environment. The Environment Agency enforces the rules around storing slurry and silage. They may offer advice and instructions to change how you deal with slurry or silage. You can be fined or prosecuted if you break the law.</p>

      <h2 id="storing-manure" class="govuk-heading-m">
        Storing manure
      </h2>

      <p>You can store manure in a temporary field heap if it is ‘stackable’ and does not slump. You must follow extra rules when you store manure in areas at risk from agricultural nitrate pollution. </p>

      <ul class="govuk-list">

            <li class="govuk-!-margin-bottom-3">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <a href="storing-manure">Storing manure</a><br>
            April 2024 Guidance
          </li>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
              <li class="govuk-!-margin-bottom-3">

                <a class="govuk-link" href="https://www.gov.uk/guidance/storing-organic-manures-in-nitrate-vulnerable-zones">Storing manure in a nitrate vulnerable zone</a>
                <p>10 August 2015 Guidance</p>

            </li>
      </ul>

      <h2 id="building-new-or-improving-existing-slurry-stores" class="govuk-heading-m">
        Building new or updating slurry storage
      </h2>
      <p>You must build new storage or update an existing store to meet building standards and storage capacity rules.  </p>

      <ul class="govuk-list">
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    <li class="govuk-!-margin-bottom-3">

                      <a class="govuk-link" href="building-slurry-stores">Building new or updating slurry stores</a><br>
                      <p>March 2024    Guidance</p>

                  </li>
        </ul>

        <h2 id="keeping-livestock-outside" class="govuk-heading-m">
            Keeping livestock outside
        </h2>

        <p>If you keep livestock outside, you must take measures to avoid water pollution. Also includes rules that limit where you can put animal feeders.</p>

        <ul class="govuk-list">
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                      <li class="govuk-!-margin-bottom-3">

                        <a class="govuk-link" href="keeping-livestock-outside">Keeping livestock outside: prevent soil erosion
                        </a><br>
                        <p>March 2024    Guidance</p>

                    </li>
          </ul>

          <h2 id="building-silage-clamp" class="govuk-heading-m">
            Building new or improving your existing silage clamps or pits
          </h2>

          <p>You must build new storage or update an existing store to meet building standards and store silage effluent safely.</p>

          <ul class="govuk-list">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <li class="govuk-!-margin-bottom-3">

                          <a class="govuk-link" href="building-silage-stores">Building new or improving existing silage clamps or pits
                          </a><br>
                          <p>March 2024    Guidance</p>

                      </li>
            </ul>


            <h2 id="ea-inspections" class="govuk-heading-m">
              Environment Agency farmyard inspections
            </h2>

            <p>What to expect from an EA inspection.</p>

            <ul class="govuk-list">
                  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                          <li class="govuk-!-margin-bottom-3">

                            <a class="govuk-link" href="https://www.gov.uk/guidance/environmental-protection-inspection">Environmental protection inspection
                            </a>
                            <p>12 January 2016   Guidance</p>

                        </li>
              </ul>



     <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

  <!--    {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }}

      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>-->

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="rules-collection-3">
                Rules for farmers and land managers
              </a>
            </li>

            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>


</div>


{% endblock %}
