{% extends "layouts/main.html" %}

{% block pageTitle %}
  Storing manure
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Environment",
        href: "#"
      },
      {
        text: "Food and farming",
        href: "farming-and-land-management"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-caption-xl c-title__context">
        Guidance
      </p>
      <h1 class="govuk-heading-xl">
        Storing manure
      </h1>

      <p class="gem-c-lead-paragraph">Find out the rules about storing manure on your farm.</p>


      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#using-slurry-separator">
                Using a mechanical slurry separator
              </a>
            </li>
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                <a href="#using-slurry-separator">
                  Who deals with odour or flies from manure heaps
                </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#source-legislation">
                Source legislation
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">

      <p>Farmyard manure (FYM) can be stored in a temporary field heap provided that it is:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>‘stackable’ and does not slump</li>
        <li>stored at least 10m from any inland freshwaters or coastal waters</li>
        <li>50m from any spring, well or borehole</li>
        <li>not stored anywhere where it may cause a significant risk of diffuse pollution</li>
      </ul>

      <p>FYM can be stored in a yard on an impermeable surface provided that any runoff is collected and stored as slurry. You must take into account the risk of runoff when deciding where to store manure.</p>

      <h2 id="using-slurry-separator" class="govuk-heading-m">Using a mechanical slurry separator</h2>

      <p>If you <a href="https://www.gov.uk/guidance/using-a-mechanical-slurry-separator-to-manage-your-slurry">use a mechanical slurry separator</a> you need to store and spread the separated liquid as slurry. </p>

      <h2 id="who-deals-with-odour-from-manure" class="govuk-heading-m">Who deals with odour or flies from a manure heap</h2>

      <p>Odour or flies from a field heap would be considered a statutory nuisance. This is regulated by the local council.</p>

      <h2 id="source-legislation" class="govuk-heading-m">Source legislation</h2>

      <p>These rules are from:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          The Reduction and Prevention of Agricultural Diffuse Pollution (England) Regulations 2018
        </li>
      </ul>


     <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

  <!--    {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }}

      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>-->

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="rules-collection-3">
                Rules for farmers and land managers
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/guidance/using-a-mechanical-slurry-separator-to-manage-your-slurry">
                Using a mechanical slurry separator to manage your slurry
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>









{% endblock %}
