{% extends "layouts/main.html" %}

{% block pageTitle %}
  Storing manure
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Environment",
        href: "#"
      },
      {
        text: "Food and farming",
        href: "farming-and-land-management"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-caption-xl c-title__context">
        Guidance
      </p>
      <h1 class="govuk-heading-xl">
        Storing manure
      </h1>

      <p class="gem-c-lead-paragraph">Rules farmers and land managers must follow to store manure.</p>


      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#">
                Page 1
              </a>
            </li>
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              Page 2
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#">
                Page 3
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">



      <p>You must avoid causing pollution from your farming activities.</p>

      <p>These are legal requirements to protect the environment. The Environment Agency enforces the rules around slurry. They may offer advice and instructions to change how you deal with slurry. You can be fined or prosecuted if you break the law.</p>

      <h2 id="storing-manure" class="govuk-heading-m">
        Storing manure
      </h2>

      <p>You can store manure in a temporary field heap if it is ‘stackable’ and does not slump.</p>

      <ul class="govuk-list">

            <li class="govuk-!-margin-bottom-3">
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <a href="storing-manure">Storing manure</a><br>
            April 2024 Guidance
          </li>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
              <li class="govuk-!-margin-bottom-3">

                <a class="govuk-link" href="https://www.gov.uk/government/collections/keeping-cattle-bison-and-buffalo-in-england-and-wales">Keeping cattle, bison and buffalo in England and Wales</a>

            </li>
        </ul>

Storing manure

DATE      Guidance

Storing manures in a nitrate vulnerable zone

10 August 2015    Detailed guide



Building new or improving existing slurry stores

You must build new storage or update an existing store to meet building standards and storage capacity rules.

Building new or updating slurry storage

March 2024         Guidance

Farming in a nitrate vulnerable zone

You must follow extra rules when you store slurry and manure in an area at risk from agricultural nitrate pollution. For example, you must have more storage capacity.

Nitrate vulnerable zones

2 August 2018        Collection

Keeping livestock outside

If you keep livestock near watercourses, you must take measures to avoid pollution. Also covers rules around where you can put animal feeders.

Keeping livestock outside: prevent soil erosion

22 March 2024   Guidance



Building new or improving your existing silage clamps or pits

You must build new storage or update an existing store to meet building standards and store silage effluent safely.

Building new or improving existing silage clamps or pits

22 March 2024   Guidance





Environment Agency farmyard inspections

What to expect from an EA inspection.



Environmental protection inspection (not sure if this is up-to-date – opportunity to improve?)

12 January 2016   Guidance

slurry-apr-24.txt
cblakejoiner@outlook.com. Press tab to insert.Displaying slurry-apr-24.txt.</p>

     <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

  <!--    {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }}

      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>-->

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="rules-collection-3">
                Rules for farmers and land managers
              </a>
            </li>

            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>









{% endblock %}
