{% extends "./layouts/GUIDANCEpoultry.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">


  <h2 id="who-must-test-for-salmonella">Who must test for salmonella</h2>

  <p>Egg producers who keep 350 or more laying hens of the same species at any time in 12 months.</p>

  
  <h2 id="why-do-you-need-to-test">Why do you need to test</h2>

  <p>It is part of the national control programme (NCP) to reduce salmonella in poultry.</p>

  <p>Other countries in Europe operate similar schemes. If you’re importing hatching eggs or day old chicks from Europe,
    check they’ve completed salmonella testing.</p>
  
  <h2 id="when-to-test-for-salmonella">When to test for salmonella</h2>

  <p>You must test:</p>

  <ul>
    <li>
      <p>chicks on the day they arrive from a hatchery</p>
    </li>
    <li>
      <p>pullets (young hens or rearing hens) 2 weeks before you move them to the laying unit</p>
    </li>
    <li>
      <p>adult hens every 15 weeks during the laying period - start when they are 22 to 26 weeks old</p>
    </li>
  </ul> 

    <h3 id="when-your-flock-does-not-need-tested-for-salmonella">When not to test for salmonella</h3>

  <p>You do not need to test if:</p>

  <ul>
    <li>
      <p>you produce eggs for private domestic use (as they do not enter the market)</p>
    </li>
    <li>
      <p>you have fewer than 350 laying hens and supply the consumer direct (such as through farm-gate sales or local
        retailers)</p>
    </li>
    <li>
      <p>your flock is already under official salmonella restrictions after a positive test (in this situation the flock
        is not part of the national control programme (NCP) as you cannot sell your eggs)</p>
    </li>
  </ul>

  <h2 id="what-you-must-do">What you must do</h2>

  <h3 id="what-you-must-report-to-APHA">Tell APHA before laying hens arrive</h3>
  <p>
    You must tell <a href="https://www.gov.uk/government/organisations/animal-and-plant-health-agency/about/access-and-opening#animal-health-and-welfare-services">APHA</a> or DAERA before a laying flock of 250 hens arrives at your holding</p>

    <h3 id="what-you-must-report-to-APHA">Tell APHA before laying hens arrive</h3>
    <p>
      You must tell <a href="https://www.gov.uk/government/organisations/animal-and-plant-health-agency/about/access-and-opening#animal-health-and-welfare-services">APHA</a> or DAERA before a laying flock of 250 hens arrives at your holding</p>
  
  
  
    <h3 id="before-you-can-test-for-salmonella">Before you test for salmonella</h3>

  
  
  
  <p>If you are new to keeping hens for egg laying, you need to:</p>

  <ul>
    <li>
      <li>
        <p><a href="https://www.gov.uk/government/publications/poultry-including-game-birds-registration-rules-and-forms">register the premises where you keep your flocks</a> if you have not already done this</p>
      </li>
      <li>
        <p>choose an <a href="https://www.gov.uk/government/collections/defra-approved-laboratories-salmonella-poultry-health-animal-by-products-and-rabies">approved laboratory in the UK</a></p>
      </li>
      <p>ask your vet or testing laboratory for advice on sampling plans and training staff to take the samples
        correctly</p>
    </li>
    <li>
      <p>make use of other training initiatives like <a href="https://www.liontrainingpassport.co.uk">Lion Training Passport</a></p>
    </li>
    <li>
      <p>work out how many flocks you have to sample, flocks are groups of birds that share the same shed or air space and all birds in the flock will be affected if you have a positive result</p>
    </li>
    <li>
      <p>get the sampling kit (ask your vet, laboratory, APHA or DAERA in Northern Ireland what you need)
      </p>
    </li>
    
  </ul>

  <h3 id="take-samples">Take samples</h3>

  <p>You must collect samples, label and send to the laboratory for testing.</p>

  <h3 id="make-sure-you-do-not-collect-samples-after-giving-antibiotics">Avoid taking samples after
    giving antibiotics</h3>

<p>Avoid taking samples while, or shortly after, giving your laying hens antimicrobials (antibiotics) that affect
    salmonella. APHA or DAERA could consider your flock to be positive for salmonella if:</p>

<ul>
    <li>
        <p>inspectors see from the flock medicine book that you’ve given antibiotics that affect salmonella within
            14 days before NCP testing</p>
    </li>
    <li>
        <p>the laboratory suspects that there may be disinfectant or antibiotics affecting your samples</p>
    </li>
</ul>

<p>To find out when you can sample after giving antibiotics, ask:</p>

<ul>
    <li>
        <p>the vet who prescribed them</p>
    </li>
    <li>
        <p><a>APHA</a> in England, Scotland and Wales</p>
    </li>
    <li>
        <p><a rel="external" href="https://www.daera-ni.gov.uk/contact">DAERA</a> in Northern Ireland</p>
    </li>
</ul>

<h3 id="prepare-to-take-samples">Prepare to take samples</h3>

<p>Gather all the equipment you’re going to need before you go into the laying house, to prevent contamination
    before, during and after sampling. Take care if you keep other animals (especially other poultry, pigs or
    cattle) on your premises.</p>


  <h3 id="collect-samples-from-chicks-on-the-day-they-arrive-from-the-hatchery">Collect samples from chicks on the day
    they arrive from the hatchery</h3>

  <p>You should test:</p>

  <ul>
    <li>
      <p>the liners (chick papers) from boxes used to deliver the chicks - one box for every 500 chicks from each
        delivery (up to 10 boxes)</p>
    </li>
    <li>
      <p>any chicks that are dead on arrival (up to 60 from each hatchery)</p>
    </li>
  </ul>

  <h3 id="collect-samples-from-pullets-2-weeks-before-you-move-them-to-the-laying-unit">Collect samples from pullets 2
    weeks before you move them to the laying unit</h3>

  <p>You should test:</p>

  <ul>
    <li>
      <p>2 pairs of <a href="#how-to-take-boot-swab-samples">boot swabs</a> (fabric overshoes) for your floor-reared
        birds</p>
    </li>
    <li>
      <p>60g of a <a href="#how-to-take-composite-faeces-samples">composite faeces sample</a></p>
    </li>
  </ul>

  <p>Composite means the faeces are from many birds in the flock.</p>

  <h3 id="collect-samples-from-your-adult-egg-laying-hens-every-15-weeks-during-the-laying-period">Collect samples from
    your adult egg-laying hens every 15 weeks during the laying period</h3>

  <p>If officials collect routine samples during the laying period, you do not need to test again for 15 weeks.</p>

  <p>You must start to take samples from adult egg-laying hens in the layer unit or house when they’re 22 to 26 weeks
    old.</p>

  <p>For barn or free-range flocks, you should test:</p>

  <ul>
    <li>
      <p>2 pairs of <a href="#how-to-take-boot-swab-samples">boot swabs</a> when not part of a multi-tier system</p>
    </li>
    <li>
      <p>1 pair of <a href="#how-to-take-boot-swab-samples">boot swabs</a> and one or more <a
          href="how-to-take-hand-held-faecal-swab-samples">hand-held faecal swabs</a> when part of a multi-tier system
      </p>
    </li>
  </ul>

  <p>For cage flocks, you should test:</p>

  <ul>
    <li>
      <p>2 <a href="#how-to-take-composite-faecal-samples">composite faeces samples</a> of 150g each for houses with
        scrapers or belt cleaners</p>
    </li>
    <li>
      <p>one or more <a href="how-to-take-fabric-swab-samples">fabric swabs</a> for houses without scrapers or belt
        cleaners</p>
    </li>
  </ul>

  <h3 class="govuk-heading-m">How to take samples</h3>
<p> </p>

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span id="how-to-take-boot-swab-samples" class="govuk-details__summary-text">
        Take boot swab samples
      </span>
    </summary>
    <div class="govuk-details__text">
      <p>Take samples from the existing litter. Do not put new litter down in the 2 days before sampling.</p>

      <p>You will need:</p>
  
      <ul>
          <li>
              <p>disposable plastic overboots - put these on only after you’ve walked through any disinfectant boot-dip
              </p>
          </li>
          <li>
              <p>one or 2 pair(s) of boot swabs</p>
          </li>
          <li>
              <p>tap water or bottled still water to moisten boot swabs - do not use sparkling water or water treated with
                  antibacterial agents or acids</p>
          </li>
          <li>
              <p>disposable plastic gloves - do not use hand sanitiser as it could affect your sample</p>
          </li>
          <li>
              <p>leak-proof sealable bags or sample pots</p>
          </li>
          <li>
              <p>packaging for sending your sealable bags or sample pots to the laboratory</p>
          </li>
      </ul>
  
      <p>To take samples from each flock:</p>
  
      <ol class="steps">
          <li>
              <p>Take one or 2 pair(s) of boot swabs for each flock, depending on your sampling method.</p>
          </li>
          <li>
              <p>Moisten the boot swabs (if not already moist) with the tap water or bottled still water.</p>
          </li>
          <li>
              <p>For 2 pairs of boot swabs, divide the house into 2 equal parts for sampling and use one pair of boot
                  swabs in each part. For one pair of boot swabs, walk round the whole house.</p>
          </li>
          <li>
              <p>Take at least 100 steps with each pair of boot swabs, walking round the entire area to be sampled.</p>
          </li>
          <li>
              <p>Drag your feet on the floor as you’re walking, to pick up as much material as you can.</p>
          </li>
          <li>
              <p>If the house is divided into several pens, spend more time in the larger pens and less in the smaller
                  pens to make sure every pen is included in the sampling.</p>
          </li>
          <li>
              <p>When you’ve finished sampling, take the boot swabs off and carefully turn them inside out so that the
                  faeces you’ve collected stay on them.</p>
          </li>
          <li>
              <p>Put the boot swabs in a sample pot or sealable bag.</p>
          </li>
          <li>
              <p>Label each container carefully, ready to send to the laboratory.</p>
          </li>
      </ol>
  
    </div>
  </details>
  <details id="how-to-take-composite-faeces-samples" class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Take composite faeces samples
      </span>
    </summary>
    <div class="govuk-details__text">
      <p>You will need:</p>

    <ul>
        <li>
            <p>disposable plastic gloves - do not use hand sanitiser as it could affect your sample</p>
        </li>
        <li>
            <p>inverted bags or spatula to collect the samples</p>
        </li>
        <li>
            <p>leak-proof sealable bags or sample pots for faeces or swabs</p>
        </li>
        <li>
            <p>packaging for sending your sealable bags or sample pots to the laboratory</p>
        </li>
    </ul>

    <h4 id="take-composite-faeces-samples-from-dropping-belts-or-scrapers">Take composite faeces samples from dropping
        belts or scrapers</h4>

    <p>To get a representative and fresh sample you should:</p>

    <ul>
        <li>
            <p>run belts or scrapers just before you take the samples</p>
        </li>
        <li>
            <p>collect faeces from scrapers at the discharge ends of the dropping belts on every row and tier of the
                cages</p>
        </li>
    </ul>

    <h4 id="take-composite-faeces-samples-without-dropping-belts-or-scrapers">Take composite faeces samples without
        dropping belts or scrapers</h4>

    <p>If there are no belts, you must collect samples from cages or across the area of the dropping pit. Make sure the
        material you collect is representative of the whole house.</p>

    <p>For sampling young birds:</p>

    <ol class="steps">
        <li>
            <p>Collect at least 60 individual samples of faeces that weigh at least 1 gram.</p>
        </li>
        <li>
            <p>Send the whole sample (at least 60g of faeces) in a pot or sealable bag to the laboratory.</p>
        </li>
    </ol>

    <p>For sampling adult birds:</p>

    <ol class="steps">
        <li>
            <p>Collect 2 samples of at least 150g faeces each (150g is about the amount that would fit in a coffee mug).
            </p>
        </li>
        <li>
            <p>Collect samples of mixed fresh faeces from at least 60 different places beneath the cages in the dropping
                pits.</p>
        </li>
        <li>
            <p>Send the samples in a pot or sealable bag to the laboratory.</p>
        </li>
    </ol>

    </div>
  </details>
  <details id="how-to-take-fabric-swab-samples" class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        <p>How to take fabric swab samples</hp>
      </span>
    </summary>
    <div class="govuk-details__text">
      <p>You will need:</p>

      <ul>
          <li>
              <p>one or more fabric swabs with a total surface area of at least 900 sq cms</p>
          </li>
          <li>
              <p>tap water or bottled still water for moistening fabric swabs which are not already pre-moistened - do not
                  use sparkling water or water treated with antibacterial agents or acids</p>
          </li>
          <li>
              <p>disposable plastic gloves - do not use hand sanitiser as it could affect your sample</p>
          </li>
          <li>
              <p>leak-proof sealable bags or sample pots</p>
          </li>
          <li>
              <p>packaging for sending your sealable sample bags or sample pots to the laboratory</p>
          </li>
      </ul>
  
      <p>To take the fabric swab samples:</p>
  
      <ol class="steps">
          <li>
              <p>Put on new plastic gloves - make sure you don’t contaminate them with disinfectant.</p>
          </li>
          <li>
              <p>Open out the fabric swabs.</p>
          </li>
          <li>
              <p>If not already moistened, moisten the fabric swabs with the tap water or bottled still water.</p>
          </li>
          <li>
              <p>Run belts or scrapers just before you take the samples.</p>
          </li>
          <li>
              <p>Swab as large an area as possible at the discharge end of all accessible belts, scrapers and belt
                  cleaners.</p>
          </li>
          <li>
              <p>Make sure both sides of the swab are completely covered in faeces.</p>
          </li>
         <li>
              <p>Place the swabs into sealable bags or sample pots to send to the laboratory.</p>
          </li>
      </ol>
    </div>
  </details>

  <h3 id="label-samples">Label samples</h3>

    <p>On each label, you must include:</p>

    <ul>
        <li>
            <p>the unique identifier of the specific flock</p>
        </li>
        <li>
            <p>house name or number</p>
        </li>
        <li>
            <p>month and year you moved the flock into that house</p>
        </li>
    </ul>

    <p>On the label, or the laboratory’s submission form or system, provide:</p>

    <ul>
        <li>
            <p>the type(s) of sample taken</p>
        </li>
        <li>
            <p>date you took the sample</p>
        </li>
        <li>
            <p>registration number, County Parish Holding (CPH) number, or DAERA flock number</p>
        </li>
        <li>
            <p>name and address of the flock’s premises</p>
        </li>
        <li>
            <p>age of the flock</p>
        </li>
        <li>
            <p>contact details of the person sending the sample</p>
        </li>
    </ul>

    <p>If you use a fabric bootswab as a hand swab, you must make sure that this is accurately labelled, so that the
        laboratory can properly identify the type of sample in its report.</p>
        <h3 id="send-samples-to-a-uk-approved-laboratory">Send samples to a UK approved laboratory</h3>

        <p>You should send your samples on the day you collect them. If you do not send them within 24 hours you must
            refrigerate them at 2 to 8°C. Samples must be sent within 48 hours. You must not freeze samples.</p>
    
        <p>Check that the laboratory can start testing your samples within 4 days of sampling.</p>
    
        <div class="call-to-action">
            <p>You will need to send more samples if your samples are delayed, or the laboratory cannot meet the testing
                deadline.</p>
        </div>
    
        <h3 id="get-your-test-results">When you get your test results</h3>
    
        <p>The laboratory will send your results to:</p>
    
        <ul>
            <li>
                <p>the person who sent the sample or the registered owner of the sampled flock</p>
            </li>
            <li>
                <p>APHA or DAERA - if the sample tests positive for salmonella (this may be referred to as a Zoonoses Order
                    or a ZO2 notification by some laboratories)</p>
            </li>
        </ul>


        

  <h3 id="keep-records">Keep records</h3>

  <p>You must keep records for at least 2 years.</p>

  <h4 id="keep-salmonella-test-records">Keep salmonella test records</h4>

  <p>For each sample you must record the:</p>

  <ul>
    <li>
      <p>date you took the sample</p>
    </li>
    <li>
      <p>flock identification (this is the flock’s house name or number, and the month and year the flock moved into the
        house)</p>
    </li>
    <li>
      <p>type(s) of sample (such as boot swabs or pooled faeces)</p>
    </li>
    <li>
      <p>age of the flock sampled (there may be more than one age if the sample is from a multi-age house)</p>
    </li>
    <li>
      <p>laboratory that tested the sample</p>
    </li>
    <li>
      <p>test result</p>
    </li>
  </ul>

  <h4 id="keep-movement-records">Keep movement records</h4>

  <p>You need to record any movement of birds or eggs (except eggs for human consumption) to or from your premises. For
    each movement record the:</p>

  <ul>
    <li>
      <p>date (month and year) the flock moved on to or off your premises</p>
    </li>
    <li>
      <p>number of birds or eggs</p>
    </li>
    <li>
      <p>age of the birds</p>
    </li>
    <li>
      <p>house name or number</p>
    </li>
    <li>
      <p>address that the birds or eggs moved from (including the building name or number)</p>
    </li>
    <li>
      <p>address that the birds or eggs moved to (including the building name or number)</p>
    </li>
  </ul>

  <h4 id="keep-medication-records">Keep medication records</h4>

  <p>You must record the:</p>

  <ul>
    <li>
      <p>medicines used</p>
    </li>
    <li>
      <p>dose rate</p>
    </li>
    <li>
      <p>start and end date of treatment</p>
    </li>
    <li>
      <p>route of administration</p>
    </li>
    <li>
      <p>end date of the withdrawal period</p>
    </li>
  </ul>

  <h2 id="what-happens-if-your-samples-test-positive-for-salmonella">What happens if your samples test positive for
    salmonella</h2>

  <p>Restrictions to your flocks and premises may apply.</p>

  <p>You will need to inform your vet of the positive result, if the testing laboratory does not do this automatically.
  </p>

  <p>APHA representatives will contact you. Talk to your own advisers from Lion or your egg packers to work out the best
    option for your business.</p>

  <p>In England, Scotland and Wales, if you suspect the result may have been due to an error (for example contamination
    of the original sample), you or your vet should contact APHA. If APHA agree, they will collect official confirmatory
    samples.</p>

  <p>If confirmatory testing is completed, APHA may ask you to cull 5 birds. They’ll take the carcases and store their
    organs when they collect confirmatory samples. They may use these to test for the presence of antibiotics if the
    confirmatory test is negative.</p>

  <h3 id="positive-tests-for-salmonella-enteritidis-or-typhimurium">Positive tests for Salmonella Enteritidis or
    Typhimurium</h3>

  <p>If APHA or DAERA confirm a non-vaccine strain of Salmonella Enteritidis or Salmonella Typhimurium (including
    monophasic Salmonella Typhimurium) in your flock, you must not sell your eggs from the positive flock as Class A.
  </p>

  <p>The flock will be put under a legal restriction which will prohibit the sale of their eggs as Class A eggs. If
    official confirmatory sampling on your flock does not confirm the initial positive result, then you can resume
    selling the flock’s eggs as Class A.</p>

  <p>If you want to sell your eggs as Class B, you must mark them:</p>

  <ul>
    <li>
      <p>with the official Class B mark (a circle with the letter B inside)</p>
    </li>
    <li>
      <p>using a spray or food dye to leave an easily visible coloured mark at least 5 millimetres (mm) in diameter</p>
    </li>
  </ul>

  <p>Before you can sell any eggs, local egg marketing inspectors or poultry unit officials will visit your premises to
    check you’re complying with these restrictions. They can advise further on the egg marking requirements.</p>

  <h3 id="if-your-samples-test-positive-for-a-regulated-salmonella">If your samples test positive for a regulated
    salmonella</h3>

  <p>You may want to <a href="https://www.gov.uk/salmonella-national-control-programmes-fees">request more tests at your
      own cost</a> if you think a positive test result in an adult laying flock is false. You must do this operator
    optional testing within 4 weeks of the APHA or Agri-Food and Biosciences Institute.(AFBI) laboratory reporting the
    positive sample. For more information about this type of retesting or to get these tests arranged contact:</p>

  <ul>
    <li>
      <p><a>APHA’s Customer Service Centre: One Health Worcester</a></p>
    </li>
    <li>
      <p><a rel="external" href="https://www.daera-ni.gov.uk/contact">DAERA</a></p>
    </li>
  </ul>

  <p>APHA or DAERA will arrange for an official to supervise the collection and testing of your choice from the
    following sample types:</p>

  <ul>
    <li>
      <p>300 hen carcasses</p>
    </li>
    <li>
      <p>4,000 eggs</p>
    </li>
    <li>
      <p>appropriate environmental sampling to suit your flock’s management ( for example cage, free-range)</p>
    </li>
  </ul>

  <p>The official may also ask you to cull 5 birds. They’ll take the carcases and store their organs so that these can
    be tested for the presence of antibiotics if the optional test is negative.</p>

  <p>You can only get restrictions lifted, and sell eggs from the flock as Class A eggs if the samples test negative for
    a regulated salmonella.</p>

  <h3 id="official-samples-from-other-flocks-on-your-premises">Official samples from other flocks on your premises</h3>

  <p>Once APHA or DAERA identifies at least one flock as positive for Salmonella Enteritidis or Typhimurium, their
    officials will:</p>

  <ul>
    <li>
      <p>take samples from every other flock on your premises - free of charge</p>
    </li>
    <li>
      <p>take samples when a new flock is placed in the house where the last positive test result occurred - free of
        charge for young birds not yet in production, routine official sample charges apply for adult laying birds</p>
    </li>
    <li>
      <p>visit your premises to give advice on salmonella control</p>
    </li>
  </ul>

  <p>If the positive result is from a rearing flock, your vet will decide how best to manage the risk of transferring
    infection to a laying site. There will also be restrictions on the flock.</p>

  <h2 id="food-chain-information-fci-documents-for-abattoirs">Food chain information (FCI) documents for abattoirs</h2>

  <p>When you send your flock to an abattoir for slaughter for human consumption you must fill in a <a rel="external"
      href="https://www.food.gov.uk/business-guidance/food-chain-information">FCI declaration document</a>.</p>

  <p>In the FCI document, you must declare information such as:</p>

  <ul>
    <li>
      <p>the most recent NCP test result</p>
    </li>
    <li>
      <p>the date the sample was collected</p>
    </li>
    <li>
      <p>other diagnoses</p>
    </li>
    <li>
      <p>the use of medicines</p>
    </li>
  </ul>

  <p>If it was a negative NCP result, you must also declare any previous positive salmonella test results with the
    sample collection dates. This includes results from tests not taken as part of the NCP programme.</p>

  <p>You do not need to provide FCI if you cull the birds on the farm and:</p>

  <ul>
    <li>
      <p>dispose of them as animal by-products</p>
    </li>
    <li>
      <p>sell your birds direct to customers</p>
    </li>
  </ul>

  <p>If selling your birds to customers, you should register this with your local authority. If your flock tests
    positive for salmonella, they will advise you on what you need to do to protect the health of your customers.</p>

  <p>You’ll need a <a>slaughterer’s licence</a> or employ a licenced slaughterer to slaughter birds on your farm.</p>

  <h2 id="get-advice">Get advice</h2>

  <p>If you need more advice, contact <a
      href="https://www.gov.uk/government/organisations/animal-and-plant-health-agency/about/access-and-opening">APHA</a>
    or <a rel="external" href="https://www.daera-ni.gov.uk/contact">DAERA</a>.</p>

  <p>You can also read the <a>code of practice for prevention of salmonella in chicken flocks</a>.</p>


</div>


{% endblock %}