{% extends "layout.html" %}

{% extends "./layouts/_BASEFULL.html" %}

{% block service %}

<span class="govuk-caption-xl">Prototypes</span>
<h1 class="govuk-heading-xl">
  Storing silage, slurry and agricultural fuel oil
</h1>
<p>
  21 March 2022 idea to split page into 4 separate pages.</p>

<p><strong>Hypothesis</strong>:<br>
  Splitting information into separate pages will make it easier and simpler for farmers. </p>

<p class="govuk-body">In these rewritten pages we've:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>changed how we group content to fit round the farmers' activities and tasks</li>
  <li>reduced the amount of information we deliver at one time</li>
  <li>given information relevant to their farming situation and current infrastructure</li>
</ul>

<h2 class="govuk-heading-m">This prototype is not ready for testing with users</h2>
<p>Need to check details and accuracy for separate substances with SMEs before we can create a final version.</p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Date</th>
      <th class="govuk-table__header" scope="col">Page</th>
      <th class="govuk-table__header" scope="col">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        21 March 2022</td>
        <td class="govuk-table__cell"><a href="/slurry-silage-oil/oil">Store agricultural fuel and oil on farms
      </a></td>
      <td class="govuk-table__cell">Covers rules for oil. Rewritten storage rules to be specific to oil. Need SME to check which silo rules are relevant? </td>

    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">21 March 2022</td>
      <td class="govuk-table__cell"><a href="/slurry-silage-oil/slurry">Store and spread slurry on farms
      </a></td>
      <td class="govuk-table__cell">Covers rules for slurry only. Structure/order of content and split between building new and spreading it needs work.</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">21 March 2022</td>
      <td class="govuk-table__cell"><a href="/slurry-silage-oil/silage">Store and make silage on farms
      </a></td>
      <td class="govuk-table__cell">Covers rules for silage. Check structure and order of content.</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">21 March 2022</td>
        <td class="govuk-table__cell"><a href="/slurry-silage-oil/notice">If you get served a notice about pollution
      </a></td>
      <td class="govuk-table__cell">For people who get served a notice to stop pollution or upgrade their existing storage.</td>
    </tr>
  </tbody>
</table>



</dl>



{% endblock %}
