{% extends "./layouts/GUIDANCEnotice2.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

  <p class="govuk-body">If the Environment Agency believes there’s a significant risk of pollution they can serve a notice at any time requiring you to bring storage up to the current standards.</p>

  <p class="govuk-body">They can 'serve a notice’ to stop you using unsuitable storage for slurry, silage or agricultural fuel oil until you have improved or moved it. They’ll do this if they think there’s a significant risk of pollution – for example if you’ve not allowed enough capacity to store agricultural fuel oil.

<p class="govuk-body">You’ll have at least 28 days to carry out the work. You may be allowed more time, for example if you need planning permission or the weather is unsuitable.

<h2 class="govuk-heading-m" id="how-to-appeal-a-notice">How to appeal a notice</h2>


<p class="govuk-body">You can appeal if you disagree with the notice. You have 28 days from the day after the notice was served.</p>

<p class="govuk-body">Appeal in writing to the Secretary of State.</p>

<p class="govuk-body">The Secretary of State for the Environment and Rural Affairs<br>
The Planning Inspectorate<br>
Room 4/19 Eagle Wing<br>
Temple Quay House<br>
2 The Square<br>
Temple Quay<br>
Bristol<br>
BS1 6PN</p>

<p class="govuk-body">Send a copy to your Environment Agency office at the address on the notice.</p>

<p class="govuk-body">Your letter must explain why you’re appealing.</p>

<p class="govuk-body">You should include:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>a copy of the notice</li>
  <li>any related correspondence</li>
  <li>a plan of your farm, showing the installation and any watercourses or drains</li>
</ul>

<p class="govuk-body">If you’re acting for a farmer who was served the notice, you’ll also need a statement from them to confirm this.</p>

<h2 class="govuk-heading-m" id="decisions-on-appeals">Decisions on appeals</h2>

<p class="govuk-body">The notice could be:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>withdrawn or changed</li>
  <li>upheld, with extra time for you to comply</li>
  <li>upheld, with no extra time to comply - the compliance period will then usually end on the day this decision is made</li>
</ul>


</div>


{% endblock %}
