{% extends "./layouts/GUIDANCEoil2.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
  <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">

    <p class="govuk-body">Fuel oil should be used to produce heat or power but not exclusively to heat a farmhouse or other residential premises on a farm. It should be stored separately from other oil. It could include red diesel, white diesel, hydraulic and engine oils.</p>

  <h2 class="govuk-heading-m" id="rules-you-must-follow-if-you-store-agricultural-fuel-oil">Rules you must follow if you store agricultural fuel oil</h2>

  <p class="govuk-body">The rules are based on the Water Resources (Control of Pollution) (Silage, Slurry and Agricultural Fuel Oil) (England) Regulations – known as the <a rel="external" href="https://www.legislation.gov.uk/uksi/2010/639/contents/made">SSAFO regulations</a>.</p>

  <p class="govuk-body">You must follow these rules if you both:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>build a new agricultural fuel oil store or make substantial changes to an existing one</li>
    <li>store over 1,500 litres of agricultural fuel oil on your farm</li>
  </ul>

  <p class="govuk-body">You must:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>not pollute the surrounding environment for example rivers or other watercourses</li>
    <li>take precautions to prevent and contain spillages like fitting an alarm to alert you to overfilling</li>
    <li>make sure your agricultural fuel oil store is not within 10m of inland or coastal waters, including yard drains, dry ditches and land drains</li>
    <li>follow the Defra <a href="https://www.gov.uk/guidance/prevent-groundwater-pollution-from-underground-fuel-storage-tanks">Groundwater Protection Code</a> if your tanks are underground</li>
  </ul>

  <p class="govuk-body">You should:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>check if you also need <a href="https://www.gov.uk/planning-permission-england-wales">planning permission</a>
  </li>
  </ul>

  <h3 class="govuk-heading-s" id="where-to-put-fuel-oil-tanks">Where to put fuel oil tanks</h3>

  <p class="govuk-body">You can store fuel oil in one location - an agricultural fuel oil store, or you can spread the tanks across your farm. The tanks must meet <a rel="external" href="https://www.iso.org/iso-9001-quality-management.html">ISO 9000</a>, you should check the manual that came with your tank or ask the manufacturer.</p>

  <h3 class="govuk-heading-s" id="tanks-need-secondary-containment">Tanks need secondary containment</h3>

  <p class="govuk-body">A tank must be surrounded by a secondary containment structure or bund.</p>

  <p class="govuk-body">The bund must:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>have a life-expectancy of at least 20 years with maintenance</li>
    <li>be impermeable to oil and water (walls and base), with no drain-down pipe</li>
    <li>contain every part of the tank, with taps and valves directed down and locked shut when not in use</li>
    <li>contain delivery pipes that are permanently attached to the primary tank, which must be fitted with self-closing taps or valves and locked inside when not in use</li>
  </ul>

  <p class="govuk-body">If you buy a combined storage tank and bund system you must make sure it will meet the regulations when in use.</p>

  <p class="govuk-body">You must <a href="https://www.gov.uk/guidance/storing-oil-at-a-home-or-business">dispose of any waste fuel oil</a> or mix of oil and water that collects in the bund without causing pollution in line with <a href="https://www.gov.uk/dispose-hazardous-waste">waste regulations</a>.</p>

  <h3 class="govuk-heading-s" id="bund-capacity">Bund capacity</h3>

  <p class="govuk-body">The required capacity of a bund depends on your type of storage.</p>

  <table>
    <thead>
      <tr>
        <td>Type of storage</td>
        <td>Minimum capacity of bund</td>
      </tr>
    <tbody>
      <tr>
        <td>Single tank</td>
        <td>110% capacity of the tank</td>
      </tr>
      <tr>
        <td>Multiple tanks</td>
        <td>110% of the capacity of the largest tank or 25% of the total volume that could be stored in all tanks in the area – whichever is greater</td>
      </tr>
      <tr>
        <td>Other storage – for example, drum</td>
        <td>At least 25% of the total volume that could be stored at any time</td>
      </tr>
    </tbody>
  </table>

  <h2 class="govuk-heading-m" id="rules-about-building-new-storage-or-making-substantial-changes-to-existing-storage">Rules about building new storage or making substantial changes to existing storage</h2>

  <p class="govuk-body">Substantial changes usually means structural alterations, rather than minor repairs. <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Check with the Environment Agency</a> if you’re not sure.</p>

  <p class="govuk-body">A new or substantially changed store must:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>have an expected lifespan of at least 20 years with maintenance</li>
    <li>be at least 10 metres clear of inland or coastal waters – in some cases you’ll need a larger safety zone, for example near a water supply intake</li>
  </ul>

  <p class="govuk-body">Once you’ve built your storage you must maintain it to make sure there’s no risk of pollution. You’re responsible for making sure your storage and maintenance complies with the <a rel="external" href="https://www.legislation.gov.uk/uksi/2010/639/contents/made">SSAFO regulations</a> – get advice from the Environment Agency, a suitably experienced consultant or engineer if you need it.</p>

  <h2 class="govuk-heading-m" id="storage-which-is-exempt-from-building-rules">
  Storage which is exempt from building rules</h2>

  <p class="govuk-body">Your installation is exempt from the <a rel="external" href="https://www.legislation.gov.uk/uksi/2010/639/contents/made">SSAFO regulations</a> for new stores if:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>you built it before March 1991</li>
    <li>you entered into a contract for construction before March 1991 and completed before September 1991</li>
  </ul>

  <p class="govuk-body">However, it is no longer exempt if you make substantial changes – for example structural changes, increasing capacity or relocating your store.</p>

  <h3 class="govuk-heading-s" id="drains-and-sealed-pipes">Drains and sealed pipes</h3>
  <p class="govuk-body">Drains and sealed pipes can be within 10m of inland or coastal waters if the <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> agrees to an exception. Ask for an exception when you tell the <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> about your project.</p>

  <p class="govuk-body">Temporary storage
  The rules do not apply to agricultural fuel oil you store temporarily in a tanker for transportation on roads or on a farm.</p>

  <p class="govuk-body">Tell the Environment Agency about your planned new or changed storage</p>

  <p class="govuk-body">You should contact the <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a>as early as possible. You must do so at least 14 days before you build new storage for agricultural fuel oil or make substantial changes to an existing store. You can also contact them for <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">advice on planning and building a store.</a></p>

  <p class="govuk-body">You’ll need to supply the following when you contact the <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> so they can assess your proposal:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>your name, address, telephone number and email address</li>
    <li>the type of store you’re proposing to build or change</li>
    <li>the exact location of the site (8-figure <a rel="external" href="http://gridreferencefinder.com/">grid reference</a>)</li>
    <li>a site plan drawing of the structure</li>
    <li>a design drawing confirming the materials that will be used and their design, specification and layout</li>
    <li>a copy of the manufacturer’s specifications and guarantee if you plan to use prefabricated products</li>
  </ul>

  <p class="govuk-body">You’ll usually get a written assessment of your proposal that says whether it’s been approved or not. The <a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening">Environment Agency</a> may contact you, rather than giving you a written assessment, to give you guidance on changes you need to make to your installation before it can be approved.</p>

  <h2 class="govuk-heading-m" id="if-you-need-help">If you need help</h2>
  <p class="govuk-body">Get in touch with the<a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts"> </a><a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> if you need advice.</p>

  <p class="govuk-body">The <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> can also help make sure you avoid prosecution.</p>

  <p class="govuk-body">If your farm is in a nitrate vulnerable zone (NVZ) there are <a href="https://www.gov.uk/guidance/storing-organic-manures-in-nitrate-vulnerable-zones">extra rules for storing organic manures</a>. You can <a href="https://www.gov.uk/guidance/nutrient-management-nitrate-vulnerable-zones">check if your farm is in an NVZ</a>.</p>

  <h2 class="govuk-heading-m" id="if-youre-served-a-notice">If you’re served a notice under the Silage, Slurry and Agricultural Fuel Oil (SSAFO) regulations</h2>

  <p class="govuk-body"><a href="notice-2">Find out what to do if you’re served a notice</a> to improve storage or reduce the risk of pollution. </p>

  <h3 class="govuk-heading-s" id="view-the-legislation">View the legislation</h3>
  <p class="govuk-body">The Water Resources (Control of Pollution) (Silage, Slurry and Agricultural Fuel Oil) (England) Regulations 2010 - known as <a rel="external" href="https://www.legislation.gov.uk/uksi/2010/639/contents/made">SSAFO regulations</a>.</p>


</div>
</div>

{% endblock %}
