{% extends "./layouts/GUIDANCEoil5.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
  <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">

    <p class="govuk-body">Fuel oil should be used to produce heat or power. It includes red diesel or white diesel and is used in farm machinery.</p>

  <h2 class="govuk-heading-m" id="rules-you-must-follow-if-you-store-agricultural-fuel-oil">Rules you must follow if you store agricultural fuel oil</h2>

  <p class="govuk-body">The rules are set out in the Water Resources (Control of Pollution) (Silage, Slurry and Agricultural Fuel Oil) (England) Regulations – known as the <a rel="external" href="https://www.legislation.gov.uk/uksi/2010/639/contents/made">SSAFO regulations</a>.</p>

  <p class="govuk-body">You must follow these rules if you both:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>build a new agricultural fuel oil store or make substantial changes to an existing one</li>
    <li>store over 1,500 litres of agricultural fuel oil on your farm</li>
  </ul>

  <p class="govuk-body">You must:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>tell the Environment Agency at least 14 days in advance of starting construction</li>
    <li>not pollute the surrounding environment for example rivers or other watercourses</li>
    <li>take precautions to prevent and contain spillages like fitting an alarm to alert you to overfilling</li>
    <li>make sure your agricultural fuel oil store is not within 10 metres (m) of inland or coastal waters, including yard drains, dry ditches and land drains</li>
    <li>follow the Defra <a href="https://www.gov.uk/guidance/prevent-groundwater-pollution-from-underground-fuel-storage-tanks">Groundwater Protection Code</a> if your tanks are underground</li>
  </ul>

  <p class="govuk-body">You should check if you also need <a href="https://www.gov.uk/planning-permission-england-wales">planning permission</a>.</p>


  <p class="govuk-body"><a href="https://www.gov.uk/guidance/storing-oil-at-a-home-or-business">Other rules may apply</a> if you store fuel oil:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>for domestic purposes</li>
    <li>for another buisness you run from your farm</li>
    <li>in a tanker temporarily for transportation on roads or around your farm</li>
    <li>in mobile bowsers or drums temporarily stored alongside mobile plant</li>
  </ul>

  <h3 class="govuk-heading-s" id="where-to-put-fuel-oil-tanks">Where to put fuel oil tanks</h3>

  <p class="govuk-body">You can store fuel oil in:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>tanks that are above ground</li>
    <li>tanks that are underground</li>
    <li>drums</li>
  </ul>

  <p class="govuk-body">You can store fuel oil in more than one location across your farm. Tanks must meet <a rel="external" href="https://www.iso.org/iso-9001-quality-management.html">ISO 9000</a>, you should check the manual that came with your tank or ask the manufacturer.</p>

  <h3 class="govuk-heading-s" id="tanks-need-secondary-containment">Tanks need secondary containment</h3>

  <p class="govuk-body">A tank must be surrounded by a secondary containment structure or bund.</p>

  <p class="govuk-body">The bund must:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>have a life-expectancy of at least 20 years with maintenance</li>
    <li>be impermeable to oil and water (walls and base), with no drain-down pipe</li>
    <li>contain every part of the tank, with taps and valves directed down and locked shut when not in use</li>
    <li>contain delivery pipes that are permanently attached to the primary tank, which must be fitted with self-closing taps or valves and locked inside when not in use</li>
  </ul>

  <p class="govuk-body">If you buy a combined storage tank and bund system you must make sure it will meet the regulations when in use.</p>

  <p class="govuk-body">You must <a href="https://www.gov.uk/guidance/storing-oil-at-a-home-or-business">dispose of any waste fuel oil</a> or mix of oil and water that collects in the bund without causing pollution in line with <a href="https://www.gov.uk/dispose-hazardous-waste">waste regulations</a>.</p>

  <h3 class="govuk-heading-s" id="bund-capacity">Bund capacity</h3>

  <p class="govuk-body">The required capacity of a bund depends on your type of storage.</p>

  <table>
    <thead>
      <tr>
        <td>Type of storage</td>
        <td>Minimum capacity of bund</td>
      </tr>
    <tbody>
      <tr>
        <td>Single tank</td>
        <td>110% capacity of the tank</td>
      </tr>
      <tr>
        <td>Multiple tanks</td>
        <td>110% of the capacity of the largest tank or 25% of the total volume that could be stored in all tanks in the area – whichever is greater</td>
      </tr>
      <tr>
        <td>Other storage – for example, drum</td>
        <td>At least 25% of the total volume that could be stored at any time</td>
      </tr>
    </tbody>
  </table>

  <h2 class="govuk-heading-m" id="rules-about-building-new-storage-or-making-substantial-changes-to-existing-storage">Rules about building new storage or making substantial changes to existing storage</h2>

  <p class="govuk-body">Substantial changes usually means structural alterations, rather than minor repairs. Check with the Environment Agency if you’re not sure.</p>

  <p class="govuk-body">A new or substantially changed store must:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>have an expected lifespan of at least 20 years with maintenance</li>
    <li>be at least 10m clear of inland or coastal waters – in some cases you’ll need a larger safety zone, for example near a water supply intake</li>
  </ul>

  <p class="govuk-body">Once you’ve built your storage you must maintain it to make sure there’s no risk of pollution. You’re responsible for making sure your storage and maintenance complies with the SSAFO regulations – get advice from the Environment Agency, a suitably experienced consultant or engineer if you need it.</p>

  <h2 class="govuk-heading-m" id="storage-which-is-exempt-from-building-rules">
  Storage which is exempt from building rules</h2>

  <p class="govuk-body">Your installation is exempt from the SSAFO regulations for new stores if you:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>built it before March 1991</li>
    <li>entered into a contract for construction before March 1991 and completed before September 1991</li>
    <li>have less than 1,500 litres in total</li>
  </ul>

  <p class="govuk-body">However, it is no longer exempt if you make substantial changes – for example structural changes, increasing capacity or relocating your store.</p>

  <h3 class="govuk-heading-s" id="temporary-storage">Temporary storage</h3>
  <p class="govuk-body">The rules do not apply to agricultural fuel oil you store temporarily in a tanker for transportation on roads or on a farm.</p>

  <h2 class="govuk-heading-m" id="tell-the-environment-agency-about-your-planned-new-or-changed-storage">Tell the Environment Agency about your planned new or changed storage</h2>

  <p class="govuk-body">You must contact the <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> at least 14 days before you build new storage for fuel oil or make substantial changes to an existing store. You should tell them about your planned new or changed storage as early in the planning process as possible. You can also contact them for <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">advice on planning and building a store.</a></p>

  <p class="govuk-body">You’ll need to supply the following when you contact the <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> so they can assess your proposal:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>your name, address, telephone number and email address</li>
    <li>the type of store you’re proposing to build or change</li>
    <li>the OS  grid reference of your fuel oil store (in the format of 2 letters and 10 numbers)</li>
  </ul>

  <p class="govuk-body">You may also need to supply:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>a site plan drawing of the structure</li>
    <li>a design drawing confirming the materials that will be used and their design, specification and layout</li>
    <li>a copy of the manufacturer’s specifications and guarantee if you plan to use prefabricated products</li>
  </ul>

  <p class="govuk-body">The Environment Agency may contact you to offer you guidance on changes you need to make to your installation before they can agree to it.</p>

  <h2 class="govuk-heading-m" id="if-you-need-help">If you need help</h2>
  <p class="govuk-body">Get in touch with the <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> if you need advice.</p>

  <p class="govuk-body">The Environment Agency can also help make sure you avoid committing an offence.</p>

  <h2 class="govuk-heading-m" id="if-youre-served-a-notice">If you’re served a notice under the Silage, Slurry and Agricultural Fuel Oil (SSAFO) regulations</h2>

  <p class="govuk-body"><a href="notice-2">Find out what to do if you’re served a notice</a> to improve storage or reduce the risk of pollution and how to appeal.</p>

  <h2 class="govuk-heading-m" id="view-the-legislation">View the legislation</h2>
  <p class="govuk-body">The Water Resources (Control of Pollution) (Silage, Slurry and Agricultural Fuel Oil) (England) Regulations 2010 – known as <a rel="external" href="https://www.legislation.gov.uk/uksi/2010/639/contents/made">SSAFO regulations</a>.</p>

</div>
</div>

{% endblock %}
