{% extends "./layouts/GUIDANCEoil.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
  <p>Agricultural fuel oil is a fraction which comes from distilling petroleum and is also known as<sup><a href="" id="cmnt_ref1">[a]</a></sup><sup><a href="" id="cmnt_ref2">[b]</a></sup>: <sup><a href="" id="cmnt_ref3">[c]</a></sup></p>

  <ul>
    <li>heavy oil</li>
    <li>marine fuel</li>
    <li>bunker oil</li>
    <li>furnace oil</li>
    <li>gasoil<sup><a href="" id="cmnt_ref4">[d]</a></sup><sup><a href="" id="cmnt_ref5">[e]</a></sup>
  </li>
  </ul>

  <p>Rules you must follow if you store agricultural fuel oil<sup><a href="" id="cmnt_ref6">[f]</a></sup></p>

  <p>The rules are based on the Water Resources (Control of Pollution) (Silage, Slurry and Agricultural Fuel Oil) (England) Regulations – known as the <a rel="external" href="https://www.legislation.gov.uk/uksi/2010/639/contents/made">‘SSAFO’ regulations</a><sup><a href="" id="cmnt_ref7">[g]</a></sup> – and related legislation.<sup><a href="" id="cmnt_ref8">[h]</a></sup></p>

  <p>Get in touch with the<a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts"> </a><a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> if you need advice, they can help make sure you avoid prosecution. <sup><a href="" id="cmnt_ref9">[i]</a></sup><sup><a href="" id="cmnt_ref10">[j]</a></sup></p>

  <p>If your farm is in a nitrate vulnerable zone (NVZ) there are <a href="https://www.gov.uk/guidance/storing-organic-manures-in-nitrate-vulnerable-zones">extra rules for storing organic manures</a>. You can <a href="https://www.gov.uk/guidance/nutrient-management-nitrate-vulnerable-zones">check if your farm is in an NVZ</a>.<sup><a href="" id="cmnt_ref11">[k]</a></sup></p>

  <h3 id="you-must-follow-these-rules-if-you-both">
  You must follow these rules if you both:</h3>

  <ul>
    <li>build a new agricultural fuel oil store or make substantial changes to an existing one</li>
    <li>store over 1,500 litres of agricultural fuel oil on your farm</li>
  </ul>

  <p><a href="https://www.gov.uk/guidance/storing-oil-at-a-home-or-business">Other rules may apply</a><sup><a href="" id="cmnt_ref12">[l]</a></sup><sup><a href="" id="cmnt_ref13">[m]</a></sup> if you store fuel oil:</p>

  <ul>
    <li>for domestic purposes</li>
    <li>for another business you run from your farm</li>
    <li>in a tanker temporarily for transportation on roads or around your farm</li>
    <li>in mobile browsers or drums temporarily stored alongside mobile plant<sup><a href="" id="cmnt_ref14">[n]</a></sup>
  </li>
  </ul>

  <p>You must:</p>

  <ul>
    <li>make sure you do not pollute the surrounding environment<sup><a href="" id="cmnt_ref15">[o]</a></sup> – for example rivers or other watercourses</li>
    <li>check if you also need <a href="https://www.gov.uk/planning-permission-england-wales">planning permission</a><sup><a href="" id="cmnt_ref16">[p]</a></sup>
  </li>
    <li>take precautions to prevent and contain spillages – for example by fitting an alarm to alert you to overfilling</li>
  </ul>

  <p>Where to store fuel oil
  <sup><a href="" id="cmnt_ref17">[q]</a></sup>
  You can store fuel oil in one location or spread across your farm. It must be stored in a tank or drum that meets <a rel="external" href="https://www.iso.org/iso-9001-quality-management.html">ISO 9000</a>. (Check the manual that came with your tank or drum, or ask the manufacturer.)</p>

  <p>No part of your installation can be within 10 metres of inland or coastal waters – including yard drains, dry ditches and land drains.<sup><a href="" id="cmnt_ref18">[r]</a></sup></p>

  <p>If tanks are underground, they must also follow the Defra <a href="https://www.gov.uk/guidance/prevent-groundwater-pollution-from-underground-fuel-storage-tanks">Groundwater Protection Code</a>.</p>

  <h3 id="tanks-need-secondary-containment">Tanks need secondary containment</h3>

  <p>A tank or drum must be surrounded by a secondary containment structure or bund.</p>

  <p>The bund must:</p>

  <ul>
    <li>have a life-expectancy of at least 20 years with maintenance</li>
    <li>be impermeable to oil and water (walls and base), with no drain-down pipe</li>
    <li>contain every part of the tank, with taps and valves directed down and locked shut when not in use</li>
    <li>contain delivery pipes that are permanently attached to the primary tank, which must be fitted with self-closing taps or valves and locked inside when not in use</li>
  </ul>

  <p>If you buy a combined storage tank and bund system you must make sure it will meet the regulations when in use.</p>

  <p>You must <a href="https://www.gov.uk/guidance/storing-oil-at-a-home-or-business">dispose of any waste fuel oil</a> or mix of oil and water that collects in the bund without causing pollution.</p>

  <h4 id="bund-capacity">Bund capacity</h4>

  <p>The required capacity of a bund depends on your type of storage.</p>

  <p>| TType of storage | MMinimum capacity of bund |
  | SSingle tank | 11110% capacity of the tank |
  | MMultiple tanks | 11110% of the capacity of the largest tank or 25% of ththe total volume that could be stored in all tanks in ththe area – whichever is greater |
  | OOther storage –<br>
  fofor example, drum | At least 25% of the total volume that could be<br>
    stored at any time</p>

  <table>
    <tbody>
      <tr>
      </tr>
    </tbody>
  </table>

  <h3 id="building-new-storage-and-substantial-changes-to-existing-storage">Building new storage and substantial changes to existing storage</h3>

  <p>‘Substantial changes’ usually means structural alterations, rather than minor repairs. <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Check with the Environment Agency</a> if you’re not sure.</p>

  <p>A new or substantially changed store must:</p>

  <ul>
    <li>follow the specific rules for storing agricultural fuel oil <sup><a href="" id="cmnt_ref19">[s]</a></sup><sup><a href="" id="cmnt_ref20">[t]</a></sup><sup><a href="" id="cmnt_ref21">[u]</a></sup>
  </li>
    <li>have an expected lifespan of at least 20 years with maintenance</li>
    <li>be at least 10 metres clear of inland or coastal waters – you may need a larger ‘safety zone’ in some cases, for example near a water supply intake</li>
  </ul>

  <p>Once you’ve built your storage you must carry out maintenance to make sure there’s no risk of pollution. You’re responsible for making sure your storage and maintenance complies with the rules – get professional advice<sup><a href="" id="cmnt_ref22">[v]</a></sup> if you need it.</p>

  <h2 id="silossupa-href-idcmntref23wasupsupa-href-idcmntref24xasupsupa-href-idcmntref25yasup">Silos<sup><a href="" id="cmnt_ref23">[w]</a></sup><sup><a href="" id="cmnt_ref24">[x]</a></sup><sup><a href="" id="cmnt_ref25">[y]</a></sup>
  </h2>

  <p>All parts of a silo must be resistant to attack. Your silo must have:</p>

  <ul>
    <li>an impermeable base extending beyond any walls</li>
    <li>impermeable drainage collection channels around the outside, flowing into an effluent tank</li>
  </ul>

  <p>The base must comply with:</p>

  <ul>
    <li>
  <a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000000172967">British Standard 8007:1987</a> and <a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030161093">British Standard 8110-1:1997</a> (for concrete bases)</li>
    <li>
  <a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030210283">British Standard 594/EN 13108-4:2006</a> (for hot-rolled asphalt bases)</li>
  </ul>

  <p>If your silo has walls, they must withstand wall loadings set in <a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030262061">British Standard 5502-22:2003+A1:2013</a>..</p>

  <p>Ask your manufacturer, or check the manual that came with your equipment, to find out if it meets these British Standards.<sup><a href="" id="cmnt_ref26">[z]</a></sup></p>

  <p><sup><a href="" id="cmnt_ref27">[aa]</a></sup>
  ## Exemptions</p>

  <p>Exempt storage</p>

  <p>Your installation is exempt from the rules for new stores if :</p>

  <ul>
    <li>you built it before March 1991</li>
    <li>you entered into a contract for construction before March 1991 and completed before September 1991</li>
  </ul>

  <h2 id="however-it-is-no-longer-exempt-if-you-make-substantial-changes--for-example-structural-changes-increasing-capacity-or-relocating-your-store">However, it is no longer exempt if you make substantial changes – for example structural changes, increasing capacity or relocating your store.</h2>

  <p>Drains and sealed pipes</p>

  <p>Drains and sealed pipes can be within 10 metres of inland or coastal waters if the <a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening">Environment Agency</a> agrees to an exception. Ask for an exception when you tell the <a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening">Environment Agency</a>about your project.<sup><a href="" id="cmnt_ref28">[ab]</a></sup></p>

  <p>Tell the Environment Agency<sup><a href="" id="cmnt_ref29">[ac]</a></sup> you’re building storage for agricultural fuel or oil</p>

  <p>You must notify the Environment Agency at least 14 days before you build new storage for agricultural fuel oil or make substantial changes to an existing store.</p>

  <p>You’ll need to supply the following when you contact the Environment Agency so they can assess your proposal:</p>

  <ul>
    <li>a site plan drawing of the structure</li>
    <li>a design drawing confirming the materials that will be used and their design, specification and layout – you may also be asked to confirm that your design meets the requirements of <a rel="external" href="http://adlib.everysite.co.uk/adlib/defra/content.aspx?id=000HK277ZW.0A77C9S1P6U6XET">BS 5502</a>
  </li>
    <li>if you plan to use prefabricated products, a copy of the manufacturer’s specifications and guarantee</li>
  </ul>

  <p>if the structure is constructed from earth, analysis about the soil type, depth and permeability and a description of how it will be engineered<sup><a href="" id="cmnt_ref30">[ad]</a></sup></p>

  <p>Contact your local office</p>

  <p>Call or write to <a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening">your local Environment Agency office</a>.(https://www.gov.uk/government/organisations/environment-agency#org-contacts)</p>

  <p>Tell them:</p>

  <ul>
    <li>your name, address, telephone number and email address</li>
    <li>the type of store you’re proposing to build or change</li>
    <li>the exact location of the site (8-figure <a rel="external" href="http://gridreferencefinder.com/">grid reference</a>)</li>
  </ul>

  <p>You’ll usually get a written assessment of your proposal that says whether it’s been approved. The Environment Agency may contact you, rather than giving you a written assessment, to give you guidance on changes you need to make to your installation before it can be approved.</p>

</div>


{% endblock %}
