{% extends "./layouts/GUIDANCEsilage2.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>


<h2 class="govuk-heading-m" id="rules-you-must-follow-if-you-make-or-store-silage">Rules you must follow if you make or store silage</h2>

<p class="govuk-body">The rules are based on the Water Resources (Control of Pollution) (Silage, Slurry and Agricultural Fuel Oil) (England) Regulations – known as the <a rel="external" href="https://www.legislation.gov.uk/uksi/2010/639/contents/made">SSAFO regulations</a>.</p>

<p class="govuk-body">You must follow these rules if you:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>build a new silage store (silo or silage clamp) or make substantial changes</li>
  <li>store silage</li>
</ul>

<p class="govuk-body">You should check if you need <a href="https://www.gov.uk/planning-permission-england-wales">planning permission</a>.</p>

<h2 class="govuk-heading-m" id="building-a-new-silage-store-or-making-a-substantial-change-to-a-store">Building a new silage store or making a substantial change to a store</h2>

<p class="govuk-body">Substantial changes usually means structural alterations, rather than minor repairs. <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Check with the Environment Agency</a> if you’re not sure.</p>

<p class="govuk-body">Before you build new storage, you must:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>make sure you do not pollute the surrounding environment – for example rivers or other watercourses</li>
  <li>check if you need <a href="https://www.gov.uk/planning-permission-england-wales">planning permission</a>
</li>
  <li>follow these regulations about building new and substantially different storage</li>
  <li>follow these regulations about where to put it
</li>
  <li>make sure it has the storage capacity to meet the legal requirements</li>
  <li>make sure it meets build standards</li>
</ul>

<p class="govuk-body">A new or substantially changed store must:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>have an expected lifespan of at least 20 years with maintenance - any part of a silage effluent tank that’s underground must last 20 years without maintenance</li>
  <li>be at least 10 metres clear of inland or coastal waters – you may need a larger ‘safety zone’ in some cases, for example near a water supply intake</li>
</ul>

<h3 class="govuk-heading-s" id="once-youve-built-storage">
Once you’ve built storage</h3>

<p class="govuk-body">Once you’ve built your storage you must maintain it to make sure there’s no risk of pollution. You’re responsible for making sure your storage and maintenance complies with the <a rel="external" href="https://www.legislation.gov.uk/uksi/2010/639/contents/made">SSAFO regulations</a> – get advice from the Environment Agency, a suitably experienced consultant or engineer if you need it.</p>

<h2 class="govuk-heading-m" id="storage-which-is-exempt-from-building-rules">Storage which is exempt from building rules</h2>

<p class="govuk-body">Your installation is exempt from the <a rel="external" href="https://www.legislation.gov.uk/uksi/2010/639/contents/made">SSAFO regulations</a> for new stores if:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>you built it before March 1991</li>
  <li>you entered into a contract for construction before March 1991 and completed it before September 1991</li>
</ul>

<p class="govuk-body">It is no longer exempt if you make substantial changes – for example structural changes, increasing capacity or relocating your store.</p>

<h3 class="govuk-heading-s" id="temporary-storage">Temporary storage</h3>
<p class="govuk-body">The rules do not apply to silage you store temporarily in a container, trailer or vehicle for transportation on roads or a farm.</p>

<h3 class="govuk-heading-s" id="drains-and-sealed-pipes">Drains and sealed pipes</h3>
<p class="govuk-body">Drains and sealed pipes can be within 10m of inland or coastal waters if the Environment Agency agrees to an exception. Ask for an exception when you tell the Environment Agency about your project.</p>

<h3 class="govuk-heading-s" id="silage-store-silo-or-silage-clamp">Storing silage in clamps</h3>


<p class="govuk-body">A silage clamp is a structure for storing silage.</p>

<p class="govuk-body">All parts of a new silage clamp must be resistant to attack from silage effluent - a high-nutrient liquid waste product from low dry matter (DM) silage, which is corrosive.</p>

<p class="govuk-body">Your silage clamp must have:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>an impermeable base extending beyond any walls</li>
  <li>impermeable drainage collection channels around the outside, flowing into an effluent tank</li>
</ul>

<p class="govuk-body">The base must comply with:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
<a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000000172967">British Standard 8007:1987</a> and <a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030161093">British Standard 8110-1:1997</a> (for concrete bases)</li>
  <li>
<a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030210283">British Standard 594/EN 13108-4:2006</a> (for hot-rolled asphalt bases)</li>
</ul>

<p class="govuk-body">If your silage clamp has walls, they must withstand wall loadings set in <a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030262061">British Standard 5502-22:2003+A1:2013</a>..</p>

<p class="govuk-body">Ask your manufacturer, or check the manual that came with your equipment, to find out if it meets these British Standards.</p>

<p class="govuk-body">Existing structures built before the rules came into force are exempt unless they are a significant risk of pollution and are served a notice requiring work.</p>

<h2 class="govuk-heading-m" id="storing-silage-effluent">Storing silage effluent</h2>

<p class="govuk-body">Your silage clamp must have an effluent collection system - a suitable tank.</p>

<p class="govuk-body">You must not:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>make or store any silage or unwrap baled silage within 10m of inland or coastal waters</li>
  <li>store field silage within 50m of a protected water supply source</li>
</ul>

<p class="govuk-body">This is any place where water is abstracted (taken) for:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>human consumption</li>
  <li>use in farm dairies</li>
  <li>human food preparation</li>
</ul>

<p class="govuk-body">Ask the <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> about protected water sources or <a rel="external" href="https://magic.defra.gov.uk/MagicMap.aspx">use the Magic map</a> to check your local area.</p>

<h3 class="govuk-heading-s" id="effluent-tanks">Effluent tanks</h3>

<p class="govuk-body">If all parts of the effluent tank are above ground it must be constructed to resist attack from silage effluent for at least 20 years with maintenance.</p>

<p class="govuk-body">If any part is below ground, it should be impermeable for at least 20 years without maintenance.</p>

<p class="govuk-body">You’ll be asked to prove your tank is suitable, for example with a manufacturer’s guarantee.</p>

<p class="govuk-body">You can store silage effluent and slurry together if your tank has enough capacity - the legal minimum slurry capacity and the additional silage capacity - and is built to withstand both types of effluent. However, mixing slurry can give off gases that are lethal to humans and livestock. You must never put silage effluent into an under-floor slurry store.</p>

<h3 class="govuk-heading-s" id="capacity">Capacity</h3>

<p class="govuk-body">The minimum capacity rules for effluent tanks should give you at least 2 days’ storage at peak flow. However, it’s up to you to make sure you’ve got enough capacity to avoid the risk of pollution.</p>

<table>
  <thead>
    <tr>
      <td><p class="govuk-!-font-weight-bold">Silage clamp capacity</p></td>
      <td><p class="govuk-!-font-weight-bold">Minimum effluent tank capacity</p></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Up to 1,500 cubic metres</td>
      <td>20 litres for each cubic metre</td>
    </tr>
    <tr>
      <td>Over 1,500 cubic metres</td>
      <td>30 cubic metres, plus 6.7 litres for each cubic metre of silo capacity over 1,500 cubic metres</td>
    </tr>
  </tbody>
</table>
<br>

<h2 class="govuk-heading-m" id="storing-baled-silage">Storing baled silage</h2>

<p class="govuk-body">You must seal baled silage in an impermeable membrane or bag it. It does not need a specially constructed base but you must make sure any silage you stored on the ground directly cannot leak into a water source.</p>

<p class="govuk-body">You must keep baled silage at least 10m clear of inland or coastal waters.</p>

<h2 class="govuk-heading-m" id="using-baled-silagesupa-href-idcmntref16pasup">Using baled silage
</h2>

<p class="govuk-body">You must not open or remove the wrapping of silage bales within 10 metres of any inland freshwaters or coastal waters to make sure silage effluent doesn’t leak into the water.</p>

<h2 class="govuk-heading-m" id="storing-field-silage">Storing field silage</h2>

<p class="govuk-body">For silage to be stored as field silage there must be no construction works, for example walls or earth banks. You must not disturb topsoil.</p>

<p class="govuk-body">If you make field silage you must:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>choose a suitable storage site – for example if you store field silage in your farmyard you must make sure you can contain any drainage</li>
  <li>tell your local Environment Agency office at least 14 days before you first use the site</li>
</ul>

<h2 class="govuk-heading-m" id="tell-the-environment-agency-about-your-planned-new-or-changed-storage">
Tell the Environment Agency about your planned new or changed storage</h2>

<p class="govuk-body">You should contact the <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> as early as possible. You must do so at least 14 days before you build new storage for silage or make substantial changes to an existing store. You can also contact them for <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">advice on planning and building a store.</a></p>

<p class="govuk-body">You’ll need to supply the following so they can assess your proposal:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your name, address, telephone number and email address</li>
  <li>the type of store you’re proposing to build or change</li>
  <li>the exact location of the site (8-figure <a rel="external" href="http://gridreferencefinder.com/">grid reference</a>)</li>
  <li>for underground or partially underground silage effluent tanks you’ll need a certification from the installer – you must provide this certification to the <a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening">Environment Agency</a> because the tank is required to perform for at least 20 years without maintenance.</li>
  <li>
    <p class="govuk-body">a site plan drawing of the structure</p>
  </li>
  <li>a design drawing confirming the materials that will be used and their design, specification and layout – you may also be asked to confirm that your design meets the requirements of <a rel="external" href="http://adlib.everysite.co.uk/adlib/defra/content.aspx?id=000HK277ZW.0A77C9S1P6U6XET">BS 5502</a>
</li>
  <li>a copy of the manufacturer’s specifications and guarantee if you plan to use prefabricated products</li>
</ul>

<p class="govuk-body">Use form <a href="https://www.gov.uk/government/publications/form-wqe4-making-or-storing-field-silage-notification--2">WQE4</a> to tell the <a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening">Environment Agency</a> if you intend to <a href="https://www.gov.uk/government/publications/form-wqe4-making-or-storing-field-silage-notification">make or store field silage</a>. Send the completed form to <a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening">your local</a><a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening">Environment Office</a>.</p>

<p class="govuk-body">You’ll usually get a written assessment of your proposal that says whether it’s been approved or not. The <a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening">Environment Agency</a> may contact you, rather than giving you a written assessment, to give you guidance on changes you need to make to your installation before it can be approved.</p>

<h2 class="govuk-heading-m" id="if-you-need-help">If you need help</h2>
<p class="govuk-body">Get in touch with the<a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts"> </a><a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> if you need advice.</p>

<p class="govuk-body">The <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> can also help make sure you avoid prosecution. </p>

<p class="govuk-body">If your farm is in a nitrate vulnerable zone (NVZ) there are <a href="https://www.gov.uk/guidance/storing-organic-manures-in-nitrate-vulnerable-zones">extra rules for storing organic manures</a>. You can <a href="https://www.gov.uk/guidance/nutrient-management-nitrate-vulnerable-zones">check if your farm is in an NVZ</a>.</p>
<h2 class="govuk-heading-m" id="if-youre-served-a-notice">If you’re served a notice under the Silage, Slurry and Agricultural Fuel Oil (SSAFO) regulations</h2>

<p class="govuk-body"><a href="notice-2">Find out what to do if you’re served a notice</a> to improve storage or reduce the risk of pollution. </p>

<h3 class="govuk-heading-s" id="view-the-legislation">View the legislation</h3>
<p class="govuk-body">The Water Resources (Control of Pollution) (Silage, Slurry and Agricultural Fuel Oil) (England) Regulations 2010 - known as <a rel="external" href="https://www.legislation.gov.uk/uksi/2010/639/contents/made">SSAFO regulations</a>.</p>
{% endblock %}
