{% extends "./layouts/GUIDANCEsilage.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

  <p class="govuk-body">Silage is is a fermented animal feed created from storing high moisture crops made from:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>grass</li>
    <li>corn</li>
    <li>maize</li>
  </ul>


  <p class="govuk-body">
  You must:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>make sure you do not pollute the surrounding environment – for example rivers or other watercourses</li>
    <li>check if you also need <a href="https://www.gov.uk/planning-permission-england-wales">planning permission</a>
  </li>
  </ul>

  <p class="govuk-body">Once you’ve built your storage you must carry out maintenance to make sure there’s no risk of pollution.</p>

  <p class="govuk-body">Where to store silage</p>

  <p class="govuk-body">You must not make or store any silage or unwrap baled silage within 10 metres of inland or coastal waters.</p>

  <p class="govuk-body">In addition you must not store field silage within 50 metres of a protected water supply source.</p>

  <p class="govuk-body">This is any place where water is abstracted (taken) for:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>human consumption</li>
    <li>use in farm dairies</li>
    <li>human food preparation</li>
  </ul>

  <p class="govuk-body">Ask the <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> about protected water sources or <a rel="external" href="http://maps.environment-agency.gov.uk/wiyby/wiybyController?x=357683&amp;y=355134&amp;scale=1&amp;layerGroups=default&amp;ep=map&amp;textonly=off&amp;lang=_e&amp;topic=farming">use the ‘What’s in my backyard?’ map</a> to check your local area.</p>

  <h3 id="silos">Silos</h3>

  <p class="govuk-body">All parts of a silo must be resistant to attack.</p>

  <p class="govuk-body">Your silo must have:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>an impermeable base extending beyond any walls</li>
    <li>impermeable drainage collection channels around the outside, flowing into an effluent tank</li>
  </ul>

  <p class="govuk-body">The base must comply with:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>
  <a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000000172967">British Standard 8007:1987</a> and <a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030161093">British Standard 8110-1:1997</a> (for concrete bases)</li>
    <li>
  <a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030210283">British Standard 594/EN 13108-4:2006</a> (for hot-rolled asphalt bases)</li>
  </ul>

  <p class="govuk-body">If your silo has walls, they must withstand wall loadings set in <a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030262061">British Standard 5502-22:2003+A1:2013</a>..</p>

  <p class="govuk-body">Ask your manufacturer, or check the manual that came with your equipment, to find out if it meets these British Standards.</p>

  <h3 id="effluent-tanks" class="govuk-heading-s">Effluent tanks</h3>

  <p class="govuk-body">Your silo must have an effluent collection system.</p>

  <p class="govuk-body">If all parts of an effluent tank are above ground, the tank must be constructed to resist attack from silage effluent for at least 20 years with maintenance.</p>

  <p class="govuk-body">If any part is below ground, it should be impermeable for at least 20 years without maintenance.</p>

  <p class="govuk-body">You’ll be asked to prove your tank is suitable, for example with a manufacturer’s guarantee.</p>

  <p class="govuk-body">You can store silage effluent together if your tank has enough capacity and is built to withstand both types of effluent. However, mixing slurry can give off gases that are lethal to humans and livestock, and you must never put silage effluent into an under-floor slurry store.</p>

  <h4 id="capacity">Capacity for effluent tanks</h4>

  <p class="govuk-body">The minimum capacity rules for effluent tanks should give you at least 2 days’ storage at peak flow. However, it’s up to you to make sure you’ve got enough capacity to avoid the risk of pollution.</p>

  <table>
    <tbody>
      <tr>
        <td>Silo capacity</td>
        <td>Minimum effluent tank capacity</td>
      </tr>
      <tr>
        <td>Up to 1,500 cubic metres</td>
        <td>20 litres for each cubic metre</td>
      </tr>
      <tr>
        <td>Over 1,500 cubic metres</td>
        <td>30 cubic metres, plus 6.7 litres for each cubic metre of silo capacity over 1,500 cubic metres</td>
      </tr>
    </tbody>
  </table>

  <h3 id="store-baled-silage" class="govuk-heading-s">Store baled silage</h3>

  <p class="govuk-body">You must seal baled silage in an impermeable membrane or bag it. It does not need a specially constructed base but you must make sure any silage stored directly on the ground cannot leak into a water source.</p>

  <p class="govuk-body">You must keep baled silage at least 10 metres clear of inland or coastal waters.</p>

  <h3 id="field-silage-and-non-baled-bags">Field silage and non-baled bags
  </h3>

  <p class="govuk-body">For silage to be stored as ‘field silage’ there must be no construction works, for example walls or earth banks. Also, topsoil must not be disturbed.</p>

  <p class="govuk-body">If you make field silage or non-baled bags, you must:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>choose a suitable site – for example if you store silage in a non-baled bag in your farmyard you must make sure you can contain any drainage</li>
    <li>tell your local Environment Agency office at least 14 days before you first use the site</li>
  </ul>

  <h3 id="building-new-storage-and-substantial-changes">Building new storage and substantial changes to existing storage</h3>

  <p class="govuk-body">Substantial changes usually means structural alterations, rather than minor repairs. <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Check with the Environment Agency</a> if you’re not sure.</p>

  <p class="govuk-body">A new or substantially changed store must:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>have an expected lifespan of at least 20 years with maintenance - any part of a silage effluent tank that’s underground must last 20 years without maintenance be at least 10 metres clear of inland or coastal waters – you may need a larger ‘safety zone’ in some cases, for example near a water supply intake</li>
    <li>be at least 10 metres clear of inland or coastal waters</li>
  </ul>

  <h3 id="exempt-storage">Storage exempt if built before March 1991</h3>

  <p class="govuk-body">Your installation is exempt from the rules for new stores if:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>you built it before March 1991</li>
    <li>you entered into a contract for construction before March 1991 and completed before September 1991</li>
  </ul>

  <p class="govuk-body">It is no longer exempt if you make substantial changes – for example structural changes, increasing capacity or relocating your store.</p>

  <h3 id="temporary-storage" class="govuk-heading-s">Temporary storage</p>

  <p class="govuk-body">The rules do not apply to silage you store temporarily in a container or trailer for transportation.</p>

  <h3 class="govuk-body">Drains and sealed pipes</h3>
  <p class="govuk-body">Drains and sealed pipes can be within 10 metres of inland or coastal waters if the <a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening">Environment Agency</a> agrees to an exception. Ask for an exception when you tell the <a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening">Environment Agency</a>about your project.</p>

  <h2 class="">Tell the Environment Agency about building storage for silage</h2>
  You must tell the Environment Agency at least 14 days before you build new storage for silage or make substantial changes to an existing store – you can also contact them for <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">advice on planning and building a store.</a></p>

  <p class="govuk-body">You’ll need to supply the following when you contact the Environment Agency so they can assess your proposal:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>a site plan drawing of the structure</li>
    <li>a design drawing confirming the materials that will be used and their design, specification and layout – you may also be asked to confirm that your design meets the requirements of <a rel="external" href="http://adlib.everysite.co.uk/adlib/defra/content.aspx?id=000HK277ZW.0A77C9S1P6U6XET">BS 5502</a>
  </li>
    <li>if you plan to use prefabricated products, a copy of the manufacturer’s specifications and guarantee</li>
    <li>if the structure is constructed from earth, analysis about the soil type, depth and permeability and a description of how it will be engineered</li>
  </ul>

  <h2 class="govuk-heading-m">Making or storing field silage or non-baled bags</h2>

  <p class="govuk-body">Use form <a href="https://www.gov.uk/government/publications/form-wqe4-making-or-storing-field-silage-notification--2">WQE4</a> to tell the Environment Agency if you intend to <a href="https://www.gov.uk/government/publications/form-wqe4-making-or-storing-field-silage-notification">make or store field silage</a>or non-baled bags.</p>

  <p class="govuk-body">Give at least 14 days’ notice. Send the completed form to <a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening">your local Environment Office</a>.</p>

  <h3 id="contact-your-local-office">Contact your local office</h3>

  <p class="govuk-body">Call or write to <a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening">your local Environment Agency office</a>.(https://www.gov.uk/government/organisations/environment-agency#org-contacts)</p>

  <p class="govuk-body">Tell them:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>your name, address, telephone number and email address</li>
    <li>the type of store you’re proposing to build or change</li>
    <li>the exact location of the site (8-figure <a rel="external" href="http://gridreferencefinder.com/">grid reference</a>)</li>
    <li>for underground or partially underground silage effluent tanks you’ll need a certification from the installer – you must provide this certification to the Environment Agency because the tank is required to perform for at least 20 years without maintenance.</li>
  </ul>

  <p class="govuk-body">You’ll usually get a written assessment of your proposal that says whether it’s been approved or not. The Environment Agency may contact you, rather than giving you a written assessment, to give you guidance on changes you need to make to your installation before it can be approved.</p>

  <h2 id="legislation">Legislation</h2>

  <p class="govuk-body">The rules are based on the Water Resources (Control of Pollution) (Silage, Slurry and Agricultural Fuel Oil) (England) Regulations – known as the <a rel="external" href="https://www.legislation.gov.uk/uksi/2010/639/contents/made">SSAFO regulations</a>.</p>
  <p class="govuk-body">Get in touch with the<a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts"> </a><a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> if you need advice, they can help you make sure you don’t get prosecuted. </p>


</div>


{% endblock %}
