{% extends "./layouts/GUIDANCEslurry2.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<p class="govuk-body">For the purpose of this guidance slurry is liquid or semi-liquid matter, including dilute liquids, which can be pumped or will flow by gravity at any stage in the handling process and may be composed of either:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    excreta produced by livestock while in a yard or building, including excreta held in woodchip corrals
  </li>
  <li>
    any liquid or semi-liquid mixture wholly or mainly containing livestock excreta – this may include mixtures of excreta,  livestock bedding, parlour washings, scrapings and washings from yards used by livestock and rainwater
  </li>
</ul>

<h2 class="govuk-heading-m" id="rules-you-must-follow-if-you-store-slurry-including-in-earth-banked-stores">Rules you must follow if you store slurry, including in earth-banked stores</h2>

<p class="govuk-body">The rules are based on the Water Resources (Control of Pollution) (Silage, Slurry and Agricultural Fuel Oil) (England) Regulations – known as the <a rel="external" href="https://www.legislation.gov.uk/uksi/2010/639/contents/made">SSAFO regulations</a>.</p>

<p class="govuk-body">You must:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>tell the Environment Agency at least 14 days in advance of starting construction</li>
  <li>not pollute the surrounding environment for example rivers or other watercourses</li>
  <li>collect and store slurry</li>
</ul>

<h2 class="govuk-heading-m" id="building-new-or-making-substantial-changes-to-existing-slurry-storage">
Building new or making substantial changes to existing slurry storage</h2>

<p class="govuk-body">You must not put new slurry storage tanks, effluent tanks, channels or reception pits within 10 metres (m) of inland or coastal waters without written agreement from the <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a>.</p>

<p class="govuk-body">Substantial changes usually means structural alterations, rather than minor repairs. <!--<a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">-->Check with the Environment Agency if you’re not sure.</p>

<p class="govuk-body">A new or substantially changed store must:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>last and be compliant with the SSAFO regulations for at least 20 years with maintenance</li>
  <li>be at least 10m clear of inland or coastal waters – you may need a larger safety zone in some cases, for example near a water supply intake</li>
</ul>

<p class="govuk-body">Before you build new storage, you must:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>check if you need planning permission</li>
  <li>make sure your planned structures meet these regulations about building new and substantially enlarged or reconstructed storage</li>
  <li>make sure it’s located at least 10m from inland or coastal waters</li>
  <li>make sure it has the storage capacity to meet the legal requirements</li>
  <li>make sure it meets <a rel="external" href="https://www.ciria.org/ItemDetail?iProductCode=C759F&amp;Category=FREEPUBS">building standards</a>
</li>
</ul>

<h3 class="govuk-heading-s" id="when-building-any-slurry-store">When building any slurry store</h3>

<p class="govuk-body">Slurry tanks, reception pits, pipes and channels must be impermeable and meet the anti-corrosion standards set in <a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030219423">British Standard 5502-50:1993+A2:2010</a>. They should last for at least 20 years with maintenance.</p>

<p class="govuk-body">The base and walls of your slurry tank and any reception pit must withstand the wall loadings set in the <a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030219423">standard</a>.</p>

<p class="govuk-body">You’re responsible for making sure your storage and maintenance complies with the rules – get advice from the Environment Agency, a suitably experienced consultant or engineer if you need it.</p>

<p class="govuk-body">You should get written confirmation from your supplier that the system meets these standards.</p>

<h3 class="govuk-heading-s" id="minimum-capacity-for-slurry-stores">Minimum capacity for slurry stores</h3>

<p class="govuk-body">Freeboard is the vertical distance between the crest of your tank or lagoon and the slurry surface.</p>

<p class="govuk-body">When you calculate the required capacity of your steel or concrete store you’ll need to include a minimum of 300 millimetres of freeboard. For earth-banked stores you’ll need a minimum of 750 millimetres and you must maintain this freeboard during use.</p>

<p class="govuk-body">You must have capacity for at least 4 months’ slurry storage - this depends on how much slurry you use, the size of your tanks and likely quantities of rainfall. If your farm is in the <a href="https://www.gov.uk/guidance/storing-organic-manures-in-nitrate-vulnerable-zones">nitrate vulnerable zone</a> you must have 5 or 6 month’s storage.</p>

<p class="govuk-body">Use the <a rel="external" href="https://ahdb.org.uk/knowledge-library/slurry-wizard">AHDB Slurry Wizard</a> to work out how much slurry storage you need so that you comply with the regulations.</p>

<!--<p class="govuk-body">If you operate with less than 4 months’ capacity, the <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> may refuse your proposal or ask you to prove that it’s sufficient and to explain the steps you’ve taken to protect the environment.</p>-->

<p class="govuk-body">Any temporary storage facilities you have – such as a reception pit — must be large enough to store a minimum of 2 days’ combined slurry production and likely rainfall.</p>

<h3 class="govuk-heading-s" id="drainage-pipes">Drainage pipes</h3>

<p class="govuk-body">Slurry tanks, effluent tanks or reception pits fitted with a drainage pipe must have 2 valves separated by at least 1m. Each valve must be able to shut off the flow of slurry and be locked when it’s not in use.</p>

<h3 class="govuk-heading-s" id="earth-banked-slurry-stores">Earth-banked slurry stores</h3>

<p class="govuk-body">Earth-banked stores must have impermeable soil with at least 1m thickness. You may need laboratory analysis and confirmation from a civil engineer to be sure your soil is suitable. Alternatively, you can import impermeable soil or use a synthetic liner.</p>

<p class="govuk-body">The permeability of your compacted soil must be less than 1 x 10<sup class="govuk-body-s">-9</sup> metres per second (0.000001 mm per second). Testing should be to <a rel="external" href="http://shop.bsigroup.com/ProductDetail?pid=000000000000227786">BS 1377-6:1990</a> or to <a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030229304">BS EN 1997-2:2007</a>.</p>

<h3 class="govuk-heading-s" id="weeping-wall-stores">Weeping-wall stores</h3>

<p class="govuk-body">The base of a weeping-wall store must extend beyond its walls and include perimeter drains to catch escaped slurry and drain into an effluent tank.</p>

<p class="govuk-body">Once you’ve built your storage</p>

<p class="govuk-body">You must carry out maintenance to make sure there’s no risk of pollution.</p>

<h2 class="govuk-heading-m" id="storage-which-is-exempt-from-building-rules">Storage which is exempt from building rules</h2>

<p class="govuk-body">Your installation is exempt from the rules for new stores if you:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>built it before March 1991</li>
  <li>entered into a contract for construction before March 1991 and completed before September 1991</li>
</ul>

<p class="govuk-body">However, it is no longer exempt if you make substantial changes — for example structural changes, increasing capacity or relocating your store.</p>

<h3 class="govuk-heading-s" id="temporary-storage">Temporary storage</h3>
<p class="govuk-body">The rules do not apply to slurry you store temporarily in a tanker for transportation on roads or on a farm.</p>

<h3 class="govuk-heading-s">Drains and sealed pipes</h3>
<p class="govuk-body">Drains and sealed pipes can be within 10m of inland or coastal waters if the <!--<a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">-->Environment Agency agrees to an exception. Ask for an exception when you tell the Environment Agency about your project.</p>

<h2 class="govuk-heading-m" id="tell-the-environment-agency-about-your-planned-new-or-changed-storage">Tell the Environment Agency about your planned new or changed storage</h2>

<p class="govuk-body">You must <a href="https://wwww.gov.uk/government/organisations/environment-agency#org-contacts">contact the Environment Agency</a> at least 14 days before you build new storage for slurry or make substantial changes to an existing store. You should tell them about your planned new or changed storage as early in the planning process as possible. You can also contact them for <a href="https://wwww.gov.uk/government/organisations/environment-agency#org-contacts">advice on planning and building a store</a>.</p>

<p class="govuk-body">You’ll need to supply the following when you contact the Environment Agency so they can assess your proposal:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your name, address, telephone number and email address</li>
  <li>the type of store you’re proposing to build or change</li>
  <li>the exact location of the site (8-figure <a rel="external" href="http://gridreferencefinder.com/">grid reference</a>)</li>
</ul>
<p class="govuk-body">You may also need to supply:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>a site plan drawing of the structure</li>
  <li>a design drawing confirming the materials that will be used and their design, specification and layout – you may also be asked to confirm that your design meets the requirements of <a rel="external" href="http://adlib.everysite.co.uk/adlib/defra/content.aspx?id=000HK277ZW.0A77C9S1P6U6XET">BS 5502</a>
</li>
  <li>if you plan to use prefabricated products, a copy of the manufacturer’s specifications and guarantee</li>
  <li>if the structure is constructed from earth, analysis about the soil type, depth and permeability and a description of how it will be engineered</li>
</ul>

<p class="govuk-body">The Environment Agency may contact you to offer you guidance on changes you need to make to your installation before they can agree to it.</p>

<h2 class="govuk-heading-m">If you need help</h2>
<p class="govuk-body">Get in touch with the<a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts"> </a><a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> if you need advice.</p>

<p class="govuk-body">The Environment Agency can also help make sure you avoid prosecution.</p>

<p class="govuk-body">If your farm is in a nitrate vulnerable zone (NVZ) there are <a href="https://www.gov.uk/guidance/storing-organic-manures-in-nitrate-vulnerable-zones">extra rules for storing organic manures</a>. You can <a href="https://www.gov.uk/guidance/nutrient-management-nitrate-vulnerable-zones">check if your farm is in an NVZ</a>.</p>

<h2 class="govuk-heading-m" id="if-youre-served-a-notice">If you’re served a notice under the Silage, Slurry and Agricultural Fuel Oil (SSAFO) regulations</h2>

<p class="govuk-body"><a href="notice-2">Find out what to do if you’re served a notice</a> to improve storage or reduce the risk of pollution. </p>

<h3 class="govuk-heading-m" id="view-the-legislation">View the legislation</h3>
<p class="govuk-body">The Water Resources (Control of Pollution) (Silage, Slurry and Agricultural Fuel Oil) (England) Regulations 2010 - known as <a rel="external" href="https://www.legislation.gov.uk/uksi/2010/639/contents/made">SSAFO regulations</a>.</p>


{% endblock %}
