{% extends "./layouts/GUIDANCEslurry.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<p class="govuk-body">Slurry is run-off from:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>solid manure stores</li>
  <li>woodchip</li>
  <li>straw-bedded corrals</li>
  <li>stand-off pads</li>
</ul>

<p class="govuk-body">If your farm is in a nitrate vulnerable zone (NVZ) there are <a href="https://www.gov.uk/guidance/storing-organic-manures-in-nitrate-vulnerable-zones">extra rules for storing organic manures</a>. You can <a href="https://www.gov.uk/guidance/nutrient-management-nitrate-vulnerable-zones">check if your farm is in an NVZ</a>.</p>


<h2 class="govuk-heading-m" id="storing-slurry">Storing slurry</h2>

<p class="govuk-body">You must:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>make sure you do not pollute the surrounding environment – for example rivers or other watercourses</li>
  <li>collect and store slurry</li>
</ul>

<p class="govuk-body">Once you’ve built your storage you must carry out maintenance to make sure there’s no risk of pollution.</p>

<h2 class="govuk-heading-m" id="storing-slurry-silo">Storing slurry in a silo
</h2>

<p class="govuk-body">All parts of a silo must be resistant to attack.</p>

<p class="govuk-body">Your silo must have:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>an impermeable base extending beyond any walls</li>
  <li>impermeable drainage collection channels around the outside, flowing into an effluent tank</li>
</ul>

<p class="govuk-body">The base must comply with:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
<a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000000172967">British Standard 8007:1987</a> and <a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030161093">British Standard 8110-1:1997</a> (for concrete bases)</li>
  <li>
<a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030210283">British Standard 594/EN 13108-4:2006</a> (for hot-rolled asphalt bases)</li>
</ul>

<p class="govuk-body">If your silo has walls, they must withstand wall loadings set in <a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030262061">British Standard 5502-22:2003+A1:2013</a>..</p>

<p class="govuk-body">Ask your manufacturer, or check the manual that came with your equipment, to find out if it meets these British Standards.</p>

<h2 class="govuk-heading-m" id="rules-for-effluent-tanks">Rules for effluent tanks [POLICY: Check these are relevant for slurry?]
</h2>

<p class="govuk-body">Your silo must have an effluent collection system.</p>

<p class="govuk-body">If all parts of an effluent tank are above ground, the tank must be constructed to resist attack from silage effluent for at least 20 years with maintenance. If any part is below ground, it should be impermeable for at least 20 years without maintenance. You’ll be asked to prove your tank is suitable, for example with a manufacturer’s guarantee.</p>

<p class="govuk-body">You can store silage effluent together if your tank has enough capacity and is built to withstand both types of effluent. However, mixing slurry can give off gases that are lethal to humans and livestock, and you must never put silage effluent into an under-floor slurry store.</p>

<h3 id="minimum-capacity-for-effluent-tanks" class="govuk-heading-s">Minimum capacity for effluent tanks</h3>

<p class="govuk-body">The minimum capacity rules for effluent tanks should give you at least 2 days’ storage at peak flow. However, it’s up to you to make sure you’ve got enough capacity to avoid the risk of pollution.</p>

<table>
  <tbody>
    <tr>
      <td>Silo capacity</td>
      <td>Minimum effluent tank capacity</td>
    </tr>
    <tr>
      <td>Up to 1,500 cubic metres</td>
      <td>20 litres for each cubic metre</td>
    </tr>
    <tr>
      <td>Over 1,500 cubic metres</td>
      <td>30 cubic metres, plus 6.7 litres for each cubic metre of silo capacity over 1,500 cubic metres</td>
    </tr>
  </tbody>
</table>
<br>

<h2 class="govuk-heading-m" id="building-new-storage-for-slurry">Building new or making substantial changes to existing slurry storage</h2>

<p class="govuk-body">Before you build storage, you must:</p>

<ul class="govuk-list govuk-list--bullet">
<li>check if you need planning permission</li>
<li>follow the rules about building new and substantially different existing storage</li>
<li>follow the rules about where to put it</li>
<li>make sure it has the storage capacity to meet the legal requirements</li>
<li>it meets build standards</li>
</ul>

<p class="govuk-body">‘Substantial changes’ usually means structural alterations, rather than minor repairs. <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Check with the Environment Agency</a> if you’re not sure.</p>

<p class="govuk-body">A new or substantially changed store must:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>have an expected lifespan of at least 20 years with maintenance</li>
  <li>be at least 10 metres clear of inland or coastal waters – you may need a larger ‘safety zone’ in some cases, for example near a water supply intake
</li>
</ul>

<h3 class="govuk-heading-s">Exempt storage</h3>

<p class="govuk-body">Your installation is exempt from the rules for new stores if :</p>

<ul class="govuk-list govuk-list--bullet">
  <li>you built it before March 1991</li>
  <li>you entered into a contract for construction before March 1991 and completed before September 1991</li>
</ul>

<p class="govuk-body">However, it is no longer exempt if you make substantial changes – for example structural changes, increasing capacity or relocating your store.</p>

<h3 id="temporary-storage" class="govuk-heading-s">Temporary storage</h3>

<p class="govuk-body">You do not need to collect and store slurry either separately or in your main slurry store if you store it temporarily in a container or trailer for transportation.</p>

<h3 class="govuk-heading-s">Drains and sealed pipes</h3>

<p class="govuk-body">Drains and sealed pipes can be within 10 metres of inland or coastal waters if the <a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening">Environment Agency</a> agrees to an exception. Ask for an exception when you tell the <a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening">Environment Agency</a>about your project.</p>

<h2 class="govuk-heading-m">What you need to tell the Environment Agency when building a slurry store</h2>

<p class="govuk-body">You must notify the Environment Agency at least 14 days before you build new storage for slurry or make substantial changes to an existing store.</p>

<p class="govuk-body">You’ll need to supply the following when you contact the Environment Agency so they can assess your proposal:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>a site plan drawing of the structure</li>
  <li>a design drawing confirming the materials that will be used and their design, specification and layout – you may also be asked to confirm that your design meets the requirements of <a rel="external" href="http://adlib.everysite.co.uk/adlib/defra/content.aspx?id=000HK277ZW.0A77C9S1P6U6XET">BS 5502</a>
</li>
  <li>if you plan to use prefabricated products, a copy of the manufacturer’s specifications and guarantee</li>
  <li>if the structure is constructed from earth, analysis about the soil type, depth and permeability and a description of how it will be engineered</li>
</ul>

<h3 class="govuk-heading-s">Contact your local office</h3>

<p class="govuk-body">Call or write to <a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening">your local Environment Agency office</a>.(https://www.gov.uk/government/organisations/environment-agency#org-contacts)<sup><a href="" id="cmnt_ref60">[bh]</a></sup></p>

<p class="govuk-body">Tell them:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your name, address, telephone number and email address</li>
  <li>the type of store you’re proposing to build or change</li>
  <li>the exact location of the site (8-figure <a rel="external" href="http://gridreferencefinder.com/">grid reference</a>)</li>
</ul>

<p class="govuk-body">You’ll usually get a written assessment of your proposal that says whether it’s been approved or not. The Environment Agency may contact you, rather than giving you a written assessment, to give you guidance on changes you need to make to your installation before it can be approved.</p>

<h3 id="where-to-store-slurry" class="govuk-heading-s">Where to store slurry</h3>

<p class="govuk-body">You must not put slurry storage tanks, effluent tanks, channels or reception pits within 10 metres of inland or coastal waters without written agreement from the Environment Agency.</p>

<h3 id="when-building-any-slurry-store" class="govuk-heading-s">Build standards for slurry store
</h3>

<p class="govuk-body">Slurry tanks, reception pits, pipes and channels must be impermeable and meet the anti-corrosion standards set in <a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030219423">British Standard 5502-50:1993+A2:2010</a>. They should last for at least 20 years with maintenance.</p>

<p class="govuk-body">The base and walls of your slurry tank and any reception pit must withstand the wall loadings set in the <a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030219423">standard</a>.</p>

<p class="govuk-body">You’re responsible for making sure your storage and maintenance complies with the rules – you can get  advice from the Environment Agency.</p>

<h3 id="minimum-capacity-for-slurry-stores" class="govuk-heading-s">Minimum capacity for slurry stores</h3>

<p class="govuk-body">Freeboard is the vertical distance between the crest of your tank or lagoon and the slurry surface.</p>

<p class="govuk-body">When you calculate the required capacity of your steel or concrete store you’ll need to include a minimum of 300 millimetres<sup><a href="" id="cmnt_ref48">[av]</a></sup> of freeboard. For earth-banked stores you’ll need a minimum of 750 millimetres and you must maintain this freeboard during use.</p>

<p class="govuk-body">You’ll normally need capacity for at least 4 months’ slurry storage - this depends on how much slurry you use, the size of your tanks and your expected rainfall.</p>

<p class="govuk-body">Use <a rel="external" href="http://www.planet4farmers.co.uk/Manner.aspx">MANNER NPK</a> to work out your average winter rainfall - November to February. Add an extra 25% to your calculation to take account of wetter than average winters.</p>

<p class="govuk-body">If you’re in an area with above average rainfall you’ll need more capacity. Speak to the Environment Agency or a consultant if you’re unsure how much you’ll need.</p>

<p class="govuk-body">If you operate with less than 4 months’ capacity, the Environment Agency may refuse your proposal or ask you to prove that it’s sufficient and to explain the steps you’ve taken to protect the environment.</p>

<p class="govuk-body">Any temporary storage facilities you have – such as a reception pit – must be large enough to store a minimum of 2 days’ combined slurry production and likely rainfall.</p>

<h3 id="drainage-pipes-must-have-2-valves" class="govuk-heading-s">Drainage pipes must have 2 valves</h3>

<p class="govuk-body">If your slurry tank, effluent tank or reception pit is fitted with a drainage pipe, it must have 2 valves separated by at least 1 metre. Each valve must be able to shut off the flow of slurry and be locked when it’s not in use.</p>

<h3 id="earth-banked-slurry-stores" class="govuk-heading-s">Earth-banked slurry stores</h3>

<p class="govuk-body">An earth-banked store must have impermeable soil with at least 1 metre thickness. You may need laboratory analysis and confirmation from a civil engineer to be sure your soil is suitable. Alternatively, you can import impermeable soil or use a synthetic liner.</p>

<p class="govuk-body">The permeability of your compacted soil must be less than 1 x 10-9 metres per second (0.000001 mm per second). Testing should be to <a rel="external" href="http://shop.bsigroup.com/ProductDetail?pid=000000000000227786">BS 1377-6:1990</a> or to <a rel="external" href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030229304">BS EN 1997-2:2007</a>.</p>

<h3 id="weeping-wall-stores" class="govuk-heading-s">Weeping-wall stores</h3>

<p class="govuk-body">The base of a weeping-wall store must extend beyond its walls and include perimeter drains to catch escaped slurry and drain into an effluent tank.</p>

<h2 id="spreading-slurry" class="govuk-heading-m">Spreading slurry</h2>

<p class="govuk-body">Your irrigation system must not deposit slurry within 10 metres of inland freshwater or 50 metres of any water supply. You must assess the risk of direct run-off from land you intend to irrigate, and identify unsuitable areas.</p>


<h2 id="legislation" class="govuk-heading-m">Legislation</h2>
<p class="govuk-body">The rules are based on the Water Resources (Control of Pollution) (Silage, Slurry and Agricultural Fuel Oil) (England) Regulations – known as the <a rel="external" href="https://www.legislation.gov.uk/uksi/2010/639/contents/made">‘SSAFO’</a><a rel="external" href="https://www.legislation.gov.uk/uksi/2010/639/contents/made">regulations</a><sup><a href="" id="cmnt_ref11">[k]</a></sup><sup><a href="" id="cmnt_ref12">[l]</a></sup> – and related legislation<sup><a href="" id="cmnt_ref13">[m]</a></sup><sup><a href="" id="cmnt_ref14">[n]</a></sup>.</p>

<p class="govuk-body">Get in touch with the<a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts"> </a><a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> if you need advice, they can help make sure you avoid prosecution. <sup><a href="" id="cmnt_ref15">[o]</a></sup></p>

</div>


{% endblock %}
