{% extends "./layouts/GUIDANCEssafocollection.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>


  <div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

  <h2 class="govuk-heading-m" id="storing-using-silage">Storing and using silage</h2>

  <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak" data-govspeak-module-started="true">

        <div class="govspeak">
  <p class="govuk-body">Rules for building new silage stores, storing silage and using silage.</p>






          <ul class="gem-c-document-list">
              <hr></hr>
        <li class="gem-c-document-list__item  ">

          <a class="gem-c-document-list__item-title govuk-link" href="silage-2">Storing and using silage</a>


        <ul class="gem-c-document-list__item-metadata">

                      <li class="gem-c-document-list__attribute" >
                          <time datetime="2022-02-08T10:54:05+00:00">
                             8 February 2022
                          </time>
      </li>
                      <li class="gem-c-document-list__attribute">
                          Guidance
      </li>          </ul>
      </li>
        </ul>

        <h2 class="govuk-heading-m" id="storing-slurry">Storing slurry</h2>

        <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak" data-govspeak-module-started="true">

              <div class="govspeak">
        <p class="govuk-body">Rules for building new slurry stores and storing slurry.</p>






                <ul class="gem-c-document-list">
                    <hr></hr>
              <li class="gem-c-document-list__item  ">

                <a class="gem-c-document-list__item-title govuk-link" href="slurry-2">Storing slurry</a>


              <ul class="gem-c-document-list__item-metadata">

                            <li class="gem-c-document-list__attribute" >
                                <time datetime="2022-02-08T10:54:05+00:00">
                                   8 February 2022
                                </time>
            </li>
                            <li class="gem-c-document-list__attribute">
                                Guidance
            </li>          </ul>
            </li>
              </ul>






  </div>


</div>
</div>

</main>

</div>


{% endblock %}
