{% extends "./layouts/GUIDANCEssafocollection5.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>


  <div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        <div class="govspeak">

          <p class="govuk-body">Rules you must follow, who’s responsible, rules for building new storage and when to tell the Environment Agency. Also covers what to do if you get an enforcement notice.</p>







          <ul class="govuk-list">



          <li><a class="govuk-heading-s govuk-link" href="silage-6">Storing and using silage</a> </li>




            <li>    <a class="govuk-heading-s govuk-link" href="slurry-6">Storing slurry</a></li>








    <li><a class="govuk-heading-s govuk-link" href="oil-6">Storing agricultural fuel oil</a></li>
    <li><a class="govuk-heading-s govuk-link" href="notice-5">If you’re served a notice about pollution</a></li>


                          </ul>




  </div>


</div>
</div>

</main>

</div>


{% endblock %}