{% extends "./../layouts/GUIDANCElivestock.html" %}

{% block guidance %}

<html>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">

<h2 class="govuk-heading-m" id="legal-requirements-5">Rules for livestock and where you place feeders</h2>

<p class="govuk-body">You must prevent livestock from eroding soil by trampling it (poaching) within 5m of inland freshwater or coastal water.</p>
<p class="govuk-body">You must take reasonable precautions to prevent diffuse pollution as a result of livestock activities.</p>
<p class="govuk-body">You must not place livestock feeders:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>within 10m of inland freshwaters or coastal waters</li>
  <li>within 50m of a spring, well or borehole</li>
  <li>where risk factors like slope, soil conditions or nearby water sources or land drains mean there’s a significant risk of pollution</li>
</ul>





<h2 id="recommended-actions" class="govuk-heading-m">Recommended actions
</h2>

<p class="govuk-body">Take reasonable precautions to prevent erosion and runoff over a single area of one or more hectares as a result of livestock. You should:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>monitor the impact of livestock on your fields</li>
  <li>move livestock regularly or if there’s evidence of soil loss or pollution from poaching next to inland or coastal waters</li>
  <li>avoid poaching over a single stretch of agricultural land of at least 2 metres wide and 20 metres long</li>
  <li>put fencing around inland freshwaters or coastal waters</li>
  <li>winter livestock on well-drained, level fields</li>
</ul>

<p class="govuk-body">Record any precautions you’ve taken to reduce the risk of compacting soil.</p>
  <p class="govuk-body">Record where you place livestock feeders on a farm map or plan.</p>


  <h2 id="other-related-regulations-2" class="govuk-heading-m">Regulations containing livestock rules</h2>

  <p class="govuk-body">These rules are from:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="#">Farming rules for water</a></li>
    <li><a href="#">Cattle tracing</a></li>
    <li><a href="#">Cattle health and welfare</a></li>
  </ul>

  <h3 id="other-related-regulations-2" class="govuk-heading-m">Other related regulations</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.gov.uk/government/collections/nitrate-vulnerable-zones">Nitrate vulnerable zones</a></li>
    </ul>


</div>


</html>



{% endblock %}
