{% extends "./../layouts/GUIDANCEapplymanure3.html" %}

{% block guidance %}

<html>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">

  <h2 class="govuk-heading-m" class="govuk-heading-m" id="rules-for-applying-manure">Rules for applying manure</h2>

  <p class="govuk-body">Before you apply manure, you must:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="frfw-plan">plan your application</a> to make sure you meet soil and crop needs and don’t lose nutrients into waterways</li>
    <li>take into account the weather conditions and forecasts at the time</li>
    <li>take reasonable precautions to avoid significant risk of pollution</li>
  </ul>

  <p class="govuk-body">You must not apply manure:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>if soil is waterlogged, flooded or snow covered</li>
    <li>if soil has been frozen for more than 12 hours in the previous 24 hours</li>
    <li>
      <p class="govuk-body">within 10m of any inland freshwaters or coastal waters</p>
    </li>
    <li>within 50m of a spring, well or borehole</li>
  </ul>

  <h2 class="govuk-heading-m" id="exceptions-when-you-can-apply-within-10m">Exception when you can apply within 10m</h2>

  <p class="govuk-body">You can apply organic manures up to 6m from inland fresh or coastal waters if you use precision equipment.</p>

  <p class="govuk-body">These include:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>a trailing hose or shoe band spreader</li>
    <li>a shallow injector, no deeper than 10cm</li>
    <li>a dribble bar applicator</li>
  </ul>

  <p class="govuk-body">You can apply livestock manure (not slurry or poultry) within 10m of inland freshwaters and coastal waters if you manage land for breeding wader birds or species-rich semi-natural grassland.</p>

  <p class="govuk-body">You can only do this if:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>the land is in an Environmental or Countryside Stewardship scheme or it’s a <a href="https://www.gov.uk/guidance/protected-areas-sites-of-special-scientific-interest">site of special scientific interest (SSSI)</a>
  </li>
    <li>you do not apply manure onto the surface of water</li>
    <li>you only apply the manure from 1 June to 31 October</li>
    <li>you apply no more than 12.5 tonnes per hectare per year</li>
  </ul>

  <h2 class="govuk-heading-m" id="how-to-avoid-significant-risk-of-pollution-when-you-apply-manure">How to avoid significant risk of pollution when you apply manure</h2>

  <p class="govuk-body">Before you apply manure, assess the pollution risks and take reasonable precautions.</p>

  <p class="govuk-body">You must take into account the risks of runoff and soil erosion from these factors:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>the angle of slopes, in particular if the angle is greater than 12 degrees</li>
    <li>amount of ground cover</li>
    <li>distance to inland freshwaters, coastal waters, wetlands, springs, wells or boreholes</li>
    <li>presence and condition of land drains</li>
    <li>soil type and condition</li>
  </ul>

  <p class="govuk-body">You must identify the risks that apply to your land and your activities.</p>

  <p class="govuk-body">Take reasonable precautions and check:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>spreading equipment for leaks</li>
    <li>the organic manure content and moisture levels of the soil</li>
    <li>weather conditions and forecasts</li>
  </ul>

  <p class="govuk-body">Try to incorporate organic manure into the soil within 12 hours or as soon as possible. This does not apply to grassland or land cultivated using min till practices.</p>

  <h2 class="govuk-heading-m" id="keep-records-1">Keep records</h2>

  <p class="govuk-body">To be legally compliant, you need a written document or map showing:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>where you’ve applied manure</li>
    <li>risk factors in that area</li>
    <li>what you’ve done to reduce the risk</li>
  </ul>

  <h2 class="govuk-heading-m" id="recommended-actions">Recommended actions</h2>

  <p class="govuk-body">Record:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>when you applied the manure</li>
    <li>the weather conditions at the time</li>
    <li>any exceptions where you’ve used precision equipment or where on your land you’ve applied manures for environmental benefit</li>
  </ul>

  <h3 class="govuk-heading-s" id="other-related-regulations-1">Other related regulations</h3>
<p class="govuk-body">You can find more rules about applying manure in:</p>

  <ul class="govuk-list govuk-list--bullet">
  <li><a href="https://www.gov.uk/government/publications/landspreading-additional-guidance">Complying with landspreading permits</a> details the types of materials that you can spread on your land</li>
  <li><a href="frfw-store-manure">Storing manure</li>

      <li><a href="https://www.gov.uk/government/collections/nitrate-vulnerable-zones">Nitrate vulnerable zones</a></li>
    </ul>

</div>


</html>



{% endblock %}
