{% extends "layout.html" %}

{% extends "./layouts/_BASEFULL.html" %}

{% block service %}

<span class="govuk-caption-xl">Prototypes</span>
<h1 class="govuk-heading-xl">
  Salmonella rules
</h1>
<p>
  The following were built using GOV.UK Prototype Kit v9.8.0.
</p>

<h2 class="govuk-heading-m">
  Prototypes
</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Prototype</th>
      <th class="govuk-table__header" scope="col">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <p><a href="salmonella-broiler-chickens">
        Salmonella - test your broiler chickens
      </a></p>
      <a href="salmonella-breeding-chickens">
        Salmonella - test your breeding chickens
      </a></td>
    <td class="govuk-table__cell">26 May - added guides rewritten in the same way as laying hens</td>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="salmonella-laying-hens-af">
        Salmonella - test your laying hens
      </a></td>
    <td class="govuk-table__cell">14 May - updated based on comments from Andrew Frost</td>

  </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="salmonella-laying-hens">
          Salmonella - test your laying hens
        </a></td>
      <td class="govuk-table__cell">Changes made based on user research:
        <ul class="govuk-list--bullet">
        <li>included a legal requirements summary<br>
          This is written in bullets. Farmers can scan this one section and gain an understanding of the rules. In UR this worked and allowed users to identify what they legally have to do quickly</li>
        <li>made it clearer what the farmer has to do<br>
          Structured the page to put information in the order the farmer has to do it </li>
        <li>made better use of the contents<br>
            Users don't read the full page, they use the contents to jump to the section they need. Rewritten h2s to guide users through the process of testing for salmonella.  </li>
         
        <li>limited the amount of information in a section<br>
          We had a "what you must do" section before that was too long, users got lost and had to do a lot of scrolling</li>
              
      </ul> </td>
    </tr>    
    
  </tbody>
</table>



{% endblock %}
