{% extends "../layouts/GUIDANCEfarmingandlandmanagement.html" %}

{% block guidance %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


  <div class="browse__section browse__section--top-border">
    <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-7">Get funding and other business support</h2>

<ul class="govuk-list browse__list">
    <li class="browse__list-item">
      <a class="govuk-link" href="https://www.gov.uk/guidance/funding-for-farmers">Funding for farmers and land managers</a>
    </li>
    <li class="browse__list-item">
      <a class="govuk-link" href="https://www.gov.uk/claim-rural-payments">Make or update a rural payments claim</a>
    </li>
    <li class="browse__list-item">
      <a class="govuk-link" href="https://www.gov.uk/register-land-rural-land-register">Register land with the Rural Land Register</a>
    </li>
</ul>

  </div>

  <div id="space" class="toc govuk-!-margin-bottom-9"></div>
  <div class="browse__section browse__section--top-border">
  <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-7">Keep livestock and manage land</h2>

  <ul class="govuk-list browse__list">
  <li class="browse__list-item"><a href="rules-navigation"><strong>Rules for farmers and land managers</strong></a></li>
  <li class="browse__list-item"><a href="https://www.gov.uk/cattle-tracing-online">Use Cattle Tracing System (CTS) online</a></li>
  <li class="browse__list-item"><a href="https://www.gov.uk/report-veterinary-medicine-problem">Report a suspected problem with an animal medicine or microchip</a></li>
  <li class="browse__list-item"><a href="https://www.gov.uk/government/publications/the-countryside-code">The Countryside Code - advice for land managers</a></li>
  </ul>

  </div>
  <div id="space" class="toc govuk-!-margin-bottom-9"></div>

  <div class="browse__section browse__section--top-border">

<h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-7">Agricultural and seasonal workers</h2>

<ul class="govuk-list browse__list">
  <li class="browse__list-item"><a href="https://www.gov.uk/agricultural-workers-rights">Agricultural workers’ rights</a></li>
  <li class="browse__list-item"><a href="https://www.gov.uk/guidance/seasonal-work-on-farms-guidance-for-workers">Seasonal work on farms</a></li>
  <li class="browse__list-item"><a href="https://www.gov.uk/seasonal-worker-visa">Seasonal worker visa</a></li>
</ul>

</div>
  <div id="space" class="toc govuk-!-margin-bottom-9"></div>

<div class="browse__section browse__section--top-border">
<h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-7">Health and safety on the farm</h2>

<ul class="govuk-list browse__list">
  <li class="browse__list-item"><a href="https://www.gov.uk/register-farm-vehicle">Register a farm vehicle</a></li>
  <li class="browse__list-item"><a href="https://www.gov.uk/health-and-safety-for-farm-vehicles">Health and safety using farm vehicles and machinery</a></li>
  <li class="browse__list-item"><a href="https://www.gov.uk/guidance/farm-health-and-safety">Farm health and safety</a></li>
<li class="browse__list-item"><a href="https://www.gov.uk/guidance/white-asbestos-how-farmers-should-handle-and-dispose-of-it">White asbestos on farms: how to spot, manage and dispose of it</a></li>
</ul>

</div>

<div id="space" class="toc govuk-!-margin-bottom-9"></div>

<div class="browse__section browse__section--top-border">
<h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-7">Get planning permission</h2>

<ul class="govuk-list browse__list">
<li class="browse__list-item"><a href="https://www.gov.uk/planning-permission-for-farms">Planning permission for farms</a></li>
</ul>
</div>
<div id="space" class="toc govuk-!-margin-bottom-9"></div>


  <div class="browse__section browse__section--top-border">
<h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-7">Import, export or distribute animals and food</h2>

<ul class="govuk-list browse__list">
  <li class="browse__list-item"><a href="https://www.gov.uk/government/collections/guidance-on-importing-live-animals-or-animal-products">Importing live animals or animal products</a>
  </li>
  <li class="browse__list-item">
    <a href="https://www.gov.uk/government/collections/guidance-on-exporting-live-animals-or-animal-products">Exporting live animals or animal products</a></li>
  <li class="browse__list-item"><a href="https://www.gov.uk/guidance/import-eggs-to-great-britain">Import eggs to Great Britain</a>
    </li>
    <li class="browse__list-item"><a href="https://www.gov.uk/guidance/export-eggs-from-great-britain">Export eggs from Great Britain</a>
      </li>
    <li class="browse__list-item"><a href="https://www.gov.uk/guidance/hatching-eggs-and-chicks-marketing-standards#importing-hatching-eggs-and-chicks-from-the-eu-to-great-britain-gb">Import hatching eggs and chicks to Great Britain</a>
      </li>
    <li class="browse__list-item"><a href="https://www.gov.uk/guidance/hatching-eggs-and-chicks-marketing-standards#exporting-hatching-eggs-and-chicks-from-gb-to-the-eu">Export hatching eggs and chicks from Great Britain</a>
      </li>
    <li class="browse__list-item"><a href="https://www.gov.uk/guidance/export-food-for-animals-special-rules">Export or move animal feed or pet food</a>
      </li>
      <li class="browse__list-item"><a href="https://www.gov.uk/guidance/export-food-and-agricultural-products-special-rules">Export or move food, drink and agricultural products</a></li>

  </div>
  <div id="space" class="toc govuk-!-margin-bottom-9"></div>
  <div class="browse__section browse__section--top-border">

<h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-7">Register a milk production holding</h2>

<ul class="govuk-list browse__list">
  <li class="browse__list-item"><a href="https://www.gov.uk/register-milk-production-holding">Application to register a milk production holding (England and Wales)</a></li>
</ul>

</div>
  <div id="space" class="toc govuk-!-margin-bottom-9"></div>
    <div class="browse__section browse__section--top-border">

<h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-7">Register to supply biomass fuel</h2>

<ul class="govuk-list browse__list">
  <li class="browse__list-item"><a href="https://www.gov.uk/register-biomass-supplier">Register as a biomass supplier</a></li>
</ul>
</div>
  <div id="space" class="toc govuk-!-margin-bottom-9"></div>
  <div class="browse__section browse__section--top-border">


    <div class="browse__section browse__section--top-border">
      <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-7">Complete Defra's agricultural survey</h2>




  <ul class="govuk-list browse__list">
      <li class="browse__list-item">
        <a class="govuk-link" href="https://www.gov.uk/agricultural-survey">June survey of agriculture and horticulture</a>
      </li>
  </ul>

    </div>
  <div id="space" class="toc govuk-!-margin-bottom-9"></div>
    <div class="browse__section">
      <div class="browse__more-on-this-topic">
        <h2 class="gem-c-heading govuk-heading-m gem-c-heading--padding gem-c-heading--border-top-2">More on this topic</h2>

      </div>


  <ul class="govuk-list browse__list" data-module="gem-track-click" data-gem-track-click-module-started="true">
      <li class="browse__list-item">
        <a class="govuk-link" href="/topic/producing-distributing-food/crops-horticulture">Crops and horticulture </a>
      </li>
      <li class="browse__list-item">
        <a class="govuk-link" href="/topic/keeping-farmed-animals">Keeping farmed animals</a>
      </li>
      <li class="browse__list-item">
        <a class="govuk-link" href="/topic/environmental-management/land-management">Land management</a>
      </li>
  </ul>

    </div>


      </div>
    </div>
  </div>



{% endblock %}
