{% extends "../layouts/GUIDANCElivestock2.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>


<li class="gem-c-document-list__item  ">


<div class="govuk-inset-text">

<div class="call-to-action">

<p>This is a new page – give your <a class="govuk-link" href="#">feedback</a> to help us improve it.</p>

</div>
</div>


  <p class="govuk-!-margin-bottom-3"></p>

    <h2 id="produce-safe-to-eat-food" class="govuk-heading-m">Produce safe-to-eat food</h2>
        <p class="govuk-body"></p>


    <ul class="govuk-list">

        <li class="govuk-!-margin-bottom-3">

    <a href="https://www.gov.uk/food-safety-your-responsibilities">Food safety - your responsibilities</a></li>

  <li class="govuk-!-margin-bottom-3"><a href="https://www.gov.uk/guidance/record-keeping-requirements-for-veterinary-medicines">Record keeping requirements for veterinary medicines</a></li>

          <li class="govuk-!-margin-bottom-3"><a href="https://www.food.gov.uk/business-guidance/managing-farm-manures-for-food-safety">Managing farm manures for food safety</a></li>

        <li class="govuk-!-margin-bottom-3">

              <a href="https://www.gov.uk/guidance/handling-of-manure-and-slurry-to-reduce-antibiotic-resistance">Handling of manure and slurry to reduce antibiotic resistance</a></li>

      </ul>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

    <h2 id="identify-and-trace" class="govuk-heading-m">Identify and trace livestock</h2>
        <p class="govuk-body"></p>


    <ul class="govuk-list">


            <li class="govuk-!-margin-bottom-3">

              <a class="govuk-link" href="https://www.gov.uk/government/collections/keeping-cattle-bison-and-buffalo-in-england-and-wales">Keeping cattle, bison and buffalo in England and Wales</a>

          </li>

          <li class="govuk-!-margin-bottom-3">

                  <a class="govuk-link" href="https://www.gov.uk/government/collections/guidance-for-keepers-of-sheep-goats-and-pigs">Keeping sheep, goats, pigs and deer</a>

              </li>

              <li class="govuk-!-margin-bottom-3">

                      <a class="govuk-link" href="https://www.gov.uk/guidance/pigs-and-poultry-intensive-farming-environmental-permits">Pigs and poultry intensive farming: environmental permits</a>

                  </li>
                </ul>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
                <h2 id="protect-animal-welfare" class="govuk-heading-m">Protect animal health and welfare</h2>
                <p class="govuk-body"></p>
                <ul class="govuk-list">

                  <li class="govuk-!-margin-bottom-3">

                  <a class="gem-c-document-list__item   govuk-link" href="https://www.gov.uk/guidance/animal-welfare">Protect animal welfare on farm and in transport</a>

                  </li>

                        <li class="govuk-!-margin-bottom-3">

                                    <a class="gem-c-document-list__item   govuk-link" href="https://www.gov.uk/government/collections/notifiable-diseases-in-animals">Report notifiable diseases in animals</a>

                                </li>


                        <li class="govuk-!-margin-bottom-3">

                                <a class="gem-c-document-list__item   govuk-link" href="https://www.gov.uk/government/publications/responsible-use-of-animal-medicines-on-the-farm">Responsible use of animal medicines on the farm</a>
                        </li>

                        <li class="govuk-!-margin-bottom-3">
                              <a href="https://www.gov.uk/guidance/disease-prevention-for-livestock-farmers">Disease prevention for livestock and poultry keepers</a></li>

                        <li class="govuk-!-margin-bottom-3">

                            <a class="gem-c-document-list__item   govuk-link" href="https://www.gov.uk/guidance/bovine-tb-getting-your-cattle-tested-in-england">Bovine TB: get your cattle tested in England</a></li>
        </ul>


                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

                  <h2 id="feeding-livestock" class="govuk-heading-m">Feed your livestock</h2>
                  <p class="govuk-body"></p>
                  <ul class="govuk-list">


                    <li class="govuk-!-margin-bottom-3">

                    <a class="gem-c-document-list__item   govuk-link" href="https://www.food.gov.uk/business-guidance/animal-feed-legislation">Animal feed legislation</a>
                    </li>
                    <li class="govuk-!-margin-bottom-3">

                    <a class="gem-c-document-list__item   govuk-link" href="feed-rules">Animal feed rules for livestock farmers</a>
                    </li>

                            </ul>

                            <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
                                  <h2 id="protect-environment" class="govuk-heading-m">Storing and spreading manure and slurry</h2>
                                  <p class="govuk-body"></p>

                                  <ul class="govuk-list">

                                    <li class="govuk-!-margin-bottom-3">

                                            <a class="govuk-link" href="https://www.gov.uk/guidance/rules-for-farmers-and-land-managers-to-prevent-water-pollution">Rules for farmers and land managers to prevent water pollution</a>

                                        </li>

                                    <li class="govuk-!-margin-bottom-3">

                                            <a class="govuk-link" href="https://www.gov.uk/guidance/storing-silage-slurry-and-agricultural-fuel-oil">Store slurry, silage and agricultural fuel oil safely</a>

                                        </li>

                                        <li class="govuk-!-margin-bottom-3">

                                        <a class="govuk-link" href="https://www.gov.uk/guidance/storing-organic-manures-in-nitrate-vulnerable-zones">Store organic manures in nitrate vulnerable zones</a>

                                          </li>

                                    </ul>

                                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
                                          <h2 id="protect-environment" class="govuk-heading-m">Protect soil from animal activities</h2>
                                          <p class="govuk-body"></p>

                                          <ul class="govuk-list">

                                            <li class="govuk-!-margin-bottom-3">

                                              <a class="govuk-link" href="https://www.gov.uk/guidance/rules-for-farmers-and-land-managers-to-prevent-water-pollution#manage-livestock">Make sure animal activities do not damage soil</a>

                                          </li>
                                      </ul>




  <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

                  <h2 id="run-a-dairy-farm" class="govuk-heading-m">Produce milk and milk products</h2>
                      <p class="govuk-body"></p>

                          <ul class="govuk-list">

                                    <li class="govuk-!-margin-bottom-3">

                                      <a rel="external" href="https://www.gov.uk/register-milk-production-holding/food-standards-agency">Application to register a milk production holding (England and Wales)</a></li>

                            <li class="govuk-!-margin-bottom-3">
                                          <a rel="external" href="https://www.food.gov.uk/sites/default/files/media/document/milk-producer-guide-v4.pdf">A Practical Guide for Milk Producers</a></li>

                            <li class="govuk-!-margin-bottom-3">

                                          <a rel="external" href="https://www.food.gov.uk/business-guidance/milk-hygiene-and-antibiotic-residues">Milk hygiene and antibiotic residues</a></li>


                            <li class="govuk-!-margin-bottom-3">

                                          <a rel="external" href="https://www.food.gov.uk/business-guidance/raw-drinking-milk-guidance">Raw drinking milk producers</a></li>





              </ul>


                  <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
                        <h2 id="farm-poultry" class="govuk-heading-m">Farm poultry | Produce eggs and chicken</h2>
                        <p class="govuk-body"></p>

                        <ul class="govuk-list">
                          <li class="govuk-!-margin-bottom-3">

                          <a class="govuk-link" href="https://www.gov.uk/government/publications/poultry-including-game-birds-registration-rules-and-forms">Register to keep poultry</a>
                          </li>

                            <li class="govuk-!-margin-bottom-3">
                              <a href="https://www.gov.uk/guidance/poultry-health-scheme-how-to-register">Poultry Health Scheme: how to register</a>
                            </li>

                            <li class="govuk-!-margin-bottom-3"><a href="https://www.gov.uk/government/publications/poultry-on-farm-welfare">Poultry: on-farm welfare</a>
                            </li>

                            <li class="govuk-!-margin-bottom-3"><a href="https://www.gov.uk/guidance/poultry-welfare-off-the-farm">Poultry welfare off the farm</a>
                            </li>
                            <li class="govuk-!-margin-bottom-3"><a href="food.gov.uk/business-guidance/poultry-farming-guidance">Poultry farming guidance</a>
                            </li>
                            <li class="govuk-!-margin-bottom-3"><a href="#">Salmonella in farmed animals: how to prevent and control the spread</a>
                            </li>
                            <li class="govuk-!-margin-bottom-3"><a href="https://www.gov.uk/guidance/supplying-and-using-animal-by-products-as-farm-animal-feed">Supplying and using animal by-products as farm animal feed</a>
                            </li>

                            <li class="govuk-!-margin-bottom-3">

                                    <a class="govuk-link" href="https://www.gov.uk/guidance/pigs-and-poultry-intensive-farming-environmental-permits">Pigs and poultry intensive farming: environmental permits</a>

                                </li>
                            <li class="govuk-!-margin-bottom-3"><a href="https://www.food.gov.uk/business-guidance/poultry-farming-guidance">Poultry slaughter guidance</a>
                            </li>

                        </ul>

                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

                            <h2 id="manage-and-dispose-of-oil-and-waste" class="govuk-heading-m">Manage and dispose of waste</h2>
                            <p class="govuk-body">What you must do with hazardous waste, such as chemical containers and sheep dip.</p>

                            <ul class="govuk-list">

                                    <li class="govuk-!-margin-bottom-3">

                                    <a class="govuk-link" href="https://www.gov.uk/guidance/manage-waste-on-land-guidance-for-land-managers">Manage waste on land: guidance for land managers</a>


                                  </li>

                                        <li class="govuk-!-margin-bottom-3">

                                                <a class="govuk-link" href="https://www.gov.uk/guidance/discharges-to-surface-water-and-groundwater-environmental-permits">Discharges to surface water and groundwater: environmental permits</a>

                                        </li>

                                        <li class="govuk-!-margin-bottom-3">

                                                <a class="govuk-link" href="https://www.gov.uk/guidance/sheep-dip-groundwater-protection-code">Sheep dip: groundwater protection code</a>

                                        </li>


                            </ul>


                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
                                      <h2 id="make-compost" class="govuk-heading-m">Make compost, biogas, fertiliser or animal feed</h2>
                                      <p class="govuk-body">What you must do when working with materials that come from animals but are not for human consumption.</p>

                                      <ul class="govuk-list">


                                      <li class="govuk-!-margin-bottom-3">

                                              <a class="govuk-link" href="https://www.gov.uk/government/collections/guidance-for-the-animal-by-product-industry">Guidance for the animal by-products industry</a>


                                      </li>

                                                          </ul>

                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
                              <h2 id="farm-poultry" class="govuk-heading-m">Slaughter livestock</h2>
                              <p class="govuk-body"></p>

                              <ul class="govuk-list">
                                <li class="govuk-!-margin-bottom-3">
                                    <a href="https://www.gov.uk/slaughter-poultry-livestock-and-rabbits-for-home-consumption">Slaughter poultry, livestock and rabbits for home consumption</a>
                                  </li>


                              </ul>




{% endblock %}
