{% extends "../layouts/GUIDANCErulesnavigation.html" %}

{% block guidance %}




<!--<div class="govuk-inset-text">
</div>-->


<!--  <p class="govuk-!-margin-bottom-3"></p> -->


    <div class="browse__section browse__section--top-border">
    <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-7">Rules for farming activities</h2>

    <ul class="govuk-list browse__list">
    <li class="browse__list-item"><a href="#">Keep livestock</a></li>
      <li class="browse__list-item"><a href="#">Protect animal health and welfare</a></li>
        <li class="browse__list-item"><a href="#">Protect the environment if you keep livestock</a></li>
    <li class="browse__list-item"><a href="#">Manage land that you own or occupy</a></li>
    <li class="browse__list-item"><a href="#">Use pest control products</a></li>
      <li class="browse__list-item"><a href="#">Apply products to your land</a></li>
    <li class="browse__list-item"><a href="#">Produce plant varieties and seeds</a></li>
    <li class="browse__list-item"><a href="#">Protect landscape features</a></li>
      <li class="browse__list-item"><a href="#">Manage trees and woodland</a></li>
        <li class="browse__list-item"><a href="#">Manage water</a></li>
          <li class="browse__list-item"><a href="#">Manage and dispose of waste</a></li>
            <li class="browse__list-item"><a href="#">Make compost, biogas, fertiliser or animal feed
            </a></li>

    </ul>


{% endblock %}
