{% extends "./layouts/GUIDANCEabstractwater.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<h2 class="govuk-heading-m" id="check-if-you-need-a-licence">Check if you need a licence to abstract water</h2>

<p class="govuk-body">Find out <a href="https://www.gov.uk/guidance/check-if-you-need-a-licence-to-abstract-water">when you do and do not need a licence</a>.</p>

<h2 class="govuk-heading-m" id="get-advice">Get advice before you apply for a licence to abstract water</h2>

<p class="govuk-body">You can get <a href="https://www.gov.uk/guidance/get-advice-before-you-apply-for-a-water-abstraction-or-impounding-licence">free basic advice or pay for an enhanced service</a> to make sure your licence application is correct.</p>


<h2 class="govuk-heading-m" id="apply-to-abstract-water">Apply to abstract water</h2>

<p class="govuk-body">If you want to take more than 20 cubic metres of water a day from rivers or underground, you must have an <a href="https://www.gov.uk/guidance/water-management-apply-for-a-water-abstraction-or-impoundment-licence">abstraction licence from the Environment Agency.</p>

<h2 class="govuk-heading-m" id="change-abstraction-licence">Manage your water abstraction licence online</h2>

<p class="govuk-body">Set up an account to <a href="https://www.gov.uk/appeal-hedgerow-notice">manage your abstraction licence online</a>.</p>

<h2 class="govuk-heading-m" id="measure-record-report-how-much-water-you-abstract">Measure, record and report how much water you abstract</h2>
<p class="govuk-body">You must accurately <a href="https://www.gov.uk/guidance/measure-record-report-your-water-abstraction">measure and report how much water you abstract</a>. </p>

<h2 class="govuk-heading-m" id="renew-licence">Renew a licence to abstract water</h2>
<p class="govuk-body">Three months before your licence ends, you can <a href="https://www.gov.uk/guidance/apply-to-renew-a-water-abstraction-licence">apply to the Environment Agency to renew it</a>.</p>

<h2 class="govuk-heading-m" id="change-licence">Change a licence to abstract water</h2>
<p class="govuk-body">If your need for water changes, you can <a href="https://www.gov.uk/guidance/change-a-water-abstraction-or-impoundment-licence">vary or revoke your licence</a>.</p>

<h2 class="govuk-heading-m" id="transfer-licence">Transfer a licence to abstract water</h2>
<p class="govuk-body">You can use this form to <a href="https://www.gov.uk/government/publications/wr165-notice-to-transfer-a-water-abstraction-or-impoundment-licence">transfer your licence to someone else</a>.</p>

<h2 class="govuk-heading-m" id="share-licence">Share a licence between two or more people</h2>
<p class="govuk-body">You can use this form to <a href="https://www.gov.uk/government/publications/wr166-application-and-agreement-to-apportion-a-water-abstraction-licence">share an existing licence between two or more people</a>.</p>

<h2 class="govuk-heading-m" id="change-licence">Policies to make sure there's enough water</h2>
<p class="govuk-body">Find out about <a href="https://www.gov.uk/guidance/publications/managing-water-abstraction">government, water companies and the Environment Agency policies to make sure there is enough water</a> for people and the environment.</p>


<h2 class="govuk-heading-m" id="view-the-legislation">View the legislation</h2>
<p class="govuk-body"><a rel="external" href="https://www.legislation.gov.uk/uksi/2017/1044/made">The Water Abstraction and Impounding (Exemptions) Regulations 2017</a></p>





{% endblock %}
