{% extends "./layouts/GUIDANCEabstractsimplelinks.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">



      <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="https://www.gov.uk/guidance/check-if-you-need-a-licence-to-abstract-water">Check when you need a licence to abstract water</a>
      </p>



      <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="https://www.gov.uk/guidance/water-management-apply-for-a-water-abstraction-or-impoundment-licence">Apply for a water abstraction licence</a>
      <span class="govuk-body"> if you take more than 20 cubic metres of water a day</p>

      <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" <a href="https://www.gov.uk/guidance/measure-record-and-report-your-water-abstraction">Measure and report how much water you abstract</a></p>


  <!--  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="rural-payments-land-use-codes-2021">Rural payments: land use codes 2021</a><br>
    <span class="govuk-body govuk-!-font-size-14">9 March 2021</span></p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="https://www.gov.uk/government/publications/rural-payments-if-the-structure-of-your-business-is-changing">Rural payments: if the structure of your business is changing</a><br>
        <span class="govuk-body govuk-!-font-size-14">10 February 2020</span></p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="entitlements">Basic Payment Scheme entitlements 2022</a><br>
      <span class="govuk-body govuk-!-font-size-14">4 November 2021</span></p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="agroforestry-and-the-basic-payment-scheme">Agroforestry and the Basic Payment Scheme</a><br>
        <span class="govuk-body govuk-!-font-size-14">18 March 2021</span></p>

  <h2 id="forms">Forms</h2>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="young-and-new-farmer-application-form">Young and new farmer application form</a><br>
        <span class="govuk-body govuk-!-font-size-14">18 March 2021</span></p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="continuation-booklets-for-paper-applications">Continuation booklets (for paper applications)</a><br>
        <span class="govuk-body govuk-!-font-size-14">18 March 2021</span></p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="change-land-tenure-form">Change land tenure form</a><br>
        <span class="govuk-body govuk-!-font-size-14">4 February 2021</span></p>

  <h2 id="news-stories">News stories</h2>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="basic-payment-scheme-2021-entitlement-rates">Basic Payment Scheme 2021 entitlement rates</a><br>
        <span class="govuk-body govuk-!-font-size-14">28 October 2021</span></p> -->





</div>
