{% extends "./layouts/GUIDANCEfeedrules.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>


<li class="gem-c-document-list__item  ">


<!--<div class="govuk-inset-text">

<div class="call-to-action">

<p>This is a new page – give your <a class="govuk-link" href="#">feedback</a> to help us improve it.</p>

</div>
</div>-->

<p class="govuk-body"></p>

<h2 id="store-and-handle-feed" class="govuk-heading-m">Store and handle feed</h2>
    <p class="govuk-body">To stop contamination and distribution errors:</p>
    <ul class="govuk-list govuk-list--bullet">

    <li>
      store and handle feed, waste and hazardous substances separately and securely
    </li>


    <li>keep storage areas and containers clean and dry, in particular those used to contain medicated and non-medicated feed, and use appropriate pest-control measures where necessary</li>

      <li>store seed properly and in such a way that it is not accessible to animals</li>
      <li>handle medicated and non-medicated feeds separately</li>
      <li>make sure the on-farm feed distribution system ensures that the right feed is sent to the right destination and does not get contaminated from storage areas and equipment</li>
      <li>periodically cleaning on-farm feed transport vehicles and feeding equipment, in particular when used to deliver and distribute medicated feed</li>

    </ul>

      <h2 id="act-on-official-controls" class="govuk-heading-m">Act on official controls</h2>
          <p class="govuk-body">Act on results of official controls and sample analyses. Take appropriate remedial action when informed of problems identified during official controls.</p>

          <h2 id="register-land" class="govuk-heading-m">Use feed additives, medicines and biocides correctly</h2>
              <p class="govuk-body">Use as prescribed or as stated on the label. Follow instructions for dosage, how to apply and storage.</p>

              <p class="govuk-body">Make sure that the food you produce does not contain residues that are higher than the permitted maximum residue level for the pesticide or medicine used.</p>

          <h2 id="adequate-measures" class="govuk-heading-m">Take adequate measures to stop the introduction and spread of contagious diseases transmissible to humans through food</h2>

              <p class="govuk-body">This includes:</p>


                <ul class="govuk-list govuk-list--bullet">

                  <li>abiding by the statutory herd testing for bovine tuberculosis and pre-movement TB testing of animals</li>
                  <li>compliance with any notice and instruction</li>
                  <li>not moving animals subject to movement restrictions</li>
                  <li>taking precautionary measures when introducing new animals</li>
                  <li>reporting suspected disease outbreaks to the competent authority</li>
                </ul>



          <h2 id="use-feed-from-places" class="govuk-heading-m">Use feed from places that are registered or approved by your local authority</h2>
            <p class="govuk-body">Or approved by the Veterinary Medicine Directorate (VMD) for specified feed additives.</p>

            <h2 id="keep-records" class="govuk-heading-m">Keep records</h2>
              <p class="govuk-body">You must keep records about:</p>

              <ul class="govuk-list govuk-list--bullet">
                  <li>vet medicines or other treatments given to your animals (include the treatment dates and withdrawal periods)</li>
                  <li>plant protection products and biocides</li>
                  <li>results of analyses carried out on samples taken that have importance for human or animal health</li>
                  <li>reports on checks on animals and animal products</li>
                  <li>any use of genetically modified seeds in feed production</li>
              </ul>

                  <p class="govuk-body">These rules do not apply to producers selling small amounts of primary products to final consumers or to local shops selling directly to final consumers.</p>

              <h3 class="govuk-heading-s">Best practice and details for animal feed</h3>

                  <ul class="govuk-list">

                      <li class="govuk-!-margin-bottom-3">

                        <a class="govuk-link" href="https://www.fao.org/3/i1379e/i1379e.pdf">Good practices for the feed industry</a> from the Food and Agriculture Organisation

                          </li>

                      <li class="govuk-!-margin-bottom-3">

                          <a class="gem-c-document-list__item   govuk-link" href="https://www.food.gov.uk/business-guidance/farming-animal-feed">Farming and animal feed</a> from the Food Standards Agency
                          </li>

                    </ul>



{% endblock %}
