{% extends "./layouts/GUIDANCEhedgerows.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<p class="govuk-body">You must take all reasonable steps to keep a green cover on land within 2 metres of the centre of a hedgerow. You must not cultivate or apply fertilisers or pesticides to land within 2 metres of the centre of a hedgerow. Find out <a href="https://www.gov.uk/guidance/guide-to-cross-compliance-in-england-2022/gaec-7a-boundaries">more.</a>

<h2 class="govuk-heading-m" id="when-you-can-work-on-a-hedgerow">When you can work on a hedgerow</h2>

<p class="govuk-body">Find out <a href="https://www.gov.uk/guidance/countryside-hedgerows-regulation-and-management">when you can cut, trim, remove or work on a hedgerow</a>.</p>

<p class="govuk-body">This also tells you:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>when a hedgerow is protected</li>
  <li>how to apply to remove a hedgerow</li>
  <li>restrictions such as nesting birds</li>
  <li>if you need a felling licence</li>
</ul>

<h2 class="govuk-heading-m" id="apply-for-a-hedgerow-and-boundaries-grant">Apply for a hedgerow and boundaries grant</h2>

<p class="govuk-body">The Hedgerow and Boundaries standalone capital grant is available to help restore existing farm boundaries and bring environmental and landscape benefits to your land.</p>

<p class="govuk-body">Find out more by reading the:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a rel="external" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/997776/CS_Hedgerows%20___Boundaries_2020__%20cs53_v3.0_.pdf">hedgerows and boundaries grant manual 2020</a> – covers eligibility, who can apply and when and how to apply
  </li>
  <li>
    <a rel="external" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/968568/Full_Options_2020.pdf">options, supplements and capital items 2020</a> – covers information on grant eligibility and requirements for hedgerow laying, coppicing, gapping-up, planting new hedges and supplements – casting up, substantial pre-work, top binding and staking
  </li>
</ul>

<p class="govuk-body">See <a href="https://www.gov.uk/countryside-stewardship-grants">Countryside Stewardship grant finder</a>.
</p>

<p class="govuk-body">Find out <a rel="external" href="https://hedgelink.org.uk/grant-funding">about other available grants</a>.</p>

<h2 class="govuk-heading-m" id="appeal-a-hedgerow-decision">Appeal a hedgerow decision</h2>

<p class="govuk-body">Find out if you can <a href="https://www.gov.uk/appeal-hedgerow-notice">appeal a decision</a> which says you cannot remove a hedgerow or that you need to replace one you’ve already removed.</p>

<p class="govuk-body">Use these <a href="https://www.gov.uk/government/publications/hedgerows-retention-and-replacement-notices-appeal-form">forms to appeal</a> against either a Hedgerow Retention Notice or a Hedgerow Replacement Notice.</p>

<p class="govuk-body">Read guidance on the <a href="https://www.gov.uk/government/publications/hedgerows-retention-and-replacement-notices-the-appeal-procedures">appeal procedures for hedgerows retention and replacement notices</a>.</p>

<h2 class="govuk-heading-m" id="report-a-hedgerow-offence">Report a hedgerow offence</h2>
<p class="govuk-body">You can <a href="https://www.gov.uk/guidance/countryside-hedgerows-regulation-and-management#report-a-suspected-offence-against-nesting-birds">report a suspected hedgerow offence</a>, including offences against nesting birds.</p>

<h2 class="govuk-heading-m" id="rules-for-stone-walls-earth-banks-and-stone-banks">Rules for stone walls, earth banks and stone banks</h2>
<p class="govuk-body">Find out what you must and must not do to protect <a href="https://www.gov.uk/guidance/guide-to-cross-compliance-in-england-2022/gaec-7a-boundaries">stone walls, earth banks and stone banks</a>.</p>

<h2 class="govuk-heading-m" id="view-the-legislation">View the legislation</h2>
<p class="govuk-body"><a rel="external" href="https://www.legislation.gov.uk/uksi/1997/1160/contents/made">The Hedgerows Regulations 1997 legislation</a></p>

<h2 class="govuk-heading-m" id="report-a-hedgerow-offence">More information about managing hedgerows</h2>
<p class="govuk-body">Find out more about how to <a rel="external" href="http://www.hedgelink.org.uk/">manage your hedgerow</a>.</p>


<ol>
  <li>When you can cut or remove a hedgerow</li>
  <li>How to apply for a hedgerow and boundaries grant</li>
  <li>Appeal a hedgerow decision</li>
  <li>Report a hedgerow offence</li>
  <li>Rules for stone walls, earth banks and stone banks</li>
  <li>Hedgerows and boundaries grants</li>
  <li>View the legislation</li>
  <li>More information about managing hedgerow</li>
</ol>





{% endblock %}
