{% extends "layout.html" %}

{% extends "./layouts/_BASEFULL.html" %}

{% block service %}

<span class="govuk-caption-xl">Prototypes</span>
<h1 class="govuk-heading-xl">
  Rules for farmers - ideas
</h1>
<p>
  Legal standards are developing a guidance page that covers all the rules for farmers.
</p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Prototype</th>
      <th class="govuk-table__header" scope="col">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a href="/rules/prototype-5/farming-and-land-management">Prototype 5 - Farming and land management</a> </td>
      <td class="govuk-table__cell">
    Food and feed journey - rules page with food safety links included - October 2023</td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a href="/rules/prototype-4/farming-and-land-management">Prototype 4 - Farming and land management</a> </td>
      <td class="govuk-table__cell">
    Food and feed journey - rules page with food safety links included - July 2023</td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a href="/rules/prototype-3/farming-and-land-management">Prototype 3 - Farming and land management</a> </td>
      <td class="govuk-table__cell">
    Food and feed journey - rules page with separated food and feed rules - July 2023</td>
    </tr>


    <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="/rules/prototype-2/farming-and-land-management">Prototype 2 - Farming and land management</a> </td>
          <td class="govuk-table__cell">
        Food and feed journey - mainstream navigation no rules page - July 2023</td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a href="/rules/prototype-1/farming-and-land-management">Prototype 1 - Farming and land management</a> </td>
      <td class="govuk-table__cell">
    Food and feed journey - mainstream navigation style July 2023</td>
    </tr>






    <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a href="/rules/farming-and-land-management">Farming and land management</a> June 2023</td>
      <td class="govuk-table__cell">
    Food and feed journey</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/rules/rules-collection-animals">Rules page - splitting livestock by animal</a> May 2023</td>
      <td class="govuk-table__cell">
    Idea to summarise rules. Uses info from cross compliance and also Food Standards Agency</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/rules/rules-safe-food2">Rules page - Duncan's idea for safe food onward links</a> May 2023</td>
      <td class="govuk-table__cell">
    Idea to summarise rules. Uses info from cross compliance and also Food Standards Agency</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/rules/rules-safe-food">Rules page - ideas for safe food onward links</a> May 2023</td>
      <td class="govuk-table__cell">
    Reduce the amount of information on the rules page, explore what summaries could look like, eg <a href="/rules/feed-rules">feed rules</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Rules page - collection style</td>
      <td class="govuk-table__cell">
      <a href="/rules/rules-collection-mar23-2">Rules collection page</a> - includes feedback from SMEs and content designers (not user research)</td>
    </tr>


    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Rules page - collection style</td>
      <td class="govuk-table__cell">
      <a href="/rules/rules-collection-mar23">Rules collection page</a> - version reviewed week beginning 13 March 2023</td>
    </tr>




    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Example summary pages</td>
      <td class="govuk-table__cell">Exploring how the summary (next level) pages could look<br>
      <a href="/rules/hedgerows">Hedgerows</a>, <a href="/rules/spread-manure-short">Spread manure short version</a>, <a href="/rules/spread-manure">spread manure with rules</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/rules/rules">
        Rules after stakeholder feedback - not including content designer comments
      </a></td>
      <td class="govuk-table__cell">Rules page </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/rules/rules-draft-2">
        Rules page draft 2 - before stakeholder feedback
      </a></td>
      <td class="govuk-table__cell">Rules page </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/rules/rules-draft-2">
        Rules
      </a></td>
      <td class="govuk-table__cell">Rules page using detailed guidance design patterns and ordered according to card sort and farmer activities</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/rules/rules-collection-feb23">
        Rules collection page
      </a></td>
      <td class="govuk-table__cell">12 Jan - rules page using collection design patterns and ordering information using the card sort findings.</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/rules/rules-draft-1">
        Rules
      </a></td>
      <td class="govuk-table__cell">Rules page using detailed guidance design patterns</td>
    </tr>
  </tbody>
</table>



{% endblock %}
