{% extends "layout.html" %}

{% extends "./layouts/_BASEFULL.html" %}

{% block service %}

<span class="govuk-caption-xl">Prototypes</span>
<h1 class="govuk-heading-xl">
  Rules for farmers - ideas
</h1>
<p>
  Legal standards are developing a guidance page that covers all the rules for farmers.
</p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Prototype</th>
      <th class="govuk-table__header" scope="col">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/rules/rules">
        Rules
      </a></td>
      <td class="govuk-table__cell">Rules page using detailed guidance design patterns and ordered according to card sort and farmer activities</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/rules/rules-collection">
        Rules collection page
      </a></td>
      <td class="govuk-table__cell">12 Jan - rules page using collection design patterns and ordering information using the card sort findings.</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/rules/rules-draft-1">
        Rules
      </a></td>
      <td class="govuk-table__cell">Rules page using detailed guidance design patterns</td>
    </tr>
  </tbody>
</table>



{% endblock %}
