{% extends "./layouts/GUIDANCEpoultryregs.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>




<div class="govuk-grid-row govuk-!-margin-bottom-7">
      <div class="govuk-grid-column-one-third  govuk-!-margin-bottom-2">
        <h2 class="gem-c-heading govuk-heading-m">Register</h2>

      </div>
      <div class="govuk-grid-column-two-thirds">
          <ul class="govuk-list app-c-topic-list" lang="en">
      <li class="app-c-topic-list__item">
        <a class="govuk-link govuk-link--no-underline app-c-topic-list__link " href="https://www.gov.uk/government/publications/poultry-including-game-birds-registration-rules-and-forms">Poultry (including game birds): registration rules and forms</a>
      </li>

</ul>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-7">
          <div class="govuk-grid-column-one-third  govuk-!-margin-bottom-2">
            <h2 class="gem-c-heading govuk-heading-m">Health</h2>

          </div>
          <div class="govuk-grid-column-two-thirds">
              <ul class="govuk-list app-c-topic-list" lang="en">
          <li class="app-c-topic-list__item">
            <a class="govuk-link govuk-link--no-underline app-c-topic-list__link " href="https://www.gov.uk/guidance/poultry-health-scheme-how-to-register">Poultry Health Scheme: how to register</a>
          </li>
          <li class="app-c-topic-list__item">
            <a class="govuk-link govuk-link--no-underline app-c-topic-list__link " href="https://www.gov.uk/government/publications/poultry-on-farm-welfare">Poultry: on-farm welfare</a>
          </li>

          <li class="app-c-topic-list__item">
            <a class="govuk-link govuk-link--no-underline app-c-topic-list__link " href="https://www.gov.uk/guidance/poultry-welfare-off-the-farm">Poultry welfare off the farm</a>
          </li>
          <li class="app-c-topic-list__item">
            <a class="govuk-link govuk-link--no-underline app-c-topic-list__link " href="food.gov.uk/business-guidance/poultry-farming-guidance">Poultry farming guidance</a>
          </li>
          <li class="app-c-topic-list__item">
            <a class="govuk-link govuk-link--no-underline app-c-topic-list__link " href="#">Salmonella in farmed animals: how to prevent and control the spread</a>
          </li>
          <li class="app-c-topic-list__item">
            <a class="govuk-link govuk-link--no-underline app-c-topic-list__link " href="https://www.gov.uk/guidance/supplying-and-using-animal-by-products-as-farm-animal-feed">Supplying and using animal by-products as farm animal feed</a>
          </li>






    </ul>
          </div>
        </div>


        <div class="govuk-grid-row govuk-!-margin-bottom-7">
              <div class="govuk-grid-column-one-third  govuk-!-margin-bottom-2">
                <h2 class="gem-c-heading govuk-heading-m">Marketing</h2>

              </div>
              <div class="govuk-grid-column-two-thirds">
                  <ul class="govuk-list app-c-topic-list" lang="en">
              <li class="app-c-topic-list__item">
                <a class="govuk-link govuk-link--no-underline app-c-topic-list__link " href="https://www.gov.uk/guidance/eggs-trade-regulations">Eggs: marketing and trade</a>
              </li>
              <li class="app-c-topic-list__item">
                <a class="govuk-link govuk-link--no-underline app-c-topic-list__link " href="https://www.gov.uk/guidance/egg-marketing-standards">Egg marketing standards</a>
              </li>
              <li class="app-c-topic-list__item">
                <a class="govuk-link govuk-link--no-underline app-c-topic-list__link " href="https://www.gov.uk/guidance/poultry-meat-marketing-standards">Poultry meat marketing standards</a>
              </li>




        </ul>
              </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-bottom-7">
                  <div class="govuk-grid-column-one-third  govuk-!-margin-bottom-2">
                    <h2 class="gem-c-heading govuk-heading-m">Manure</h2>

                  </div>
                  <div class="govuk-grid-column-two-thirds">
                      <ul class="govuk-list app-c-topic-list" lang="en">
                  <li class="app-c-topic-list__item">
                    <a class="govuk-link govuk-link--no-underline app-c-topic-list__link " href="https://www.gov.uk/government/publications/bird-flu-licence-for-spreading-or-moving-used-poultry-litter-manure-and-slurry-from-a-protection-or-surveillance-zone-exd353hpaigb#:~:text=Statutory%20guidance-,Bird%20flu%3A%20licence%20for%20spreading%20or%20moving%20used%20poultry%20litter,zone%20or%20a%20surveillance%20zone.">Bird flu: licence for spreading or moving used poultry litter, manure and slurry from a protection or surveillance zone (EXD353(HPAI)(GB))</a>
                  </li>
                  <li class="app-c-topic-list__item">
                    <a class="govuk-link govuk-link--no-underline app-c-topic-list__link " href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/355571/Manure_Factsheet.pdf">Storage and spreading of poultry manure</a>
                  </li>
                  <li class="app-c-topic-list__item">
                    <a class="govuk-link govuk-link--no-underline app-c-topic-list__link " href="https://www.gov.uk/guidance/how-to-use-store-or-move-manure-guano-and-digestive-tract-content">How to use, store or move manure, guano and digestive tract content</a>
                  </li>




            </ul>

            </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-bottom-7">
                  <div class="govuk-grid-column-one-third  govuk-!-margin-bottom-2">
                    <h2 class="gem-c-heading govuk-heading-m">Organic poultry farms</h2>

                  </div>
                  <div class="govuk-grid-column-two-thirds">
                      <ul class="govuk-list app-c-topic-list" lang="en">
                  <li class="app-c-topic-list__item">
                    <a class="govuk-link govuk-link--no-underline app-c-topic-list__link " href="https://www.gov.uk/guidance/organic-farming-how-to-get-certification-and-apply-for-funding">Organic farming: how to get certification and apply for funding</a>
                  </li>
                  <li class="app-c-topic-list__item">
                    <a class="govuk-link govuk-link--no-underline app-c-topic-list__link " href="https://www.gov.uk/guidance/organic-food-labelling-rules">Organic food labelling rules</a>
                  </li>

                  </ul>
                  </div>
                </div>





</div>


{% endblock %}
