{% extends "./layouts/GUIDANCErulescollection1.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>


<p class="govuk-body">Find out the rules that apply to your farming activities.</p>

      <h2 id="manage-land" class="govuk-heading-m">Manage land, watercourses and boundaries</h2>
      <p class="govuk-body">On all land you must follow the rules to manage landscape features and protect the environment.</p>

      <ul class="gem-c-document-list">

        <li class="gem-c-document-list__item  ">

          <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/guidance/rules-for-farmers-and-land-managers-to-prevent-water-pollution">Rules for farmers and land managers to prevent water pollution</a>




            <ul class="gem-c-document-list__item-metadata">

                  <li class="gem-c-document-list__attribute">
                      <time datetime="2022-12-12T12:08:11+00:00">
                        2 April 2018
                      </time>
                  </li>
                  <li class="gem-c-document-list__attribute">
                      Guidance
                  </li>
            </ul>
          </li>

          <li class="gem-c-document-list__item  ">

            <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/guidance/managing-common-land">Managing common land</a>

              <ul class="gem-c-document-list__item-metadata">

                    <li class="gem-c-document-list__attribute">
                        <time datetime="2022-12-12T12:08:11+00:00">
                          28 March 2015
                        </time>
                    </li>
                    <li class="gem-c-document-list__attribute">
                        Guidance
                    </li>
              </ul>
            </li>

            <li class="gem-c-document-list__item  ">

              <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/guidance/protected-areas-sites-of-special-scientific-interest">Sites of special scientific interest</a>

                <ul class="gem-c-document-list__item-metadata">

                      <li class="gem-c-document-list__attribute">
                          <time datetime="2022-12-12T12:08:11+00:00">
                            28 March 2015
                          </time>
                      </li>
                      <li class="gem-c-document-list__attribute">
                          Guidance
                      </li>
                </ul>
              </li>

              <li class="gem-c-document-list__item  ">

                <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/protecting-rural-landscapes-and-features/scheduled-monuments">Protecting rural landscapes and features</a>

                  <ul class="gem-c-document-list__item-metadata">

                        <li class="gem-c-document-list__attribute">
                            <time datetime="2022-12-12T12:08:11+00:00">
                              28 March 2015
                            </time>
                        </li>
                        <li class="gem-c-document-list__attribute">
                            Guidance
                        </li>
                  </ul>
                </li>

                <li class="gem-c-document-list__item  ">

                  <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/guidance/organic-farming-how-to-get-certification-and-apply-for-funding">Organic farming: how to get certification and apply for funding</a>

                    <ul class="gem-c-document-list__item-metadata">

                          <li class="gem-c-document-list__attribute">
                              <time datetime="2022-12-12T12:08:11+00:00">
                              29 April 2016
                              </time>
                          </li>
                          <li class="gem-c-document-list__attribute">
                              Guidance
                          </li>
                    </ul>
                  </li>

                <li class="gem-c-document-list__item  ">

                  <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/government/publications/the-countryside-code/the-countryside-code-advice-for-land-managers">The Countryside Code: advice for land managers</a>

                    <ul class="gem-c-document-list__item-metadata">

                          <li class="gem-c-document-list__attribute">
                              <time datetime="2022-12-12T12:08:11+00:00">
                                7 February 2022
                              </time>
                          </li>
                          <li class="gem-c-document-list__attribute">
                              Guidance
                          </li>
                    </ul>
                  </li>

                  <li class="gem-c-document-list__item  ">

                    <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/guidance/heather-and-grass-burning-apply-for-a-licence">Heather and grassland burning: apply for a licence</a>

                      <ul class="gem-c-document-list__item-metadata">

                            <li class="gem-c-document-list__attribute">
                                <time datetime="2022-12-12T12:08:11+00:00">
                                  13 October 2014
                                </time>
                            </li>
                            <li class="gem-c-document-list__attribute">
                                Guidance
                            </li>
                      </ul>
                    </li>


      <li class="gem-c-document-list__item  ">

        <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/guidance/owning-a-watercourse">Owning a watercourse</a>

            <ul class="gem-c-document-list__item-metadata">

              <li class="gem-c-document-list__attribute">
                <time datetime="2022-12-12T12:08:11+00:00">
                  15 February 2018
                </time>
              </li>
                <li class="gem-c-document-list__attribute">
                  Guidance
                </li>
              </ul>

            <li class="gem-c-document-list__item  ">

                      <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/government/publications/a-guide-to-planning-new-woodland-in-england">A guide to planning new woodland in England</a>

                        <ul class="gem-c-document-list__item-metadata">

                              <li class="gem-c-document-list__attribute">
                                  <time datetime="2022-12-12T12:08:04+00:00">
                                    15 November 2021
                                  </time>
                              </li>
                              <li class="gem-c-document-list__attribute">
                                  Guidance
                              </li>
                        </ul>

                  </li>


                  <li class="gem-c-document-list__item  ">

                            <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/guidance/tree-felling-overview">Tree felling overview</a>

                              <ul class="gem-c-document-list__item-metadata">

                                    <li class="gem-c-document-list__attribute">
                                        <time datetime="2022-12-12T12:08:04+00:00">
                                          9 July 2018
                                        </time>
                                    </li>
                                    <li class="gem-c-document-list__attribute">
                                        Guidance
                                    </li>
                              </ul>

                        </li>

                        <li class="gem-c-document-list__item  ">

                                  <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/government/collections/tree-pests-and-diseases">Tree pests and diseases</a>

                                    <ul class="gem-c-document-list__item-metadata">

                                          <li class="gem-c-document-list__attribute">
                                              <time datetime="2022-12-12T12:08:04+00:00">
                                                26 September 2018
                                              </time>
                                          </li>
                                          <li class="gem-c-document-list__attribute">
                                              Guidance
                                          </li>
                                    </ul>

                              </li>

                              <li class="gem-c-document-list__item  ">

                                        <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/guidance/countryside-hedgerows-regulation-and-management">Countryside hedgerows: protection and management</a>

                                          <ul class="gem-c-document-list__item-metadata">

                                                <li class="gem-c-document-list__attribute">
                                                    <time datetime="2022-12-12T12:08:04+00:00">
                                                      11 September 2014
                                                    </time>
                                                </li>
                                                <li class="gem-c-document-list__attribute">
                                                    Guidance
                                                </li>
                                          </ul>

                                    </li>

            </ul>

<h2 id="manage-land" class="govuk-heading-m">Change land use</h2>
<p class="govuk-body">If you manage or own land, you must follow rules when you plan to change land use.</p>

<ul class="gem-c-document-list">



<li class="gem-c-document-list__item  ">

  <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/guidance/eia-agriculture-regulations-apply-to-make-changes-to-rural-land">EIA agriculture regulations: apply to make changes to rural land</a>


      <ul class="gem-c-document-list__item-metadata">

        <li class="gem-c-document-list__attribute">
          <time datetime="2022-12-12T12:08:11+00:00">
            16 September 2014
          </time>
        </li>
          <li class="gem-c-document-list__attribute">
            Guidance
          </li>
        </ul>

<li class="gem-c-document-list__item  ">

          <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/guidance/environmental-impact-assessments-for-woodland">Environmental Impact Assessments for woodland</a>



            <ul class="gem-c-document-list__item-metadata">

                  <li class="gem-c-document-list__attribute">
                      <time datetime="2022-12-12T12:08:04+00:00">
                        28 September 2021
                      </time>
                  </li>
                  <li class="gem-c-document-list__attribute">
                      Guidance
                  </li>
            </ul>

      </li>

      </ul>

      <h2 id="manage-land" class="govuk-heading-m">Farming in a nitrate vulnerable zone</h2>

      <p class="govuk-body">There are extra rules for those who farm in nitrate vulnerable zones. These cover using fertiliser or manure on your land and require you to have up-to-date nutrient management plan.</p>

      <ul class="gem-c-document-list">






              <li class="gem-c-document-list__item  ">

                <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/government/collections/nitrate-vulnerable-zones#rules-you-must-follow">Nitrate vulnerable zones</a>




                  <ul class="gem-c-document-list__item-metadata">

                        <li class="gem-c-document-list__attribute">
                            <time datetime="2022-12-12T12:08:11+00:00">
                              2 August 2018
                            </time>
                        </li>
                        <li class="gem-c-document-list__attribute">
                            Guidance
                        </li>
                  </ul>
                  </li>

      </ul>




<h2 id="rules-for-keeping-animals" class="govuk-heading-m">Look after the health and welfare of livestock</h2>

<p class="govuk-body">If you keep livestock, you must follow rules on animal welfare, identity and tracking, movements, food safety, use of medicines, reporting notifiable diseases, disposing of fallen stock, managing animal by-products, farming intensively and protecting the public from cattle when on public rights of way.</p>

<ul class="gem-c-document-list">



<li class="gem-c-document-list__item  ">

  <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/guidance/animal-welfare">Animal welfare</a>


      <ul class="gem-c-document-list__item-metadata">

        <li class="gem-c-document-list__attribute">
          <time datetime="2022-12-12T12:08:11+00:00">
            9 April 2013
          </time>
        </li>
          <li class="gem-c-document-list__attribute">
            Guidance
          </li>
        </ul>

      <li class="gem-c-document-list__item  ">

                <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/government/collections/guidance-for-keepers-of-sheep-goats-and-pigs">Keeping sheep, goats, pigs and deer</a>



                  <ul class="gem-c-document-list__item-metadata">

                        <li class="gem-c-document-list__attribute">
                            <time datetime="2022-12-12T12:08:04+00:00">
                              31 December 2014
                            </time>
                        </li>
                        <li class="gem-c-document-list__attribute">
                            Guidance
                        </li>
                  </ul>

            </li>

            <li class="gem-c-document-list__item  ">

                      <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/government/publications/poultry-including-game-birds-registration-rules-and-forms">Poultry: including game birds registration rules and forms</a>



                        <ul class="gem-c-document-list__item-metadata">

                              <li class="gem-c-document-list__attribute">
                                  <time datetime="2022-12-12T12:08:04+00:00">
                                    6 November 2018
                                  </time>
                              </li>
                              <li class="gem-c-document-list__attribute">
                                  Form
                              </li>
                        </ul>

                  </li>

                  <li class="gem-c-document-list__item  ">

                            <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/government/collections/guidance-on-keeping-cattle-bison-and-buffalo-in-great-britain">Keeping cattle, bison and buffalo in Great Britain</a>



                              <ul class="gem-c-document-list__item-metadata">

                                    <li class="gem-c-document-list__attribute">
                                        <time datetime="2022-12-12T12:08:04+00:00">
                                          6 May 2014
                                        </time>
                                    </li>
                                    <li class="gem-c-document-list__attribute">
                                        Guidance
                                    </li>
                              </ul>

                        </li>

                  <li class="gem-c-document-list__item  ">

                            <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/guidance/moving-cattle-what-cattle-keepers-need-to-know">Moving cattle: what cattle keepers need to know</a>



                              <ul class="gem-c-document-list__item-metadata">

                                    <li class="gem-c-document-list__attribute">
                                        <time datetime="2022-12-12T12:08:04+00:00">
                                          8 November 2022
                                        </time>
                                    </li>
                                    <li class="gem-c-document-list__attribute">
                                        Guidance
                                    </li>
                              </ul>

                        </li>
                        <li class="gem-c-document-list__item  ">

                                  <a class="gem-c-document-list__item-title   govuk-link" href="https://hse.gov.uk/pubns/ais17ew.htm">Cattle and public access in England and Wales</a>



                                    <ul class="gem-c-document-list__item-metadata">

                                          <li class="gem-c-document-list__attribute">
                                              <time datetime="2022-12-12T12:08:04+00:00">
                                                2019
                                              </time>
                                          </li>
                                          <li class="gem-c-document-list__attribute">
                                              Guidance
                                          </li>
                                    </ul>

                              </li>

                              <li class="gem-c-document-list__item  ">

                                        <a class="gem-c-document-list__item-title   govuk-link" href="https://www.food.gov.uk/business-guidance/animal-feed-legislation">Animal feed legislation</a>



                                          <ul class="gem-c-document-list__item-metadata">

                                                <li class="gem-c-document-list__attribute">
                                                    <time datetime="2022-12-12T12:08:04+00:00">
                                                    31 December 2020
                                                    </time>
                                                </li>
                                                <li class="gem-c-document-list__attribute">
                                                    Guidance
                                                </li>
                                          </ul>

                                    </li>

                                    <li class="gem-c-document-list__item  ">

                                              <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/government/publications/responsible-use-of-animal-medicines-on-the-farm">Responsible use of animal medicines on the farm</a>



                                                <ul class="gem-c-document-list__item-metadata">

                                                      <li class="gem-c-document-list__attribute">
                                                          <time datetime="2022-12-12T12:08:04+00:00">
                                                          19 December 2014
                                                          </time>
                                                      </li>
                                                      <li class="gem-c-document-list__attribute">
                                                          Guidance
                                                      </li>
                                                </ul>

                                          </li>

                                      <li class="gem-c-document-list__item  ">

                                                    <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/government/collections/notifiable-diseases-in-animals">Notifiable diseases in animals</a>



                                                      <ul class="gem-c-document-list__item-metadata">

                                                            <li class="gem-c-document-list__attribute">
                                                                <time datetime="2022-12-12T12:08:04+00:00">
                                                              26 August 2014
                                                                </time>
                                                            </li>
                                                            <li class="gem-c-document-list__attribute">
                                                                Guidance
                                                            </li>
                                                      </ul>

                                                </li>


                                                      <li class="gem-c-document-list__item  ">

                                                                <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/guidance/fallen-stock">Fallen stock and safe disposal of dead animals</a>



                                                                  <ul class="gem-c-document-list__item-metadata">

                                                                        <li class="gem-c-document-list__attribute">
                                                                            <time datetime="2022-12-12T12:08:04+00:00">
                                                                            29 August 2012
                                                                            </time>
                                                                        </li>
                                                                        <li class="gem-c-document-list__attribute">
                                                                            Guidance
                                                                        </li>
                                                                  </ul>

                                                            </li>


                                                            <li class="gem-c-document-list__item  ">

                                                                      <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/government/publications/intensive-farming-introduction-and-chapters">Intensive farming environmental permitting guidance</a>



                                                                        <ul class="gem-c-document-list__item-metadata">

                                                                              <li class="gem-c-document-list__attribute">
                                                                                  <time datetime="2022-12-12T12:08:04+00:00">
                                                                                1 January 2010
                                                                                  </time>
                                                                              </li>
                                                                              <li class="gem-c-document-list__attribute">
                                                                                  Guidance
                                                                              </li>
                                                                        </ul>

                                                                  </li>

                                                                  <li class="gem-c-document-list__item  ">

                                                                            <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/guidance/storing-silage-slurry-and-agricultural-fuel-oil">Storing slurry, silage and agricultural fuel oil</a>



                                                                              <ul class="gem-c-document-list__item-metadata">

                                                                                    <li class="gem-c-document-list__attribute">
                                                                                        <time datetime="2022-12-12T12:08:04+00:00">
                                                                                        26 March 2015
                                                                                        </time>
                                                                                    </li>
                                                                                    <li class="gem-c-document-list__attribute">
                                                                                        Guidance
                                                                                    </li>
                                                                              </ul>

                                                                        </li>

                                                                  <li class="gem-c-document-list__item  ">

                                                                            <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/guidance/approved-breeding-programmes-standards-for-breed-societies-and-organisations">Approved breeding programmes: standards for breed societies and organisations</a>



                                                                              <ul class="gem-c-document-list__item-metadata">

                                                                                    <li class="gem-c-document-list__attribute">
                                                                                        <time datetime="2022-12-12T12:08:04+00:00">
                                                                                      11 February 2022
                                                                                        </time>
                                                                                    </li>
                                                                                    <li class="gem-c-document-list__attribute">
                                                                                        Guidance
                                                                                    </li>
                                                                              </ul>

                                                                        </li>



      </ul>


      <h2 id="grow-crops" class="govuk-heading-m">Grow crops</h2>

      <p class="govuk-body">Follow the rules and restrictions when using pesticides, planning your use of manure and fertiliser, choosing the places and times to burn crop residues.</p>

      <ul class="gem-c-document-list">
            <li class="gem-c-document-list__item  ">

              <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/government/publications/professional-plant-protection-products-ppps-register-as-a-user">Plant protection products (PPPs): register as a professional user</a>

                <ul class="gem-c-document-list__item-metadata">

                      <li class="gem-c-document-list__attribute">
                          <time datetime="2022-12-12T12:08:04+00:00">
                            31 March 2022
                          </time>
                      </li>
                      <li class="gem-c-document-list__attribute">
                          Form
                      </li>
                </ul>


            </li>
            <li class="gem-c-document-list__item  ">

              <a class="gem-c-document-list__item-title   govuk-link" rel="external" href="https://www.hse.gov.uk/pesticides/">Pesticides</a>




                <!--  <ul class="gem-c-document-list__item-metadata">

                    <li class="gem-c-document-list__attribute">
                          <time datetime="2022-12-12T12:08:11+00:00">
                            12 December 2022
                          </time>
                      </li>
                      <li class="gem-c-document-list__attribute">
                          Form
                      </li>
                </ul>-->
                </li>


                <li class="gem-c-document-list__item  ">

                  <a class="gem-c-document-list__item-title   govuk-link" rel="external" href="https://voluntaryinitiative.org.uk/schemes/integrated-pest-management/">Have an integrated pest management plan</a>


                <!-- <li class="gem-c-document-list__item  ">

                    <ul class="gem-c-document-list__item-metadata">

                          <!--<li class="gem-c-document-list__attribute">
                              <time datetime="2022-12-12T12:08:11+00:00">
                                12 December 2022
                              </time>
                          </li>
                          <li class="gem-c-document-list__attribute">
                              Form
                          </li>
                    </ul>-->
                    </li>

                    <li class="gem-c-document-list__item  ">

                      <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/guidance/check-if-you-need-a-licence-to-abstract-water">Check if you need a licence to abstract water</a>

                          <ul class="gem-c-document-list__item-metadata">

                            <li class="gem-c-document-list__attribute">
                              <time datetime="2022-12-12T12:08:11+00:00">
                                31 March 2022
                              </time>
                            </li>
                              <li class="gem-c-document-list__attribute">
                                Guidance
                              </li>
                            </ul>

                    </li>



              <li class="gem-c-document-list__item  ">

                <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/guidance/burning-crop-residues-restrictions-and-rules-for-farmers-and-land-managers">Burning crop residues: restrictions and rules for farmers and land managers</a>

                    <ul class="gem-c-document-list__item-metadata">

                      <li class="gem-c-document-list__attribute">
                        <time datetime="2022-12-12T12:08:11+00:00">
                          7 December 2021
                        </time>
                      </li>
                        <li class="gem-c-document-list__attribute">
                          Guidance
                        </li>
                      </ul>

              </li>

              <li class="gem-c-document-list__item  ">

                <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/government/collections/guides-and-forms-for-plant-varieties-and-seeds-applications">Guides and forms for plant varieties and seeds applications</a>

                    <ul class="gem-c-document-list__item-metadata">

                      <li class="gem-c-document-list__attribute">
                        <time datetime="2022-12-12T12:08:11+00:00">
                          25 April 2016
                        </time>
                      </li>
                        <li class="gem-c-document-list__attribute">
                          Guidance
                        </li>
                      </ul>

              </li>

      </ul>



<h2 id="rules-for-trade-with-other-countries" class="govuk-heading-m">Importing or exporting goods<h2>

<p class="govuk-body">There are licences, rules and restrictions if you import or export goods.</p>

<ul class="gem-c-document-list">
      <li class="gem-c-document-list__item  ">

        <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/topic/producing-distributing-food/import-export">Import, export and distribution of food: detailed information</a>

        <!--  <ul class="gem-c-document-list__item-metadata">

                <li class="gem-c-document-list__attribute">
                    <time datetime="2022-12-12T12:08:04+00:00">
                      31 March 2022
                    </time>
                </li>
                <li class="gem-c-document-list__attribute">
                    Form
                </li>
          </ul>-->


      </li>

      </ul>


<h2 id="deal-with-waste" class="govuk-heading-m">Deal with waste</h2>
<p class="govuk-body">If you manage or own land, you must follow rules when you deal with waste.</p>

<ul class="gem-c-document-list">

      <li class="gem-c-document-list__item  ">

        <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/guidance/manage-waste-on-land-guidance-for-land-managers">Manage waste on land: guidance for land managers</a>

          <ul class="gem-c-document-list__item-metadata">

                <li class="gem-c-document-list__attribute">
                    <time datetime="2022-12-12T12:08:11+00:00">
                      8 May 2014
                    </time>
                </li>
                <li class="gem-c-document-list__attribute">
                    Guidance
                </li>
          </ul>

          <li class="gem-c-document-list__item  ">

                    <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u10-spreading-waste-to-benefit-agricultural-land">U10 waste exemption: spreading waste to benefit agricultural land</a>


                      <ul class="gem-c-document-list__item-metadata">

                            <li class="gem-c-document-list__attribute">
                                <time datetime="2022-12-12T12:08:04+00:00">
                              28 April 2014
                                </time>
                            </li>
                            <li class="gem-c-document-list__attribute">
                                Guidance
                            </li>
                      </ul>


                  </li>

                  <li class="gem-c-document-list__item  ">

                            <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/government/publications/sewage-sludge-in-agriculture-code-of-practice">Sewage sludge in agriculture: code of practice</a>

                              <ul class="gem-c-document-list__item-metadata">

                                    <li class="gem-c-document-list__attribute">
                                        <time datetime="2022-12-12T12:08:04+00:00">
                                          23 May 2018
                                        </time>
                                    </li>
                                    <li class="gem-c-document-list__attribute">
                                        Guidance
                                    </li>
                              </ul>


                          </li>

          <li class="gem-c-document-list__item  ">

                    <a class="gem-c-document-list__item-title   govuk-link" href="https://www.gov.uk/guidance/discharges-to-surface-water-and-groundwater-environmental-permits">Discharges to surface water and groundwater: environmental permits</a>



                      <ul class="gem-c-document-list__item-metadata">

                            <li class="gem-c-document-list__attribute">
                                <time datetime="2022-12-12T12:08:04+00:00">
                              1 February 2016
                                </time>
                            </li>
                            <li class="gem-c-document-list__attribute">
                                Guidance
                            </li>
                      </ul>


                  </li>

</ul>












{% endblock %}
