{% extends "./layouts/GUIDANCErules.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>


<p class="govuk-body">Find out the rules that apply to your farming activities.</p>
<h2 id="rules-to-protect-your-environment" class="govuk-heading-m">Manage land</h2>

<p class="govuk-body">On all land you must follow the rules and:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>learn how to <a href="https://www.gov.uk/guidance/manage-waste-on-land-guidance-for-land-managers">manage and dispose of waste</a>
</li>
  <li><a href="https://www.gov.uk/guidance/countryside-hedgerows-regulation-and-management">protect and maintain hedgerows</a></li>
  <li><a href="https://www.gov.uk/guidance/owning-a-watercourse">maintain watercourses</a></li>
  <li>
    <a href="https://www.gov.uk/guidance/rules-for-farmers-and-land-managers-to-prevent-water-pollution#prevent-erosion-manage-livestock-and-soil">manage soils appropriately and avoid causing pollution</a> as described in farming rules for water
  </li>
  <li>
    for <a href="https://www.gov.uk/guidance/storing-silage-slurry-and-agricultural-fuel-oil">storing agricultural fuel oil</a>
  </li>
</ul>

<p class="govuk-body">You must follow rules if you:</p>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://www.gov.uk/government/publications/a-guide-to-planning-new-woodland-in-england">grow new woodland</a>,<a href="https://www.gov.uk/guidance/tree-felling-overview">fell trees</a> or have to <a href="https://www.gov.uk/government/collections/tree-pests-and-diseases">protect tree health</a></li>
  <li><a href="https://www.gov.uk/guidance/heather-and-grass-burning-apply-for-a-licence">burn heather or grassland</a>, you can only do this at certain times and may need a licence</li>
  <li>have to protect <a href="https://www.gov.uk/protecting-rural-landscapes-and-features/scheduled-monuments">scheduled monuments</a> on your land</li>
  <li>manage land with <a href="https://www.gov.uk/government/publications/the-countryside-code/the-countryside-code-advice-for-land-managers">public rights of way</a>, open access rights or in the coastal margin</li>
  <li>manage or make use of <a href="https://www.gov.uk/guidance/managing-common-land">common land</a>
</li>
  <li>own or occupy <a href="https://www.gov.uk/guidance/protected-areas-sites-of-special-scientific-interest">sites of special scientific interest</a>
</li>
<li>plan on changing your land use you may need to apply for an Environmental Impact Assessment for <a href="https://www.gov.uk/guidance/eia-agriculture-regulations-apply-to-make-changes-to-rural-land">rural land</a> or <a href="https://www.gov.uk/guidance/environmental-impact-assessments-for-woodland">forestry</a>
</li>
  <li><a href="https://www.gov.uk/guidance/discharges-to-surface-water-and-groundwater-environmental-permits">discharge liquid effluent or waste water</a> to surface water or the ground</li>
  <li><a href="https://www.gov.uk/government/publications/sewage-sludge-in-agriculture-code-of-practice">produce or use sewage sludge in agriculture</a></li>
  <li><a href="https://www.gov.uk/guidance/waste-exemption-u10-spreading-waste-to-benefit-agricultural-land">spread waste
     on your land</a></li>
</ul>

<h2 id="rules-for-keeping-animals" class="govuk-heading-m">Keep animals</h2>

<p class="govuk-body">If you keep animals, you must follow rules:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>relating to <a href="https://www.gov.uk/guidance/animal-welfare">animal welfare</a> on and off your land and when transporting</li>
  <li>to identify and track animals, including <a href="https://www.gov.uk/government/collections/guidance-on-keeping-cattle-bison-and-buffalo-in-great-britain">cattle</a>, <a href="https://www.gov.uk/government/collections/guidance-for-keepers-of-sheep-goats-and-pigs">sheep, goats, pigs, deer</a>, <a href="https://www.gov.uk/government/publications/poultry-including-game-birds-registration-rules-and-forms">poultry</a>
</li>
<li>to <a href="https://www.gov.uk/guidance/moving-cattle-what-cattle-keepers-need-to-know">control animal movements</a> and <a href="https://www.gov.uk/guidance/rules-for-farmers-and-land-managers-to-prevent-water-pollution#manage-livestock">making sure animal movements don’t affect soil quality</a>
</li>
<li>to <a href="">protect walkers from cattle</a></li>
  <li>on <a rel="external" href="https://www.food.gov.uk/business-guidance/animal-feed-legislation">animal feed safety and hygiene</a></li>
  <li>about <a href="https://www.gov.uk/government/publications/responsible-use-of-animal-medicines-on-the-farm">animal medicines</a>
</li>
<li>and report<a href="https://www.gov.uk/government/collections/notifiable-diseases-in-animals"> </a><a href="https://www.gov.uk/government/collections/notifiable-diseases-in-animals">notifiable animal diseases</a> to the Animal and Plant Health Agency (APHA)</li>
  <li>
    for <a href="https://www.gov.uk/guidance/storing-silage-slurry-and-agricultural-fuel-oil">storing slurry and silage</a>, you need sufficient and appropriate storage facilities, and permission for those facilities
  </li>
  <li>to dispose of <a href="https://www.gov.uk/guidance/fallen-stock">fallen stock</a></li>
  <li>to manage <a href="https://www.gov.uk/government/collections/guidance-for-the-animal-by-product-industry">animal by-products</a>
</li>
  <li>when <a href="https://www.gov.uk/government/publications/intensive-farming-introduction-and-chapters">farming pigs or poultry intensively</a></li>
</ul>

<h2 id="rules-for-growing-plants" class="govuk-heading-m">Grow plants</h2>

<p class="govuk-body">Growing any plants, if you:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>use pesticides you must <a href="https://www.gov.uk/government/publications/professional-plant-protection-products-ppps-register-as-a-user">register</a> as a user, follow the rules for <a rel="external" href="https://www.hse.gov.uk/pesticides/">storing, transporting and using pesticides</a>, and have an up-to-date<a rel="external" href="https://voluntaryinitiative.org.uk/schemes/integrated-pest-management/">integrated pest management</a> plan</li>
  <li>
<a href="https://www.gov.uk/guidance/rules-for-farmers-and-land-managers-to-prevent-water-pollution#assess-pollution-risks">use any fertilisers or manures</a> you should have an up-to-date nutrient management plan, which is based on recent soil testing</li>
  <li>are in a <a href="https://www.gov.uk/government/collections/nitrate-vulnerable-zones#rules-you-must-follow">nitrate vulnerable zone</a> your plans for using manure or fertiliser should take this into account</li>
  <li>
<a href="https://www.gov.uk/guidance/check-if-you-need-a-licence-to-abstract-water">abstract water</a> you may need a licence from the Environment Agency, and if you irrigate land you should be aware of restrictions</li>
  <li>
<a href="https://www.gov.uk/guidance/burning-crop-residues-restrictions-and-rules-for-farmers-and-land-managers">burn crop residues</a> you should be aware of rules about restrictions on the places and times this is allowed</li>
</ul>

<h2 id="rules-for-trade-with-other-countries" class="govuk-heading-m">Trading with other countries<h2>

<p class="govuk-body">There are licences, rules and restrictions if you:</p>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://www.gov.uk/topic/producing-distributing-food/import-export">import or export goods</a></li>
  <li>want to be certified as an <a href="https://www.gov.uk/guidance/organic-farming-how-to-get-certification-and-apply-for-funding">organic farmer</a>
</li>
  <li>breed <a href="https://www.gov.uk/guidance/approved-breeding-programmes-standards-for-breed-societies-and-organisations">animals</a></li>
  <li>breed <a href="https://www.gov.uk/government/collections/guides-and-forms-for-plant-varieties-and-seeds-applications">plants</a>
</li>
</ul>





{% endblock %}
