{% extends "./layouts/GUIDANCErules.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>


<p class="govuk-body">Find out the rules that apply to farming activities.</p>


<h2 id="keep-livestock" class="govuk-heading-m">Keep livestock</h2>

<p class="govuk-body">If you keep livestock, you must follow rules to protect the health and welfare of your livestock and customers. Follow the rules:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>relating to <a href="https://www.gov.uk/guidance/animal-welfare">animal welfare</a> on and off your land and when transporting them</li>
  <li>to identify and track animals, including <a href="https://www.gov.uk/government/collections/guidance-on-keeping-cattle-bison-and-buffalo-in-great-britain">cattle</a>, <a href="https://www.gov.uk/government/collections/guidance-for-keepers-of-sheep-goats-and-pigs">sheep, goats, pigs, deer</a>, <a href="https://www.gov.uk/government/publications/poultry-including-game-birds-registration-rules-and-forms">poultry</a>
</li>
<li>to <a href="https://www.gov.uk/guidance/rules-for-farmers-and-land-managers-to-prevent-water-pollution#manage-livestock">make sure animal movements don’t affect soil quality</a>
</li>
  <li>breed <a href="https://www.gov.uk/guidance/approved-breeding-programmes-standards-for-breed-societies-and-organisations">animals</a></li>
<li>to <a href="https://www.hse.gov.uk/pubns/ais17ew.htm">protect the public from cattle</a></li>
  <li>on <a rel="external" href="https://www.food.gov.uk/business-guidance/animal-feed-legislation">animal feed safety and hygiene</a></li>
  <li>about <a href="https://www.gov.uk/government/publications/responsible-use-of-animal-medicines-on-the-farm">animal medicines</a> and report <a href="https://www.gov.uk/government/collections/notifiable-diseases-in-animals">notifiable animal diseases</a> to the Animal and Plant Health Agency (APHA)</li>

  <li>when <a href="https://www.gov.uk/government/publications/intensive-farming-introduction-and-chapters">farming pigs or poultry intensively</a></li>
  <li>to dispose of <a href="https://www.gov.uk/guidance/fallen-stock">fallen stock</a></li>
  <li>to manage <a href="https://www.gov.uk/government/collections/guidance-for-the-animal-by-product-industry">animal by-products</a></li>
    <li>
      for <a href="https://www.gov.uk/guidance/storing-silage-slurry-and-agricultural-fuel-oil">storing slurry and silage</a>, you need sufficient and appropriate storage facilities, and permission for those facilities
    </li>

</ul>

<h2 id="rules-for-growing-plants" class="govuk-heading-m">Grow crops</h2>

<p class="govuk-body">If you grow or work on crops, grass or plants, you must follow rules when you:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>use pesticides you must <a href="https://www.gov.uk/government/publications/professional-plant-protection-products-ppps-register-as-a-user">register</a> as a user, <a rel="external" href="https://www.hse.gov.uk/pesticides/">store, transport and use pesticides</a>, and have an up-to-date <a rel="external" href="https://voluntaryinitiative.org.uk/schemes/integrated-pest-management/">integrated pest management</a> plan</li>
  <li><a href="https://www.gov.uk/guidance/check-if-you-need-a-licence-to-abstract-water">abstract water</a> you may need a licence from the Environment Agency, and if you irrigate land you should be aware of restrictions</li>
<li><a href="https://www.gov.uk/guidance/rules-for-farmers-and-land-managers-to-prevent-water-pollution#assess-pollution-risks">use any fertilisers or manures</a> you should have an up-to-date nutrient management plan, which is based on recent soil testing</li>
  <li>
<a href="https://www.gov.uk/guidance/burning-crop-residues-restrictions-and-rules-for-farmers-and-land-managers">burn crop residues</a> you should be aware of rules about restrictions on the places and times this is allowed</li>
<li>breed <a href="https://www.gov.uk/government/collections/guides-and-forms-for-plant-varieties-and-seeds-applications">plants</a>
</ul>

<h2 id="manage-land" class="govuk-heading-m">Manage land, water and boundaries</h2>

<p class="govuk-body">On all land you must follow the rules and:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="https://www.gov.uk/guidance/rules-for-farmers-and-land-managers-to-prevent-water-pollution#prevent-erosion-manage-livestock-and-soil">manage soils appropriately and avoid causing water pollution</a> as described in farming rules for water
  </li>
  <li><a href="https://www.gov.uk/guidance/owning-a-watercourse">maintain watercourses</a></li>

  <li>manage land with <a href="https://www.gov.uk/government/publications/the-countryside-code/the-countryside-code-advice-for-land-managers">public rights of way</a>, <a href="https://www.gov.uk/guidance/open-access-land-management-rights-and-responsibilities">open access rights</a> or in the <a href="https://www.gov.uk/guidance/manage-your-land-on-the-england-coast-path">coastal margin</a></li>
<!--  <li>manage or make use of <a href="https://www.gov.uk/guidance/managing-common-land">common land</a></li>-->
  <li><a href="https://www.gov.uk/guidance/heather-and-grass-burning-apply-for-a-licence">burn heather or grassland</a> - you can only do this at certain times and may need a licence</li>
  <li>check if you need to apply for an Environmental Impact Assessment to <a href="https://www.gov.uk/guidance/eia-agriculture-regulations-apply-to-make-changes-to-rural-land">change the use of rural land</a></li>
  <li>find out when you can <a href="https://www.gov.uk/guidance/countryside-hedgerows-regulation-and-management">cut, trim, remove or work on a hedgerow</a></li>
</ul>

<h3 class="govuk-heading-s" id="protect-landscape-features">Protect landscape features</h3>
<p class="govuk-body">There are extra rules to protect local places or historic features. You must:</p>
<ul class="govuk-list govuk-list--bullet">
<li>take care of <a href="https://www.gov.uk/guidance/protected-areas-sites-of-special-scientific-interest">sites of special scientific interest</a> you own or occupy
</li>
<li>protect <a href="https://www.gov.uk/protecting-rural-landscapes-and-features/scheduled-monuments">scheduled monuments</a></li>
</ul>

<h3 class="govuk-heading-s" id="farming-in-nitrate'vulnerable-zones">Farming in nitrate vulnerable zones</h3>
<p class="govuk-body">There are extra rules if you farm in a <a href="https://www.gov.uk/government/collections/nitrate-vulnerable-zones#rules-you-must-follow">nitrate vulnerable zone</a>.  </p>

<h3 class="govuk-heading-s">Change to organic farming</h3>
<p class="govuk-body">You must <a href="https://www.gov.uk/guidance/organic-farming-how-to-get-certification-and-apply-for-funding">get certified as an organic farmer</a> to call a food product organic.</p>

<h2 id="manage-woodland" class="govuk-heading-m">Manage woodland</h2>

<p class="govuk-body">You must follow rules to:</p>

<ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.gov.uk/government/publications/a-guide-to-planning-new-woodland-in-england">grow new woodland</a></li>
      <li><a href="https://www.gov.uk/guidance/tree-felling-overview">fell trees</a> </li>
      <li><a href="https://www.gov.uk/government/collections/tree-pests-and-diseases">protect tree health</a></li>
      <li>check if you need to apply for an Environmental Impact Assessment to <a href="https://www.gov.uk/guidance/environmental-impact-assessments-for-woodland">change the use of forestry land</a>

</ul>

<h2 id="deal-with-waste" class="govuk-heading-m">Manage and dispose of oil and waste</h2>
<p class="govuk-body">Follow the rules to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="https://www.gov.uk/guidance/storing-silage-slurry-and-agricultural-fuel-oil">store oil</a> and build new storage facilities
  </li>
    <li><a href="https://www.gov.uk/guidance/manage-waste-on-land-guidance-for-land-managers">manage and dispose of waste and oil</a>
    </li>
    <li><a href="https://www.gov.uk/guidance/discharges-to-surface-water-and-groundwater-environmental-permits">discharge liquid effluent or waste water</a> to surface water or the ground</li>
    <li><a href="https://www.gov.uk/guidance/waste-exemption-u10-spreading-waste-to-benefit-agricultural-land">spread waste
      on your land</a></li>
    <li><a href="https://www.gov.uk/government/publications/sewage-sludge-in-agriculture-code-of-practice">use sewage sludge in agriculture</a></li>


</ul>

<h2 id="rules-for-trade-with-other-countries" class="govuk-heading-m">Import or export goods<h2>

<p class="govuk-body">There are licences, rules and restrictions if you <a href="https://www.gov.uk/topic/producing-distributing-food/import-export">import or export goods</a>.</p>





{% endblock %}
