{% extends "./layouts/GUIDANCErulessafefood.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>





<li class="gem-c-document-list__item  ">


<div class="govuk-inset-text">

<div class="call-to-action">

<p>This is a new page – give your <a class="govuk-link" href="#">feedback</a> to help us improve it.</p>

</div>
</div>


  <p class="govuk-!-margin-bottom-3"></p>

<p class="govuk-body">There are legal requirements around certain farming activities to protect people, livestock and the environment. This page can help you find the rules that apply to you.</p>

  <div class="browse__section ">
    <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-7">Rules for your activities</h2>




  <h2 id="keep-livestock" class="govuk-heading-m">Keep livestock</h2>
      <a class="govuk-link" href="livestock">Keep livestock</a>
    </li>

      <h2 id="manage-land" class="govuk-heading-m">Manage land that you own or occupy</h2>

    <ul class="govuk-list">


    <li class="govuk-!-margin-bottom-3">

    <a class="govuk-link" href="https://www.gov.uk/guidance/rules-for-farmers-and-land-managers-to-prevent-water-pollution#prevent-erosion-manage-livestock-and-soil">Manage farming and horticultural activities to prevent soil erosion and water pollution</a>
    </li>

        <li class="govuk-!-margin-bottom-3">

        <a class="govuk-link" href="https://www.gov.uk/guidance/public-rights-of-way-landowner-responsibilities">Public rights of way: landowner responsibilities</a>

        </li>

          <li class="govuk-!-margin-bottom-3">

          <a class="govuk-link" href="https://www.gov.uk/guidance/open-access-land-management-rights-and-responsibilities">Open access land: management, rights and responsibilities</a>

          </li>

              <li class="govuk-!-margin-bottom-3">

              <a class="govuk-link" href="https://www.gov.uk/guidance/manage-your-land-on-the-england-coast-path">Coastal margin: management, rights and responsibilities</a>

              </li>

              <li class="govuk-!-margin-bottom-3">

              <a class="govuk-link" href="https://www.gov.uk/guidance/protected-areas-sites-of-special-scientific-interest">Sites of special scientific interest: manage sites you own or occupy</a>

              </li>

              <li class="govuk-!-margin-bottom-3">

              <a class="govuk-link" href="https://www.gov.uk/guidance/heather-and-grass-burning-apply-for-a-licence">Heather and grass burning: rules and when you need a licence</a>

              </li>

                <li class="govuk-!-margin-bottom-3">

                        <a class="govuk-link" href="https://www.gov.uk/guidance/eia-agriculture-regulations-apply-to-make-changes-to-rural-land">Change or improve rural land: check if you need to apply for an Environmental Impact Assessment</a>



                    </li>

  </ul>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
                <h2 id="use-pest-control-products" class="govuk-heading-m">Use pest control products</h2>



<hr class="govuk-section-break govuk-section-break--m govuk-section-break">
              <h2 id="apply-products" class="govuk-heading-m">Apply products to your land</h2>

              <p class="govuk-body"></p>

              <ul class="govuk-list">


                  <li class="govuk-!-margin-bottom-3">

                  <a class="govuk-link" href="https://www.gov.uk/guidance/rules-for-farmers-and-land-managers-to-prevent-water-pollution#assess-pollution-risks">Plan your use of fertiliser or manure to reduce water pollution</a>

                 </li>



                        <li class="govuk-!-margin-bottom-3">

                        <a class="govuk-link" href="https://www.gov.uk/government/collections/nitrate-vulnerable-zones#rules-you-must-follow">Nitrate vulnerable zones: rules when you use fertilisers or store manure</a>

                          </li>

                            <li class="govuk-!-margin-bottom-3">

                                    <a class="govuk-link" href="https://www.gov.uk/government/publications/sewage-sludge-in-agriculture-code-of-practice">Use sewage sludge on your land</a>

                                  </li>

                                    <li class="govuk-!-margin-bottom-3">

                                            <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u10-spreading-waste-to-benefit-agricultural-land">Waste exemption: spread waste to benefit your land</a>

                                          </li>
                                                                

                                            <li class="govuk-!-margin-bottom-3">

                                            <a class="govuk-link" href="https://www.gov.uk/guidance/burning-crop-residues-restrictions-and-rules-for-farmers-and-land-managers">Burning crop residues: restrictions and rules for farmers and land managers</a>

                                          </li>
              </ul>


              <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
                            <h2 id="produce-plant-varieties" class="govuk-heading-m">Produce plant varieties and seeds</h2>
                            <p class="govuk-body"></p>

                            <ul class="govuk-list">

                                <li class="govuk-!-margin-bottom-3">
                                    <a class="govuk-link" href="https://www.gov.uk/government/collections/guides-and-forms-for-plant-varieties-and-seeds-applications">Plant breeders rights: national listing of plant varieties, seed certification and farm saved seed</a>
                                </li>
                            </ul>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break">
              <h2 id="manage-trees" class="govuk-heading-m">Protect landscape features</h2>
              <p class="govuk-body"></p>

              <ul class="govuk-list">


                    <li class="govuk-!-margin-bottom-3">

                            <a class="govuk-link" href="https://www.gov.uk/guidance/countryside-hedgerows-regulation-and-management">Hedgerows: find out if you can remove or carry out work</a>

                        </li>

      <li class="govuk-!-margin-bottom-3">

      <a class="govuk-link" href="https://www.gov.uk/protecting-rural-landscapes-and-features/scheduled-monuments">Get permission before you work on scheduled monuments</a>
      </li>

      </ul>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break">



            <h2 id="manage-trees" class="govuk-heading-m">Manage trees and woodland</h2>
            <p class="govuk-body"></p>

            <ul class="govuk-list">

                <li class="govuk-!-margin-bottom-3">

                        <a class="govuk-link" href="https://www.gov.uk/government/publications/a-guide-to-planning-new-woodland-in-england">A guide to planning new woodland in England</a>

                    </li>


                      <li class="govuk-!-margin-bottom-3">

                              <a class="govuk-link" href="https://www.gov.uk/guidance/tree-felling-overview">Tree felling overview</a>
                          </li>

                            <li class="govuk-!-margin-bottom-3">

                                    <a class="govuk-link" href="https://www.gov.uk/government/collections/tree-pests-and-diseases">Tree pests and diseases</a>

                                </li>

                                  <li class="govuk-!-margin-bottom-3">

                                          <a class="govuk-link" href="https://www.gov.uk/guidance/environmental-impact-assessments-for-woodland">Plan woodland projects: check if you need to apply for an Environmental Impact Assessment</a>

                                      </li>

            </ul>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break">


                <h2 id="manage-water" class="govuk-heading-m">Manage water</h2>
                <p class="govuk-body"></p>

                <ul class="govuk-list">
  <li class="govuk-!-margin-bottom-3">

  <a class="govuk-link" href="https://www.gov.uk/guidance/owning-a-watercourse">Maintain watercourses and understand permissions you need to work around them</a>
        </li>

          <li class="govuk-!-margin-bottom-3">

          <a class="govuk-link" href="https://www.gov.uk/guidance/check-if-you-need-a-licence-to-abstract-water">Check if you need a licence to abstract water</a>

          </li>

      </ul>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break">

                  <h2 id="manage-and-dispose-of-oil-and-waste" class="govuk-heading-m">Manage and dispose of waste</h2>
                  <p class="govuk-body"></p>

                  <ul class="govuk-list">

                          <li class="govuk-!-margin-bottom-3">

                          <a class="govuk-link" href="https://www.gov.uk/guidance/manage-waste-on-land-guidance-for-land-managers">Manage waste on land: guidance for land managers</a>


                        </li>

                              <li class="govuk-!-margin-bottom-3">

                                      <a class="govuk-link" href="https://www.gov.uk/guidance/discharges-to-surface-water-and-groundwater-environmental-permits">Discharges to surface water and groundwater: environmental permits</a>

                              </li>

                              <li class="govuk-!-margin-bottom-3">

                                      <a class="govuk-link" href="https://www.gov.uk/guidance/sheep-dip-groundwater-protection-code">Sheep dip: groundwater protection code</a>

                              </li>


                  </ul>

                  <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
                                <h2 id="make-compost" class="govuk-heading-m">Make compost, biogas, fertiliser or animal feed</h2>
                                <p class="govuk-body"></p>

                                <ul class="govuk-list">


                                <li class="govuk-!-margin-bottom-3">

                                        <a class="govuk-link" href="https://www.gov.uk/government/collections/guidance-for-the-animal-by-product-industry">Guidance for the animal by-products industry</a>


                                </li>

                                                    </ul>


                  <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

<h2 id="import-export-distribute" class="govuk-heading-m">Import, export or distribute animals and food<h2>

<p class="govuk-body"></p>

<ul class="govuk-list">

  <li class="govuk-!-margin-bottom-3">

    <a class="govuk-link" href="https://www.gov.uk/government/collections/guidance-on-importing-live-animals-or-animal-products">Importing live animals or animal products</a>

  </li>

  <li class="govuk-!-margin-bottom-3">

    <a class="govuk-link" href="https://www.gov.uk/government/collections/guidance-on-exporting-live-animals-or-animal-products">Exporting live animals or animal products</a>

  </li>


        <li class="govuk-!-margin-bottom-3">

        <a class="govuk-link" href="https://www.gov.uk/guidance/import-eggs-to-great-britain">Import eggs to Great Britain</a>


      </li>
      <li class="govuk-!-margin-bottom-3">

      <a class="govuk-link" href="https://www.gov.uk/guidance/export-eggs-from-great-britain">Export eggs from Great Britain</a>


    </li>
    <li class="govuk-!-margin-bottom-3">

    <a class="govuk-link" href="https://www.gov.uk/guidance/hatching-eggs-and-chicks-marketing-standards#importing-hatching-eggs-and-chicks-from-the-eu-to-great-britain-gb"">Import hatching eggs and chicks to Great Britain</a>


  </li>

  <li class="govuk-!-margin-bottom-3">

  <a class="govuk-link" href="https://www.gov.uk/guidance/hatching-eggs-and-chicks-marketing-standards#exporting-hatching-eggs-and-chicks-from-gb-to-the-eu">Export hatching eggs and chicks from Great Britain</a>


</li>

  <li class="govuk-!-margin-bottom-3">

  <a class="govuk-link" href="https://www.gov.uk/guidance/export-food-for-animals-special-rules">Export or move animal feed or pet food</a>


</li>

  <li class="govuk-!-margin-bottom-3">

  <a class="govuk-link" href="https://www.gov.uk/guidance/export-food-and-agricultural-products-special-rules">Export or move food, drink and agricultural products</a>


</li>

    </ul>


  <div class="govuk-!-padding-bottom-3"></div>

          <h2 id="get-help" class="govuk-heading-m">Get advice<h2>

          <p class="govuk-body">
            <a href="https://www.gov.uk/guidance/funding-for-farmers#get-advice">Get advice from Defra or the Farming Advice Service</a>.





      <!--


<h2 id="deal-with-waste" class="govuk-heading-m">Deal with waste</h2>
<p class="govuk-body">If you manage or own land, you must follow rules when you deal with waste.</p>

<ul class="govuk-list">




<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">



<h2 id="animal-health">Animal health</h2>

<p><a href="https://www.gov.uk/guidance/animal-welfare">Protect animal welfare on and off your land and when transporting livestock</a></p>



<p><a href="https://www.gov.uk/government/publications/responsible-use-of-animal-medicines-on-the-farm">Responsible use of animal medicines on the farm</a></p>

<p><a href="https://www.gov.uk/government/collections/notifiable-diseases-in-animals">Report notifiable diseases in animals</a></p>

<p><a href="https://www.gov.uk/guidance/approved-breeding-programmes-standards-for-breed-societies-and-organisations">Approved breeding programmes: standards for breed societies and organisations</a></p>

<h2 id="protect-your-environment">Protect your environment</h2>

<p><a href="https://www.gov.uk/government/publications/intensive-farming-introduction-and-chapters">Environmental permits for intensive pig or poultry farming</a> <sup><a href="" id="cmnt_ref3">[c]</a></sup></p>



<p><a href="https://www.gov.uk/guidance/storing-silage-slurry-and-agricultural-fuel-oil">Storing silage, slurry and agricultural fuel oil</a></p>

<p><a href="https://www.gov.uk/guidance/fallen-stock">Fallen stock and safe disposal of dead animals</a></p>

<h2 id="make-compost-biogas-fertiliser-or-animal-feed">Make compost, biogas, fertiliser or animal feed</h2>



<h2 id="pest-control">Pest control</h2>

<p><a href="https://www.gov.uk/government/publications/professional-plant-protection-products-ppps-register-as-a-user">Register as a professional user of plant protection products and adjuvants</a> <sup><a href="" id="cmnt_ref4">[d]</a></sup></p>



<p><a rel="external" href=</p>

<h2 id="apply-products-to-your-land-and-burn-crops">Apply products to your land and burn crops</h2>



<p><a href="https://www.gov.uk/government/collections/nitrate-vulnerable-zones#rules-you-must-follow">Nitrate vulnerable zones: rules when you use fertilisers or store manure</a></p>

<p><a href="https://www.gov.uk/government/publications/sewage-sludge-in-agriculture-code-of-practice">Use sewage sludge on your land</a></p>

<p><a href="https://www.gov.uk/guidance/waste-exemption-u10-spreading-waste-to-benefit-agricultural-land">Spread waste to benefit your land</a></p>

<p><a href="https://www.gov.uk/guidance/burning-crop-residues-restrictions-and-rules-for-farmers-and-land-managers">Burning crop residues: restrictions and rules for farmers and land managers</a></p>

<h2 id="plant-varieties-and-seed-applications">Plant varieties and seed applications</h2>


<h2 id="manage-land">Manage land</h2>







<p>Manage trees and woodland</p>

<p><a href="https://www.gov.uk/government/publications/a-guide-to-planning-new-woodland-in-england">Plan to grow new woodland</a></p>

<p><a href="https://www.gov.uk/guidance/tree-felling-overview">Tree felling: overview</a></p>

<p><a href="https://www.gov.uk/government/collections/tree-pests-and-diseases">Tree pests and diseases</a></p>


<h2 id="protect-landscape-features">Protect landscape features</h2>

<p><a href="https://www.gov.uk/guidance/countryside-hedgerows-regulation-and-management">Hedgerows: find out if you can remove or carry out work</a></p>

<p><a href="https://www.gov.uk/guidance/protected-areas-sites-of-special-scientific-interest">Sites of special scientific interest: managing sites you own or occupy</a></p>

<p><a href="https://www.gov.uk/protecting-rural-landscapes-and-features/scheduled-monuments">Get permission before you work on scheduled monuments</a></p>

<p>Manage water</p>

<p><a href="https://www.gov.uk/guidance/owning-a-watercourse">Maintain watercourses and understand permissions you need to work around them</a></p>



<h2 id="change-to-organic-farming">Change to organic farming</h2>

<p><a href="https://www.gov.uk/guidance/organic-farming-how-to-get-certification-and-apply-for-funding">Organic farming: how to get certified and apply for funding</a></p>

<p>Manage and dispose of oil and waste</p>

<p><a href="https://www.gov.uk/guidance/storing-silage-slurry-and-agricultural-fuel-oil">Store oil and build new storage facilities</a></p>

<p><a href="https://www.gov.uk/guidance/manage-waste-on-land-guidance-for-land-managers">Manage waste on land: guidance for land managers</a></p>

<p><a href="https://www.gov.uk/guidance/discharges-to-surface-water-and-groundwater-environmental-permits">Discharges to surface water and groundwater: environmental permits</a></p>

<p>Import or export goods</p>

<p><a href="https://www.gov.uk/topic/producing-distributing-food/import-export">Import, export and distribution of food</a></p>





-->





{% endblock %}
