{% extends "./layouts/GUIDANCEspreadmanure.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">


  <h2 id="before-you-apply" class="govuk-heading-m">Before you apply manure and when you must not apply it</h2>

      <p class="govuk-body">To summarise the rules are:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>plan before you apply organic manure to use only what the soil and crop needs</li>
          <li>assess and avoid spreading manure if there is a significant risk of pollution</li>
        </ul>

        <p class="govuk-body">Do not apply manure:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>to waterlogged, flooded or snow covered soil </li>
            <li>if soil has been frozen for more than 12 hours in the previous 24</li>
            <li>within 10 metres (m) of any inland or coastal waters</li>
            <li>within 50m of a spring, well or borehole</li>
          </ul>

    <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="https://www.gov.uk/guidance/rules-for-farmers-and-land-managers-to-prevent-water-pollution">Rules for farmers and land managers to prevent water pollution</a>
          </p>
          <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="https://www.gov.uk/guidance/landspreading-to-improve-soil-health">Landspreading to improve soil health</a></p>

        <h2 id="apply-manure-in-nvz" class="govuk-heading-m">Applying manure in a nitrate vulnerable zone</h2>


      <p class="govuk-body">To summarise the rules are:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>you can apply up to 170 kilograms per hectare of livestock manure in a year</li>
          <li>do not use more than 250kg on a hectare in a year</li>
          <li>use available standard values to work out how much nitrogen your livestock produces or is moved onto your farm</li>
          <li>plan how much nitrogen you need to use on each crop in each field (including grass)</li>
          <li>do not allow organic manure to enter rivers, ponds or other surface water</li>
          <li>assess the risk of runoff</li>
          <li>only spread manure on agricultural land that grows crops or grass</li>
          <li>work manures into the soil as soon as practically possible</li>
          <li>keep records for 5 years</li>
        </ul>


        <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" <a href="https://www.gov.uk/guidance/using-nitrogen-fertilisers-in-nitrate-vulnerable-zones">Using nitrogen fertilisers in nitrate vulnerable zones</a></p>

        <h2 id="" class="govuk-heading-m">Spreading poultry manure or slurry</h2>


        <p class="govuk-body">Spreading poultry manure or liquid manure (such as sludge, pig or cattle slurries), you must:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>only spread within certain dates</li>
            <li>monitor the levels of potentially toxic elements (PTE) in slurry and in the soil</li>
            <li>know PTE levels before you spread on your land</li>
            <li>know what has already been spread on your land</li>
            <li>not apply sludge to land with a pH of less than 5.0</li>
            <li>plan when to use sludge to fit in with planting, grazing or harvesting</li>
            <li>keep records about sludge test results, soil test results and how much you have used on each site</li>
            <li>protect the environment and avoid public nuisance</li>
            <li>make sure sludge doesn't run off onto roads or adjacent land or into rivers or waterways</li>
            <li>stop spreading if it rains heavily enough to cause runoff</li>
          </ul>

          <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" <a href="https://www.gov.uk/government/publications/sewage-sludge-in-agriculture-code-of-practice">Sewage sludge in agriculture: a code of practice</a></p>

  <!--  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="rural-payments-land-use-codes-2021">Rural payments: land use codes 2021</a><br>
    <span class="govuk-body govuk-!-font-size-14">9 March 2021</span></p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="https://www.gov.uk/government/publications/rural-payments-if-the-structure-of-your-business-is-changing">Rural payments: if the structure of your business is changing</a><br>
        <span class="govuk-body govuk-!-font-size-14">10 February 2020</span></p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="entitlements">Basic Payment Scheme entitlements 2022</a><br>
      <span class="govuk-body govuk-!-font-size-14">4 November 2021</span></p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="agroforestry-and-the-basic-payment-scheme">Agroforestry and the Basic Payment Scheme</a><br>
        <span class="govuk-body govuk-!-font-size-14">18 March 2021</span></p>

  <h2 id="forms">Forms</h2>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="young-and-new-farmer-application-form">Young and new farmer application form</a><br>
        <span class="govuk-body govuk-!-font-size-14">18 March 2021</span></p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="continuation-booklets-for-paper-applications">Continuation booklets (for paper applications)</a><br>
        <span class="govuk-body govuk-!-font-size-14">18 March 2021</span></p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="change-land-tenure-form">Change land tenure form</a><br>
        <span class="govuk-body govuk-!-font-size-14">4 February 2021</span></p>

  <h2 id="news-stories">News stories</h2>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p class="govuk-body govuk-!-font-weight-bold"><a rel="external" href="basic-payment-scheme-2021-entitlement-rates">Basic Payment Scheme 2021 entitlement rates</a><br>
        <span class="govuk-body govuk-!-font-size-14">28 October 2021</span></p> -->





</div>


{% endblock %}
