{% extends "./../layouts/GUIDANCEstore3.html" %}

{% block guidance %}

<html>

<p class="govuk-body">Siting your manure stores away from water can reduce the risk of nutrients leaching into drains and streams.</p>

<h2 class="govuk-heading-m" id="rules-for-storing-manure">Rules for storing manure</h2>

<p class="govuk-body">You must not store manure:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>within 10m of inland freshwaters or coastal waters</li>
  <li>within 50m of a spring, well or borehole</li>
  <li>where risk factors like soil condition, nearby waterways or drains mean there’s a significant risk of pollution</li>
</ul>

<h2 class="govuk-heading-m" id="how-to-choose-a-site-to-store-manure">How to choose a site to store manure</h2>

<p class="govuk-body">To be legally compliant, you must check:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>the distance of your store from surface waters, springs, wells or boreholes</li>
  <li>the area around stored organic manures for potential pathways where runoff could flow into inland and coastal waters</li>
  <li>if there is a significant risk of pollution from the location</li>
</ul>



<h3 class="govuk-heading-s" id="how-to-avoid-significant-risk-of-pollution">How to avoid significant risk of pollution</h3>

<p class="govuk-body">Before you make a manure store you must assess pollution risks.</p>

<p class="govuk-body">You must take into account the risks of runoff and soil erosion from these factors:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>the angle of slopes, in particular if the angle is greater than 12 degrees</li>
  <li>amount of ground cover</li>
  <li>distance to inland freshwaters, coastal waters, wetlands, springs, wells or boreholes</li>
  <li>presence and condition of land drains</li>
  <li>soil type and condition</li>
</ul>

<p class="govuk-body">You must identify the risks that apply to your land and your activities.</p>


<h3 class="govuk-heading-s" id="keep-records">Keep records</h3>

<p class="govuk-body">To be legally compliant, you need a written document that details:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>where you’ve put your manure stores</li>
  <li>risk factors in that area, for example, nearby waterways, field drains, springs, wells and boreholes</li>
  <li>what you’ve done to reduce the risk</li>
</ul>


<h3 class="govuk-heading-s" id="other-related-regulations">Other related regulations</h3>


  <p class="govuk-body"><a href="https://www.gov.uk/guidance/storing-silage-slurry-and-agricultural-fuel-oil">Storing silage, slurry and agricultural fuel oil</a></p>
<p class="govuk-body"><a href="https://www.gov.uk/guidance/storing-organic-manures-in-nitrate-vulnerable-zones">Storing organic manures in nitrate vulnerable zones</a></p>
  <p class="govuk-body"><a href="frfw-apply-manure">Applying manure</p>




</html>


{% endblock %}
