
{% extends "layout.html" %}

{% block pageTitle %}
  Regulation and enforcement prototype
{% endblock %}

{% block content %}

  <style>
    dd {margin-inline-start: 0}
  </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Prototypes</span>
      <h1 class="govuk-heading-xl">
        Regulation and enforcement
      </h1>

<p>Any questions about these prototypes, contact Ruth Dixon.</p>


<dl class="govuk-list">
  <dt><a href="/slurry-silage-oil">SSAFO rules</a></dt>
    <dd>August 2022 - new pages for user research</dd>
</dl>


      <dl class="govuk-list">
        <dt><a href="/farming-rules-for-water/views/">Farming rules for water</a></dt>
          <dd>May 2022 - new version of guidance page</dd>
      </dl>
      <dl class="govuk-list">
        <dt><a href="/slurry-silage-oil/">Storing silage, slurry and agricultural fuel oil</a></dt>
        <dd>March 2022 - ideas for guidance page</dd>
      </dl>
      <dl class="govuk-list">
        <dt><a href="/bps/">Basic payment scheme 2022</a></dt>
        <dd>November 2021 - ideas for content journey</dd>
      </dl>
      <dl class="govuk-list">
        <dt><a href="/nvzs/views/">Nitrate vulnerable zones</a></dt>
        <dd>Content update based on farming activities</dd>
      </dl>
      <dl class="govuk-list">
        <dt><a href="/index-salmonella">Salmonella</a></dt>
        <dd>February 2021 - 3 guidance pages covering testing layers, broiler and breeding chickens for salmonella. 2 pages covering testing breeding and fattening turkeys.</dd>
      </dl>



    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://github.com/DEFRA/grants-prototype">
                Prototype code on Github
              </a>
            </li>
            <li>
              <a href="https://grants-design-history.herokuapp.com/">
                Design history
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

    </div>

  </div>

{% endblock %}
