{% extends "./layouts/GUIDANCElayinghens.html" %}

{% block guidance %}

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Salmonella testing: legal requirements
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>You must:

        <ul>
        <li>
        <p>test for salmonella if you are a poultry keeper</p>
        </li>
        <li>
        <p>take samples to test from chicks, pullets and adult hens in the specified way and send them to an approved UK laboratory</p>
        </li>
        <li>
        <p>inform vet about a positive result (if testing laboratory doesn’t do this automatically)</p>
        </li>
        <li>
        <p>keep test, movement and medicine records for at least 2 years</p>
        </li>
        <li>
        <p>tell APHA or DAERA when you expect 250 or more hens to arrive on your holding</p>
        </li>
        </ul>.</p>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
            Who must test for salmonella
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
        <p class='govuk-body'>Poultry (hen, duck, geese or turkey) keeper with 350 or more laying hens of the same species at any time in 12 months.</p>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
            When must you test for salmonella
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
        <p class='govuk-body'>

          You must take samples from:
          
          <ul>
          <li>
          <p>chicks on the day they arrive from a hatchery</p>
          </li>
          <li>
          <p>pullets (young hens or rearing hens) 2 weeks before you move them to the laying unit</p>
          </li>
          <li>
          <p>adult hens every 15 weeks during the laying period - start when they are 22 to 26 weeks old</p>
          </li>
          </ul>
          
          <h3>When your flock does not need tested for salmonella</h3>
          
          <p>You do not need to test if:</p>
          
          <ul>
          <li>
          <p>you produce eggs for private domestic use (they are not entering the market)</p>
          </li>
          <li>
          <p>you have fewer than 350 laying hens and supply the consumer direct (such as through farm-gate sales or local retailers)</p>
          </li>
          <li>
          <p>your flock is already under official salmonella restrictions after a positive test (in this situation the flock is not part of the NCP as you cannot sell your eggs)</p>
          </li>
          </ul>
          </p>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
            Before you can test for salmonella
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
        <p class='govuk-body'><ol class="steps">
          <li>
          <p>Choose an <a>Department for the Environment and Rural Affairs (Defra) approved laboratory in Great Britain</a> or <a rel="external" href="https://www.daera-ni.gov.uk/articles/salmonella">DAERA approved laboratories in Northern Ireland</a></p>
          </li>
          </ol>
          <ol class="steps">
          <li>
          <p>Ask your vet or testing laboratory for advice about sampling plans and training staff to take the samples</p>
          </li>
          </ol>
          <ol class="steps">
          <li>
          <p>Make use of training schemes like the <a>Lion Training Passport</a></p>
          </li>
          </ol>
          <ol class="steps">
          <li>
          <p>Get the sampling equipment</p>
          </li>
          </ol>
          <ol class="steps">
          <li>
          <p>Work out how many flocks you have</p>
          </li>
          </ol>
          <ol class="steps">
          <li>
          <p>Register all premises where you keep flocks</p>
          </li>
          </ol></p>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
            title
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
        <p class='govuk-body'>content</p>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
            title
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
        <p class='govuk-body'>content</p>
      </div>
    </div>
  </div>


</div>




{% endblock %}