{% extends "./layouts/GUIDANCESALMONELLA.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">



  <h2 id="who-must-test-for-salmonella">Who must test for salmonella</h2>

  <p>Egg producers who keep 350 or more laying hens at any time in 12 months.</p>

  <h2 id="when-to-test-for-salmonella">When to test for salmonella</h2>

  <p>You must take samples from:</p>

  <p>* chicks on the day they arrive from a hatchery</p>

  <p>* pullets (young hens or rearing hens) 2 weeks before you move them to the laying unit</p>

  <p>* adult hens every 15 weeks during the laying period - start when they are 22 to 26 weeks old</p>

  <h3 id="when-your-flock-does-not-need-tested-for-salmonella">When your flock does not need tested for salmonella</h3>

  <p>You do not need to test if:</p>

  <p>* you produce eggs for private domestic use (they are not entering the market)</p>

  <p>* you have fewer than 350 laying hens and supply the consumer direct (such as through farm-gate sales or local
    retailers)</p>

  <p>* your flock is already under official salmonella restrictions after a positive test (in this situation the flock
    is not part of the NCP as you cannot sell your eggs)</p>

  <h2 id="why-do-you-need-to-test">Why do you need to test</h2>

  <p>As part of the national control programme (NCP), you must test laying hens for salmonella.</p>

  <p>Other countries in Europe operate similar schemes. If you’re importing hatching eggs or day old chicks from Europe,
    check they’ve completed salmonella testing.</p>

  <h2 id="what-you-must-do">What you must do</h2>

  <h3 id="before-you-can-test-for-salmonella">Before you can test for salmonella</h3>

  <p>If you are new to keeping hens for egg laying, you need to:</p>

  <p>* ask your vet or testing laboratory for advice on sampling plans and training staff to take the samples correctly
  </p>

  <p>* make use of other training initiatives such as the <a>Lion Training Passport</a></p>

  <p>* choose an approved laboratory in the UK</p>

  <p>* work out how many flocks you have to sample</p>

  <p>* get the sampling kit (ask your vet, laboratory, <a>APHA</a> or <a>DAERA</a> in Northern Ireland</p>

  <p>what you need)</p>

  <p>* register the premises where you keep your flocks before you test</p>

  <p>* tell APHA or DAERA before a laying flock arrives at your holding</p>

  <h3 id="take-samples">Take samples</h3>

  <p>You must collect samples, label and send to the laboratory for testing.</p>

  <h3 id="collect-samples-from-chicks-on-the-day-they-arrive-from-the-hatchery">Collect samples from chicks on the day
    they arrive from the hatchery</h3>

  <p>You should test:</p>

  <p>* the liners (chick papers) from boxes used to deliver the chicks - one box for every 500 chicks from each delivery
    (up to 10 boxes)</p>

  <p>* any chicks that are dead on arrival (up to 60 from each hatchery)</p>

  <h3 id="samples-to-collect-from-pullets-2-weeks-before-you-move-them-to-the-laying-unit">Samples to collect from
    pullets 2 weeks before you move them to the laying unit</h3>

  <p>You should test:</p>

  <p>* 2 pairs of <a href="#how-to-take-boot-swab-samples">boot swabs</a> (fabric overshoes) for your floor-reared birds
  </p>

  <p>* 60g of a <a href="#how-to-take-composite-faeces-samples">composite faeces sample</a></p>

  <p>Composite means the faeces are from many birds in the flock.</p>

  <h3 id="samples-to-collect-from-your-adult-egg-laying-hens-every-15-weeks-during-the-laying-period">Samples to collect
    from your adult egg-laying hens every 15 weeks during the laying period</h3>

  <p>If officials collect routine samples during the laying period, you do not need to test again for 15 weeks.</p>

  <p>You must start to take samples from adult egg-laying hens in the layer unit or house when they’re 22 to 26 weeks
    old.</p>

  <p>For barn or free-range flocks, you should test:</p>

  <p>* 2 pairs of <a href="#how-to-take-boot-swab-samples">boot swabs</a> when not part of a multi-tier system</p>

  <p>* 1 pair of <a href="#how-to-take-boot-swab-samples">boot swabs</a> and one or more <a
      href="how-to-take-hand-held-faecal-swab-samples">hand-held faecal swabs</a> when part of a multi-tier system</p>

  <p>For cage flocks, you should test:</p>

  <p>* 2 <a href="#how-to-take-composite-faecal-samples">composite faeces samples</a> of 150g each for houses with
    scrapers or belt cleaners</p>

  <p>* one or more <a href="how-to-take-fabric-swab-samples">fabric swabs</a> for houses without scrapers or belt
    cleaners</p>

  <p>[Find out how to take boot swab, composite and fabric swab samples](https://www.gov.uk.</p>

  <h3 id="keep-records">Keep records</h3>

  <p>You must keep records for at least 2 years.</p>

  <h4 id="test-records">Test records</h4>

  <p>For each sample you must record the:</p>

  <p>* date you took the sample</p>

  <p>* flock identification (this is the flock’s house name or number, and the month and year the flock moved into the
    house)</p>

  <p>* type(s) of sample (such as boot swabs or pooled faeces)</p>

  <p>* age of the flock sampled (there may be more than one age if the sample is from a multi-age house)</p>

  <p>* laboratory that tested the sample</p>

  <p>* test result</p>

  <h4 id="movement-records">Movement records</h4>

  <p>You need to record any movement of birds or eggs (except eggs for human consumption) to or from your premises. For
    each movement record the:</p>

  <p>* date of movement - the month and year the flock moved on to or off your premises</p>

  <p>* number of birds or eggs</p>

  <p>* age of the birds</p>

  <p>* house name or number</p>

  <p>* address that the birds or eggs moved from (including the building name or number)</p>

  <p>* address that the birds or eggs moved to (including the building name or number)</p>

  <h4 id="medication-records">Medication records</h4>

  <p>You need to keep medication records for the flock. You must record the:</p>

  <p>* medicines used</p>

  <p>* dose rate</p>

  <p>* start and end date of treatment</p>

  <p>* route of administration</p>

  <p>* end date of the withdrawal period</p>

  <h3 id="what-happens-if-your-samples-test-positive-for-salmonella">What happens if your samples test positive for
    salmonella</h3>

  <p>Restrictions to your flocks and premises may apply and if so you’ll need to take actions.</p>

  <p>You’ll need to inform your vet of the positive result, if you have not made arrangements with the testing
    laboratory to do this automatically.</p>

  <p>In England, Scotland and Wales, if you suspect the result may have been due to an error (for example contamination
    of the original sample), you or your vet should contact APHA. If APHA agree, they’ll collect official confirmatory
    samples.</p>

  <p>If confirmatory testing is completed, APHA may ask you to cull 5 birds. They’ll take the carcases and store their
    organs when they collect confirmatory samples. They may use these to test for the presence of antibiotics if the
    confirmatory test is negative.</p>

  <h3 id="positive-tests-for-salmonella-enteritidis-or-typhimurium">Positive tests for Salmonella Enteritidis or
    Typhimurium</h3>

  <p>If APHA or DAERA confirm a non-vaccine strain of Salmonella Enteritidis or Salmonella Typhimurium (including
    monophasic Salmonella Typhimurium) in your flock, you must not sell your eggs from the positive flock as Class A.
  </p>

  <p>The flock will be put under a legal restriction which will prohibit the sale of their eggs as Class A eggs. If
    official confirmatory sampling on your flock does not confirm the initial positive result, then you can resume
    selling the flock’s eggs as Class A.</p>

  <p>If you want to sell your eggs as Class B, you must mark them:</p>

  <p>* with the official Class B mark (a circle with the letter B inside)</p>

  <p>* using a spray or food dye to leave an easily visible coloured mark at least 5 millimetres (mm) in diameter</p>

  <p>Before you can sell any eggs, local egg marketing inspectors or poultry unit officials will visit your premises to
    check you’re complying with these restrictions. They can advise further on the egg marking requirements.</p>

  <h3 id="if-your-samples-test-positive-for-a-regulated-salmonella">If your samples test positive for a regulated
    salmonella</h3>

  <p>You may want to <a href="https://www.gov.uk/salmonella-national-control-programmes-fees">request more tests at your
      own cost</a> if you think a positive test result in an adult laying flock is false. You must do this operator
    optional testing within 4 weeks of the APHA or Agri-Food and Biosciences Institute.(AFBI) laboratory reporting the
    positive sample. For more information about this type of retesting or to get these tests arranged contact:</p>

  <p>* <a>APHA’s Customer Service Centre: One Health Worcester</a></p>

  <p>* <a rel="external" href="https://www.daera-ni.gov.uk/contact">DAERA</a></p>

  <p>APHA or DAERA will arrange for an official to supervise the collection and testing of your choice from the
    following sample types:</p>

  <p>* 300 hen carcasses</p>

  <p>* 4,000 eggs</p>

  <p>* appropriate environmental sampling to suit your flock’s management ( for example cage, free-range)</p>

  <p>The official may also ask you to cull 5 birds. They’ll take the carcases and store their organs so that these can
    be tested for the presence of antibiotics if the optional test is negative.</p>

  <p>You can only get restrictions lifted, and sell eggs from the flock as Class A eggs if the samples test negative for
    a regulated salmonella.</p>

  <h3 id="official-samples-from-other-flocks-on-your-premises">Official samples from other flocks on your premises</h3>

  <p>Once APHA or DAERA identifies at least one flock as positive for Salmonella Enteritidis or Typhimurium, their
    officials will:</p>

  <p>*take samples from every other flock on your premises - free of charge</p>

  <p>*take samples when a new flock is placed in the house where the last positive test result occurred - free of charge
    for young birds not yet in production, routine official sample charges apply for adult laying birds</p>

  <p>*visit your premises to give advice on salmonella control</p>

  <p>If the positive result is from a rearing flock, your vet will decide how best to manage the risk of transferring
    infection to a laying site. There will also be restrictions on the flock.</p>

  <h2 id="food-chain-information-fci-documents-for-abattoirs">Food chain information (FCI) documents for abattoirs</h2>

  <p>When you send your flock to an abattoir for slaughter for human consumption you must fill in a <a rel="external"
      href="https://www.food.gov.uk/business-guidance/food-chain-information">FCI declaration document</a>.</p>

  <p>In the FCI document, you must declare information such as:</p>

  <p>* the most recent NCP test result</p>

  <p>* the date the sample was collected</p>

  <p>* other diagnoses</p>

  <p>* the use of medicines</p>

  <p>If it was a negative NCP result, you must also declare any previous positive salmonella test results with the
    sample collection dates. This includes results from tests not taken as part of the NCP programme.</p>

  <p>You do not need to provide FCI if you cull the birds on the farm and:</p>

  <p>*dispose of them as animal by-products</p>

  <p>*sell your birds direct to customers</p>

  <p>If selling your birds to customers, you should register this with your local authority. If your flock tests
    positive for salmonella, they will advise you on what you need to do to protect the health of your customers.</p>

  <p>You’ll need a <a>slaughterer’s licence</a> or employ a licenced slaughterer to slaughter birds on your farm.</p>

  <h2 id="get-advice">Get advice</h2>

  <p>If you need more advice, contact <a
      href="https://www.gov.uk/government/organisations/animal-and-plant-health-agency/about/access-and-opening">APHA</a>
    or <a rel="external" href="https://www.daera-ni.gov.uk/contact">DAERA</a>.</p>

  <p>You can also read the <a>code of practice for prevention of salmonella in chicken flocks</a>.</p>


</div>


{% endblock %}