{% extends "../layouts/GUIDANCEsalmonellacollection.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>


<li class="gem-c-document-list__item  ">


<div class="govuk-inset-text">

<div class="call-to-action">

<p class="govuk-body">This is a new page – give your <a class="govuk-link" href="#">feedback</a> to help us improve it.</p>

</div>
</div>



  <p class="govuk-body">Salmonella is a zoonotic disease which means it can be transmitted between humans and animals.</p>

  <p class="govuk-body">Salmonella affects many wild and domestic animals including:</p>

  <ul class="govuk-list">
    <li>livestock</li>
    <li>dogs</li>
    <li>poultry</li>
    <li>wildlife</li>
  </ul>

  <p class="govuk-body">It’s also one of the most common causes of <a href="https://www.gov.uk/government/collections/salmonella-guidance-data-and-analysis">food poisoning in humans</a> in the UK.</p>

  <h2 id="laboratories-and-salmonella" class="govuk-heading-m">Laboratories and salmonella</h2>

  <p class="govuk-body">Salmonella is a reportable disease for laboratories. This information helps government to identify a possible outbreak of the disease.</p>

  <p class="govuk-body">If a laboratory suspects the disease is present in a sample taken from your farm, it must immediately contact the <a href="https://www.gov.uk/guidance/contact-apha">Animal and Plant Health Agency</a> (or the <a rel="external" href="https://www.daera-ni.gov.uk/contacts/veterinary-service-animal-health-group-epizootic-disease-tses-and-animal-by-products">Department of Agriculture, Environment and Rural</a><a rel="external" href="https://www.daera-ni.gov.uk/contacts/veterinary-service-animal-health-group-epizootic-disease-tses-and-animal-by-products">Affairs</a> (DAERA) if you are in Northern Ireland). Failure to do so is an offence.</p>

  <h2 id="how-salmonella-is-detected" class="govuk-heading-m">How salmonella is detected</h2>

  <p class="govuk-body">Most cases of salmonella on farms are detected through:</p>

  <ul class="govuk-list">
    <li>testing diagnostic samples from clinically diseased livestock</li>
    <li>surveillance, legally required under the Salmonella National Control Programmes (NCP) to control salmonella in poultry</li>
  </ul>

  <h2 id="how-salmonella-can-spread-on-your-farm" class="govuk-heading-m">How salmonella can spread on your farm</h2>

  <p class="govuk-body">Infection on your farm can spread by:</p>

  <ul class="govuk-list">
    <li>contaminated feed</li>
    <li>introducing infected animals on to your farm</li>
    <li>inadequate biosecurity measures (for example, no measures in place to control rodent and wild bird access to feed stores)</li>
  </ul>

  <h2 id="how-to-prevent-salmonella-on-your-farm" class="govuk-heading-m">How to prevent salmonella on your farm</h2>

  <p class="govuk-body">You can help prevent infection on your farm by applying biosecurity measures. Read the guidance on d<a href="https://www.gov.uk/guidance/disease-prevention-for-livestock-farmers">isease prevention for livestock and poultry keepers</a> for more information.</p>

  <h2 id="how-to-control-salmonella-in-poultry" class="govuk-heading-m">How to control salmonella in poultry</h2>

  <p class="govuk-body">The UK Salmonella National Control Programme (NCP) aims to control salmonella in poultry flocks (chicken and turkey flocks) on farms and reduce the risk to human health. Testing poultry is part of the salmonella NCP requirements to prevent and control the spread of infection. The requirement to test poultry depends on how many you keep and what kind of flock you have.</p>

  <p class="govuk-body">Read the relevant salmonella NCP guidance about when and how to take samples and what to do if they test positive.</p>

  <p class="govuk-body">Testing your chickens:</p>

  <ul class="govuk-list">
    <li>
  <a href="https://www.gov.uk/guidance/salmonella-get-your-breeding-chickens-tested">Chicken breeders: poultry testing for salmonella</a>.</li>
    <li><a href="https://www.gov.uk/guidance/salmonella-get-your-egg-laying-hens-tested">Laying hens and flocks: poultry testing for salmonella</a></li>
    <li>
  <a href="https://www.gov.uk/guidance/salmonella-get-your-broiler-flock-chickens-tested">Salmonella: get your broiler flock chickens tested</a>
  </li>
  </ul>

  <p class="govuk-body">Testing your turkeys:</p>

  <ul class="govuk-list">
    <li><a href="https://www.gov.uk/guidance/salmonella-get-your-fattening-turkeys-tested">Salmonella: get your fattening turkeys tested</a></li>
    <li><a href="https://www.gov.uk/guidance/salmonella-get-your-breeding-turkeys-tested">Turkey breeders: poultry testing for salmonella</a></li>
  </ul>

  <p class="govuk-body">You must use an <a href="https://www.gov.uk/government/publications/salmonella-in-poultry-testing-laboratories-in-the-uk">approved laboratory</a> to test your poultry as part of the NCP requirements.</p>

  <p class="govuk-body">See information about <a href="https://www.gov.uk/guidance/salmonella-national-control-programmes-fees">fees to get your samples tested</a>.</p>

  <h3 id="if-your-poultry-are-infected" class="govuk-heading-s">If your poultry are infected</h3>

  <p class="govuk-body">The laboratory will report a salmonella diagnosis from a sample immediately to APHA (or DAERA if you are in Northern Ireland).</p>

  <p class="govuk-body">If your breeding chicken or breeding turkey flock is infected with Salmonella Enteritidis or Salmonella Typhimurium (including Monophasic Salmonella Typhimurium) they will have to be slaughtered due to NCP requirements.</p>

  <p class="govuk-body">If your breeding chicken or turkey flocks are compulsorily slaughtered and you have followed the rules, you will be entitled to <a href="https://www.gov.uk/guidance/compensation-for-animals-culled-to-control-animal-diseases">compensation.</a></p>

  <p class="govuk-body">Compulsory slaughter is not required under salmonella NCPs for chicken layers and broilers and turkey fatteners, so compensation will not apply.</p>

  <h2 id="legislation-relating-to-salmonella-in-animals" class="govuk-heading-m">Legislation relating to salmonella in animals</h2>

  <p class="govuk-body">The <a rel="external" href="https://www.legislation.gov.uk/ukpga/1981/22/contents">Animal Health Act 1981</a> provides the power for any animal which is affected or suspected of being affected with salmonella, of public health significance, to be slaughtered in the interests of human and animal health.</p>

  <p class="govuk-body">For more information about the legal requirements relating to salmonella in animals, read <a rel="external" href="https://www.legislation.gov.uk/uksi/1989/285/made">The Zoonoses Order 1989</a> (if you are in Northern Ireland, read The Zoonoses Order (Northern Ireland) 1991).</p>


{% endblock %}
