{% extends "../layouts/GUIDANCErulescollectionj2.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>



              <h2 id="new-dairy-business" class="govuk-heading-m">Before you can produce milk and milk products</h2>
                  <p class="govuk-body">You must tell us about the holding where you intend to produce milk or milk products.</p>

                      <ul class="govuk-list">

                                <li class="govuk-!-margin-bottom-3">

                                  <a rel="external" href="https://www.gov.uk/register-milk-production-holding/food-standards-agency">Application to register a milk production holding (England and Wales)</a></li>


                      </ul>

            <h2 id="keep-dairy-cattle" class="govuk-heading-m">Keeping dairy cattle</h2>
                <p class="govuk-body">What you must know about cattle welfare. </p>

                <ul class="govuk-list">


                  <li class="govuk-!-margin-bottom-3">

                  <a class="gem-c-document-list__item   govuk-link" href="https://www.gov.uk/guidance/animal-welfare">Animal welfare</a>

                  </li>

                  <li class="govuk-!-margin-bottom-3">

                    <a class="govuk-link" href="https://www.gov.uk/guidance/farm-animals-looking-after-their-welfare">Farm animals: looking after their welfare</a>

                  </li>
                  <li class="govuk-!-margin-bottom-3">
                    <a class="govuk-link" href="https://www.gov.uk/government/publications/code-of-recommendations-for-the-welfare-of-livestock-cattle">Beef cattle and dairy cows: on-farm welfare</a>

                  </li>


                </ul>

            <h2 id="produce-safe-milk" class="govuk-heading-m"></h2>
                        <li class="govuk-!-margin-bottom-3">
                                      <a class="govuk-link" rel="external" href="https://www.food.gov.uk/sites/default/files/media/document/milk-producer-guide-v4.pdf">A Practical Guide for Milk Producers</a></li>


                        <li class="govuk-!-margin-bottom-3">

                                      <a class="govuk-link" rel="external" href="https://www.food.gov.uk/business-guidance/milk-hygiene-and-antibiotic-residues">Milk hygiene and antibiotic residues</a></li>


                        <li class="govuk-!-margin-bottom-3">

                                      <a class="govuk-link"  rel="external" href="https://www.food.gov.uk/business-guidance/raw-drinking-milk-guidance">Raw drinking milk producers</a></li>
          </ul>



{% endblock %}
