{% extends "../layouts/GUIDANCEsafefood4.html" %}

{% block guidance %}
<div id="toc" class="toc govuk-!-margin-bottom-9"></div>


<li class="gem-c-document-list__item  ">


<div class="govuk-inset-text">

<div class="call-to-action">

<p class="govuk-body">This is a new page – give your <a class="govuk-link" href="#">feedback</a> to help us improve it.</p>

</div>
</div>

<body>

<p class="govuk-body">You must:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>make sure that food you place on the market is safe to eat</li>
  <li>tell the relevant authorities about unsafe food incidents</li>
  <li>withdraw, recall and destroy unsafe food</li>
  <li>take appropriate remedial action when informed of problems identified during inspections or checks on food products (official controls)</li>
</ul>

  <h2 id="general" class="govuk-heading-m">Codes of practice</h2>
  <p class="govuk-body">These explain how food and feed law will be enforced.</p>

<p class="govuk-body"><a rel="external" href="https://www.food.gov.uk/about-us/food-and-feed-codes-of-practice">Food and Feed Codes of Practice</a> (FSA)</p>

  <h2 id="traceability" class="govuk-heading-m">Trace inputs and outputs from your farm</h2>

<p class="govuk-body">You must be able to trace inputs to your farm (for example, food, feed, food producing animals and substances you intend to incorporate into feed) and any products leaving your farm.</p>

<p class="govuk-body"><a rel="external" href="https://www.food.gov.uk/sites/default/files/media/document/food-traceability-withdrawals-and-recalls-guidance.pdf">Guidance on Food Traceability, Withdrawals and Recalls within the UK food Industry</a></p>

  <h2 id="mycotoxins-or-chemicals" class="govuk-heading-m">Mycotoxins or chemicals from mould</h2>
<ul class="govuk-list">
  <li class="govuk-!-margin-bottom-3">

          <a class="gem-c-document-list__item   govuk-link" href="https://www.food.gov.uk/business-guidance/mycotoxins">Mycotoxins | Food Standards Agency</a>
        </li>
</ul>


  <h2 id="animal-health" class="govuk-heading-m">Use of feed additives, medicines and biocides</h2>


<p class="govuk-body">Use feed additives, vet medicines and biocides correctly (with dosage, application and storage as stated on the label or as prescribed). This includes making sure that the food you produce does not contain residues of pesticides or veterinary medicinal products that are higher than the permitted maximum residue level for the pesticide or the medicine used.</p>

    <p class="govuk-body">You must also keep records of:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      veterinary medicinal products or other treatments given to your animals (including treatment dates and withdrawal periods)</li>
    <li>
      plant protection products and biocides</li>
    <li>
      results of analyses carried out on samples taken that have importance for human or animal health</li>
    <li>
      reports on checks on animals and animal products
    </li>
  </ul>

<p class="govuk-body"><a href="https://www.gov.uk/guidance/record-keeping-requirements-for-veterinary-medicines">Record keeping requirements for veterinary medicines</a></p>

<h2 id="animal-feed-and-additives" class="govuk-heading-m">Feed animals safe food</h2>
<p class="govuk-body">
You must <a href="feed-rules"><strong>not give unsafe feed to animals</strong></a>.</p>


  <h2 id="restrictions-on-use-of-hormones" class="govuk-heading-m">Restrictions on the use of substances having hormonal or thyrostatic action and beta-agonists in farm animals</h2>

<p class="govuk-body">Protect the human and animal food chain by stopping the illegal use of these substances.</p>

<p class="govuk-body">You must meet the rules about:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>not using restricted substances unless therapeutic exemptions allow it</li>
  <li>not giving food-producing animals restricted substances</li>
  <li>not having on your farm, placing on the market or sending to slaughter for human consumption any animal that has been given any restricted substance</li>
  <li>not placing on the market meat or any other animal product from an animal that has been given any restricted substance</li>
  <li>not having substances on your farm containing beta-agonists to induce tocolysis in cows when calving.</li>
  <li>complying with the correct withdrawal periods</li>
  <li>making veterinary medical records available to inspectors</li>
</ul>

<p class="govuk-body">You must read the detailed rules on GOV.UK, search for:</p>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://www.gov.uk/guidance/cattle-health">Beef cattle and dairy cows: health regulations</a></li>
  <li><a href="https://www.gov.uk/guidance/monitoring-prevention-and-control-of-disease-in-sheep-and-goats">Sheep and goats: health regulations</a></li>
</ul>

<p class="govuk-body">To read the Product Information Database go to GOV.UK and search for <a href="https://www.gov.uk/government/organisations/veterinary-medicines-directorate">Veterinary Medicines Directorate</a>, then select the Product information database link. It contains the most up to date information on medicines authorised for use in farm animals in the UK. The database includes any withdrawal periods.</p>

<p class="govuk-body">Contact Veterinary Medicines Directorate: 01932336911</p>

  <!-- <h2 id="notifiable diseases" class="govuk-heading-m">Notifiable diseases</h2>

<p class="govuk-body">
  Take adequate measures to stop the introduction and spread of contagious diseases transmissible to humans through food, such as:</p>


  <ul class="govuk-list govuk-list--bullet">

   <li>abiding by the statutory herd testing for bovine tuberculosis and pre-movement TB testing of animals
  <li>compliance with any notice and instruction
  <li>not moving animals subject to movement restrictions
  <li>taking precautionary measures when introducing new animals
  <li>reporting suspected disease outbreaks to the competent authority</li>
  </ul>
  <p class="govuk-body"><a href="https://www.gov.uk/guidance/bovine-tb-getting-your-cattle-tested-in-england">Bovine TB: get your cattle tested in England</a>’</p>
-->
  <h2 id="identify-and-trace" class="govuk-heading-m">Prevention and control of (TSEs)</h2>

<p class="govuk-body">
  Minimise the risk posed to human and animal health by certain transmissible spongiform encephalopathies (TSEs).</p>

<p class="govuk-body">You must meet the rules about:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>if you know or suspect that one of your animals or carcases is infected with a TSE, telling the duty veterinary officer at once, and meeting movement restrictions, or slaughter, destruction or other orders</li>
  <li>not feeding animal protein or any feeding stuff that contains animal protein to ruminants</li>
  <li>not feeding products containing banned proteins to any farmed animals, or not mixing banned proteins with feedstuffs</li>
  <li>not using restricted proteins to produce feed for non-ruminants unless you’ve received authorisation from Defra</li>
  <li>not using feed products containing restricted proteins on a farm where there are ruminants present unless you’re registered with Defra</li>
  <li>not placing on the market or exporting bovine, ovine or caprine animals and their semen, embryos and ova without meeting the documentation requirements and restrictions which apply to the sale or export of these products</li>
  <li>restrictions for cattle born or raised in the UK before 1 August 1996</li>
  <li>not placing on the market first generation offspring, semen, ova or embryos of cattle, sheep or goats of animals suspected or confirmed with TSE</li>
</ul>

<p class="govuk-body">You must read the detailed rules on GOV.UK about:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://www.gov.uk/government/collections/notifiable-diseases-in-animals">Notifiable diseases in animals</a></li>
  <li>controlling TSEs, search for <a href="https://www.gov.uk/guidance/supplying-and-using-animal-by-products-as-farm-animal-feed">Supplying and using animal by-products as farm animal feed</a>, then scroll down the page to TSE regulations and read the guidance note</li>
  <li>placing on the market, search for <a href="https://www.gov.uk/government/collections/guidance-on-importing-and-exporting-live-animals-or-animal-products#exporting-from-the-uk-to-all-countries">Guidance on importing and exporting live animals or animal products</a></li>
  <li>restrictions for cattle born before 1 August 1996, search for <a href="https://www.gov.uk/guidance/bse">BSE: how to spot and report the disease</a></li>
</ul>

<p class="govuk-body">Contacts</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Animal and Plant Health Agency: 03000 200 301</li>
  <li>Livestock Identification Helpline: 0345 050 9876</li>
  <li>Rural Payments Agency: 03000 200 301</li>
  <li>British Cattle Movement Service (BCMS) helpline: 0345 050 1234</li>
</ul>

  <!-- <h2 id="dairy" class="govuk-heading-m">Dairy</h2>

<h3 id="raw-milk" class="govuk-heading-s">Raw milk</h3>

<p class="govuk-body">You must meet the rules about:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>health requirements for raw milk and colostrum production</li>
  <li>hygiene on milk production holdings</li>
</ul>

<p class="govuk-body">You must read the detailed rules on the Food Standards Agency’s website in <a rel="external" href="https://www.food.gov.uk/sites/default/files/media/document/milk-producer-guide-v4.pdf">A Practical Guide for Milk Producers</a>.</p>

  <h2 id="poultry" class="govuk-heading-m">Poultry</h2>

<h3 id="eggs" class="govuk-heading-s">Eggs</h3>

<p class="govuk-body">If you’re an egg producer you must keep eggs clean and dry, free of strong odours, protected from shocks and out of direct sunlight.</p>

  <h2 id="manage-manure" class="govuk-heading-m">Store and manage manure safely to avoid contamination of ready to eat crops</h2>

      <p class="govuk-body"><a rel="external" href="https://www.food.gov.uk/business-guidance/managing-farm-manures-for-food-safety">Managing farm manures for food safety | Food Standards Agency</p>
-->
  <h2 id="animal-slaughter" class="govuk-heading-m">Animal slaughter for humans to eat or as food for other animals</h2>

<p class="govuk-body">
      Record keeping: <a rel="external" href="https://www.food.gov.uk/business-guidance/food-chain-information">Food chain information | Food Standards Agency</a></p>
    <p class="govuk-body">
    Poultry: <a rel="external" href="https://www.food.gov.uk/business-guidance/poultry-farming-guidance">Poultry farming guidance | Food Standards Agency</a></p>
        <p class="govuk-body">
Health certificate for farmed game animals: <a rel="external" href="https://www.food.gov.uk/business-guidance/health-certificate-for-farmed-game-animals">Health certificate for farmed game animals | Food Standards Agency</a> </p>

<!--  <h2 id="identify-and-trace" class="govuk-heading-m">Pesticides and biocides – pest control products</h2>

<p class="govuk-body">You must also keep records of:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    plant protection products and biocides
  </li>
  <li>
    <a href="https://www.food.gov.uk/business-guidance/pesticides-in-food">Pesticides in food | Food Standards Agency</a>
  </li>
  <li>
    <p class="govuk-body">maximum residue levels</p>
  </li>
  <li>biocides</li>
</ul>-->

</body>

{% endblock %}
